{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block body %}
    <div>
        <h2>Карты водителей</h2>
        <div class="dropdown" style="float: right; margin-top: -55px">
            <button class="btn btn-primary dropdown-toggle" type="button" id="addOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Добавить новый заказ
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="addOrder">
                <li><a href="{{ path('auth_add_skzi') }}">СКЗИ</a></li>
                {% if app.user.company.operator.id is defined and app.user.company.operator.id == 33 %}
                {% else %}
                    <li><a href="{{ path('auth_add_estr') }}">ЕСТР</a></li>
                    <li><a href="{{ path('auth_add_ru') }}">РФ</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <form method="GET">
        <div class="row">
            <div class="col-xs-4">
                <select class="form-control" name="type">
                    <option selected="selected" value="0">Все типы</option>
                    <option value="skzi">СКЗИ</option>
                    <option value="estr">ЕСТР</option>
                    <option value="ru">РФ</option>
                </select>
            </div>
            <div class="col-xs-6">
                <input placeholder="Введите слово" class="form-control" style="margin-top: 0;" name="search">
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </div>
    </form>
    <div class="row">
        <table class="table">
            <tr>
                <td>Номер</td>
                <td>Дата заявки</td>
                <td>Ф.И.О.</td>
                <td>Тип заявки</td>
                <td>Статус</td>
                <td>Цена</td>
                <td>Коммент</td>
                <td></td>
            </tr>
            {% for o in orders %}
                {% if o.enabled == 1 %}
                    <tr class="{{ o.comment != null and o.comment != '' ? 'warning' : ''}}">
                        <td>
                            {#{% if o.estr == 0 and o.ru == 0 %}#}
                            {#<a href="{{ path('auth_user_skzi_edit', {'userId' : o.id}) }}">{{ o.id }}</a>#}
                            {#{% else %}#}
                            <a href="{{ path('auth_user_edit', {'userId' : o.id}) }}">{{ o.id }}</a>
                            {#{% endif %}#}
                        </td>
                        <td>{{ o.created | date('d.m.Y') }}</td>
                        <td>{{ o }}</td>
                        <td>{{ o.ru ? 'РФ' : o.estr ? 'ЕСТР' : 'СКЗИ'  }}</td>
                        <td>{{ o.statusStringTwig |raw }}</td>
                        <td>{{ o.price }}</td>
                        <td>{{ o.comment }}</td>
                        <td>
                            {% if o.status == 0 %}
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownPayment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Оплата
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownPayment}">
                                        <li><a href="{{ path('generate_payment_pdf') }}?ord={{ o.id }}" target="_blank">Платежное поручение</a></li>
                                        <li><a href="{{ path('payment_assist',{'userId' : o.id} )  }}" target="_blank">Робокасса</a></li>
                                        <li><a href="{{ path('generate_pdf_statement',{'id' : o.id}) }}" target="_blank">Скачать заявку</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                            {% if o.status == 4 %}
                                <a href="{{ path('auth_status_set', { 'id' : o.id }) }}"><button class="btn btn-primary">Получено</button></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="7" style="text-align: center" class="text-danger">Заказов карт не найдено</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}