{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block body %}
    <div>
        <h2>Карты предприятий и мастерских</h2>
        <div class="dropdown" style="float: right; margin-top: -55px">
            <button class="btn btn-primary dropdown-toggle" type="button" id="addOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Добавить новый заказ
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="addOrder">
                <li><a  href="{{ path('auth_add_company_skzi') }}">Карта предприятия СКЗИ</a></li>
                <li><a href="{{ path('auth_add_company_estr') }}">Карта предприятия ЕСТР</a></li>
                <li><a href="{{ path('auth_add_company_ru') }}">Карта предприятия РФ</a></li>
                {% if app.user.company.operator.id is defined and app.user.company.operator.id == 33 %}
                {% else %}
                    <li> &nbsp; </li>
                    <li><a href="{{ path('auth_add_master_skzi') }}" >Карта мастерской СКЗИ</a></li>
                    <li><a href="{{ path('auth_add_master_estr') }}">Карта мастерской ЕСТР</a></li>
                    <li><a href="{{ path('auth_add_master_ru') }}">Карта мастерской РФ</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <td>Номер</td>
                <td>Дата заявки</td>
                <td>Тип компании</td>
                <td>Тип карты</td>
                <td>Организация</td>
                <td>Количество</td>
                <td>Статус</td>
                <td>Цена</td>
                <td>Сумма (р.)</td>
                <td>Коммент./Почтовый код </td>
            </tr>
            {% for o in orders | reverse %}
                <tr>
                    <td>
                        {#<a href="{{ path('auth_user_edit', {'userId' : o.id}) }}">#}
                            {{ o.id }}
                        {#</a>#}
                    </td>
                    <td>{{ o.created | date('d.m.Y') }}</td>
                    <td>{{ o.companyTypeStr }}</td>
                    <td>{{ o.cardTypeStr  }}</td>
                    <td>{{ o.companyTitle  }}</td>
                    <td>{{ o.cardAmount  }}</td>
                    <td>{{ o.StatusStr is defined ? o.StatusStr | raw : '' }}</td>
                    <td>{{ o.price / o.cardAmount }}</td>
                    <td>{{ o.price }}</td>
                    <td>
                        {% if o.postNumber != null and o.postNumber != '' %}
                            {% if o.comment != null %}
                                <a style="color: #CC0000" title="{{ o.comment }}" href="https://www.pochta.ru/tracking#{{ o.postNumber }}" target="_blank">{{ o.postNumber }}</a>
                            {% else %}
                                <a href="https://www.pochta.ru/tracking#{{ o.postNumber }}" target="_blank">{{ o.postNumber }}</a>
                            {% endif %}
                        {% else %}
                            {{ o.comment }}
                        {% endif %}

                    </td>
                    {#<td>#}
                        {#{% if o.status == 0 %}#}
                            {#<a href="{{ path('generate_payment_company_pdf') }}?ord={{ o.id }}"><button class="btn-default">#}
                                {#<span class="glyphicon glyphicon-barcode">&nbsp;</span>#}
                            {#</button></a>#}
                        {#{% endif %}#}
                    {#</td>#}
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" style="text-align: center" class="text-danger">Заказов карт не найдено</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Переход на новую систему</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Для оформления карты СКЗИ необходимо необходимо обратиться по адресу: bipur@mail.ru для
                        получения доступов в новую систему ввода заявок.
                    </p>
                    <p>
                        Просьба указывать название организации в теме письма.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
