{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block title %}
    <div style="height: 40px">
    <div style="float: left; padding-right: 10px;">Мои заказы</div>
    <div class="dropdown" style="float: left;">
        <button class="btn btn-primary dropdown-toggle" type="button" id="addOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Добавить новый заказ
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="addOrder">
            <li><a href="{{ path('application-skzi-step1') }}">СКЗИ</a></li>
            <li><a href="{{ path('application-estr-step1') }}">ЕСТР</a></li>
            <li><a href="{{ path('application-ru-step1') }}">РФ</a></li>
        </ul>
    </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <table class="table">
            <tr>
                <td>номер</td>
                <td>Дата заявки</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Тип заявки</td>
                <td>Статус</td>
                <td>Цена</td>
            </tr>
            {% for o in orders %}
                <tr>
                    <td><a href="{{ path('auth_user_edit', {'userId' : o.id}) }}">{{ o.id }}</a></td>
                    <td>{{ o.created | date('d.m.Y') }}</td>
                    <td>{{ o.lastName  }}</td>
                    <td>{{ o.firstName  }}</td>
                    <td>{{ o.surName  }}</td>
                    <td>{{ o.ru ? 'РФ' : o.estr ? 'ЕСТР' : 'СКЗИ'  }}</td>
                    <td>{{ o.statusString }}</td>
                    <td>{{ o.price }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" style="text-align: center" class="text-danger">Заказов карт не найдено</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}