{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/paneloperator/js/bootbox.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.setCard').click(function () {
                var url = $(this).attr('data-href');
                BootstrapDialog.show({
                    title: 'Получение карты',
                    size: BootstrapDialog.SIZE_SMALL,
                    type: BootstrapDialog.TYPE_DANGER,
                    message: 'Вы точно получили карту?',
                    buttons: [{
                        label: 'Да',
                        cssClass: 'btn-danger',
                        autospin: true,
                        action: function (dialogRef) {
                            window.location.href = url;
                        }
                    }, {
                        label: 'Отмена',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
            });

            $('.statusBox').hover(
                    function(){
//                        alert('1');
                        var $this = $(this);
                        var userId = $this.attr('id');
                        userId = userId.substr(4);
//                    alert('\''+$(this).children('.statusItems').html()+'\'');
                        if ($(this).children('.statusItems').html() == ''){
//                            alert('2');
                            $.ajax({
                                type: "GET",
                                url: "{{ path('auth_user_get_statuslog') }}",
                                data: "userId="+userId,
                                success: function(msg){
                                    console.log(s = msg);
                                    var html = '';
                                    $.each(s,function(h,t){
                                        html += t.title + "&nbsp;-&nbsp;" + t.date+ '<br />';
                                    });
                                    $this.children('.statusItems').html(html);
                                }
                            });
                        }
                    });
        });


        $(document).ready(function () {
            var orders = [];
            function getOrders() {
                var orders = [];
                $('.tch_one:checked').each(function(indx, element) {
                    var id = $(element).val();
                    var order = {
                        id: id,
                    };
                    orders[id] = order;
                });
                return orders;
            }

            function addIDsInputs() {
                var orders = getOrders();
                $("#order_ids").html('');
                orders.forEach(function(order) {
                    $("#order_ids").append('<input type="hidden" name="task_id[]" value="' + order.id + '" />');
                });
            }

            function showSelected() {
                var orders = getOrders();
                if(orders.length > 0) {
                    $('.footer-setting').css('display', 'block');
                } else {
                    $('.footer-setting').css('display', 'none');
                }
            }

            $('.tch_one').on('change', function (e) {
                if($(this).is(':checked') === false) {
                    $(this).parents('.tasks-table').find('.tch_all').prop('checked', false);
                }
                addIDsInputs();
                showSelected();
            });


            $('#all-change-status-button').click(function () {

                var orders = [];
                $('.tch_one:checked').each(function(indx, element) {
                    var id = $(element).val();
                    orders.push(id);
                });

                $.ajax({
                    url: "{{ path('auth_change_ctatus_all') }}",
                    method: "POST",
                    data: {'orders' : orders },
                    success: function (msg) {
                        parent.location.reload(true);
                    }
                })
            });

            $('.tch_all').on('change', function (e) {
                if($(this).is(':checked')) {
                    $(this).parents('.table').find('.tch_one').prop('checked', true);
                } else {
                    $(this).parents('.table').find('.tch_one').prop('checked', false);
                }
                showSelected();
                addIDsInputs();
            });
        })

    </script>
{% endblock %}

{% block body %}
    <div>
        {% if post is defined and post == 1 %}
            <div class="alert alert-primary">Ваша заявка принята.</div>
        {% endif %}
        <h2>Карты водителей ({{ orders | length }} шт)</h2>
        <div class="dropdown" style="float: right; margin-top: -55px">
            <button class="btn btn-primary dropdown-toggle" type="button" id="addOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Добавить новый заказ
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="addOrder">
                <li><a href="{{ path('auth_add_skzi') }}">СКЗИ</a></li>
                <li><a href="{{ path('auth_add_estr') }}">ЕСТР</a></li>
                {% if app.user.company.operator.id is defined and app.user.company.operator.id == 33 %}
                {% else %}
                    <li><a href="{{ path('auth_add_ru') }}">РФ</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <form method="GET">
        <div class="row">
            <div class="col-xs-3">
                <select class="form-control" name="type">
                    <option selected="selected" value="0">Все типы</option>
                    <option value="skzi">СКЗИ</option>
                    <option value="estr">ЕСТР</option>
                    <option value="ru">РФ</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="form-control" name="status">
                    <option selected="selected" value="100">Все статусы</option>
                    <option value="0">Новые</option>
                    <option value="1">Подтвержденные</option>
                    <option value="2">Оплаченные</option>
                    <option value="3">В производстве</option>
                    <option value="4">Изготовленые</option>
                    <option value="5">Полученные</option>
                    <option value="6">На почте</option>
                    <option value="10">Отклоненные</option>
                </select>
            </div>
            <div class="col-xs-4">
                <input placeholder="Введите слово" class="form-control" style="margin-top: 0;" name="search">
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </div>
    </form>
    <div class="row">
        <table class="table">
            <tr>
                <td>
                    <input type="checkbox" name="order_group[]" class="tch tch_all">
                </td>
                <td>Номер</td>
                <td>Дата заявки</td>
                <td>Ф.И.О.</td>
                <td>Тип заявки</td>
                <td>Статус</td>
                <td>Цена</td>
                <td>Коммент./Почтовый код </td>
                <td></td>
                <td></td>
            </tr>
            {% for o in orders %}
                {% if o.enabled == 1 %}
                    <tr class="{{ o.comment != null and o.comment != '' ? 'warning' : ''}}">
                        <td>
                            <input type="checkbox" name="order[]" value="{{ o.id }}"
                                   class="tch_one">
                        </td>
                        <td>
                            {#{% if o.estr == 0 and o.ru == 0 %}#}
                            {#<a href="{{ path('auth_user_skzi_edit', {'userId' : o.id}) }}">{{ o.id }}</a>#}
                            {#{% else %}#}
                            {#{% if o.estr == 1 %}#}
                                {#{{ o.id }}#}
                            {#{% else %}#}
                                <a href="{{ path('auth_user_edit', {'userId' : o.id}) }}" title="Редактирование заявки" style="font-size: 17px; font-weight: bold">{{ o.id }}</a>
                            {#{% endif %}#}
                            {#{% endif %}#}
                        </td>
                        <td>{{ o.created | date('d.m.Y') }}</td>
                        <td>{{ o }}</td>
                        <td>{{ o.ru ? 'РФ' : o.estr ? 'ЕСТР' : 'СКЗИ'  }}</td>
                        <td>
                            <div class="statusBox" id="user{{ o.id }}">
                                {{ o.statusStringTwig | raw }}
                                <div class="statusItems"></div>
                            </div>
                        </td>
                        <td>{{ o.price }}</td>
                        <td>
                            {% if o.post != null and o.post != '' %}
                                {% if o.comment != null %}
                                    <a style="color: #CC0000" title="{{ o.comment }}" href="https://www.pochta.ru/tracking#{{ o.post }}" target="_blank">{{ o.post }}</a>
                                {% else %}
                                    <a href="https://www.pochta.ru/tracking#{{ o.post }}" target="_blank">{{ o.post }}</a>
                                {% endif %}
                            {% else %}
                                {{ o.comment }}
                            {% endif %}

                        </td>
                        <td>
                            {% if o.status == 0 or o.status == 10 or o.status == 7 %}
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownPayment2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Заявл.
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownPayment2">
                                        <li><a href="{{ path('generate_pdf_statement',{'old' : 1, 'id' : o.id}) }}" target="_blank">Скачать заявление</a></li>
                                        <li><a href="{{ path('auth_add_order',{'id' : o.id}) }}">Загрузить заявление</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if o.status == 0 or o.status == 10 %}
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownPayment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Оплата
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownPayment}">
                                        {% if o.company != null and not ( o.company.operator.id is defined and o.company.operator.id == 39 ) %}
                                            <li><a href="{{ path('generate_payment_pdf') }}?ord={{ o.id }}" target="_blank">Платежное поручение</a></li>
                                            <li><a href="{{ path('payment_assist',{'userId' : o.id} )  }}" target="_blank">Робокасса - онлайн оплата</a></li>
                                        {% endif %}
                                        {#<li><a href="{{ path('generate_pdf_statement',{'id' : o.id}) }}" target="_blank">Скачать заявку</a></li>#}
                                        {#<li><a href="{{ path('auth_add_order',{'id' : o.id}) }}" target="_blank">Загрузить заявление</a></li>#}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if o.status == 4 or o.status == 6 %}
                                <a data-href="{{ path('auth_status_set', { 'id' : o.id }) }}" class="setCard"><button class="btn btn-primary">Получено</button></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="7" style="text-align: center" class="text-danger">Заказов карт не найдено</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="footer-setting">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <button type="button" class="btn btn-success" id="all-change-status-button">Перевести в полученные</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .statusItems{
            display: none;
        }
        .statusBox{
            font-size: 12px;
            cursor: pointer;
            margin-top: 6px;
        }
        .statusBox:hover .statusItems{
            display: block;
            position: absolute;
            background: #FFFFFF;
            border: 1px solid #C2C2C2;
            padding: 5px;
        }
    </style>
{% endblock %}