{% if pageAct is defined %}
<ul class="menu-items">
    <li><img src="{{ asset('bundles/crmadmin/images/Ico/Align-Justify.png') }}"><a href="{{ path('page_list') }}" {{ pageAct == 'page_list' ? 'class="active"' : ''}}>Страницы</a></li>
    <li><img src="{{ asset('bundles/crmadmin/images/Ico/Documents-02.png') }}"><a href="{{ path('document_list') }}" {{ pageAct == 'document_list' ? 'class="active"' : ''}}>Документы</a></li>
    <li><img src="{{ asset('bundles/crmadmin/images/Ico/Help.png') }}"><a href="{{ path('faq_list') }}" {{ pageAct == 'faq_list' ? 'class="active"' : ''}}>Вопросы</a></li>
    {#<li><a href="{{ path('admin_faqcategory') }}" {{ pageAct == 'faq_category' ? 'class="active"' : ''}}>Категории FAQ</a></li>#}

    <li><img src="{{ asset('bundles/crmadmin/images/Ico/Purchase-Order.png') }}"><a href="{{ path('user_list') }}" {{ pageAct == 'user_list' ? 'class="active"' : '' }}>Заявки</a></li>
    <li><img src="{{ asset('bundles/crmadmin/images/Ico/Show-Progress.png') }}"><a href="{{ path('stat_list') }}" {{ pageAct == 'stat_list' ? 'class="active"' : '' }}>Статистика</a></li>
</ul>
{% else %}
    <ul class="menu-items">
        <li><img src="{{ asset('bundles/crmadmin/images/Ico/Align-Justify.png') }}"><a href="{{ path('page_list') }}">Страницы</a></li>
        <li><img src="{{ asset('bundles/crmadmin/images/Ico/Documents-02.png') }}"><a href="{{ path('document_list') }}">Документы</a></li>
        <li><img src="{{ asset('bundles/crmadmin/images/Ico/Help.png') }}"><a href="{{ path('faq_list') }}">Вопросы</a></li>
        <li><img src="{{ asset('bundles/crmadmin/images/Ico/Help.png') }}"><a href="{{ path('admin_faqcategory') }}">Категории FAQ</a></li>
        <li><img src="{{ asset('bundles/crmadmin/images/Ico/Purchase-Order.png') }}"><a href="{{ path('user_list') }}">Заявки</a></li>
        <li><img src="{{ asset('bundles/crmadmin/images/Ico/Show-Progress.png') }}"><a href="{{ path('stat_list') }}">Статистика</a></li>
    </ul>
{% endif %}