{% spaceless %}
    <?xml version="1.0" encoding="utf-8"?>
    <ns2:EstrPackage xmlns:ns2="http://www.example.org/">
        <PackageInfo>
            <OvkId>INFMX</OvkId>
        </PackageInfo>
        <Order>
            <OrderNumber></OrderNumber>
            <OrderKind>
                {% if user.typeCard == 0 %}OrderNew{% elseif user.typeCard == 1 %}OrderReNew{% elseif user.typeCard == 2 %}OrderReplaceDamaged{% elseif user.typeCard == 3 %}OrderPersonChange{% endif %}</OrderKind>
            <DriverOrder>
                <PersonInfo>
                    <NameFirst>{{ user.firstName }}</NameFirst>
                    <NameFirstLat>{{ user.enFirstName }}</NameFirstLat>
                    <NameMiddle>{{ user.surName }}</NameMiddle>
                    <NameMiddleLat>{{ user.surName | translate }}</NameMiddleLat>
                    <NameLast>{{ user.lastName }}</NameLast>
                    <NameLastLat>{{ user.enLastName }}</NameLastLat>
                    <BirthDate>{{ user.birthDate | date('Y-m-d') }}</BirthDate>
                    <Resident>RU</Resident>
                    <SNILS>{{ user.snils }}</SNILS>
                    <Document>
                        <DocName>Паспорт</DocName>
                        <DocSeries>{{ user.passportSerial }}</DocSeries>
                        <DocNumber>{{ user.passportNumber }}</DocNumber>
                        <DocIssuedBy>
                            {{ user.passportIssuance }}
                        </DocIssuedBy>
                        <DocDivision>{{ user.passportCode }}</DocDivision>
                        <DocIssuedDate>{{ user.passportIssuanceDate | date('Y-m-d') }}</DocIssuedDate>
                    </Document>
                </PersonInfo>
                <DriverLicense>
                    <DriverLicenseNumber>{{ user.driverDocNumber }}</DriverLicenseNumber>
                    <DriverLicenseIssuedBy>{{ user.driverDocIssuance | translate}}</DriverLicenseIssuedBy>
                    <DriverLicenseCountry>RU</DriverLicenseCountry>
                    <DriverLicenseIssuedDate>{{ user.driverDocDateStarts | date('Y-m-d') }}</DriverLicenseIssuedDate>
                </DriverLicense>
                <AddressActual>
                    <FullAddress>{{ user.ruDeliveryAdrs }}</FullAddress>
                    <FullAddressLat>{{ user.enDeliveryAdrs }}</FullAddressLat>
                    <PostCode>{{ user.deliveryAdrs.zipcode }}</PostCode>
                    <Country>RU</Country>
                    <Region>77</Region>
                    <District>{{ user.deliveryAdrs.area }}</District>
                    <DistrictLat>{{ user.deliveryAdrs.area | translate }}</DistrictLat>
                    <Settlement>{{ user.deliveryAdrs.city }}</Settlement>
                    <SettlementLat>{{ user.deliveryAdrs.city | translate }}</SettlementLat>
                    <Street>{{ user.deliveryAdrs.street }}</Street>
                    <StreetLat>{{ user.deliveryAdrs.street | translate }}</StreetLat>
                    <House>{{ user.deliveryAdrs.house }}</House>
                    <HouseLat>{{ user.deliveryAdrs.house | translate }}</HouseLat>
                    <Building/>
                    <BuildingLat/>
                    <Office/>
                    <OfficeLat/>
                </AddressActual>
                <Photo>
                    <AttachmentName>photo</AttachmentName>
                    <AttachmentType>Photo</AttachmentType>
                    <FileFormat>BMP</FileFormat>
                    <Description>Фотография</Description>
                    <Body>{{ files.photo.base }}</Body>
                </Photo>
                <Sign>
                    <AttachmentName>sign</AttachmentName>
                    <AttachmentType>Signature</AttachmentType>
                    <FileFormat>BMP</FileFormat>
                    <Description>Подпись</Description>
                    <Body>{{ files.signature.base }}</Body>
                </Sign>
            </DriverOrder>
        </Order>
    </ns2:EstrPackage>
{% endspaceless %}