{% extends 'CrmMainBundle::layout_new.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Работа с корпоративными клиентами:</h2>
        <ul style="list-style: decimal; font-size: 17px">
            <li>
                <span style="font-size: 20px">Скачать документы для заключения Договора:</span>
                <ul>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/Шаблон Договора на карты СКЗИ, ЕСТР и РФ.doc') }}">шаблон Договора;</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/Приложение 1 - Протокол согласования цены.docx') }}">Приложение 1 - Протокол согласования цены;</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/Приложение 2 - Требование к поставке карт тахографа.docx') }}">Приложение 2 - Требование к поставке карт тахографа;</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/Согласие на передачу персональных данных.doc') }}">Согласие на передачу персональных данных;</a></li>
                </ul>
            </li>
            <li>
                <span style="font-size: 20px">Зарегистрироваться на сайте ( создать личный кабинет ):</span>
                <ul>
                    <li>ссылка для <a href="//im-kard.ru/auth/register" target="_blank">регистрации</a> (<a href="//im-kard.ru/auth/login" target="_blank">входа</a>) в личный кабинет</li>
                </ul>
            </li>
            <li>
                <span style="font-size: 20px">Заключить Договор и начать оформление  Заказов через личный кабинет:</span>
                <ul>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/1. Памятка по заказу карт для тахографов.doc') }}">Памятка по оформлению заказов карт для тахографов;</a></li>
                </ul>
            </li>
            <li>
                <span style="font-size: 20px">Дополнительные документы:</span>
                <ul>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/6. Заявление на карту предприятия СКЗИ.pdf') }}">Заявление на карту предприятия СКЗИ;</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/8. Заявление на карту мастерской СКЗИ.pdf') }}">Заявление на карту мастерской СКЗИ;</a></li>
                </ul>
            </li>

            <li>
                <span style="font-size: 20px">При возникновении неисправности карт СКЗИ необходимо заполнить
                Заявление о рекламации:</span>
                <ul>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/Заявление о рекламации на карту водителя СКЗИ.docx') }}">Заявление о рекламации на карту водителя СКЗИ;</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/Инструкции по заполнению рекламации на карту СКЗИ.docx') }}">Инструкции по заполнению рекламации на карту СКЗИ;</a></li>
                </ul>
            </li>
        </ul>
        <hr />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html{
            width: 100%;
        }
        body{
            /*min-height: 100%;*/
            /*padding-bottom: 150px;*/
        }
        footer{
            /*position: absolute;*/
            /*bottom: 0;*/
            /*left: 0;*/
            /*right: 0;*/
        }
    </style>
{% endblock %}