{% extends 'CrmMainBundle::layout_new.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Работа с корпоративными клиентами:</h2>
        <ul style="list-style: decimal; font-size: 17px">
            <li>
                Скачать документы для заключения Договора:
                <ul>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/') }}">шаблон Договора;</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/') }}">Приложение 1</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/') }}">Протокол согласования цены;</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/') }}">Приложение 2</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/') }}">Требование к поставке карт тахографа;</a></li>
                    <li><a target="_blank" href="{{ asset('bundles/crmmain/docs/') }}">Согласие на передачу персональных данных;</a></li>
                </ul>
            </li>
            <li>
                Зарегистрироваться на сайте ( создать личный кабинет ):
                <ul>
                    <li>ссылка для <a href="//im-kard.ru/auth/register" target="_blank">регистрации</a> (<a href="//im-kard.ru/auth/login" target="_blank">входа</a>) в личный кабинет</li>
                </ul>
            </li>
            <li>
                Заключить Договор и начать оформление  Заказов через личный кабинет:
                <ul>
                    <li>Памятка по оформлению заказов карт для тахографов;</li>
                </ul>
            </li>
            <li>
                Дополнительные документы:
                <ul>
                    <li>Заявление на карту предприятия СКЗИ;</li>
                    <li>Заявление на карту мастерской СКЗИ;</li>
                </ul>
            </li>

            <li>
                При возникновении неисправности карт СКЗИ необходимо заполнить
                Заявление о рекламации:
                <ul>
                    <li>Заявление о рекламации на карту водителя СКЗИ;</li>
                    <li>Инструкции по заполнению рекламации на карту СКЗИ;</li>
                </ul>
            </li>
        </ul>
        <hr />
        <h2>Скачать документы:</h2>
        <br />
        <div>
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/1. Памятка по заказу карт для тахографов.doc') }}">Памятка по заказу карт для тахографов</a>
            <br /><br />
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/2. Заявка на карты трех видов.doc') }}">Заявка на карты трех видов</a>
            <br /><br />
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/3. Договор на карты СКЗИ, ЕСТР и РФ.doc') }}">Договор на карты СКЗИ, ЕСТР и РФ</a>
            <br /><br />
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/4. Приложение 1 - Протокол согласования цены.docx') }}">Приложение 1 - Протокол согласования цены</a>
            <br /><br />
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/5. Приложение 2 - Требование к поставке карт тахографа.docx') }}">Приложение 2 - Требование к поставке карт тахографа</a>
            <br /><br />
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/6. Заявление на карту предприятия СКЗИ.pdf') }}">Заявление на карту предприятия СКЗИ</a>
            <br /><br />
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/7. Согласие на передачу перс.данных-коллективное.doc') }}">Согласие на передачу перс.данных-коллективное</a>
            <br /><br />
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/8. Заявление на карту мастерской СКЗИ.pdf') }}">Заявление на карту мастерской СКЗИ</a>
            <br /><br />
            <span class="glyphicon glyphicon-file">&nbsp;</span><a target="_blank" href="{{ asset('bundles/crmmain/docs/9. Заявление на блокировку карт водителя СКЗИ.docx') }}">Заявление на блокировку карт водителя СКЗИ</a>
            <br /><br />
            <br /><br />
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html{
            width: 100%;
        }
        body{
            /*min-height: 100%;*/
            /*padding-bottom: 150px;*/
        }
        footer{
            /*position: absolute;*/
            /*bottom: 0;*/
            /*left: 0;*/
            /*right: 0;*/
        }
    </style>
{% endblock %}