{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Скачать документы</h2>
        <br />
        <div>
            <a target="_blank" href="{{ asset('bundles/crmmain/docs/1. Памятка по заказу карт для тахографов.doc') }}">1. Памятка по заказу карт для тахографов</a>
            <br /><br />
            <a target="_blank" href="{{ asset('bundles/crmmain/docs/2. Заявка на карты трех видов.doc') }}">2. Заявка на карты трех видов</a>
            <br /><br />
            <a target="_blank" href="{{ asset('bundles/crmmain/docs/3. Договор на карты СКЗИ, ЕСТР и РФ.doc') }}">3. Договор на карты СКЗИ, ЕСТР и РФ</a>
            <br /><br />
            <a target="_blank" href="{{ asset('bundles/crmmain/docs/4. Приложение 1 - Протокол согласования цены.docx') }}">4. Приложение 1 - Протокол согласования цены</a>
            <br /><br />
            <a target="_blank" href="{{ asset('bundles/crmmain/docs/5. Приложение 2 - Требование к поставке карт тахографа.docx') }}">5. Приложение 2 - Требование к поставке карт тахографа</a>
            <br /><br />
            <a target="_blank" href="{{ asset('bundles/crmmain/docs/6. Заявление на карту предприятия СКЗИ.pdf') }}">6. Заявление на карту предприятия СКЗИ</a>
            <br /><br />
            <a target="_blank" href="{{ asset('bundles/crmmain/docs/7. Согласие на передачу перс.данных-коллективное.doc') }}">7. Согласие на передачу перс.данных-коллективное</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}