{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Задать вопрос</h2>
        {% if msg == false %}
            <div class="feedback-box">
                <form method="POST">
                    {{ form_widget(formFeedback) }}
                    <div style="text-align: right">
                        <i style="font-size: 14px; color: #CC3333">* Поля отмеченные звездочкой обязательны для заполнения</i>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="msg">Ваше сообщение отправлено</div>
        {% endif %}

        <h2>Частые вопросы</h2>
        {% for faq in faqs %}
            <div class="faq-box">
                <div class="faq-question">{{ faq.question |raw }}</div>
                <div class="faq-answer">{{ faq.answer |raw  }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        textarea{
            width: 520px;
            height: 120px;
        }
        .faq-box{
            padding: 5px 10px;
            border-bottom: 1px solid #CCC;
        }
        .faq-box:hover{
            /*box-shadow: -5px 5px 15px #888;*/
            background: #EEEEEE;
        }
        .faq-question{
            color: #003866;
            font-weight: bold;
            cursor: pointer;
        }
        .faq-answer{
            color: #444444;
            padding-left: 30px;
            display: none;
        }
        .feedback-box{
            background: #F8F8F8;
            border: 1px solid #cfd1cf;
            width: 630px;
            padding: 20px 20px 0 20px;
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.faq-box').click(function(){
                $('.faq-answer').fadeOut();
                $(this).children('.faq-answer').fadeIn();
                $('.faq-box').css('background','none');
                $(this).css('background','#EEEEEE');
            })
        })
    </script>
{% endblock %}