{% extends 'CrmMainBundle::layout.html.twig' %}


{% block content %}
    <h1>
        Наши преимущества
    </h1>
    <ul class="list-numeric">
        <li>
            Мы имеем все необходимые лицензии
            &nbsp;&nbsp;&nbsp;
            <a class="fancybox" href="{{ asset('bundles/crmmain/images/l1.jpg') }}"><img src="{{ asset('bundles/crmface/icons/sertificate.png') }}" style="margin-bottom: -15px;"></a>
            &nbsp;
            <a class="fancybox" href="{{ asset('bundles/crmmain/images/l2.jpg') }}"><img src="{{ asset('bundles/crmface/icons/sertificate.png') }}" style="margin-bottom: -15px;"></a>
            &nbsp;
            <a class="fancybox" href="{{ asset('bundles/crmmain/images/l3.jpg') }}"><img src="{{ asset('bundles/crmface/icons/sertificate.png') }}" style="margin-bottom: -15px;"></a>
            <br />
            <br />
        </li>
        <li>Заказать карту можно из любой точки России, Вам нужно только нажать кнопку <a href="#" class="redtext"><b>Подать Заявку</b></a>;</li>
        <li>Благодаря специальной программе, Ваши данные поступают на производство сразу после оплаты;</li>
        <li>Доставка осуществляется Почтой России (3-7 дн.) - <span class="redtext"><b>бесплатно</b></span>;</li>
        <li style="display: block"></li>
        {#<li>Наша компания на официальном сайт ФБУ "Росавтотранс" под № 16;</li>#}
        <li>
            <table style="margin-top: -30px; color: #005596">
                <tr>
                    <td>Нам доверяют</td>
                    <td>
                        <span style="display: inline-block;">
                            {% for u in users %}
                                <div class="digital-{{ u }}"></div>
                            {% endfor %}
                        </span>
                    </td>
                    <td>человек;</td>
                </tr>
            </table>
        </li>
    </ul>
    <div style="color: #CC0000; font-size: 24px; text-align: center;  font-weight: bold;">
        АКЦИЯ !!!
    </div>
    <div style="color: #CC0000; font-size: 24px; text-align: center; padding-top: 10px">
        Только до 31 июля цена на карты ЕСТР и РФ - 3000.00 рублей,<br />
        Карты СКЗИ - 2250.00 рублей.
    </div>
    <br />
    <br />
    <table style="width: 100%">
        <tr>
            <td style="width: 50%; text-align: center;">
                {#<div class="index-btn">#}
                <a href="{{ path('application-estr-step1') }}"><img src="{{ asset('bundles/crmmain/images/card-1.png') }}" class="img-btn"></a>
                {#</div>#}
            </td>
            <td style="width: 50%; text-align: center;">
                {#<div class="index-btn">#}
                <a href="{{ path('application-ru-step1') }}"><img src="{{ asset('bundles/crmmain/images/card-2.png') }}" class="img-btn"></a>
                {#</div>#}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                {#<div class="index-btn">#}
                <br />
                <a href="{{ path('application-skzi-step1') }}"><img src="{{ asset('bundles/crmmain/images/card-3.png') }}" class="img-btn"></a>
                {#</div>#}
            </td>
        </tr>
    </table>

    <h2>
        Работа с корпоративными клиентами:
    </h2>
    <table>
        <tr>
            <td>
                <ul class="list-numeric">
                    <li>Получить документы для заключения Договора - <a href="{{ path('download') }}" class="redtext"><b>Скачать документы</b></a>;</li>
                    <li>Заполнить Заявку на необходимые карты;</li>
                    <li>Заключить Договор;</li>
                    <li>Получить специальную ссылку для ввода данных;</li>
                    <li>Ввести данные (бесплатная помощь менеджера online);</li>
                    <li>Полная или частичная оплата по поданным Заявлениям;</li>
                    <li>Через 20-30 дней получение карт;</li>
                    <li>Подписание Акта выполненных работ.</li>
                </ul>
            </td>
            <td>
                <div style="text-align: right">
                    <span style="padding-left: 20px">
                        <img src="{{ asset('bundles/crmface/icons/vopros.png') }}" style="margin-bottom: -12px;">
                        <a href="{{ path('faq') }}" class="vopros">Задать вопрос</a>
                    </span>
                    <br/>
                    <br/>
                    <br/>
                    <img src="{{ asset('bundles/crmface/images/call.png') }}" class="call">
                </div>
            </td>
        </tr>
    </table>
    <br />
    <br />
    {#<div style="font-size: 24px; text-align: center">Цена карты СКЗИ - <span class="redtext">2306р.</span> , ЕСТР - <span class="redtext">6200р</span>.</div>#}
{% endblock %}
