{% extends 'CrmMainBundle::layout.html.twig' %}


{% block content %}
    <h1>
        Наши преимущества
    </h1>
    <ul class="list-numeric">
        <li>
            Мы имеем все необходимые лицензии
            &nbsp;&nbsp;&nbsp;
            <a class="fancybox" href="{{ asset('bundles/crmmain/images/l1.jpg') }}"><img src="{{ asset('bundles/crmface/icons/sertificate.png') }}" style="margin-bottom: -15px;"></a>
            &nbsp;
            <a class="fancybox" href="{{ asset('bundles/crmmain/images/l2.jpg') }}"><img src="{{ asset('bundles/crmface/icons/sertificate.png') }}" style="margin-bottom: -15px;"></a>
            &nbsp;
            <a class="fancybox" href="{{ asset('bundles/crmmain/images/l3.jpg') }}"><img src="{{ asset('bundles/crmface/icons/sertificate.png') }}" style="margin-bottom: -15px;"></a>
            &nbsp;
            <a class="fancybox" href="{{ asset('bundles/crmmain/images/patent.png') }}"><img src="{{ asset('bundles/crmmain/images/patent.png') }}" style="height: 51px; margin-bottom: -15px;"></a>
            &nbsp;
            <a class="fancybox" href="{{ asset('bundles/crmmain/images/svidetelstvo.png') }}"><img src="{{ asset('bundles/crmmain/images/svidetelstvo.png') }}" style="height: 51px; margin-bottom: -15px;"></a>
            <br />
            <br />
        </li>
        <li>Заказать карту можно из любой точки России, Вам нужно только нажать кнопку <a href="#" class="redtext"><b>Подать Заявку</b></a>;</li>
        <li>Благодаря специальной программе, Ваши данные поступают на производство сразу после оплаты;</li>
        <li>Доставка осуществляется Почтой России (3-7 дн.) - <span class="redtext"><b>бесплатно</b></span>;</li>
        <li style="display: block"></li>
        {#<li>Наша компания на официальном сайт ФБУ "Росавтотранс" под № 16;</li>#}
        <li>
            <table style="margin-top: -30px; color: #005596">
                <tr>
                    <td>Нам доверяют</td>
                    <td>
                        <span style="display: inline-block;">
                            {% for u in users %}
                                <div class="digital-{{ u }}"></div>
                            {% endfor %}
                        </span>
                    </td>
                    <td>человек;</td>
                </tr>
            </table>
        </li>
    </ul>
    {#<div style="color: #CC0000; font-size: 24px; text-align: center;  font-weight: bold;">#}
        {#АКЦИЯ !!!#}
    {#</div>#}
    {#<div style="color: #CC0000; font-size: 24px; text-align: center; padding-top: 10px">#}
        {#Только до 31 июля цена на карты ЕСТР и РФ - 3000.00 рублей,<br />#}
        {#Карты СКЗИ - 2250.00 рублей.#}
        {#<br />#}
        {#<br />#}
        {#<div style="font-size: 20px; text-align: center; color: #005596">#}
            {#Акция осуществляется по инициативе ООО "РусАвтоКарт"#}
        {#</div>#}
    {#</div>#}
    {#<br />#}
    {#<br />#}
    {#<table style="width: 100%">#}
        {#<tr>#}
            {#<td style="width: 50%; text-align: center;">#}
                {#&#123;&#35;<div class="index-btn">&#35;&#125;#}
                {#<a href="{{ path('application-estr-step1') }}"><img src="{{ asset('bundles/crmmain/images/card-1.png') }}" class="img-btn"></a>#}
                {#&#123;&#35;</div>&#35;&#125;#}
            {#</td>#}
            {#<td style="width: 50%; text-align: center;">#}
                {#&#123;&#35;<div class="index-btn">&#35;&#125;#}
                {#<a href="{{ path('application-ru-step1') }}"><img src="{{ asset('bundles/crmmain/images/card-2.png') }}" class="img-btn"></a>#}
                {#&#123;&#35;</div>&#35;&#125;#}
            {#</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td colspan="2" style="text-align: center;">#}
                {#&#123;&#35;<div class="index-btn">&#35;&#125;#}
                {#<br />#}
                {#<a href="{{ path('application-skzi-step1') }}"><img src="{{ asset('bundles/crmmain/images/card-3.png') }}" class="img-btn"></a>#}
                {#&#123;&#35;</div>&#35;&#125;#}
            {#</td>#}
        {#</tr>#}
    {#</table>#}

    <div class="card-block">
        {#<div class="card-sale">АКЦИЯ до 30.09.2015</div>#}
        <table>
            <tr>
                <td class="card-img"><img src="{{ asset('bundles/crmmain/images/card2-1.png') }}"/></td>
                <td>
                    <div class="card-header">
                        Карта водителя <span class="card-name">СКЗИ</span>
                        <div class="card-price">2 150,00 руб</div>
                    </div>
                    <div class="card-body">
                        Карты предназначены для тахографов оборудованных блоком СКЗИ.<br />
                        Действуют только на территории РФ.<br />
                        <table class="card-docs">
                            <tr>
                                <td>Документы:</td>
                                <td>
                                    <ul>
                                        <li>копия паспорта (лицевой разворот)</li>
                                        <li>копия водительского удостоверения</li>
                                        <li>СНИЛС</li>
                                        <li>фото, подпись</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        Срок изготовления: <b>15 дней</b><br />
                        Доставка: <b>бесплатно</b>
                        <a href="{{ path('application-skzi-add') }}"><div class="btn btn-red btn-order">Заказать</div></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">
        <table>
            <tr>
                <td class="card-img"><img src="{{ asset('bundles/crmmain/images/card2-2.png') }}"/></td>
                <td>
                    {#<div style="border: 1px solid #CC0000; background: #fff1ae; color: #CC0000; padding: 20px; text-align: center; margin-bottom: 10px">#}
                        {#ЗАКАЗЫ ВРЕМЕННО НЕ ПРИНИМАЮТСЯ#}
                    {#</div>#}
                    <div class="card-header">
                        Карта водителя <span class="card-name">ЕСТР</span>
                        <div class="card-price">3 200,00 руб</div>
                    </div>
                    <div class="card-body">
                        Карты предназначены для европейских тахографов стандарта ЕСТР.<br />
                        Действуют только на территории Европы и  РФ.<br />
                        <table class="card-docs">
                            <tr>
                                <td>Документы:</td>
                                <td>
                                    <ul>
                                        <li>копия паспорта (лицевой разворот, страница регистрации)</li>
                                        <li>копия водительского удостоверения (две стороны)</li>
                                        <li>фото, подпись</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        Срок изготовления: <b>15 дней</b><br />
                        Доставка: <b>бесплатно</b>
                        <a href="{{ path('application-estr-add') }}"><div class="btn btn-red btn-order">Заказать</div></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">
        <table>
            <tr>
                <td class="card-img"><img src="{{ asset('bundles/crmmain/images/card2-3.png') }}"/></td>
                <td>
                    <div class="card-header">
                        Карта водителя <span class="card-name">РФ</span> (пост. 720 от 10.09.2009 г.)
                        <div class="card-price">3 200,00 руб</div>
                    </div>
                    <div class="card-body">
                        Карты предназначены для тахографов <b>не</b> оборудованных блоками СКЗИ.<br />
                        Дейтсвуют только на территории РФ.<br />
                        <table class="card-docs">
                            <tr>
                                <td>Документы:</td>
                                <td>
                                    <ul>
                                        <li>копия паспорта (лицевой разворот, страница регистрации)</li>
                                        <li>копия водительского удостоверения (две стороны)</li>
                                        <li>фото, подпись</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        Срок изготовления: <b>10 дней</b><br />
                        Доставка: <b>бесплатно</b>
                        <a href="{{ path('application-ru-add') }}"><div class="btn btn-red btn-order">Заказать</div></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <h2>
        Работа с корпоративными клиентами:
    </h2>
    <table>
        <tr>
            <td>
                <ul class="list-numeric">
                    <li>Получить документы для заключения Договора - <a href="{{ path('download') }}" class="redtext"><b>Скачать документы</b></a>;</li>
                    <li>Заполнить Заявку на необходимые карты;</li>
                    <li>Заключить Договор;</li>
                    <li>Получить специальную ссылку для ввода данных;</li>
                    <li>Ввести данные (бесплатная помощь менеджера online);</li>
                    <li>Полная или частичная оплата по поданным Заявлениям;</li>
                    <li>Через 20-30 дней получение карт;</li>
                    <li>Подписание Акта выполненных работ.</li>
                </ul>
            </td>
            <td>
                <div style="text-align: right">
                    <span style="padding-left: 20px">
                        <img src="{{ asset('bundles/crmface/icons/vopros.png') }}" style="margin-bottom: -12px;">
                        <a href="{{ path('faq') }}" class="vopros">Задать вопрос</a>
                    </span>
                    <br/>
                    <br/>
                    <br/>
                    <img src="{{ asset('bundles/crmface/images/call.png') }}" class="call">
                </div>
            </td>
        </tr>
    </table>
    {#<br />#}
    {#<br />#}
    {#<div style="font-size: 24px; text-align: center">Цена карты СКЗИ - <span class="redtext">2306р.</span> , ЕСТР - <span class="redtext">6200р</span>.</div>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card-block *{
            color: #053960;
        }
        .card-block{
            padding: 10px;
            border: 1px solid #808080;
            color: #1d3243;
            margin-bottom: 20px;
        }
        .card-header{
            border-bottom: 1px solid #1d3243;
            color: #1d3243;
            padding-bottom: 10px;
        }
        .card-img{
            padding-right: 20px;
        }
        .card-price{
            float: right;
            font-size: 20px;
            font-weight: bold;
        }
        .card-name{
            font-size: 20px;
            font-weight: bold;
        }
        .card-body{
            padding-top: 10px;
        }
        .card-sale{
            color: #cd253c;
            font-size: 20px;
            font-weight: bold;
            padding: 0 30px;
            border-bottom: 1px solid #cd253c;
            display: inline-block;
            float: right;
            margin-right: 40px;
            margin-bottom: 20px;
        }
        .btn-order{
            float: right;
            margin-right: 50px;
            margin-top: -20px;
        }
        .btn-red{
            -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
            box-shadow:inset 0px 1px 0px 0px #ffffff;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a2e7), color-stop(1, #487ebb));
            background:-moz-linear-gradient(top, #77a2e7 5%, #487ebb 100%);
            background:-webkit-linear-gradient(top, #77a2e7 5%, #487ebb 100%);
            background:-o-linear-gradient(top, #77a2e7 5%, #487ebb 100%);
            background:-ms-linear-gradient(top, #77a2e7 5%, #487ebb 100%);
            background:linear-gradient(to bottom, #77a2e7 5%, #487ebb 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a2e7', endColorstr='#487ebb',GradientType=0);
            background-color:#77a2e7;
            -moz-border-radius:6px;
            -webkit-border-radius:6px;
            border-radius:6px;
            border:1px solid #dcdcdc;
            display:inline-block;
            cursor:pointer;
            color: #882424;
            font-family:arial;
            font-size:15px;
            padding:10px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #444;
        }
        .btn-red:hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #487ebb), color-stop(1, #77a2e7));
            background:-moz-linear-gradient(top, #487ebb 5%, #77a2e7 100%);
            background:-webkit-linear-gradient(top, #487ebb 5%, #77a2e7 100%);
            background:-o-linear-gradient(top, #487ebb 5%, #77a2e7 100%);
            background:-ms-linear-gradient(top, #487ebb 5%, #77a2e7 100%);
            background:linear-gradient(to bottom, #487ebb 5%, #77a2e7 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#487ebb', endColorstr='#77a2e7',GradientType=0);
            background-color:#487ebb;
        }
    </style>
{% endblock %}