<div style="opacity: 0">
    <form action="https://money.yandex.ru/eshop.xml" method="post" id="fd">
        <table>
            <tr>
                {#<td>Номер магази*на</td>#}
                <td><input name="shopId" value="{{ rispo_yandexkassa_shopid }}" type="text"/></td>
            </tr>
            <tr>
                {#<td>Еще код магазина</td>#}
                <td><input name="scid" value="{{ rispo_yandexkassa_scid }}" type="text"/></td>
            </tr>
            <tr>

                <td><input name="sum" value="{{ order.price }}" type="text"></td>
            </tr>
            <tr>
                {#<td>Id клиента</td>#}
                <td><input name="customerNumber" value="{{ order.client.id }}" type="text"/></td>
            </tr>
            <tr>
                {#<td>Буквы для оплаты картой</td>#}
                <td><input name="paymentType" value="" type="text"/></td>
            </tr>
            <tr>
                {#<td>Номер заказа</td>#}
                <td><input name="orderNumber" value="{{ order.id }}" type="text"/></td>
            </tr>
            <tr>
                {#<td>Телефон</td>#}
                <td><input name="cps_phone" value="{{ order.phone }}" type="text"/></td>
            </tr>
            <tr>
                {#<td>Email</td>#}
                <td><input name="cps_email" value="{{ order.email }}" type="text"/></td>
            </tr>
            <tr>
                <td><input name="product_type" value="fast" type="text"/></td>
            </tr>
        </table>

    </form>
</div>
<script>
    document.getElementById('fd').submit();
</script>