{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_payment_list') }}">Платежи</a> &raquo;
    <a href="#">Новый платеж</a>
{% endblock %}

{% block content %}
    <form method="POST">
        <table class="table-edit">
            <tr>
                <td class="label">Оператор:</td>
                <td class="value">
                    <select name="operator" id="operator">
                        {% for o in operators %}
                            <option value="{{ o.id }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">Кол-во пользователей:</td>
                <td class="value">
                    <input type="text" name="count" id="count" value="">
                </td>
            </tr>
            <tr>
                <td class="label">Сумма платежа:</td>
                <td class="value">
                    <input type="text" name="summ" id="summ" value="">
                </td>
            </tr>

            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="submit" value="Сохранить" class="btn saveForm">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <style>
        #operator-styler .jq-selectbox__select{
            width: 212px !important;
        }
        .table-edit{
            margin-left: 20px;
        }
        .table-edit tr td{
            padding: 10px 0;
        }
        .label{
            width: 250px;
        }
        #url{
            width: 358px;
        }
        #companyZipcode{
            width: 358px;
        }
        #companyName{
            width: 358px;
        }
        #companyCity{
            width: 358px;
        }
        #companyStreet{
            width: 215px;
        }
        #companyTypeRoom-styler .jq-selectbox__select{
            width: 122px !important;
        }
        #companyTypeRoom-styler{
            margin-top: -1px;
        }
        #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
            width: 272px !important;
        }
        #companyTypeRoom-styler .jq-selectbox__dropdown{
            width: 180px !important;
        }
        .jq-selectbox{
            padding: 5px 0;
        }
    </style>
{% endblock %}