{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_payment_list') }}">
        Список платежей
        {% if operator is not null %} {{ operator }} {% endif %}
    </a>
    <div class="right">
        <a href="{{ path('operator_payment_add') }}">Добавить</a>
    </div>
{% endblock %}

{% block content%}
    {% if payments is empty %}
        <h3 class="color-red">Платежи не найдены</h3>
    {% else %}
        <table class="lists">
            <tr>
                <th>Дата</th>
                {% if operator is null %}
                    <th>Оператор</th>
                {% endif %}
                <th>Кол-во ходатайств</th>
                <th>Сумма платежа</th>
                <th class="empty"></th>
                <th class="options">Действия</th>
            </tr>
            {% for payment in payments %}
                <tr>
                    <td><a href="{{ path('operator_payment_edit',{'paymentId' : payment.id}) }}">{{ payment.created | date("d.m.Y H:i:s") }}</a></td>
                    {% if operator is null and payment.operator is not null  %}
                        <td><a href="{{ path('operator_payment_list',{'operatorId' : payment.operator.id}) }}">{{ payment.operator }}</a></td>
                    {% endif %}
                    <td style="text-align: center">{{ payment.count  }}</td>
                    <td style="text-align: center">{{ payment.summ  }}</td>
                    <td></td>
                    <td class="options">
                        <a class="no-underline" href="{{ path('operator_payment_remove',{ 'paymentId' : payment.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image11.png') }}" class="icon"/></a>
                        <a class="no-underline" href="{{ path('operator_payment_edit',{ 'paymentId' : payment.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image22.png') }}" class="icon"/></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}