<html>
<head>
    {% block javascripts %}
        <script rel="script" src="{{ asset('bundles/crmmain/javascripts/jQuery.js') }}"></script>
        <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/crmmain/lib/styler/jquery.formstyler.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script>
            $(document).ready(function(){
                $('input, select').styler();
            });
        </script>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('bundles/crmmain/lib/styler/jquery.formstyler.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('bundles/crmoperator/stylesheets/common.css') }}" rel="stylesheet" media="all">
        <style>

        </style>
    {% endblock %}
</head>

<body>
<div class="header">
    <div class="header-content">
        ПАНЕЛЬ <span class="color-red">[ ОПЕРАТОРА ]</span>
        <div class="right-top-menu">
            {{ app.user }}
            <span class="nbsp-10">&nbsp;</span>
            <a href="{{ path('_security_logout') }}">Выйти</a>
        </div>
    </div>
</div>
<div class="main-content">

    {% if is_granted('ROLE_ADMIN') %}
    <div class="menu">
        <div class="menu-title">
            Навигация
        </div>
        <br />
        <ul class="menu-items">
            <li  class="menu-item">Компании</li>
            <li  class="menu-item">Пользователи</li>
            <li  class="menu-item">Статистика</li>
        </ul>
    </div>
    {% endif %}

    <div class="crosh">
        {% block crosh %}
        <a href="#">Главная</a> &raquo; <a href="#">Пользователи</a> &raquo; <a href="#">Список</a>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>