{% extends 'CrmMainBundle::layout.html.twig' %}

{% block title %}
    <title>Заказать карту водителя для тахографа с СКЗИ Online</title>
    <meta name="description" content="Заказать карту водителя для тахографа с СКЗИ Online">
    <meta name="keywords" content="Заказать карту водителя для тахографа с СКЗИ Online">
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <br style="clear: both"/>
        <table style="width:100%;" class="crosh-table">
            <tr>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">1</span>
                            <img src="{{ asset('bundles/crmmain/crosh/11.png') }}" style="width: 75px">
                            <br />Данные для<br />связи
                        </span>
                </td>
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">2</span>
                            <img src="{{ asset('bundles/crmmain/crosh/21.png') }}" style="width: 75px">
                            <br />Паспортные<br />данные
                        </span>
                </td>
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">3</span>
                            <img src="{{ asset('bundles/crmmain/crosh/31.png') }}" style="width: 75px">
                            <br />Вод.<br />удостоверение
                        </span>
                </td>
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">4</span>
                            <img src="{{ asset('bundles/crmmain/crosh/51.png') }}" style="width: 75px">
                            <br />Фото, Подпись
                        </span>
                </td>
                {% if url == null %}
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">5</span>
                            <img src="{{ asset('bundles/crmmain/crosh/61.png') }}" style="width: 75px">
                            <br />Информация о<br />доставке
                        </span>
                </td>
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                    <span class="step" data-type="ru">
                        <span class="stepn">6</span>
                        <img src="{{ asset('bundles/crmmain/crosh/7.png') }}" style="width: 50px">
                        <br /><br />Оплата
                    </span>
                </td>
                {% endif %}
            </tr>
        </table>
        <br style="clear: both"/>
    </div>
    <div class="box">
        <table>
            <tr  class="">
                <td colspan="3">
                    <div class="label" style="width: 100%; text-align: center; font-weight: bold">Информация о доставке и прошлой карте</div>
                </td>
            </tr>
            <form method="POST" action="{{ path('application-ru-step5') }}" id="main-form">

                <tr class="tehnolog-n">
                    <td class="label">Регион<span class="required">*</span>:</td>
                    <td class="value">
                        <input type="text" class="style" placeholder="Регион" autocomplete="off" data-kladr-type="region" name="region" id="region" value="{{ order.d_region is defined ? order.d_region : '' }}" required="required">
                    </td>
                </tr>
                <tr class="tehnolog-n">
                    <td class="label">Район:</td>
                    <td class="value">
                        <input type="text" class="style" placeholder="Район" autocomplete="off"  name="area" id="area" value="{{ order.d_area is defined ? order.d_area : '' }}">
                    </td>
                </tr>
                <tr class="tehnolog-n">
                    <td class="label">Город<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="city"    id="city"  autocomplete="off"   type="text" placeholder="Город" value="{{ order.d_city is defined ? order.d_city : '' }}"><br />
                    </td>
                </tr>
                <tr class="tehnolog-n">
                    <td class="label">Улица<span class="required">*</span>:</td>
                    <td class="value">
                        <select name="typeStreet" id="typeStreet">
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'ул' ? 'selected="selected"' : '' }} value="ул"     >Улица</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'д' ? 'selected="selected"' : '' }}  value="д"      >Дорога</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'проезд' ? 'selected="selected"' : '' }}  value="проезд"   >Проезд</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'туп' ? 'selected="selected"' : '' }}  value="туп"    >Тупик</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'ш' ? 'selected="selected"' : '' }}  value="ш"      >Шоссе</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'тр' ? 'selected="selected"' : '' }}  value="тр"     >Трасса</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'пер' ? 'selected="selected"' : '' }}  value="пер"    >Переулок</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'пл' ? 'selected="selected"' : '' }}  value="пл"     >Площадь</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'скв' ? 'selected="selected"' : '' }}  value="скв"    >Сквер</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'алл' ? 'selected="selected"' : '' }}  value="алл"    >Аллея</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'б-р' ? 'selected="selected"' : '' }}  value="б-р"      >Бульвар</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'пр' ? 'selected="selected"' : '' }}  value="пр"     >Просека</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'пр-т' ? 'selected="selected"' : '' }}  value="пр-т"    >Проспект</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == 'наб' ? 'selected="selected"' : '' }}  value="наб"    >Набережная</option>
                            <option {{ order.d_typeStreet is defined and order.d_typeStreet == '' ? 'selected="selected"' : '' }}  value=""        >Другое</option>
                        </select>
                </tr>
                <tr class="tehnolog-n">
                    <td class="label"></td>
                    <td class="value">
                        <input name="street"  id="street" autocomplete="off"  type="text" placeholder="Название улицы" value="{{ order.d_street is defined ? order.d_street : '' }}"><br />
                    </td>
                </tr>
                <tr class="tehnolog-n">
                    <td class="label">Номер здания<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="house"   id="house" autocomplete="off"   type="text" placeholder="Дом" class="little" value="{{ order.d_house is defined ? order.d_house : '' }}">
                        <input name="corp"    id="corp"  autocomplete="off"   type="text" placeholder="Корп"  class="little" value="{{ order.d_corp is defined ? order.d_corp : '' }}">
                        <input name="structure"    id="structure"  autocomplete="off"   type="text" placeholder="Строение"  class="little" value="{{ order.d_structure is defined ? order.d_structure : '' }}"><br />
                    </td>
                </tr>
                <tr class="tehnolog-n">
                    <td class="label">Квартира / офис:</td>
                    <td class="value">
                        <select name="typeRoom" id="typeRoom">
                            <option value="кв.">Квартира</option>
                            <option value="оф.">Офис</option>
                        </select>
                        <input name="room"  autocomplete="off"  id="room"  type="text" placeholder="Номер"  class="little"  value="{{ order.d_room is defined ? order.d_room : '' }}">
                    </td>
                </tr>
                <tr class="tehnolog-n">
                    <td class="label">Индекс<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="zipcode" id="zipcode" autocomplete="off" type="text" placeholder="Индекс"  value="{{ order.d_zipcode is defined ? order.d_zipcode : '' }}"><br />
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td class="label">Выбор типа карты</td>
                    <td>
                        <select name="typeCard" id="typeCard">
                            <option value="0">Выдача первой карты</option>
                            <option value="1">Замена карты</option>
                            <option value="2">Обновление карты</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="label">Номер старой карты</td>
                    <td>
                        <input name="oldNumber" id="oldNumber"  type="text" placeholder="Номер старой карты" value="{{ order.oldNumber is defined ? order.oldNumber : '' }}"><br />
                    </td>
                    <td></td>
                </tr>

                <tr><td colspan="2"><br /></td></tr>
                <tr>
                    <td style="text-align: right" colspan="2">
                        <span id="eulaText">Я принимаю <a href="{{ path('page',{'url' : 'eula'}) }}">условия обслуживания сайта im-kard.ru</a>&nbsp;&nbsp;&nbsp;<input type="checkbox" name="eula" id="eula"
                                                                                                                                                                       {{ order.success is defined ? 'checked="checked"' : '' }}></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        <i style="font-size: 14px; color: #CC3333">* Поля отмеченные звездочкой обязательны для заполнения</i>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="error-msg"></div>
                    </td>
                </tr>
            </form>
                <tr>
                    <td></td>
                    <td style="text-align: right">
                        <br />
                        <input type="button" value="Оформить заявку" class="btn" id="submit">
                    </td>
                </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/file.js') }}" type="text/javascript"></script>

    <script>
        $(document).ready(function(){

            $('input:text, select').styler();
            $("#zipcode").mask("999999");
            $.mask.definitions['h'] = "[DMP ]";
            $.mask.definitions['d'] = "[a-zA-Z0-9а-яА-Я ]";
            $('#oldNumber').mask("RUDddddddddddddd");


            $('#submit').click(function(){
                errorI = 1 ;
                error = '';
                if ( $('#region').val() == ''){
                    error += errorI+'. Поле Регион обязательно для заполнения<br />';
                    $('#region').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#city').val() == ''){
                    error += errorI+'. Поле Город обязательно для заполнения<br />';
                    $('#city').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#house').val() == ''){
                    error += errorI+'. Поле Дом обязательно для заполнения<br />';
                    $('#house').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#zipcode').val() == ''){
                    error += errorI+'. Поле Индекс обязательно для заполнения<br />';
                    $('#zipcode').css('borderColor', '#cc3333');
                    errorI++;
                }
                if (!$('#eula').prop("checked")){
                    error += 'для регистрации нужно принять условия обслуживания сайтом <br />';
                    $('#eulaText').css('color','#CC3333');
                    $('#eulaText a').css('color','#CC3333');
                }

                if (error === ''){
                    $('#main-form').submit();
                }else{
                    $('.error-msg').fadeIn();
                    $('.error-msg').html(error);
                }
            });


            $( '#region' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.region
            });

            $( '#area' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="region"]',
                type: $.kladr.type.area
            });

            $('#city' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="area"]',
                type: $.kladr.type.city
            });

            $('#street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="city"]',
                type: $.kladr.type.street,
                select: function(obj){
                    $('#typeStreet').val(obj.typeShort);
                    $('#typeStreet').trigger('refresh');
                }
            });
            $('#house' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="street"]',
                type: $.kladr.type.building,
                select: function(obj){
                    $('#zipcode').val(obj.zip);
                    var home = obj.name.split('к');
                    $('#house').val(home[0]);
                    if (home[1] != undefined){
                        $('#corp').val(home[1]);
                    }

                }
            });

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.css') }}" rel="stylesheet" media="all">
    <style>

        .label-text{
            margin-top: -15px;
        }
        .label{
            width: 200px;
            color: #003A68
        }
        form{
            margin: 0;
        }


        /* *************** */

        .right{
            text-align: right;
        }

        #typeStreet-styler, #typeCard-styler{
            width: 270px;
        }
        #typeRoom-styler{
            width: 180px;
            margin-top: -3px
        }
    </style>
{% endblock %}