{% extends url == null ? is_granted('ROLE_CLIENT') ? 'CrmAuthBundle::layout.html.twig' : 'CrmMainBundle::layout.html.twig' : 'CrmMainBundle::layout_mini.html.twig' %}

{% block title %}
    <title>Заказать карту водителя для тахографа с СКЗИ Online</title>
    <meta name="description" content="Заказать карту водителя для тахографа с СКЗИ Online">
    <meta name="keywords" content="Заказать карту водителя для тахографа с СКЗИ Online">
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <br style="clear: both"/>
        <table style="width:100%;" class="crosh-table">
            <tr>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">1</span>
                            <img src="{{ asset('bundles/crmmain/crosh/11.png') }}" style="width: 75px">
                            <br />Данные для<br />связи
                        </span>
                </td>
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">2</span>
                            <img src="{{ asset('bundles/crmmain/crosh/21.png') }}" style="width: 75px">
                            <br />Паспортные<br />данные
                        </span>
                </td>
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">3</span>
                            <img src="{{ asset('bundles/crmmain/crosh/31.png') }}" style="width: 75px">
                            <br />Вод.<br />удостоверение
                        </span>
                </td>
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">4</span>
                            <img src="{{ asset('bundles/crmmain/crosh/5.png') }}" style="width: 75px">
                            <br />Фото, Подпись
                        </span>
                </td>
                {% if url == null %}
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                        <span class="step" data-type="ru">
                            <span class="stepn">5</span>
                            <img src="{{ asset('bundles/crmmain/crosh/6.png') }}" style="width: 75px">
                            <br />Информация о<br />доставке
                        </span>
                </td>
                <td>
                    <img src="{{ asset('bundles/crmmain/crosh/right.png') }}" style="width: 15px">
                </td>
                <td>
                    <span class="step" data-type="ru">
                        <span class="stepn">6</span>
                        <img src="{{ asset('bundles/crmmain/crosh/7.png') }}" style="width: 50px">
                        <br /><br />Оплата
                    </span>
                </td>
                {% endif %}
            </tr>
        </table>
        <br style="clear: both"/>
    </div>
    <div class="box">
        <table>
            <form method="POST" action="{{ url == null ? path('application-ru-step3') : path('company-ru-step3',{'url':url})}}" id="main-form">
                <tr>
                    <td class="label">Кем выдано<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="driverPlace" id="driverPlace" type="text" placeholder="Кем выдано" required  value="{{ order.driverPlace is defined ? order.driverPlace : '' }}"  maxlength="33">
                    </td>
                    <td rowspan="3" style="width: 400px; vertical-align: top; padding-left: 10px">
                        {# Тут сама фото #}
                        <div class="file-container">
                            <input type="file" name="driverFile" id="driverFile" class="fileAjax" required="required" >
                            <progress class="progress" value="0" max="100" style="width: 270px"></progress>
                            <br />
                            <br />
                            <div class="fileDoc">
                                {% if order.driverFilePath is defined %}
                                    <img src="{{ path('get_image', {'type' : 'driver'}) }}" brightness="0" contrast="0">
                                {% else %}
                                    <img src="" brightness="0" contrast="0">
                                {% endif %}
                            </div>
                            <div class="navigateFile">
                                <div class="slider-box">
                                    <div id="slider-vertical-1" class="slider-vertical-contrast"></div>
                                    <img src="{{ asset('bundles/crmmain/icons/contrast-2.png') }}"  title="Контрастность">
                                </div>
                                <div class="slider-box">
                                    <div id="slider-vertical-2" class="slider-vertical-brightness"></div>
                                    <img src="{{ asset('bundles/crmmain/icons/brightness-2.png') }}" title="Яркость">
                                </div>
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" class="rotateLeft" title="Повернуть налево">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" class="rotateRight" title="Повернуть вправо">
                                <div style="display: inline-block">
                                    <span class="cropImage minibtn" title="Обрезать изображение">Обрезать</span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <input type="hidden"  name="x1">
                            <input type="hidden"  name="y1">
                            <input type="hidden"  name="x2">
                            <input type="hidden"  name="y2">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Номер удостоверения<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="driverNumber" id="driverNumber" type="text" placeholder="Номер удостоверения" value="{{ order.driverNumber is defined ? order.driverNumber : '' }}">
                    </td>
                </tr>
                <tr>
                    <td class="label">Дата выдачи<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="driverStarts" id="driverStarts" type="text" placeholder="Дата выдачи" class="date" value="{{ order.driverStarts is defined ? order.driverStarts : '' }}">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td  style="width: 400px; vertical-align: top; padding-left: 10px">
                        {# Тут сама фото #}
                        <div class="file-container">
                            <input type="file" name="driver2File" id="driver2File" class="fileAjax" required="required" >
                            <progress class="progress" value="0" max="100" style="width: 270px"></progress>
                            <br />
                            <br />
                            <div class="fileDoc">
                                {% if order.driver2FilePath is defined %}
                                    <img src="{{ path('get_image', {'type' : 'driver2'}) }}" brightness="0" contrast="0">
                                {% else %}
                                    <img src="" brightness="0" contrast="0">
                                {% endif %}
                            </div>
                            <div class="navigateFile">
                                <div class="slider-box">
                                    <div id="slider-vertical-1" class="slider-vertical-contrast"></div>
                                    <img src="{{ asset('bundles/crmmain/icons/contrast-2.png') }}"  title="Контрастность">
                                </div>
                                <div class="slider-box">
                                    <div id="slider-vertical-2" class="slider-vertical-brightness"></div>
                                    <img src="{{ asset('bundles/crmmain/icons/brightness-2.png') }}" title="Яркость">
                                </div>
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" class="rotateLeft" title="Повернуть налево">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" class="rotateRight" title="Повернуть вправо">
                                <div style="display: inline-block">
                                    <span class="cropImage minibtn" title="Обрезать изображение">Обрезать</span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <input type="hidden"  name="x1">
                            <input type="hidden"  name="y1">
                            <input type="hidden"  name="x2">
                            <input type="hidden"  name="y2">
                        </div>
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td></td>
                </tr>
            </form>
            <tr><td colspan="2">
                    <br />
                    <i style="font-size: 14px; color: #CC3333">* Поля отмеченные звездочкой обязательны для заполнения</i>
                    <br />
                </td></tr>
            <tr>
                <td colspan="3">
                    <div class="error-msg"></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="button" value="Далее" class="btn" id="submit">
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    {#<script src="{{ asset('bundles/crmmain/lib/odyniec/jquery.imgareaselect.min.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/tapmodo-Jcrop/js/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/file.js') }}" type="text/javascript"></script>


    <script>



        $(document).ready(function(){

            $('input:text, select').styler();
//            $(".date").mask("99.99.9999");
            $(".code").mask("999-999");
            $("#zipcode").mask("999999");
            {% if citizenship == 1 %}
                $.mask.definitions['d'] = "[a-zA-Z0-9а-яА-Я]";
                $('#driverNumber').mask("dddd999999");
            {% endif %}

            $('#tehnolog').change(function(){
                if($('#tehnolog').prop("checked")){
                    $('#tehnolog-filebox').css('display','none');
                    $('.tehnolog-n').css('display','none');
                }else{
                    $('#tehnolog-filebox').css('display','block');
                    $('.tehnolog-n').css('display','table-row');
                    $('input:text, select').styler();
                }
            });

            $('#submit').click(function(){
                errorI = 1 ;
                error = '';


                if ( $('#driverPlace').val() == ''){
                    error += errorI+'. Поле Кем выдано обязательно для заполнения<br />';
                    $('#driverPlace').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverNumber').val() == ''){
                    error += errorI+'. Поле номер удостоверения обязательно для заполнения<br />';
                    $('#driverNumber').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverStarts').val() == ''){
                    error += errorI+'. Поле дата выдачи обязательно для заполнения<br />';
                    $('#driverStarts').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverFile').val() == '' && $('.fileDoc').children('img').attr('src') == ''){
                    error += errorI+'. Загрузите пожалуйста скан водительского удостоверения<br />';
                    $('#driverFile').css('borderColor', '#cc3333');
                    errorI++;
                }

                if ($('#tehnolog').prop("checked") == false){
                    if ( $('#region').val() == ''){
                        error += errorI+'. Поле Регион обязательно для заполнения<br />';
                        $('#region').css('borderColor', '#cc3333');
                        errorI++;
                    }
                    if ( $('#city').val() == ''){
                        error += errorI+'. Поле Город обязательно для заполнения<br />';
                        $('#city').css('borderColor', '#cc3333');
                        errorI++;
                    }
                    if ( $('#house').val() == ''){
                        error += errorI+'. Поле Дом обязательно для заполнения<br />';
                        $('#house').css('borderColor', '#cc3333');
                        errorI++;
                    }
                    if ( $('#zipcode').val() == ''){
                        error += errorI+'. Поле Индекс обязательно для заполнения<br />';
                        $('#zipcode').css('borderColor', '#cc3333');
                        errorI++;
                    }
                    if ( $('#petitionFile').val() == '' && $('.fileDoc').children('img').attr('src') == ''){
                        error += errorI+'. Загрузите пожалуйста скан ходатайства<br />';
                        $('#petitionFile').css('borderColor', '#cc3333');
                        errorI++;
                    }
                }

                if (error === ''){
                    $('#main-form').submit();
                }else{
                    $('.error-msg').fadeIn();
                    $('.error-msg').html(error);
                }
            });


            $( '#region' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.region
            });
            $( '#area' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="region"]',
                type: $.kladr.type.district
            });
            $('#city' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="area"]',
                type: $.kladr.type.city
            });

            $('#street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="city"]',
                type: $.kladr.type.street,
                select: function(obj){
                    $('#typeStreet').val(obj.typeShort);
                    $('#typeStreet').trigger('refresh');
                }
            });
            $('#house' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="street"]',
                type: $.kladr.type.building,
                select: function(obj){
                    $('#zipcode').val(obj.zip);
                    var home = obj.name.split('к');
                    $('#house').val(home[0]);
                    if (home[1] != undefined){
                        $('#corp').val(home[1]);
                    }

                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" media="all">
    {#<link href="{{ asset('bundles/crmmain/lib/odyniec/distfiles/css/imgareaselect-default.css') }}" rel="stylesheet" media="all">#}
    <link href="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/tapmodo-Jcrop/css/jquery.Jcrop.min.css') }}" rel="stylesheet" media="all">
    <style>

        .label-text{
            margin-top: -15px;
        }
        .label{
            width: 165px;
            color: #003A68
        }
        form{
            margin: 0;
        }


        /* *************** */

        #typeStreet-styler{
            width: 120px;
        }
        #file img{
            width: 415px;
            max-height: 500px;
        }


        .right{
            text-align: right;
        }
        .tehnolog-n{
            display: none;
        }
    </style>
{% endblock %}
