{% extends 'CrmAuthBundle::layout.html.twig'  %}

{% block content %}
    <div class="box">
        <h2>Изменение заявления заявки {{ user.id }}</h2>
        <br/>
            1. Распечатайте Заяление <a href="{{ path('generate_pdf_statement',{'id' : user.id}) }}" target="_blank" class="btn">Печать Заявления</a>
            <br />
            <br />
            2. Поставьте подпись и отсканируйте Заявление
            <br />
            <br />
            3. Загрузите Заявление на сайт
            <br/>
            <form class="form" method="post" enctype="multipart/form-data" action="{{ path('auth_add_order',{'id' : user.id }) }}">
                <br />
                <br />
                <div class="form-group">
                    <label class="col-sm-4">Страница 1 (JPG)</label>
                    <div class="col-sm-6">
                        <div class="file-container">
                            <input type="file" name="copyOrderFile" id="copyOrderFile" class="fileAjax" >
                            <progress class="progress" value="0" max="100" style="width: 270px"></progress>
                            <br />
                            <br />
                            <div class="fileDoc">
                                {% if user.copyOrder.path is defined %}
                                    <img src="/{{ user.copyOrder.path }}" brightness="0" contrast="0">
                                {% else %}
                                    <img src="" brightness="0" contrast="0">
                                {% endif %}
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" class="rotateLeft" title="Повернуть налево">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" class="rotateRight" title="Повернуть вправо">
                                <div style="">
                                    <span class="cropImage minibtn" title="Обрезать изображение">Обрезать</span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <input type="hidden" id="x1" name="x1">
                            <input type="hidden" id="y1" name="y1">
                            <input type="hidden" id="x2" name="x2">
                            <input type="hidden" id="y2" name="y2">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Страница 2 (JPG)</label>
                    <div class="col-sm-6">
                        <div class="file-container">
                            <input type="file" name="copyOrder2File" id="copyOrder2File" class="fileAjax" >
                            <progress class="progress" value="0" max="100" style="width: 270px"></progress>
                            <br />
                            <br />
                            <div class="fileDoc">
                                {% if user.copyOrder2.path is defined %}
                                    <img src="/{{ user.copyOrder2.path }}" brightness="0" contrast="0">
                                {% else %}
                                    <img src="" brightness="0" contrast="0">
                                {% endif %}
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" class="rotateLeft" title="Повернуть налево">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" class="rotateRight" title="Повернуть вправо">
                                <div style="">
                                    <span class="cropImage minibtn" title="Обрезать изображение">Обрезать</span>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <input type="hidden" id="x1" name="x1">
                            <input type="hidden" id="y1" name="y1">
                            <input type="hidden" id="x2" name="x2">
                            <input type="hidden" id="y2" name="y2">
                        </div>
                    </div>
                </div>

                <button class="btn" type="submit">Загрузить Заявление</button>
            </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/tapmodo-Jcrop/css/jquery.Jcrop.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.min.css') }}" rel="stylesheet" media="all">
    <style>


        .block-form{
            margin: 0 auto;
        }
        select{
            width: 220px;
        }
        #crm_mainbundle_user_orderType-styler .jq-selectbox__select-text{
            width: 214px !important;
        }
        .master{
            display: none;
        }
        .mini{
            font-size: 12px;
            color: #555555;
        }
        .zipcode{
            width: 175px !important;
        }
        .date_day{
            width: 70px;
        }
        .date_month{
            width: 100px;
        }
        .date_year{
            width: 100px;
        }
        .typeCardFileRow, .typeCardFile, .citizenship, .petition, .petition-td{
            display: none;
        }
        #crm_mainbundle_user_passportSerial{
            width: 105px;
        }
        #crm_mainbundle_user_passportNumber{
            width: 160px;
        }
        .jq-selectbox__select-text{
            font-size: 13px;
        }
        label.required{
            color: inherit !important;
        }
        select{
            margin: 10px 0;
        }
        #crm_mainbundle_user_passportSerial{
            width: 75px !important;
            display: inline-block;
        }
        #crm_mainbundle_user_passportNumber{
            width: 165px !important;
            display: inline-block;
        }
        .delivery{
            /*display: none;*/
        }
        h3{
            margin: 10px 0;
        }
        .btn{
            padding: 8px 10px;
            display: inline-block;
            border-radius: 5px;
            background: #000;
            color: #FFF;
            margin-bottom: 10px;
            border: 0;
        }
        .btn:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-bottom: 0;

        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/tapmodo-Jcrop/js/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmauth/javascripts/file.js') }}" type="text/javascript"></script>
    <script>

        $(document).ready(function(){

            $('#crm_mainbundle_user_typeCard').change(function(){
                if ($(this).val()!= 0 && $(this).val()!= 1){
                    $('.typeCardFile').css('display','table-cell');
                    $('.typeCardFileRow').css('display','table-row');
                }else{
                    if($(this).val()  == 1){
                        $('.typeCardFile').css('display','none');
                        $('.typeCardFileRow').css('display','table-row');
                    }else{
                        $('.typeCardFile').css('display','none');
                        $('.typeCardFileRow').css('display','none');
                    }
                }
            });

            $('#crm_mainbundle_user_citizenship').change(function(){
                if ($(this).val()!= 0){
                    $('.citizenship').css('display','table-cell')
                }else{
                    $('.citizenship').css('display','none')
                }
            });

            $('#crm_mainbundle_user_myPetition').change(function(){
                if ($(this).val()!= 1){
                    $('.petition').css('display','table-row');
                    $('.petition-td').css('display','table-cell');
                }else{
                    $('.petition').css('display','none');
                    $('.petition-td').css('display','none');
                }
            });

            $('#delivery').change(function(){
                if ($(this).val()!= 0){
                    $('.delivery').css('display','table-row');
                    $('.delivery-td').css('display','table-cell');
                }else{
                    $('.delivery').css('display','none');
                    $('.delivery-td').css('display','none');
                }
            });

            $('#crm_mainbundle_user_citizenship').change(function(){
                if ($(this).val()!= 0){
                    $('.citizenship').css('display','table-cell')
                }else{
                    $('.citizenship').css('display','none')
                }
            });

            $( '#crm_mainbundle_user_deliveryAdrs_region' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.region,
                select: function(obj){
                    $('#crm_mainbundle_user_deliveryAdrs_region').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_user_deliveryAdrs_region').trigger('refresh');
                }
            });

            $( '#crm_mainbundle_user_deliveryAdrs_area' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[deliveryAdrs][region]"]',
                type: $.kladr.type.district,
                select: function(obj){
                    $('#crm_mainbundle_user_deliveryAdrs_area').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_user_deliveryAdrs_area').trigger('refresh');
                }
            });

            $('#crm_mainbundle_user_deliveryAdrs_city' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[deliveryAdrs][area]"]',
                type: $.kladr.type.city,
                select: function(obj){
                    $('#crm_mainbundle_user_deliveryAdrs_city').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_user_deliveryAdrs_city').trigger('refresh');
                }
            });

            $('#crm_mainbundle_user_deliveryAdrs_street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[deliveryAdrs][city]"]',
                type: $.kladr.type.street,
                select: function(obj){
                    $('#crm_mainbundle_user_deliveryAdrs_street').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_user_deliveryAdrs_street').trigger('refresh');
                }
            });
            $('#crm_mainbundle_user_deliveryAdrs_house' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[deliveryAdrs][street]"]',
                type: $.kladr.type.building,
                select: function(obj){
                    $('#crm_mainbundle_user_deliveryAdrs_zipcode').val(obj.zip);
                    var home = obj.name.split('к');
                    $('#crm_mainbundle_user_deliveryAdrs_house').val(home[0]);
                    if (home[1] != undefined){
                        $('#crm_mainbundle_user_deliveryAdrs_corp').val(home[1]);
                    }

                }
            });

            /////////////////////////////////////////////

            $( '#crm_mainbundle_user_petitionAdrs_region' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.region,
                select: function(obj){
                    $('#crm_mainbundle_user_petitionAdrs_region').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_user_petitionAdrs_region').trigger('refresh');
                }
            });

            $( '#crm_mainbundle_user_petitionAdrs_area' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[petitionAdrs][region]"]',
                type: $.kladr.type.district,
                select: function(obj){
                    $('#crm_mainbundle_user_petitionAdrs_area').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_user_petitionAdrs_area').trigger('refresh');
                }
            });

            $('#crm_mainbundle_user_petitionAdrs_city' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[petitionAdrs][area]"]',
                type: $.kladr.type.city,
                select: function(obj){
                    $('#crm_mainbundle_user_petitionAdrs_city').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_user_petitionAdrs_city').trigger('refresh');
                }
            });

            $('#crm_mainbundle_user_petitionAdrs_street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[petitionAdrs][city]"]',
                type: $.kladr.type.street,
                select: function(obj){
                    $('#crm_mainbundle_user_petitionAdrs_street').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_user_petitionAdrs_street').trigger('refresh');
                }
            });
            $('#crm_mainbundle_user_petitionAdrs_house' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[petitionAdrs][street]"]',
                type: $.kladr.type.building,
                select: function(obj){
                    $('#crm_mainbundle_user_petitionAdrs_zipcode').val(obj.zip);
                    var home = obj.name.split('к');
                    $('#crm_mainbundle_user_petitionAdrs_house').val(home[0]);
                    if (home[1] != undefined){
                        $('#crm_mainbundle_user_petitionAdrs_corp').val(home[1]);
                    }

                }
            });

            $('input:text,.date_day,.date_month,.date_year').styler();
//            $('#crm_mainbundle_user_typeCard').chosen({disable_search_threshold: 10,width: 270,placeholder_text_single: 'Выберите из списка'});
//            $('#crm_mainbundle_user_driverDocCountry').chosen({disable_search_threshold: 10,width: 270,placeholder_text_single: 'Выберите из списка'});
            $(".zipcode").mask("999999");
            $(".phone").mask("+7 (999) 999-9999");
            $(".code").mask("999-999");
            $(".snils").mask("999-999-999 99");
            $.mask.definitions['d'] = "[a-zA-Z0-9а-яА-Я]";
            $('.driverNumber').mask("dddd9999?99");

            $('.oldCardNumber').mask("RUDddddddddddddd");

            $('.cardType').change(function(){
                $('input, select').trigger('refresh');
                if ($('.cardType').val() == 1){
                    $('.master').css('display','table-row');
                }else{
                    $('.master').css('display','none');
                }
            });


            {% if form.vars.value.myPetition is defined and form.vars.value.myPetition != 0 %}
            $('.petition').css('display','table-row');
            $('.petition-td').css('display','table-cell');
            {% endif %}
        });
    </script>
{% endblock %}
