{% extends 'CrmAuthBundle::layout.html.twig'  %}

{% block content %}
    <div class="box">
        <h2>Заявка создана, Номер заказа {{ user.id }}</h2>
        <br/>
        <br/>
        <br/>
        <br />

        <br/>
        <a href="{{ path('generate_payment_company_pdf') }}?ord={{ user.id }}" target="_blank" class="btn">"Платежное поручение"</a><br/>
        Стоимость составит {{ user.price }} рублей ( НДС не облагается ).
        <br/>
        <br/>
        <i>Скорость поступления денежных средств влияет на время отправки вашей заявки на производство. <br />
            {% if url is defined and url == null %}
            В случае возникновения вопросов обращайтесь в <a href="{{ path('faq') }}" target="_blank" style="color: #e8313e; border-bottom: 1px dashed #e8313e;">службу поддержки.</a></i>
        {% endif %}
        {% if is_granted('ROLE_CLIENT') %}
            <br/><br /><br />
            <a href="{{ path('auth_order')  }}" class="btn">Перейти в заказы</a>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h3{
            margin: 10px 0;
        }
        .btn{
            padding: 8px 10px;
            display: inline-block;
            border-radius: 5px;
            background: #000;
            color: #FFF;
            margin-bottom: 10px;
            border: 0;
        }
        .btn:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-bottom: 0;

        }
    </style>

{% endblock %}