{% extends 'CrmAuthBundle::layout.html.twig' %}
{#{% extends is_granted('ROLE_CLIENT') ? 'CrmAuthBundle::layout.html.twig' : 'CrmMainBundle::layout.html.twig'  %}#}

{% block title %}
    <title>Заказать карту предприятия тахографа с СКЗИ, РФ. ЕСТР Online</title>
    <meta name="description" content="Быстро и удобно заказать карту предприятия для тахографов">
    <meta name="keywords" content="Заказать карту водителя, тахографы, СКЗИ, ЕСТР, РФ, онлайн продажа карт для тахографа">
{% endblock %}

{% block content %}
    <h1 style="text-align: center" class="text-primary">Заказ карты мастеркой и предприятия</h1>

    <form method="POST"  enctype="multipart/form-data">
        <div class="block-form">
            {{ form_errors(form) }}

            <table class="table-form">
                <tr>
                    <td>Тип карты<span class="required">*</span></td>
                    <td>
                        {{ form_widget(form.companyType) }}
                    </td>
                </tr>
                <tr>
                    <td>Email<span class="required">*</span></td>
                    <td>{{ form_widget(form.username) }}</td>
                    <td>Заявление <span class="mini">(форматы файла: PDF,JPG,PNG)</span></td>
                </tr>
                <tr>
                    <td>Телефон<span class="required">*</span></td>
                    <td>{{ form_widget(form.phone) }}</td>
                    <td>
                        {{ form_widget(form.fileOrder) }}
                    </td>
                </tr>
                <tr>
                    <td>Тип заявления<span class="required">*</span></td>
                    <td>
                        {{ form_widget(form.orderType) }}
                    </td>
                    <td>Заявление <span class="mini">(лист 2)</span></td>
                </tr>
                <tr>
                    <td>Количество карт<span class="required">*</span></td>
                    <td>{{ form_widget(form.cardAmount) }}</td>
                    <td>
                        {{ form_widget(form.fileOrderTwo) }}
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form" >
            <table class="table-form">
                <caption>Информация о предприятии</caption>
                <tr>
                    <td>Полное наименование организации<span class="required">*</span></td>
                    <td>{{ form_widget(form.companyFullTitle) }}</td>
                </tr>
                <tr>
                    <td>Сокращенное наименование организации<span class="required">*</span></td>
                    <td>{{ form_widget(form.companyTitle) }}</td>
                </tr>
                <tr>
                    <td>В лице<span class="required">*</span></td>
                    <td>{{ form_widget(form.companyExecutive) }}</td>
                    <td>Копия ИНН <span class="mini">(форматы файла: PDF,JPG,PNG)</span></td>
                </tr>
                <tr>
                    <td>ИНН<span class="required">*</span></td>
                    <td>
                        {{ form_widget(form.companyInn) }}
                    </td>
                    <td>
                        {{ form_widget(form.fileInn) }}
                    </td>
                </tr>
                <tr>
                    <td>КПП<span class="required">*</span></td>
                    <td>{{ form_widget(form.companyKpp) }}</td>
                    <td>Копия ОГРН <span class="mini">(форматы файла: PDF,JPG,PNG)</span></td>
                </tr>
                <tr>
                    <td>ОГРН<span class="required">*</span></td>
                    <td>{{ form_widget(form.companyOgrn) }}</td>
                    <td>
                        {{ form_widget(form.fileOgrn) }}
                    </td>
                </tr>
                <tr>
                    <td>Номер клейма <span class="mini">(Для мастерских)</span></td>
                    <td>{{ form_widget(form.stampNumber) }}</td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form" >
            <table class="table-form">
                <caption>Юридический адрес</caption>
                <tr>
                    <td>Регион<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.region) }}
                    </td>
                    <td />
                </tr>
                <tr>
                    <td>Район:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.area) }}
                    </td>
                </tr>
                <tr>
                    <td>Город:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.city) }}
                    </td>
                </tr>
                <tr>
                    <td>Улица:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.street) }}
                    </td>
                </tr>
                <tr>
                    <td>Номер здания<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.house) }}
                        {{ form_widget(form.legalAdrs.corp) }}
                        {{ form_widget(form.legalAdrs.structure) }}
                    </td>
                </tr>
                <tr>
                    <td>Кв./оф.</td>
                    <td class="value">
                        <input type="hidden" name="legal[typeRoom]" id="legal-typeRoom" value="кв.">
                        {{ form_widget(form.legalAdrs.room) }}
                    </td>
                </tr>
                <tr>
                    <td>Индекс<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.zipcode) }}
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form" >
            <table class="table-form">
                <caption>Почтовый адрес</caption>
                <tr>
                    <td>Регион<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.region) }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Район:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.area) }}
                    </td>
                </tr>
                <tr>
                    <td>Город:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.city) }}
                    </td>
                </tr>
                <tr>
                    <td>Улица:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.street) }}
                    </td>
                </tr>
                <tr>
                    <td>Номер здания<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.house) }}
                        {{ form_widget(form.mailingAdrs.corp) }}
                        {{ form_widget(form.mailingAdrs.structure) }}
                    </td>
                </tr>
                <tr>
                    <td>Кв./оф.</td>
                    <td class="value">
                        <input type="hidden" name="mailing[typeRoom]" id="mailing-typeRoom" value="кв.">
                        {{ form_widget(form.mailingAdrs.room) }}
                    </td>
                </tr>
                <tr>
                    <td>Индекс<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.zipcode) }}
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form">
            <table class="table-form">
                <caption>Данные о руководителе</caption>
                <tr>
                    <td>Фамилия<span class="required">*</span></td>
                    <td>{{ form_widget(form.lastName) }}</td>
                </tr>
                <tr>
                    <td>Имя<span class="required">*</span></td>
                    <td>{{ form_widget(form.firstName) }}</td>
                </tr>
                <tr>
                    <td>Отчество<span class="required">*</span></td>
                    <td>{{ form_widget(form.surName) }}</td>
                </tr>
                <tr>
                    <td>Должность<span class="required">*</span></td>
                    <td>{{ form_widget(form.post) }}</td>
                    <td>Приказ <span class="mini">(форматы файла: PDF,JPG,PNG)</span></td>
                </tr>
                <tr>
                    <td>Действующего на основании<span class="required">*</span></td>
                    <td>{{ form_widget(form.documentAccess) }}</td>
                    <td>
                        {{ form_widget(form.fileDecree) }}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form">
            <table class="table-form">
                <caption>Данные о лицензии ФСБ (для мастерских)</caption>
                <tr>
                    <td>Номер</td>
                    <td>{{ form_widget(form.licenseNumber) }}</td>
                    <td>
                        Лицензия ФСБ <span class="mini">(форматы файла: PDF,JPG,PNG)</span>
                    </td>
                </tr>
                <tr>
                    <td>Кем выдана</td>
                    <td>{{ form_widget(form.licenseIssued) }}</td>
                    <td>
                        {{ form_widget(form.fileLicense) }}
                    </td>
                </tr>
                <tr>
                    <td>Дата выдачи</td>
                    <td>{{ form_widget(form.licenseDateStart) }}</td>
                </tr>
                <tr>
                    <td>Дата окончания</td>
                    <td>{{ form_widget(form.licenseDateEnd) }}</td>
                </tr>
                <tr>
                    <td>Номер приказа</td>
                    <td>{{ form_widget(form.licenseDecreeNumber) }}</td>
                </tr>
                <tr>
                    <td>Дата приказа</td>
                    <td>{{ form_widget(form.licenseDecreeDate) }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 10px">Подпись<span class="required">*</span></td>
                    <td>
                        <div class="file-container">
                            <input type="file" name="signFile" id="signFile" class="fileAjax"  required="required">
                            <progress class="progress" value="0" max="100" style="width: 270px"></progress>
                            <br />
                            <br />
                            <div class="fileDoc" style="text-align: left">
                                {% if order.signFilePath is defined %}
                                    <img src="{{ path('get_image', {'type' : 'sign'}) }}" brightness="0" contrast="0">
                                {% else %}
                                    <img src="" brightness="0" contrast="0">
                                {% endif %}
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" class="rotateLeft" title="Повернуть налево">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" class="rotateRight" title="Повернуть вправо">
                                <div style="">
                                    <span class="cropImage minibtn" title="Обрезать изображение">Обрезать</span>
                                    <br />
                                    <br />
                                </div>

                            </div>
                            <input type="hidden" id="x1" name="x1">
                            <input type="hidden" id="y1" name="y1">
                            <input type="hidden" id="x2" name="x2">
                            <input type="hidden" id="y2" name="y2">
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" style="text-align: left">
                        <input type="checkbox" required="required"> Я согласен с <a href="#" target="_blank">пользовательским соглашением сервиса</a><span class="required">*</span> <br />
                        <input type="checkbox" required="required"> Я подтверждаю правильность введенных данных<span class="required">*</span>
                    </td>
                </tr>
                {{ form_row(form._token) }}
                <tr>
                    <td></td>
                    <td>
                        <br />
                        <input type="submit" value="Подтвердить и перейти на страницу оплаты" class="btn btn-primary" id="submit">
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/tapmodo-Jcrop/css/jquery.Jcrop.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.min.css') }}" rel="stylesheet" media="all">
    <style>


        .block-form{
            margin: 0 auto;
        }
        select{
            width: 220px;
        }
        #crm_mainbundle_user_orderType-styler .jq-selectbox__select-text{
            width: 214px !important;
        }
        .master{
            display: none;
        }
        .mini{
            font-size: 12px;
            color: #555555;
        }
        .zipcode{
            width: 175px !important;
        }
        .date_day{
            width: 70px;
        }
        .date_month{
            width: 100px;
        }
        .date_year{
            width: 100px;
        }
        .typeCardFile, .citizenship, .petition, .petition-td{
            display: none;
        }
        #crm_mainbundle_user_passportSerial{
            width: 105px;
        }
        #crm_mainbundle_user_passportNumber{
            width: 160px;
        }
        .jq-selectbox__select-text{
            font-size: 13px;
        }
        label.required{
            color: inherit !important;
        }
        select{
            margin: 10px 0;
        }
        .jcrop-holder{
            margin: 0 !important;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/tapmodo-Jcrop/js/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmauth/javascripts/file.js') }}" type="text/javascript"></script>
    <script>

        $(document).ready(function(){

            $('#crm_mainbundle_user_typeCard').change(function(){
                if ($(this).val()!= 0){
                    $('.typeCardFile').css('display','table-cell');
                    $('.typeCardFileRow').css('display','table-row');
                }else{
                    $('.typeCardFile').css('display','none');
                    $('.typeCardFileRow').css('display','none');
                }
            });

            $('#crm_mainbundle_user_citizenship').change(function(){
                if ($(this).val()!= 0){
                    $('.citizenship').css('display','table-cell')
                }else{
                    $('.citizenship').css('display','none')
                }
            });

            $('#crm_mainbundle_user_myPetition').change(function(){
                if ($(this).val()!= 0){
                    $('.petition').css('display','table-row');
                    $('.petition-td').css('display','table-cell');
                }else{
                    $('.petition').css('display','none');
                    $('.petition-td').css('display','none');
                }
            });


            $('#crm_mainbundle_user_citizenship').change(function(){
                if ($(this).val()!= 0){
                    $('.citizenship').css('display','table-cell')
                }else{
                    $('.citizenship').css('display','none')
                }
            });

            $( '#crm_mainbundle_companyuser_mailingAdrs_region' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.region,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_region').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_mailingAdrs_region').trigger('refresh');
                }
            });

            $( '#crm_mainbundle_companyuser_mailingAdrs_area' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[mailingAdrs][region]"]',
                type: $.kladr.type.district,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_area').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_mailingAdrs_area').trigger('refresh');
                }
            });

            $('#crm_mainbundle_companyuser_mailingAdrs_city' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[mailingAdrs][area]"]',
                type: $.kladr.type.city,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_city').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_mailingAdrs_city').trigger('refresh');
                }
            });

            $('#crm_mainbundle_companyuser_mailingAdrs_street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[mailingAdrs][city]"]',
                type: $.kladr.type.street,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_street').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_mailingAdrs_street').trigger('refresh');
                }
            });
            $('#crm_mainbundle_companyuser_mailingAdrs_house' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[mailingAdrs][street]"]',
                type: $.kladr.type.building,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_zipcode').val(obj.zip);
                    var home = obj.name.split('к');
                    $('#crm_mainbundle_companyuser_mailingAdrs_house').val(home[0]);
                    if (home[1] != undefined){
                        $('#crm_mainbundle_companyuser_mailingAdrs_corp').val(home[1]);
                    }

                }
            });

            ////////////////////////////////////////////

            $( '#crm_mainbundle_companyuser_legalAdrs_region' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.region,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_region').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_legalAdrs_region').trigger('refresh');
                }
            });

            $( '#crm_mainbundle_companyuser_legalAdrs_area' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[legalAdrs][region]"]',
                type: $.kladr.type.district,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_area').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_legalAdrs_area').trigger('refresh');
                }
            });

            $('#crm_mainbundle_companyuser_legalAdrs_city' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[legalAdrs][area]"]',
                type: $.kladr.type.city,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_city').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_legalAdrs_city').trigger('refresh');
                }
            });

            $('#crm_mainbundle_companyuser_legalAdrs_street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[legalAdrs][city]"]',
                type: $.kladr.type.street,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_street').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_legalAdrs_street').trigger('refresh');
                }
            });
            $('#crm_mainbundle_companyuser_legalAdrs_house' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_user[legalAdrs][street]"]',
                type: $.kladr.type.building,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_zipcode').val(obj.zip);
                    var home = obj.name.split('к');
                    $('#crm_mainbundle_companyuser_legalAdrs_house').val(home[0]);
                    if (home[1] != undefined){
                        $('#crm_mainbundle_companyuser_legalAdrs_corp').val(home[1]);
                    }

                }
            });

            $('input:text,.date_day,.date_month,.date_year').styler();
//            $('#crm_mainbundle_user_typeCard').chosen({disable_search_threshold: 10,width: 270,placeholder_text_single: 'Выберите из списка'});
//            $('#crm_mainbundle_user_driverDocCountry').chosen({disable_search_threshold: 10,width: 270,placeholder_text_single: 'Выберите из списка'});
            $(".zipcode").mask("999999");
            $(".phone").mask("+7 (999) 999-9999");
            $(".code").mask("999-999");
            $(".snils").mask("999-999-999 99");
            $.mask.definitions['d'] = "[a-zA-Z0-9а-яА-Я]";
            $('.driverNumber').mask("dddd999999");

            $('.cardType').change(function(){
                $('input, select').trigger('refresh');
                if ($('.cardType').val() == 1){
                    $('.master').css('display','table-row');
                }else{
                    $('.master').css('display','none');
                }
            })
        });
    </script>
{% endblock %}
