{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_company_list') }}">Список компаний</a> &raquo;
    <a href="#">Добавление новой компании</a>
{% endblock %}

{% block content %}
    <form method="POST">
        <table>
            <tr>
                <td class="label">Название организации<span class="required">*</span>:</td>
                <td class="value">
                    <input name="companyName" id="companyName" type="text" value="" placeholder="Название">
                </td>
            </tr>
            <tr>
                <td class="label">Адрес организации<span class="required">*</span>:</td>
                <td class="value">
                    <input name="companyZipcode" id="companyZipcode"  type="text" placeholder="Индекс" value=""><br />
                    <select name="companyRegion" id="companyRegion">
                        {% for region in regions %}
                                <option value="{{ region.id }}" selected="selected">{{ region.title }}</option>
                        {% endfor %}
                    </select><br />
                    <input name="companyCity"    id="companyCity"     type="text" placeholder="Город" value=""><br />

                    <select name="companyTypeStreet" id="companyTypeStreet">
                        <option value="ул."    >Улица</option>
                        <option value="д."    >Дорога</option>
                        <option value="пр-д."   >Проезд</option>
                        <option value="туп."   >Тупик</option>
                        <option value="ш."   >Шоссе</option>
                        <option value="тр."   >Трасса</option>
                        <option value="пер."   >Переулок</option>
                        <option value="пл."   >Площадь</option>
                        <option value="скв."   >Сквер</option>
                        <option value="алл."   >Аллея</option>
                        <option value="б."   >Бульвар</option>
                        <option value="пр."   >Просека</option>
                        <option value="пр-т"   >Проспект</option>
                        <option value="наб."   >Набережная</option>
                        <option value=""      >Другое</option>
                    </select>
                    <input name="companyStreet"  id="companyStreet"   type="text" placeholder="Название улицы" value=""><br />

                    <input name="companyHouse"   id="companyHouse"    type="text" placeholder="Дом" class="little" value="">
                    <input name="companyCorp"    id="companyCorp"     type="text" placeholder="Корп"  class="little" value="">
                    <input name="companyStructure"    id="companyStructure"     type="text" placeholder="Строение"  class="little" value=""><br />

                    <select name="companyTypeRoom" id="companyTypeRoom">
                        <option value="кв." >Квартира</option>
                        <option value="оф." >Офис</option>
                    </select>
                    <input name="companyRoom"    id="companyRoom"  type="text" placeholder="Номер"  class="little" value="">
                </td>
            </tr>

            <tr>
                <td class="label">Логотип организации:</td>
                <td class="value">
                    <input  type="file" name="logo"> <br />
                </td>
            </tr>


            <tr>
                <td class="label">Форма собственности:</td>
                <td class="value"><input style="width: 358px;" type="text" name="forma" placeholder="Например: Общество с ограниченной ответственностью"></td>
            </tr>
            <tr>
                <td class="label">ИНН:</td>
                <td class="value"><input style="width: 358px;" type="text" name="inn" placeholder="Индивидуальный номер налогоплатильщика"></td>
            </tr>
            <tr>
                <td class="label">ОГРН:</td>
                <td class="value"><input style="width: 358px;" type="text" name="ogrn"></td>
            </tr>
            <tr>
                <td class="label">Р. счет:</td>
                <td class="value"><input style="width: 358px;" type="text" name="rchet" placeholder="расчетный счет"></td>
            </tr>
            <tr>
                <td class="label">Банк:</td>
                <td class="value"><input style="width: 358px;" type="text" name="bank" placeholder="Полное название банка"></td>
            </tr>
            <tr>
                <td class="label">Кор. счет:</td>
                <td class="value"><input style="width: 358px;" type="text" name="korchet"></td>
            </tr>
            <tr>
                <td class="label">БИК:</td>
                <td class="value"><input style="width: 358px;" type="text" name="bik"></td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="submit" id="saveHod" value="Сохранить" class="btn saveForm">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .label{
            width: 250px;
        }
        #companyZipcode{
            width: 358px;
        }
        #companyName{
            width: 358px;
        }
        #companyCity{
            width: 358px;
        }
        #companyStreet{
            width: 215px;
        }
        #companyTypeRoom-styler .jq-selectbox__select{
            width: 122px !important;
        }
        #companyTypeRoom-styler{
            margin-top: -1px;
        }
        #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
            width: 272px !important;
        }
        #companyTypeRoom-styler .jq-selectbox__dropdown{
            width: 180px !important;
        }
        .jq-selectbox{
            padding: 5px 0;
        }
    </style>
{% endblock %}