{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_company_list') }}">Список компаний</a>
    <div class="right">
        <a href="{{ path('operator_company_add') }}">Добавить</a>
    </div>
{% endblock %}

{% block content%}
    {% if companies is empty %}
        <h3 class="color-red">Компаний не найдено</h3>
    {% else %}
        <table class="lists">
            <tr>
                <th style="width: 300px">Название</th>
                <th>Кол-во</th>
                <th>URL</th>
                <th class="empty"></th>
                <th class="options">Действия</th>
            </tr>
            {% for company in companies %}
                {% if company.url != null %}
                    <tr>
                        <td>
                            {% if company.operator != null and company.operator.moderator != null %}
                                {{ company.operator.moderator }} /
                            {% endif %}

                            {% if company.operator != null %}
                                {{ company.operator }} /
                            {% endif %}

                            <a href="{{ path('operator_user_list',{'companyId' : company.id}) }}">{{ company.title }}</a>
                        </td>
                        <td>
                            <span  class="comment" title="Сделано (кол-во пользователей)">{{ company.usersCount}}</span>
                        </td>
                        <td>{{ company.url }}</td>
                        <td></td>
                        <td class="options">
                            <a class="no-underline" href="{{ path('operator_user_list',{ 'companyId' : company.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image20.png') }}" class="icon"/></a>
                            <a class="no-underline" href="{{ path('operator_petition_list',{ 'companyId' : company.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image26.png') }}" class="icon"/></a>
                            <a class="no-underline" href="{{ path('operator_company_edit',{ 'companyId' : company.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image22.png') }}" class="icon"/></a>

                            <a class="no-underline" href="{{ path('operator_company_remove' , { 'companyId' : company.id}) }}">
                                <img src="{{ asset('bundles/crmoperator/images/icon/image11.png') }}" class="icon"/>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}