{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_company_list') }}">Список компаний</a>
{% endblock %}

{% block content%}
    {% if companies is empty %}
        <h3 class="color-red">Компаний не найдено</h3>
    {% else %}
        <table class="lists">
            <tr>
                <th>Название</th>
                <th class="empty"></th>
                <th class="options">Действия</th>
            </tr>
            {% for company in companies %}
                <tr>
                    <td><a href="{{ path('operator_user_list',{'companyId' : company.id}) }}">{{ company.title }}</a></td>
                    <td></td>
                    <td class="options">
                        <a class="no-underline" href="{{ path('operator_company_edit',{ 'companyId' : company.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image22.png') }}" class="icon"/></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}