{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список счетов</li>
        <li><a href="{{ path('panel_payment_add') }}"><span class="btn btn-primary">Создать</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table">
            <thead>
            <tr>
                <th >Номер</th>
                <th >Дата</th>
                <th>Оператор</th>
                <th>
                    <select class="chosen" id="clients" data-placeholder="Клиент" style="width: 150px">
                        {% for c in clientsList %}
                            <option value="{{ c.id }}">{{ c.username }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select class="chosen" id="companies" data-placeholder="Компания" style="width: 150px">
                        {% for c in companiesList %}
                            <option value="{{ c.id }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th >Кол&nbsp;-&nbsp;во</th>
                <th >Сумма</th>
                <th>Комментарий</th>
                <th >
                    <select class="chosen" id="status" data-placeholder="Статус" style="width: 80px">
                        <option value="3">Все</option>
                        <option value="0">Новые</option>
                        <option value="1">Проведенные</option>
                        <option value="2">Оплченные</option>
                    </select>
                </th>
                <th class="setting">Инструменты</th>
            </tr>
            </thead>
            {% for p in pagination %}
                <tr>
                    <td>{{ p.id }} {{ p.number ? '('~p.number~')' : ''}} </td>
                    <td>
                        {{ p.created | date('d.m.Y') }}
                        {% if p.print == 1 %}
                            <span class="glyphicon glyphicon-print" style="color: #0000cc"></span>
                        {% endif %}
                    </td>
                    <td>{{ p.operator }}</td>
                    {% if p.client.username is defined %}
                        <td>{{ p.client.username }}</td>
                        <td><a href="{{ path('panel_user_list', {'type' : 'null' , 'company' : p.client.company.id }) }}">{{ p.client.company }}</a></td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>{{ p.amount }}</td>
                    <td>{{ p.summa }}</td>
                    <td>{{ p.comment }}</td>
                    <td>
                        {% if p.operator == null or is_granted('ROLE_ADMIN') %}
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu{{ p.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ p.statusStr | raw }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ p.id }}">
                                <li><a href="{{ path('panel_payment_status',{'id' : p.id , 'status' : '0' }) }}">Новый</a></li>
                                <li><a href="{{ path('panel_payment_status',{'id' : p.id , 'status' : '1' }) }}">Проведен</a></li>
                                <li><a href="{{ path('panel_payment_status',{'id' : p.id , 'status' : '2' }) }}">Оплачен</a></li>
                            </ul>
                        </div>
                        {% else %}
                            {{ p.statusStr | raw }}
                        {% endif %}
                    </td>

                    <td class="setting">
                        {% spaceless %}
                            <a href="{{ path('panel_payment_print',{'id' : p.id}) }}" target="_blank">
                                <button type="button" class="btn btn-primary btn-bg" title="Печать">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </a>
                            {% if p.operator == null or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('panel_payment_edit',{'id' : p.id}) }}" >
                                    <button type="button" class="btn btn-primary btn-bg" title="редактирование счета">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </a>
                            {% endif %}
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default btn-danger remove" data-href="{{ path('panel_payment_delete',{'id': p.id }) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
            <tr>
                <td colspan="4"></td>
                <td><b>ИТОГО:</b></td>
                <td>{{ sum }} руб.</td>
            </tr>
        </table>
        <div class="navigation">
        {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(".chosen").chosen({no_results_text: "По вашему запросу не найдено", width: 150});

            $('#companies').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'companyId': $(this).val() })
            });
            $('#clients').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'clientId': $(this).val() })
            });
            $('#status').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'statusId': $(this).val() })
            });


            $('.remove').click(function () {
                var url = $(this).attr('data-href');
                BootstrapDialog.show({
                    title: 'УДАЛЕНИЕ',
                    size: BootstrapDialog.SIZE_SMALL,
                    type: BootstrapDialog.TYPE_DANGER,
                    message: 'Вы точно хотите безвозратно удалить',
                    buttons: [{
                        label: 'Удалить',
                        cssClass: 'btn-danger',
                        autospin: true,
                        action: function (dialogRef) {
                            window.location.href = url;
                        }
                    }, {
                        label: 'Отмена',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
            });
        });


    </script>
{% endblock %}