{% extends "PanelOperatorBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-12" style="text-align: center">
        <br />
        <br />
    </div>
    <div class="col-md-6">
        <div class="well">
            <form method="POST" action="{{ path('panel_reset_password') }}">
                {% if ir == true %}
                    Пароль успешно сменен
                {% endif %}
                {{ form_errors(form) }}
                {{ form_widget(form.password) }}
                {{ form_widget(form._token) }}
                <br />
                {{ form_widget(form.save) }}
            </form>
        </div>
    </div>
    <style>
        button{
            margin-left: 190px;
        }
    </style>
{% endblock %}