{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block content %}
    {% form_theme form with  'PanelOperatorBundle::iphp_field.html.twig' %}
    <h2>Карта для юридических лиц</h2>
    <form method="POST"  enctype="multipart/form-data">
        <div class="block-form">
            {{ form_errors(form) }}

            <table class="table-form">
                <tr>
                    <td>Тип карты<span class="required">*</span></td>
                    <td>
                        {{ form_widget(form.companyType) }}
                    </td>
                </tr>
                <tr>
                    <td>Вид карты<span class="required">*</span></td>
                    <td>
                        {{ form_widget(form.cardType) }}
                    </td>
                </tr>
                <tr>
                    <td>Email<span class="required">*</span></td>
                    <td>{{ form_widget(form.username) }}</td>
                    <td class="skzi-col">Заявление <span class="mini">(форматы файла: JPG,PNG)</span></td>
                </tr>
                <tr>
                    <td>Телефон<span class="required">*</span></td>
                    <td>{{ form_widget(form.phone) }}</td>
                    <td class="skzi-col">
                        <input type="file" name="fileOrderFile" id="fileOrderFile" data-type="fileOrderFile" class="fileAjax">
                        {% if order.fileOrder['path'] is defined %}
                            <img src="/{{ order.fileOrder['path'] }}" brightness="0" contrast="0" class="document" data-type="fileOrderFile" id="fileOrderFileImg">
                        {% else %}
                            <img src="" brightness="0" contrast="0" class="document" id="fileOrderFileImg">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Тип заявления<span class="required">*</span></td>
                    <td>
                        {{ form_widget(form.orderType) }}
                    </td>
                    <td class="skzi-col">Заявление <span class="mini">(лист 2)</span></td>
                </tr>
                <tr>
                    <td>Количество карт<span class="required">*</span></td>
                    <td>{{ form_widget(form.cardAmount) }}</td>
                    <td class="skzi-col">
                        <input type="file" name="fileOrderTwoFile" id="fileOrderTwoFile" data-type="fileOrderTwoFile" class="fileAjax">
                        {% if order.fileOrderTwo['path'] is defined %}
                            <img src="/{{ order.fileOrderTwo['path'] }}" brightness="0" contrast="0" class="document" data-type="fileOrderTwoFile" id="fileOrderTwoFileImg">
                        {% else %}
                            <img src="" brightness="0" contrast="0" class="document" id="fileOrderTwoFileImg">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Стоимость<span class="required">*</span></td>
                    <td>{{ form_widget(form.price) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form" >
            <table class="table-form">
                <caption>Информация о предприятии</caption>
                <tr>
                    <td>Полное наименование организации<span class="required">*</span></td>
                    <td colspan="2">{{ form_widget(form.companyFullTitle) }}</td>
                </tr>
                <tr>
                    <td>Сокращенное наименование организации<span class="required">*</span></td>
                    <td colspan="2">{{ form_widget(form.companyTitle) }}</td>
                </tr>
                <tr>
                    <td>В лице<span class="required">*</span></td>
                    <td>{{ form_widget(form.companyExecutive) }}</td>
                    <td class="skzi-col">Копия ИНН <span class="mini">(форматы файла: JPG,PNG)</span></td>
                </tr>
                <tr>
                    <td>ИНН<span class="required">*</span></td>
                    <td>
                        {{ form_widget(form.companyInn) }}
                    </td>
                    <td class="skzi-col">
                        <input type="file" name="fileInnFile" id="fileInnFile" data-type="fileInnFile" class="fileAjax">
                        {% if order.fileInn['path'] is defined %}
                            <img src="/{{ order.fileInn['path'] }}" brightness="0" contrast="0" class="document" data-type="fileInnFile" id="fileInnFileImg">
                        {% else %}
                            <img src="" brightness="0" contrast="0" class="document" id="fileInnFileImg">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>КПП<span class="required">*</span></td>
                    <td>{{ form_widget(form.companyKpp) }}</td>
                    <td class="skzi-col">Копия ОГРН <span class="mini">(форматы файла: JPG,PNG)</span></td>
                </tr>
                <tr>
                    <td>ОГРН<span class="required">*</span></td>
                    <td>{{ form_widget(form.companyOgrn) }}</td>
                    <td class="skzi-col">
                        <input type="file" name="fileOgrnFile" id="fileOgrnFile" data-type="fileOgrnFile" class="fileAjax" data-type="fileOgrnFile">
                        {% if order.fileOgrn['path'] is defined %}
                            <img src="/{{ order.fileOgrn['path'] }}" brightness="0" contrast="0" class="document" id="fileOgrnFileImg">
                        {% else %}
                            <img src="" brightness="0" contrast="0" class="document" id="fileOgrnFileImg">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form" >
            <table class="table-form">
                <caption>Юридический адрес</caption>
                <tr>
                    <td>Регион<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.region) }}
                    </td>
                    <td />
                </tr>
                <tr>
                    <td>Район:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.area) }}
                    </td>
                </tr>
                <tr>
                    <td>Город:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.city) }}
                    </td>
                </tr>
                <tr>
                    <td>Улица:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.street) }}
                    </td>
                </tr>
                <tr>
                    <td>Номер здания<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.house) }}
                        {{ form_widget(form.legalAdrs.corp) }}
                        {{ form_widget(form.legalAdrs.structure) }}
                    </td>
                </tr>
                <tr>
                    <td>Кв./оф.</td>
                    <td class="value">
                        <input type="hidden" name="legal[typeRoom]" id="legal-typeRoom" value="кв.">
                        {{ form_widget(form.legalAdrs.room) }}
                    </td>
                </tr>
                <tr>
                    <td>Индекс<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.legalAdrs.zipcode) }}
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form" >
            <table class="table-form">
                <caption>Почтовый адрес <span class="btn btn-primary" id="dublAdrs">Дублировать</span></caption>
                <tr>
                    <td>Регион<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.region) }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Район:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.area) }}
                    </td>
                </tr>
                <tr>
                    <td>Город:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.city) }}
                    </td>
                </tr>
                <tr>
                    <td>Улица:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.street) }}
                    </td>
                </tr>
                <tr>
                    <td>Номер здания<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.house) }}
                        {{ form_widget(form.mailingAdrs.corp) }}
                        {{ form_widget(form.mailingAdrs.structure) }}
                    </td>
                </tr>
                <tr>
                    <td>Кв./оф.</td>
                    <td class="value">
                        <input type="hidden" name="mailing[typeRoom]" id="mailing-typeRoom" value="кв.">
                        {{ form_widget(form.mailingAdrs.room) }}
                    </td>
                </tr>
                <tr>
                    <td>Индекс<span class="required">*</span>:</td>
                    <td class="value">
                        {{ form_widget(form.mailingAdrs.zipcode) }}
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form">
            <table class="table-form">
                <caption>Данные о руководителе</caption>
                <tr>
                    <td>Фамилия<span class="required">*</span></td>
                    <td>{{ form_widget(form.lastName) }}</td>
                </tr>
                <tr>
                    <td>Имя<span class="required">*</span></td>
                    <td>{{ form_widget(form.firstName) }}</td>
                </tr>
                <tr>
                    <td>Отчество<span class="required">*</span></td>
                    <td>{{ form_widget(form.surName) }}</td>
                </tr>
                <tr>
                    <td>Дата рождения<span class="required">*</span></td>
                    <td>{{ form_widget(form.birthday) }}</td>
                </tr>
                <tr>
                    <td>Должность<span class="required">*</span></td>
                    <td>{{ form_widget(form.post) }}</td>
                    <td  class="skzi-col">Приказ <span class="mini">(форматы файла: JPG,PNG)</span></td>
                </tr>
                <tr>
                    <td>Действующего на основании<span class="required">*</span></td>
                    <td>{{ form_widget(form.documentAccess) }}</td>
                    <td  class="skzi-col">
                        {#{{ form_widget(form.fileDecree) }}#}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form master" style="display: none">
            <table class="table-form">
                <caption>Данные о клейме (для мастерских)</caption>
                <tr>
                    <td>Номер клейма </td>
                    <td>{{ form_widget(form.stampNumber) }}</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="block-form master" style="display: none">
            <table class="table-form">
                <caption>Данные о лицензии ФСБ (для мастерских)</caption>
                <tr>
                    <td>Номер</td>
                    <td>{{ form_widget(form.licenseNumber) }}</td>
                    <td>
                        Лицензия ФСБ <span class="mini">(форматы файла: JPG,PNG)</span>
                    </td>
                </tr>
                <tr>
                    <td>Кем выдана</td>
                    <td>{{ form_widget(form.licenseIssued) }}</td>
                    <td>
                        {{ form_widget(form.fileLicense) }}
                    </td>
                </tr>
                <tr>
                    <td>Дата выдачи</td>
                    <td>{{ form_widget(form.licenseDateStart) }}</td>
                </tr>
                <tr>
                    <td>Дата окончания</td>
                    <td>{{ form_widget(form.licenseDateEnd) }}</td>
                </tr>
                <tr>
                    <td>Номер приказа</td>
                    <td>{{ form_widget(form.licenseDecreeNumber) }}</td>
                </tr>
                <tr>
                    <td>Дата приказа</td>
                    <td>{{ form_widget(form.licenseDecreeDate) }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <hr />
        <div class="block-form">
            <table class="table-form">
                <tr>
                    <td style="vertical-align: top; padding-top: 10px">Подпись<span class="required">*</span></td>
                    <td>
                        <input type="file" name="fileSignFile" id="fileSignFile" data-type="fileSignFile" class="fileAjax">
                        {% if order.fileSign['path'] is defined %}
                            <img src="/{{ order.fileSign['path'] }}" brightness="0" contrast="0" class="document" data-type="fileSignFile" id="fileSignFileImg">
                        {% else %}
                            <img src="" brightness="0" contrast="0" class="document" id="fileSignFileImg">
                        {% endif %}
                        {% if order.fileSign['path'] is defined %}
                            <a href="{{ path('panel_download_png_company',{'filename' : order.fileSign['path'] | replace('/','+') }) }}">Скачать</a>
                        {% endif %}
                    </td>
                    <td></td>
                </tr>

                {{ form_row(form._token) }}
                <tr>
                    <td></td>
                    <td>
                        <br />
                        <input type="submit" value="Подтвердить и сохранить" class="btn btn-primary" id="submit">
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <div class="fileBox" data-user="{{ order.id }}">
        <div class="file-container">
            <div class="fileDoc">
                <img src="" brightness="128" contrast="128">
            </div>
            <div class="navigateFile">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 220px">
                            <div class="slider-box">
                                Контрастность
                                <div id="slider-vertical-1" class="slider-vertical-contrast" title="Контрастность"></div>
                            </div>
                            <div class="slider-box">
                                Яркость
                                <div id="slider-vertical-2" class="slider-vertical-brightness"></div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn-xs btn-default btn-success rotateLeft"   title="Повернуть налево">
                                Налево
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn-xs btn-default btn-success rotateRight"   title="Повернуть направо">
                                Направо
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn-xs btn-default btn-success cropImage "   title="Обрезать">
                                Обрезать
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn-xs btn-default btn-primary saveImage "   title="Сохранить">
                                Сохранить
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn-xs btn-default btn-danger cancelImage "   title="Отмена">
                                Закрыть
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="x1" name="x1">
            <input type="hidden" id="y1" name="y1">
            <input type="hidden" id="x2" name="x2">
            <input type="hidden" id="y2" name="y2">
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/tapmodo-Jcrop/css/jquery.Jcrop.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/monkeymonk-loader/jquery.loader.min.css') }}" rel="stylesheet" media="all">
    <style>
        .table-form{
            width: 800px;
        }
        .table-form caption{
            color: #005596;
            text-align: left;
            padding: 10px;
        }
        .table-form tr td:first-child{
            text-align: right;
            width: 230px;
            padding-right: 10px;
        }
        .table-form tr td table tr td:first-child{
            display: none;
        }
        .table-form tr td table tr td:last-child{
            overflow: hidden;
            height: 100px;
        }
        .block-form{
            margin: 0 auto;
        }
        select{
            width: 220px;
        }
        #crm_mainbundle_companyuser_orderType-styler .jq-selectbox__select-text{
            width: 214px !important;
        }
        .master{
            display: none;
        }
        .mini{
            font-size: 12px;
            color: #555555;
        }
        .adrsMini{
            width: 80px !important;
            margin-left: 10px;
        }
        .adrsMini:first-child{
            margin-left: 0;
        }
        .zipcode{
            width: 175px !important;
        }
        .date_day{
            width: 70px;
        }
        .date_month{
            width: 100px;
        }
        .date_year{
            width: 100px;
        }
        td, th {
            padding: 5px;
        }
        input[type=text], input[type=number], input[type=password], input[type=email], input[type=url], textarea {
            padding: 5px 10px;
            font-size: 16px;
            border-radius: 3px;
            border-top: 2px solid #909090;
            border-left: 2px solid #909090;
            border-bottom: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            width: 270px;
            background: #FAFAFA;
        }
        .full-img-link img{
            display: none;
        }

        .navigateFile{
            text-align: left;
            /*display: none;*/
        }
        .navigateFile img {
            width: 24px;
            margin: 7px;
            cursor: pointer;
        }
        .progress{
            display: none;
        }
        .fileDoc img{
            max-width: 415px;
            max-height: 500px;
            min-width: 200px;
        }
        .file-container{
            width: 400px;
        }
        td img{
            max-width: 500px;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/tapmodo-Jcrop/js/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/kladrapi/jquery.kladr.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/monkeymonk-loader/jquery.loader.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/paneloperator/js/file.js') }}" type="text/javascript"></script>
    <script>

        $(document).ready(function(){

            $( '#crm_mainbundle_companyuser_legalAdrs_region' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.region,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_region').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_legalAdrs_region').trigger('refresh');
                }
            });

            $( '#crm_mainbundle_companyuser_legalAdrs_area' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_companyuser[legalAdrs][region]"]',
                type: $.kladr.type.district,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_area').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_legalAdrs_area').trigger('refresh');
                }
            });

            $('#crm_mainbundle_companyuser_legalAdrs_city' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_companyuser[legalAdrs][area]"]',
                type: $.kladr.type.city,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_city').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_legalAdrs_city').trigger('refresh');
                }
            });

            $('#crm_mainbundle_companyuser_legalAdrs_street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_companyuser[legalAdrs][city]"]',
                type: $.kladr.type.street,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_street').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_legalAdrs_street').trigger('refresh');
                }
            });
            $('#crm_mainbundle_companyuser_legalAdrs_house' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_companyuser[legalAdrs][street]"]',
                type: $.kladr.type.building,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_legalAdrs_zipcode').val(obj.zip);
                    var home = obj.name.split('к');
                    $('#crm_mainbundle_companyuser_legalAdrs_house').val(home[0]);
                    if (home[1] != undefined){
                        $('#crm_mainbundle_companyuser_legalAdrs_corp').val(home[1]);
                    }

                }
            });

            /////////////////////////////////////////////

            $( '#crm_mainbundle_companyuser_mailingAdrs_region' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                type: $.kladr.type.region,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_region').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_mailingAdrs_region').trigger('refresh');
                }
            });

            $( '#crm_mainbundle_companyuser_mailingAdrs_area' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_companyuser[mailingAdrs][region]"]',
                type: $.kladr.type.district,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_area').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_mailingAdrs_area').trigger('refresh');
                }
            });

            $('#crm_mainbundle_companyuser_mailingAdrs_city' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_companyuser[mailingAdrs][area]"]',
                type: $.kladr.type.city,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_city').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_mailingAdrs_city').trigger('refresh');
                }
            });

            $('#crm_mainbundle_companyuser_mailingAdrs_street' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_companyuser[mailingAdrs][city]"]',
                type: $.kladr.type.street,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_street').val(obj.typeShort+'.'+obj.name);
                    $('#crm_mainbundle_companyuser_mailingAdrs_street').trigger('refresh');
                }
            });
            $('#crm_mainbundle_companyuser_mailingAdrs_house' ).kladr({
                token: '541ee4ac7c52392c7d8b457e',
                key: '181d5e2c44994c335e5e81e9ae46e79a67b6b495',
                parentInput: '[name="crm_mainbundle_companyuser[mailingAdrs][street]"]',
                type: $.kladr.type.building,
                select: function(obj){
                    $('#crm_mainbundle_companyuser_mailingAdrs_zipcode').val(obj.zip);
                    var home = obj.name.split('к');
                    $('#crm_mainbundle_companyuser_mailingAdrs_house').val(home[0]);
                    if (home[1] != undefined){
                        $('#crm_mainbundle_companyuser_mailingAdrs_corp').val(home[1]);
                    }

                }
            });

            /////////////////////////////////////////////

            $('input:text, select').styler();
//            $(".date").mask("99.99.9999");
            $(".zipcode").mask("999999");
            $(".phone").mask("+7 (999) 999-9999");

//            $(".inn").mask("9999999999?99");
            $(".kpp").mask("999999999");
//            $(".ogrn").mask("9999999999999?99");

            $('.cardType').change(function(){
                $('input, select').trigger('refresh');
                if ($('.cardType').val() == 1){
                    $('.master').css('display','table-row');
                }else{
                    $('.master').css('display','none');
                }
            });

            $(":text").focus(function(){    // получение фокуса текстовым полем
                input_temp=this.value;
                $(this).select();
            });
        });
    </script>
{% endblock %}
