{% extends 'PanelOperatorBundle::layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        .statusItems{
            display: none;
        }
        .statusBox{
            font-size: 12px;
            cursor: pointer;
            margin-top: 6px;
        }
        .statusBox:hover .statusItems{
            display: block;
            position: absolute;
            background: #FFFFFF;
            border: 1px solid #C2C2C2;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    {% include 'PanelOperatorBundle:User:breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
    <div class="well">
        <form>
            <div class="row form-inline" role="form">
                <div class="col-xs-4">
                    <div class="dropdown form-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {% if (companyType == 'null') %}
                                Все организации
                            {% elseif(companyType == 1) %}
                                Предприятия
                            {% elseif(companyType == 2) %}
                                Мастерские
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{{ path('operator_companyuser_list', {'companyType' : 'null', 'cardType' : cardType}) }}">Все типы компаний</a></li>
                            <li><a href="{{ path('operator_companyuser_list', {'companyType' : 1, 'cardType' : cardType}) }}">Предприятия</a></li>
                            <li><a href="{{ path('operator_companyuser_list', {'companyType' : 2, 'cardType' : cardType}) }}">Мастерские</a></li>
                        </ul>
                    </div>
                    <div class="dropdown form-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {% if (cardType == 'null') %}
                                Вспе карты
                            {% elseif(cardType == 1) %}
                                СКЗИ
                            {% elseif(cardType == 2) %}
                                ЕСТР
                            {% elseif(cardType == 3) %}
                                РФ
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        {% if companyType  %}
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : 'null'}) }}">Все карты</a></li>
                            <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : 1}) }}">СКЗИ</a></li>
                            <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : 2}) }}">ЕСТР</a></li>
                            <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : 3}) }}">РФ</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="button-group">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id="dropdown-status">
                                        {% if (params.status == 'null' or params.status == null ) %}
                                            Все статусы
                                        {% elseif(params.status == '0') %}
                                            Новые
                                        {% elseif(params.status == '1') %}
                                            В производстве
                                        {% elseif(params.status == '2') %}
                                            Изготовлены
                                        {% elseif(params.status == '3') %}
                                            На почте
                                        {% elseif(params.status == '4') %}
                                            Полученные
                                        {% elseif(params.status == '10') %}
                                            Отклоненные
                                        {% endif %}
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : cardType }) }}">Все</a></li>
                                        <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : cardType, 'status' : '0'}) }}">Новые</a></li>
                                        <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : cardType, 'status' : '1'}) }}">В производстве</a></li>
                                        <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : cardType, 'status' : '2'}) }}">Изготовлены</a></li>
                                        <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : cardType, 'status' : '3'}) }}">На почте</a></li>
                                        <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : cardType, 'status' : '4'}) }}">Полученные</a></li>
                                        <li><a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : cardType, 'status' : '10'}) }}">Отклоненные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="dropdown form-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Действие
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"  aria-labelledby="dropdownMenu2">
                            <li><a href="#">Скачать заявление</a></li>
                            <li><a href="#">Скачать платежку</a></li>
                            <li><a href="#" id="download-xml">Скачать XML</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-xs-8">
                <h4>ТАБЛИЦА ЗАЯВОК</h4>
            </div>
        </div>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
        {% endfor %}

        <table class="table" data-toggle="table"
               data-sort-name="login"
               data-sort-order="asc">
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th></th>
                <th>Фамилия</th>
                <th>Компания</th>
                <th>Тип компании</th>
                <th>Тип карт</th>
                <th>Название</th>
                <th>Кол-во</th>
                <th>Сумма</th>
                <th style="width: 150px">Статус</th>
                <th>Комментарий</th>
                <th class="setting">Инструменты</th>
            </tr>
            </thead>
            <body>
            {% for item in pagination %}
                <tr>
                    <td><input class="user-check" type="checkbox" name="user[{{  item.id }}]" value="{{ item.id }}"></td>
                    <td>{{ item.id }}</td>
                    <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <input type="text" style="width: 50px" value="{{ item.managerKey }}" class="managers2" id="{{ item.id }}">
                    {% endif %}
                    </td>
                    <td>{{ item.lastName }}</td>
                    <td>
                        <a href="{{ path('operator_companyuser_list', {'companyType' : companyType, 'cardType' : cardType, 'companyId' : item.company.id }) }}" {{ debtors[item.company.title] is defined ? "style='color: #CC0000'" : '' }}
                           title="" class="getQuotaCompany"
                           data-id="{{ item.company.id }}"
                        >{{ item.company is defined ? ( item.company.operator.id == 1 ? item.company : item.company.operator )  : '' }}</a>
                    </td>
                    <td style="text-align: center"><span class="label label-{{ item.companyType == 0 ? 'danger' : item.companyType == 1 ? 'primary' : 'success' }}">{{ item.companyTypeStr }}</span></td>
                    <td style="text-align: center"><span class="label label-{{ item.cardType == 1 ? 'Warning' : item.cardType == 2 ? 'primary' : 'success' }}">{{ item.cardTypeStr }}</td>
                    <td><span style="font-size: 12px; cursor: pointer" title="{{ item.company }}" >{{ item.companyTitle }}</span></td>
                    <td style="text-align: center">{{ item.cardAmount }}</td>
                    <td style="text-align: center">{{ item.price  }} руб.</td>
                    <td style="text-align: center">
                        <div style="position: relative">
                        <div class="button-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id="dropdown-status">
                                <div class="statusBox" data-id="{{ item.id }}">
                                    {{ item.statusStr | raw }}&nbsp;<span class="glyphicon glyphicon-info-sign">&nbsp;</span>
                                    <div class="statusItems">
                                        {% for status in item.statusArray %}
                                            {{ status.title | raw }}&nbsp;-&nbsp;{{ status.date | date('d.m.Y') }}<br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('companyuser_change_status', {'id' : item.id, 'status' : '0'}) }}">Новые</a></li>
                                <li><a href="{{ path('companyuser_change_status', {'id' : item.id, 'status' : '1'}) }}">В производстве</a></li>
                                <li><a href="{{ path('companyuser_change_status', {'id' : item.id, 'status' : '2'}) }}">Изготовлены</a></li>
                                <li><a href="{{ path('companyuser_change_status', {'id' : item.id, 'status' : '3'}) }}">На почте</a></li>
                                <li><a href="{{ path('companyuser_change_status', {'id' : item.id, 'status' : '4'}) }}">Полученные</a></li>
                                <li><a href="{{ path('companyuser_change_status', {'id' : item.id, 'status' : '10'}) }}">Отклоненные</a></li>
                            </ul>
                        </div>
                        </div>
                            {#<div class="statusItems">#}
                            {#{% for status in user.statusArray %}#}
                            {#{{ status.title }}&nbsp;-&nbsp;{{ status.date | date('d.m.Y') }}<br />#}
                            {#{% endfor %}#}
                            {#</div>#}
                    </td>
                    <td>
                        {% if item.post != null %}
                            {% if item.comment != null %}
                                <a style="color: #CC0000" title="{{ item.comment }}" href="https://www.pochta.ru/tracking#{{ item.postNumber }}" target="_blank">{{ item.postNumber }}</a>
                            {% else %}
                                <a href="https://www.pochta.ru/tracking#{{ item.postNumber }}" target="_blank">{{ item.postNumber }}</a>
                            {% endif %}
                        {% else %}
                            <div class="comment-box disabled-click" data-id="{{ item.id }}">{{ item.comment }}</div>
                        {% endif %}
                    </td>
                    <td class="settings" style="text-align: right">
                        {% spaceless %}
                            <a href="{{ path('operator_companyuser_edit',{'id' : item.id }) }}">
                                <button type="button" class="btn btn-default btn-success">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </a>
                            <button type="button" class="btn btn-default btn-danger remove" data-href="{{ path('operator_companyuser_remove',{'id': item.id }) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor %}
            </body>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <iframe src="" id="iframe-download" width="1" height="1" scrolling="no-scrolling"></iframe>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #filter-type{
            width: 100px;
        }
        .comment-box{
            width: 200px;
            min-height: 50px;
            cursor: pointer;
        }
        th{
            text-align: center;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){



            $('.remove').click(function () {
                var url = $(this).attr('data-href');
                BootstrapDialog.show({
                    title: 'УДАЛЕНИЕ',
                    size: BootstrapDialog.SIZE_SMALL,
                    type: BootstrapDialog.TYPE_DANGER,
                    message: 'Вы точно хотите безвозратно удалить',
                    buttons: [{
                        label: 'Удалить',
                        cssClass: 'btn-danger',
                        autospin: true,
                        action: function (dialogRef) {
                            window.location.href = url;
                        }
                    }, {
                        label: 'Отмена',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
            });

            $('#allcheck').click(function () {
                if($("#allcheck").prop('checked') == true){
                    $("input[type=checkbox]" ).prop( "checked", true );
                }else{
                    $( "input[type=checkbox]" ).prop( "checked", false );
                }
            });

            $('body').on('click', '.disabled-click' , function(){
                var form =  $('<form method="post">' +
                        '<textarea class="form-control" style="margin-bottom: 5px">'+$(this).text()+'</textarea>' +
                        '<input type="hidden" class="old" value="'+$(this).text()+'" />' +
                        '<button type="button" class="btn btn-default btn-success ok-textarea"> <span class="glyphicon glyphicon-ok"></span></button>' +
                        '&nbsp;&nbsp;'+
                        '<button type="button" class="btn btn-default btn-danger cancel-textarea"> <span class="glyphicon glyphicon-remove"></span></button>' +
                        '</form>');
                $(this).html(form);
                $(this).removeClass('disabled-click');
            });

            $('.comment-box').on('click', '.cancel-textarea', function(){
                var txt = $(this).parent().children('.old').val();
                var div = $(this).parent().parent();
                div.text(txt);
                div.addClass('disabled-click');
                return false;
            });

            $('.comment-box').on('click', '.ok-textarea', function(){
                var txt = $(this).parent().children('.old').val();
                var txt2 = $(this).parent().children('textarea').val();
                var id = $(this).parent().parent().attr('data-id');
                var div = $(this).parent().parent();
                $.ajax({
                    type: "POST",
                    url: "{{ path('panel_company_user_set_comment') }}",
                    data: "id="+id+'&comment='+txt2,
                    success: function(msg){
                        if (msg == 'ok'){
                            div.text(txt2);
                        }else{
                            div.text(txt);
                            alert('Ошибка сохранения:'+msg);
                        }
                    },
                    error: function(msg){
                        div.text(txt);
                        alert('Ошибка сохранения:'+msg);
                    }

                });
                div.addClass('disabled-click');
                return false;
            });

            $('.user-check').click(function(){
                if ($(this).prop( "checked" )){
                    $(this).parent().parent().children('td').css('background','#DDD');
                }else{
                    $(this).parent().parent().children('td').css('background','#f5f5f5');
                }
            });

            $('#download-xml').click(function(){
                var users = $('input:checked');
                for ( var i = 0 ; i < users.length ; i ++){
                    console.log($(users[i]));
                    $('#iframe-download').contents().get(0).location.href =  Routing.generate('companyuser_download_xml', {'userId': users.eq(i).val() })
                }
            });

            $('.set-status').click(function(){
                var status = $(this).attr('data-main');
                var users = $('input:checked');
                $.ajax({
                    type: "POST",
                    url: Routing.generate('companyuser_set_status', {'status': status}),
                    data: users,
                    success: function(msg){
                        if (msg == 'Ok'){
                            window.location.reload();
                        }
                    }
                });
            });

            $('.statusBox').hover(
                    function(){
                        var $this = $(this);
                        var userId = $(this).data('id');
//                    alert('\''+$(this).children('.statusItems').html()+'\'');
                        if ($(this).children('.statusItems').html()[0] == '\n'){
                            $.ajax({
                                type: "GET",
                                url: "{{ path('panel_companyuser_get_statuslog') }}",
                                data: "userId="+userId,
                                success: function(msg){
                                    console.log(s = msg);
                                    var html = '';
                                    $.each(s,function(h,t){
                                        html += t.title + "&nbsp;-&nbsp;" + t.date+ '<br />';
                                    });
                                    $this.children('.statusItems').html(html);
                                }
                            });
                        }
                    });

            $('.managers2').keypress(function(e){
                var input = $(this);
                $(input).css('color','rgb(0, 0, 0)');
                if(e.which == 13) {
                    $.ajax({
                        type: "POST",
                        url: Routing.generate('panel_edit_manager_company_user'),
                        data: 'id='+$(input).attr('id')+'&key='+$(input).val(),
                        success: function (msg) {
                            if (msg == 'ok'){
                                $(input).css('color','rgb(46, 124, 55)');
                            }else{
                                alert('Ошибка сохраненния');
                                $(input).css('color','rgb(124, 46, 55)');
                            }
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}