{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    {% include 'PanelOperatorBundle:User:breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row form-inline" role="form">
            <div class="col-xs-5">
                <div class="dropdown form-group">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Все организации
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Предприятия</a></li>
                        <li><a href="#">Мастерские</a></li>
                    </ul>
                </div>
                <div class="dropdown form-group">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Все карты
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#">СКЗИ</a></li>
                        <li><a href="#">ЕСТР</a></li>
                        <li><a href="#">РФ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="button-group">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id="dropdown-status">Статусы : Все <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="small" data-value="Новые" tabIndex="-1"><input type="checkbox"/>&nbsp;Новые</a></li>
                                    <li><a href="#" class="small" data-value="Подтвержденные" tabIndex="-1"><input type="checkbox"/>&nbsp;Подтвержденные</a></li>
                                    <li><a href="#" class="small" data-value="Оплаченные" tabIndex="-1"><input type="checkbox"/>&nbsp;Оплаченные</a></li>
                                    <li><a href="#" class="small" data-value="В производстве" tabIndex="-1"><input type="checkbox"/>&nbsp;В производстве</a></li>
                                    <li><a href="#" class="small" data-value="На почте" tabIndex="-1"><input type="checkbox"/>&nbsp;На почте</a></li>
                                    <li><a href="#" class="small" data-value="Полученные" tabIndex="-1"><input type="checkbox"/>&nbsp;Полученные</a></li>
                                    <li><a href="#" class="small" data-value="Отмененные" tabIndex="-1"><input type="checkbox"/>&nbsp;Отмененные</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <h4>ТАБЛИЦА ЗАЯВОК</h4>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
        {% endfor %}

        <table class="table" data-toggle="table"
               data-sort-name="id"
               data-sort-order="desc"
               data-url="{{ path('get_companyuser_json') }}"
               data-filter-control="true"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-detail-view="true"
               data-detail-formatter="detailFormatter"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-show-footer="true"
               {#data-side-pagination="server"#}
                >
            <thead>
            <tr>
                <th data-field="id" data-sortable="true" data-filter-control="input">ID</th>
                <th data-field="companyType" data-sortable="true" data-filter-control="select">Тип компании</th>
                <th data-field="cardType" data-sortable="true">Тип карт</th>
                <th data-field="email" data-sortable="true">Email</th>
                <th data-field="amount" data-sortable="true">Кол-во</th>
                <th data-field="price" data-sortable="true">Стоимость</th>
                <th data-field="dateCreated" data-sortable="true">Дата</th>
                <th data-field="status" data-sortable="true">Статус</th>
                <th data-field="comment"  data-sortable="false">Комментарий</th>
                <th class="setting">Инструменты</th>
            </tr>
            </thead>
            <body>
                {#{% for item in pagination %}#}
                    {#<tr>#}
                        {#<td>{{ item.id }}</td>#}
                        {#<td><span class="label label-{{ item.companyType == 0 ? 'danger' : item.companyType == 1 ? 'primary' : 'success' }}">{{ item.companyTypeStr }}</span></td>#}
                        {#<td><span class="label label-{{ item.cardType == 1 ? 'Warning' : item.cardType == 2 ? 'primary' : 'success' }}">{{ item.cardTypeStr }}</td>#}
                        {#<td><span style="font-size: 13px">{{ item.username }}</span></td>#}
                        {#<td>{{ item.cardAmount }}</td>#}
                        {#<td style="text-align: center">{{ item.price * 1  }} руб.</td>#}
                        {#<td>{{ item.created | date('d.m.Y')}}</td>#}
                        {#<td style="text-align: center">#}
                            {#<div class="statusBox">#}
                                {#{{ item.statusStr | raw }}#}
                                {#&#123;&#35;<div class="statusItems">&#35;&#125;#}
                                    {#&#123;&#35;{% for status in user.statusArray %}&#35;&#125;#}
                                        {#&#123;&#35;{{ status.title }}&nbsp;-&nbsp;{{ status.date | date('d.m.Y') }}<br />&#35;&#125;#}
                                    {#&#123;&#35;{% endfor %}&#35;&#125;#}
                                {#&#123;&#35;</div>&#35;&#125;#}
                            {#</div>#}
                        {#</td>#}
                        {#<td>{{ item.comment }}</td>#}
                        {#<td class="settings" style="text-align: right">#}
                            {#{% spaceless %}#}
                            {#<a href="{{ path('operator_companyuser_edit',{'id' : item.id }) }}">#}
                                {#<button type="button" class="btn btn-default btn-success">#}
                                    {#<span class="glyphicon glyphicon-edit"></span>#}
                                {#</button>#}
                            {#</a>#}
                            {#{% endspaceless %}#}
                        {#</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
            </body>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/paneloperator/css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/paneloperator/js/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <style>
        #filter-type{
            width: 100px;
        }
        .comment-box{
            width: 200px;
            min-height: 50px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/paneloperator/js/bootstrap-table.js') }}"></script>
    <script src="{{ asset('bundles/paneloperator/js/bootstrap-table-filter-control.js') }}"></script>
    <script src="{{ asset('bundles/paneloperator/js/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script>
        $(document).ready(function(){



            $('.remove').click(function () {
                var url = $(this).attr('data-href');
                BootstrapDialog.show({
                    title: 'УДАЛЕНИЕ',
                    size: BootstrapDialog.SIZE_SMALL,
                    type: BootstrapDialog.TYPE_DANGER,
                    message: 'Вы точно хотите безвозратно удалить',
                    buttons: [{
                        label: 'Удалить',
                        cssClass: 'btn-danger',
                        autospin: true,
                        action: function (dialogRef) {
                            window.location.href = url;
                        }
                    }, {
                        label: 'Отмена',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
            });

            $('#allcheck').click(function () {
                if($("#allcheck").prop('checked') == true){
                    $("input[type=checkbox]" ).prop( "checked", true );
                }else{
                    $( "input[type=checkbox]" ).prop( "checked", false );
                }
            });

            $('body').on('click', '.disabled-click' , function(){
                var form =  $('<form method="post">' +
                        '<textarea class="form-control" style="margin-bottom: 5px">'+$(this).text()+'</textarea>' +
                        '<input type="hidden" class="old" value="'+$(this).text()+'" />' +
                        '<button type="button" class="btn btn-default btn-success ok-textarea"> <span class="glyphicon glyphicon-ok"></span></button>' +
                        '&nbsp;&nbsp;'+
                        '<button type="button" class="btn btn-default btn-danger cancel-textarea"> <span class="glyphicon glyphicon-remove"></span></button>' +
                        '</form>');
                $(this).html(form);
                $(this).removeClass('disabled-click');
            });

            $('.comment-box').on('click', '.cancel-textarea', function(){
                var txt = $(this).parent().children('.old').val();
                var div = $(this).parent().parent();
                div.text(txt);
                div.addClass('disabled-click');
                return false;
            });

            $('.comment-box').on('click', '.ok-textarea', function(){
                var txt = $(this).parent().children('.old').val();
                var txt2 = $(this).parent().children('textarea').val();
                var id = $(this).parent().parent().attr('data-id');
                var div = $(this).parent().parent();
                $.ajax({
                    type: "POST",
                    url: "{{ path('panel_user_set_comment') }}",
                    data: "id="+id+'&comment='+txt2,
                    success: function(msg){
                        if (msg == 'ok'){
                            div.text(txt2);
                        }else{
                            div.text(txt);
                            alert('Ошибка сохранения:'+msg);
                        }
                    },
                    error: function(msg){
                        div.text(txt);
                        alert('Ошибка сохранения:'+msg);
                    }

                });
                div.addClass('disabled-click');
                return false;
            });


            var options = [];

            $( '.dropdown-menu a' ).on( 'click', function( event ) {

                var $target = $( event.currentTarget ),
                        val = $target.attr( 'data-value' ),
                        $inp = $target.find( 'input' ),
                        idx;

                console.log(options);
                if ( ( idx = options.indexOf( val+', ' ) ) > -1 ) {
                    options.splice( idx, 1 );
                    setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
                } else {
                    options.push( val+', ' );
                    setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
                }

                $( event.target ).blur();


                $('#dropdown-status').html('Статусы: '+ (options.length == 0 ? 'Все' : options));
                return false;
            });

        });
    </script>
{% endblock %}

{#
http://issues.wenzhixin.net.cn/bootstrap-table/#extensions/filter-control.html
http://issues.wenzhixin.net.cn/bootstrap-table/#options/basic-columns.html
http://bootstrap-table.wenzhixin.net.cn/examples/#basic
http://bootstrap-table.wenzhixin.net.cn/extensions/
https://github.com/wenzhixin/bootstrap-table-examples/blob/master/welcome.html

#}