{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">

        {% set driver = user.driver %}

        <h2>Проверка данных</h2>
        <table>
            <tr>
                <td colspan="2">
                    <h3>Данные для связи</h3>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>Данные водителя</h3>
                </td>
            </tr>
            <tr>
                <td>Фамилия:</td>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <td>Имя:</td>
                <td>{{ user.firstName }}</td>
            </tr>
            {% if user.surName is not null or user.surName == '' %}
            <tr>
                <td>отчество:</td>
                <td>{{ user.surName }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>СНИЛС:</td>
                <td>{{ user.snils }}</td>
            </tr>
            <tr>
                <td>Дата рождения:</td>
                <td>{{ user.birthDate | date("d.m.Y") }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>Паспортные данные</h3>
                </td>
            </tr>
            {% if driver.passportSerial is not null or driver.passportSerial == '' %}
            <tr>
                <td>Серия паспорта:</td>
                <td>{{ driver.passportSerial }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Номер паспорта:</td>
                <td>{{ driver.passportNumber }}</td>
            </tr>
            <tr>
                <td>Кем выдан:</td>
                <td>{{ driver.passportIssuance}}</td>
            </tr>
            <tr>
                <td>Дата выдачи:</td>
                <td>{{ driver.passportIssuanceDate | date("d.m.Y") }}</td>
            </tr>
            <tr>
                <td>Код подразделения:</td>
                <td>{{ driver.passportCode }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>Доставка</h3>
                </td>
            </tr>
            <tr>
                <td>Адрес доставки:</td>
                <td>
                    {{ user.zipcode }}, Россия, {{ user.region.title }}, {{ user.cityType }} {{ user.city }}, <br/>
                    {{ user.streetType }}{{ user.street }}, д.{{ user.home }}
                    {{ user.corpType }}{{ user.corp }}, {{ user.roomType }}{{ user.room }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>Данные предприятия</h3>
                </td>
            </tr>

            <tr>
                <td>Название транспортной <br/> компании:</td>
                <td>{{ driver.companyName }}</td>
            </tr>
            <tr>
                <td>Адрес компании:</td>
                <td>
                    {{ driver.zipcode }}, Россия, {{ driver.region.title }}, {{ driver.cityType }} {{ driver.city }},<br/>
                    {{ driver.streetType }}{{ driver.street }}, д.{{ driver.home }}
                    {{ driver.corpType }}{{ driver.corp }}, {{ driver.roomType }}{{ driver.room }}
                </td>

            <tr>
                <td colspan="2">
                    <h3>Водительское удостоверение</h3>
                </td>
            </tr>
            <tr>
                <td>Номер водительского <br/> удостоверения:</td>
                <td>{{ driver.driverDocNumber }}</td>
            </tr>
            <tr>
                <td>Страна Выдачи:</td>
                <td>{{ driver.driverDocCountry.title }}</td>
            </tr>
            <tr>
                <td>Кем выдано:</td>
                <td>{{ driver.driverDocIssuance }}</td>
            </tr>
            <tr>
                <td>Дата выдачи:</td>
                <td>{{ driver.driverDocDateStarts  | date("d.m.Y") }}</td>
            </tr>
            <tr>
                <td>Дата окончания:</td>
                <td>{{ driver.driverDocDateEnds | date("d.m.Y") }}</td>
            </tr>
            {% if driver.lastNumberCard is not null %}
            <tr>
                <td colspan="2">
                    <h3>Другое</h3>
                </td>
            </tr>
            <tr>
                <td>Номер прошлой карты:</td>
                <td>{{ driver.lastNumberCard }}</td>
            </tr>
            <tr>
                <td>Выбор типа карты: </td>
                <td>
                    {% if driver.typeCard = 0 %}
                        Выдача первой карты
                    {% elseif  driver.typeCard = 1 %}
                        Замена карты
                    {% else %}
                        Обновление карты
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                    <br />
                    <form method="POST" action="{{ path('check_user') }}">
                        <input type="checkbox" name="eula" required="required">Я согласен с <a href="{{ path('page',{ 'url' : 'eula'}) }}">публичной афертой</a>
                        <br/>
                        <br/>
                        <a href="{{ path('auth_party_2') }}">
                            <button type="button" id="driver_btn"  class="btn">Вернуться</button>
                        </a>

                        <button type="submit" id="driver_submit"  class="btn">Подтвердить данные</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h3{
            margin: 10px 0;
        }
    </style>

{% endblock %}