{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Оформление заявки - Шаг 1</h2>
    </div>
    <div class="bg-gray"></div>
    <div class="img-pop-up">
        <div class="img-pop-up-title">
            выберите область с документом. При необходимости переверните фото.
        </div>
        <div id="img-pop-up-img"></div>
        <div class="img-pop-up-nav">
            <input type="hidden" name="x1" id="x1">
            <input type="hidden" name="y1" id="y1">
            <input type="hidden" name="x2" id="x2">
            <input type="hidden" name="y2" id="y2">
            <input type="button" value="Выбрать" id="sendCoords" class="btn">
            <input type="button" value="Повернуть"  class="btn" >
            <input type="button" value="Вперед"  id="forward" class="btn" style="display: none;">
        </div>
    </div>
    <div class="inp-pop-up">
        <div class="inp-passport inp-box">
            <table>
                <tr><td colspan="2" class="empty-row">Паспортные данные</td></tr>
                <tr>
                    <td class="label">Фамилия<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="lastName" id="lastName" type="text" >
                    </td>
                    <td class="lastNameStatus"></td>
                </tr>
                <tr>
                    <td class="label">Имя<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="firstName" id="firstName" type="text" >
                    </td>
                    <td class="firstNameStatus"></td>
                </tr>
                <tr>
                    <td class="label">Отчество<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="surName" id="surName" type="text" >
                    </td>
                    <td class="surNameStatus"></td>
                </tr>
                <tr>
                    <td class="label">Дата рождения<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="dateBrithdate" id="dateBrithdate" type="text" >
                    </td>
                    <td class="dateBrithdateStatus"></td>
                </tr>
                <tr>
                    <td class="label">Серия и номер паспорта<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="passportNumber" id="passportNumber" type="text"  >
                    </td>
                    <td class="passportNumberStatus"></td>
                </tr>
                <tr>
                    <td class="label">Кем выдан<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="passportPlace" id="passportPlace" type="text"  >
                    </td>
                    <td class="passportPlaceStatus"></td>
                </tr>
                <tr>
                    <td class="label">Дата выдачи<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="passportDate" id="passportDate" type="text"  >
                    </td>
                    <td class="passportPlaceStatus"></td>
                </tr>
                <tr>
                    <td class="label">Код подразделения:</td>
                    <td class="value">
                        <input name="passportCode" id="passportCode" type="text"  >
                    </td>
                    <td class="passportCodeStatus"></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="back" value="Назад" class="btn">
                    </td>
                    <td style="text-align: right">
                        <input type="button" id="savePassport" value="Подтвердить данные" class="btn saveForm">
                    </td>
                </tr>
            </table>
        </div>
        <div class="inp-driver inp-box">
            <table>
                <tr><td colspan="2" class="empty-row">Водительское удостоверение</td></tr>
                <tr>
                    <td class="label">Номер удостоверения водителя:</td>
                    <td class="value">
                        <input name="driverNumber" id="driverNumber" type="text"  >
                    </td>
                    <td class="driverNumberStatus"></td>
                </tr>
                <tr>
                    <td class="label">Дата выдачи:</td>
                    <td class="value">
                        <input name="driverDateStarts" id="driverDateStarts" type="text"  >
                    </td>
                    <td class="driverDateStartsStatus"></td>
                </tr>
                <tr>
                    <td class="label">Дата окончания:</td>
                    <td class="value">
                        <input name="driverDateEnds" id="driverDateEnds" type="text"  >
                    </td>
                    <td class="driverDateEndsStatus"></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="back" value="Назад" class="btn">
                    </td>
                    <td style="text-align: right">
                        <input type="button" id="savePassport" value="Подтвердить данные" class="btn saveForm">
                    </td>
                </tr>
            </table>
         </div>
        <div class="inp-snils inp-box">
            <table>
                <tr><td colspan="2" class="empty-row">Страховой номер индивидуального лицевого счёта</td></tr>
                <tr>
                    <td class="label">Номер СНИЛС</td>
                    <td class="value">
                        <input name="snils" id="snils" type="text"  >
                    </td>
                    <td class="snilsStatus"></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="back" value="Назад" class="btn">
                    </td>
                    <td style="text-align: right">
                        <input type="button" id="savePassport" value="Подтвердить данные" class="btn saveForm">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="loader"></div>

    <div class="box">
        <table>
            <form method="POST" action="{{ path('order_confirmation') }}" id="main-form">
            <tr>
                <td class="label">E-mail:</td>
                <td class="value">
                        <input name="email" id="email" type="text" placeholder="Укажите вашу почту" required>
                </td>
                <td class="emailStatus"></td>
            </tr>
            <tr>
                <td class="label">Телефон:</td>
                <td class="value">
                    <input name="phone" id="phone" type="text" placeholder="Укажите ваш телефон">
                </td>
                <td class="phoneStatus"></td>
            </tr>
            <tr>
                <td class="label">Гражданство<span class="required">*</span>:</td>
                <td class="value">
                    <select name="rezident" id="rezident">
                        <option value="1">Россия</option>
                        <option value="2">Беларусь</option>
                        <option value="3">Казахстан</option>
                        <option value="4">Киргизия</option>
                        <option value="5">Таджикистан</option>
                        <option value="6">Украина</option>
                    </select>
                </td>
                <td ></td>
            </tr>
            </form>
            <tr><td colspan="2" class="empty-row">Документы</td></tr>
            <tr>
                <td class="label">
                    <div class="label-text">Копия паспорта<span class="required">*</span>:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-1">
                        <input name="passport" id="passportFile" type="file" value="Выбирите файл">
                    </form>
                </td>
                <td class="passportStatus"></td>
            </tr>
            <tr>
                <td class="label">
                    <div class="label-text">Копия водительского удостоверения<span class="required">*</span>:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-2">
                        <input name="driver" id="driverFile" type="file" value="Выбирите файл">
                    </form>
                </td>
                <td class="driverStatus"></td>
            </tr>
            <tr >
                <td class="label">
                    <div class="label-text">Фотография:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-5">
                        <input name="photo" id="photoFile" type="file" value="Выбирите файл">
                    </form>
                </td>
                <td class="photoStatus"></td>
            </tr>
            <tr >
                <td class="label">
                    <div class="label-text">Подпись:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-6">
                        <input name="sign" id="signFile" type="file" value="Выбирите файл">
                    </form>
                </td>
                <td class="signStatus"></td>
            </tr>

            <tr id="rus">
                <td class="label">
                    <div class="label-text">Копия СНИЛС:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-3">
                        <input name="snils" id="snilsFile" type="file" value="Выбирите файл">
                    </form>
                </td>
                <td class="snilsStatus"></td>
            </tr>
            <tr id="notrus" style="display: none;">
                <td class="label">
                    <div class="label-text">Разрешение на работу:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-4">
                        <input name="work" id="workFile" type="file" value="Выбирите файл">
                    </form>
                </td>
                <td class="workStatus"></td>
            </tr>

            <tr id="notrus" style="display: none;">
                <td class="label">
                    <div class="label-text">Разрешение на работу:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-2">
                        <input name="work" id="workFile" type="file" value="Выбирите файл">
                    </form>
                </td>
                <td class="workStatus"></td>
            </tr>


            <tr><td colspan="2"><br /></td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="button" value="Далее" class="btn" id="submit">
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    {#<script type="text/javascript"src="{{ asset('bundles/crmmain/javascripts/jquery.customfile.js') }}"></script>#}
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/styler/jquery.formstyler.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/odyniec/jquery.imgareaselect.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/spin.js') }}" type="text/javascript"></script>


    <script>
        $(document).ready(function(){
            var files;
            $('input, select').styler();


            $('input[type=file]').on('change', function(event){

                $('#forward').fadeOut();
                $('.inp-box').css('display','none');

                if ($(this).attr('name')=='passport' ){
                    $('.inp-passport').css('display','block');
                    $('.img-pop-up').attr('type-doc','passport');
                }

                if ($(this).attr('name')=='driver' ){
                    $('.inp-driver').css('display','block');
                    $('.img-pop-up').attr('type-doc','driver');
                }

                if ($(this).attr('name')=='snils' ){
                    $('.inp-snils').css('display','block');
                    $('.img-pop-up').attr('type-doc','snils');
                }



                files = event.target.files;
                var formData = new FormData();
                $.each(files, function(key, value){
                    formData.append(key, value);
                });
                if ($('.img-pop-up').attr('type-doc') != ''){
                    type = $('.img-pop-up').attr('type-doc');
                    $.ajax({
                        url: Routing.generate('uploadDoc', {'type': type}),
                        type: 'POST',
                        xhr: function() {
                            var myXhr = $.ajaxSettings.xhr();
                            if(myXhr.upload){
                                myXhr.upload.addEventListener('#progress-passport',progressHandlingFunction, false);
                            }
                            return myXhr;
                        },
                        //beforeSend: ,
                        //error: ,
                        success: function(msg){
                            $('#img-pop-up-img').html('<div style="display: inline-block"><img  src="'+msg+'" /></div>');
                            showImgPopUp();
                            $('#img-pop-up-img div img').imgAreaSelect({
                                x1: 120, y1: 90, x2: 280, y2: 210,
                                handles: true,
                                onSelectEnd: function (img, selection) {
                                    $('input[name="x1"]').val(selection.x1);
                                    $('input[name="y1"]').val(selection.y1);
                                    $('input[name="x2"]').val(selection.x2);
                                    $('input[name="y2"]').val(selection.y2);
                                }
                            });
                        },
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                }
            });

            $('#submit').click(function(){
                $('#main-form').submit();
            });

            $('#rezident').change(function(){
                if ( $(this).val() == '1' ){
                    $('#rus').css('display','table-row');
                    $('#notrus').css('display','none');
                }else{
                    $('#rus').css('display','none');
                    $('#notrus').css('display','table-row');
                }
            });

            $('#back').click(function(){
                showImgPopUp();
                hideInpPopUp();
            });

            $('#forward').click(function(){
                hideImgPopUp();
                showInpPopUp();
            });


            $('#sendCoords').click(function(){
                $('#forward').fadeIn();
                type = $('.img-pop-up').attr('type-doc');
                x1 = $('input[name="x1"]').val();
                y1 = $('input[name="y1"]').val();
                x2 = $('input[name="x2"]').val()-x1;
                y2 = $('input[name="y2"]').val()-y1;
                $.ajax({
                    type: "POST",
                    url: Routing.generate('send_coordinates', {'type': type}),
                    data: 'x='+x1+'&y='+y1+'&x2='+x2+'&y2='+y2+'&originalWidth='+$('#img-pop-up-img img').css('width'),
                    success: function(msg){
                        $('#img-pop-up-img').html('<div style="display: inline-block"><img src="'+msg+'" /></div>');
                        $(".imgareaselect-selection").parent().remove();
                        $(".imgareaselect-outer").remove();
                        hideImgPopUp();
                        showloader();
                        getImgData(type);
                        showInpPopUp();
                    }
                });
            });

            function getImgData(type){
                $.ajax({
                    type: "POST",
                    url: Routing.generate('get_img_data', {'type': type, 'rezident' : $('#rezident').val()}),
                    success: function(msg){
                        hideloader();
//                        obj = jQuery.parseJSON(msg);
                        obj = msg.data;
                        if (type == 'passport'){
                            $('#lastName').val(obj.lastName);
                            $('#firstName').val(obj.firstName);
                            $('#surName').val(obj.surName);
                            $('#dateBrithdate').val(obj.passportDate);
                            $('#passportNumber').val(obj.passportNumber);
                            $('#passportCode').val(obj.passportCode);
                            $('#passportPlace').val(obj.passportPlace);
                        }
                        if (type == 'snils'){
                            $('#snils').val(obj.snils);
                        }
                        if (type == 'driver'){
                            $('#driverNumber').val(obj.driverNumber);
                            $('#driverDateStarts').val(obj.driverDateStarts);
                            $('#driverDateEnds').val(obj.driverDateEnds);
                        }
                    }
                });
            }

            $('.saveForm').click(function(){
               hideInpPopUp();
               hideImgPopUp();
            });

            function progressHandlingFunction(e){
                if(e.lengthComputable){
                    $('progress').attr({value:e.loaded,max:e.total});
                }
            }

            function showInpPopUp(){
                $('.bg-gray').fadeIn();
                $('.inp-pop-up').fadeIn();
                $('input, select').styler();
            }

            function hideInpPopUp(){
                $('.bg-gray').fadeOut();
                $('.inp-pop-up').fadeOut();
            }

            function showImgPopUp(){
                $('.bg-gray').fadeIn();
                $('.img-pop-up').fadeIn();
                $('input, select').styler();
            }

            function hideImgPopUp(){
                $('.bg-gray').fadeOut();
                $('.img-pop-up').fadeOut();
            }

            function hideloader(){
                $('.bg-gray').fadeOut();
                $('#loader').fadeOut();
            }

            function showloader(){
                $('.bg-gray').fadeIn();
                $('#loader').fadeIn();
            }

            var opts = {
                lines: 13, // The number of lines to draw
                length: 20, // The length of each line
                width: 10, // The line thickness
                radius: 30, // The radius of the inner circle
                corners: 1, // Corner roundness (0..1)
                rotate: 0, // The rotation offset
                direction: 1, // 1: clockwise, -1: counterclockwise
                color: '#000', // #rgb or #rrggbb or array of colors
                speed: 1.3, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false, // Whether to use hardware acceleration
                className: 'spinner', // The CSS class to assign to the spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: '50%', // Top position relative to parent
                left: '50%' // Left position relative to parent
            };
            var target = document.getElementById('loader');
            var spinner = new Spinner(opts).spin(target);

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/styler/jquery.formstyler.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/odyniec/distfiles/css/imgareaselect-default.css') }}" rel="stylesheet" media="all">
    <style>
        progress{
            display: none;
        }
        .img-pop-up{
            position: absolute;
            width: 700px;
            max-height: 700px;
            min-height: 300px;
            background: #ffffff;
            border: 1px solid #ae3538;
            left: 50%;
            top: 50px;
            margin-left: -350px;
            z-index: 905;
            display: none;
            text-align: center;
        }
        .inp-pop-up{
            position: absolute;
            width: 700px;
            max-height: 700px;
            min-height: 300px;
            background: #ffffff;
            border: 1px solid #ae3538;
            left: 50%;
            top: 50px;
            margin-left: -350px;
            z-index: 905;
            display: none;
            text-align: center;
        }
        #img-pop-up-img div{
            width: 680px;
        }
        #img-pop-up-img div img{
            max-width: 680px;
            max-height: 400px;
        }
        .bg-gray{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #555555;
            opacity: 0.5;
            z-index: 900;
            display: none;
        }
        .img-pop-up-title, .img-pop-up-nav{
            text-align: center;
            padding: 10px;
            max-width: 680px;
        }
        .label-text{
            /*margin-top: -15px;*/
        }
        .label{
            width: 315px;
        }
        form{
            margin: 0;
        }
        .empty-row{
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            padding: 30px 10px 10px 10px;
            font-weight: bold;
        }
        .empty-row-border{
            border: 1px solid #CCCCCC;
        }
        .required{
            color: #CC0000;
        }
        .inp-pop-up div table{
            margin: 20px auto;
        }

        .inp-pop-up div table tr .empty-row{
            border-top: none;
        }
        .inp-box{
            display: none;
        }
        #loader{
            display: none;
        }
    </style>
{% endblock %}