{#{% spaceless %}#}
<ns2:TacPackage xmlns:ns2="http://www.example.org/">
    <MessageInfo>
        <MessageId>FLGMN-{{ driver.xmlId }}</MessageId>
        <MessageDate>2014-09-01+04:00</MessageDate>
        <MessageOwn>FLGMN</MessageOwn>
        <MessageRecipient>ATLAS</MessageRecipient>
    </MessageInfo>
    <PackageInfo>
        <PackageNumber>FLGMN-{{ driver.xmlId }}</PackageNumber>
        <PackageDate> {{ "now" | date('Y-m-d P')}}</PackageDate>
        <OvkId>FLGMN</OvkId>
        <CardManufacturerId>ATLAS</CardManufacturerId>
    </PackageInfo>
    <Order_v2>
        <OrderNumber>FLGMN-{{ driver.xmlId }}</OrderNumber>
        <OrderDate>{{ driver.created | date('Y-m-d P')}}</OrderDate>
        <OrderCardType>D</OrderCardType>
        <OrderCardCount>1</OrderCardCount>
        <OrderReason>create</OrderReason>
        <PersonOrder>
            <PersonInfo>
                <NameFirst>{{ driver.firstName }}</NameFirst>
                <NameMiddle>{{ driver.surName is not null ? driver.surName : '' }}</NameMiddle>
                <NameLast>{{ driver.lastName }}</NameLast>
                <BirthDate>{{ driver.birthDate | date('Y-m-d P') }}</BirthDate>
                <SNILS>{{ driver.snils }}</SNILS>
                <Credential>
                    <Type>passport</Type>
                    <Series>{{ driver.passportSerial }}</Series>
                    <Number>{{ driver.passportNumber }}</Number>
                    <IssuedBy>{{ driver.passportIssuance }}</IssuedBy>
                    <Division>{{ driver.passportCode }}</Division>
                    <IssuedDate>{{ driver.passportIssuanceDate | date('Y-m-d P') }}</IssuedDate>
                </Credential>
            </PersonInfo>
            <ContactInfo/>
            <DriverLicense>
                <DriverLicenseNumber>{{ driver.driverDocNumber }}</DriverLicenseNumber>
                <DriverLicenseCountryEstrCode>43</DriverLicenseCountryEstrCode>
                <DriverLicenseCountry>RUS</DriverLicenseCountry>
                <DriverLicenseOrg>{{ driver.driverDocIssuance }}</DriverLicenseOrg>
                <DriverLicenseIssuedDate>{{ driver.driverDocDateStarts | date('Y-m-d P') }}</DriverLicenseIssuedDate>
                <DriverLicenseExpirationDate>{{ driver.driverDocDateEnds | date('Y-m-d P') }}</DriverLicenseExpirationDate>
            </DriverLicense>
            {% if driver.company.title  != '' %}
                <OrgName>{{ driver.company.title }}</OrgName>
                <OrgPostAddress>
                    <FullAddress>{{ driver.company.zipcode }},
                        {{ driver.company.region }},  {{ driver.company.city }},
                        {{ driver.company.street }},д.{{ driver.company.home }} {{ driver.company.corp }}, {{ driver.company.room }}</FullAddress>
                    <PostCode>{{ driver.company.zipcode }}</PostCode>
                    <RegionCode>{{ driver.company.region.id }}</RegionCode>
                    <Settlement>{{ driver.company.city }}</Settlement>
                    <Street>{{ driver.company.street }}</Street>
                    <House>{{ driver.company.home }}</House>
                    <Building>{{ driver.company.corp }}</Building>
                    <Office>{{ driver.company.room }}</Office>
                </OrgPostAddress>
            {% else %}
                <OrgName>НПО "ТЕХНОЛОГ"</OrgName>
                <OrgPostAddress>
                    <FullAddress>195196, Санкт-Петербург, ул.Громова, д.14/6, лит. А, пом. 3-Н</FullAddress>
                    <PostCode>195196</PostCode>
                    <RegionCode>78</RegionCode>
                    <Settlement>Санкт-Петербург</Settlement>
                    <Street>ул.Громова</Street>
                    <House>д.14/6</House>
                    <Building>лит. А</Building>
                    <Office>пом. 3-Н</Office>
                </OrgPostAddress>
            {% endif %}
            {#<Photo>#}
                {#<AttachmentName>{{ files[2].title }}</AttachmentName>#}
                {#<AttachmentType>Photo</AttachmentType>#}
                {#<FileFormat>{% if files[2].file.mimeType == 'image/jpeg' %}JPG{% elseif files[2].file.mimeType == 'image/png' %}PNG{% elseif files[2].file.mimeType == 'image/gif' %}GIF{% else %}FILE{% endif %}</FileFormat>#}
                {#<Body>{{ files[2].base }}</Body>#}
            {#</Photo>#}

            {#<Sign>#}
                {#<AttachmentName>{{ files[3].title }}</AttachmentName>#}
                {#<AttachmentType>Signature</AttachmentType>#}
                {#<FileFormat>{% if files[3].file.mimeType == 'image/jpeg' %}JPG{% elseif files[3].file.mimeType == 'image/png' %}PNG{% elseif files[3].file.mimeType == 'image/gif' %}GIF{% else %}FILE{% endif %}</FileFormat>#}
                {#<Body>{{ files[3].base }}</Body>#}
            {#</Sign>#}
        </PersonOrder>

        {#&#123;&#35; Паспорт &#35;&#125;#}
        {#<Attachment>#}
            {#<AttachmentName>{{ files[0].title }}</AttachmentName>#}
            {#<AttachmentType>Other</AttachmentType>#}
            {#<FileFormat>PDF</FileFormat>#}
            {#<Body>{{ files[0].base }}</Body>#}
        {#</Attachment>#}

        {#&#123;&#35; Водительское удостоверение &#35;&#125;#}
        {#<Attachment>#}
            {#<AttachmentName>{{ files[1].title }}</AttachmentName>#}
            {#<AttachmentType>Other</AttachmentType>#}
            {#<FileFormat>PDF</FileFormat>#}
            {#<Body>{{ files[1].base }}</Body>#}
        {#</Attachment>#}

        {#&#123;&#35; СНИЛС &#35;&#125;#}
        {#{% if files[5] is defined %}#}
        {#<Attachment>#}
            {#<AttachmentName>{{ files[5].title }}</AttachmentName>#}
            {#<AttachmentType>Other</AttachmentType>#}
            {#<FileFormat>PDF</FileFormat>#}
            {#<Body>{{ files[5].base }}</Body>#}
        {#</Attachment>#}
        {#{% endif %}#}

        {#&#123;&#35; Разрешение на работу &#35;&#125;#}
        {#{% if files[6] is defined %}#}
        {#<Attachment>#}
            {#<AttachmentName>{{ files[6].title }}</AttachmentName>#}
            {#<AttachmentType>Other</AttachmentType>#}
            {#<FileFormat>PDF</FileFormat>#}
            {#<Body>{{ files[6].base }}</Body>#}
        {#</Attachment>#}
        {#{% endif %}#}

        {#&#123;&#35; Ходатайство &#35;&#125;#}
        {#{% if files[8] is defined %}#}
            {#<Attachment>#}
                {#<AttachmentName>petition.pdf</AttachmentName>#}
                {#<AttachmentType>Other</AttachmentType>#}
                {#<FileFormat>PDF</FileFormat>#}
                {#<Body>{{ files[8].base }}</Body>#}
            {#</Attachment>#}
        {#{% endif %}#}

        {#&#123;&#35; Заявление &#35;&#125;#}
        {#{% if files[7] is defined %}#}
            {#<Attachment>#}
                {#<AttachmentName>statement.pdf</AttachmentName>#}
                {#<AttachmentType>Other</AttachmentType>#}
                {#<FileFormat>PDF</FileFormat>#}
                {#<Body>{{ files[7].base }}</Body>#}
            {#</Attachment>#}
        {#{% endif %}#}
    </Order_v2>
</ns2:TacPackage>
{#{% endspaceless %}#}