{% spaceless %}
<ns2:TacPackage xmlns:ns2="http://www.example.org/">
    <PackageInfo>
        <PackageNumber>FLGMN-{{ driver.xmlId }}</PackageNumber>
        <PackageDate> {{ "now" | date('Y-m-d')}}Z</PackageDate>
        <OvkId>FLGMN</OvkId>
        <CardManufacturerId>ATLAS</CardManufacturerId>
    </PackageInfo>
    <Order>
        <OrderNumber>FLGMN-{{ driver.xmlId }}</OrderNumber>
        <OrderDate>{{ driver.created | date('Y-m-d')}}Z</OrderDate>
        <OrderCardType>D</OrderCardType>
        <OrderCardCount>1</OrderCardCount>
        <PersonOrder>
            <PersonInfo>
                <NameFirst>{{ driver.firstName }}</NameFirst>
                <NameLast>{{ driver.lastName }}</NameLast>
                <BirthDate>{{ driver.birthDate | date('Y-m-d') }}Z</BirthDate>
                <SNILS>{{ driver.snils }}</SNILS>
                <Passport>
                    <PassportSeries>{{ driver.passportSerial }}</PassportSeries>
                    <PassportNumber>{{ driver.passportNumber }}</PassportNumber>
                    <PassportIssuedBy>{{ driver.passportIssuance }}</PassportIssuedBy>
                    <PassportDivision>{{ driver.passportCode }}</PassportDivision>
                    <PassportIssuedDate>{{ driver.passportIssuanceDate | date('Y-m-d') }}Z</PassportIssuedDate>
                </Passport>
            </PersonInfo>
            <ContactInfo/>
            <DriverLicense>
                <DriverLicenseNumber>{{ driver.driverDocNumber }}</DriverLicenseNumber>
                <DriverLicenseCountryEstrCode>43</DriverLicenseCountryEstrCode>
                <DriverLicenseCountry>RUS</DriverLicenseCountry>
                <DriverLicenseOrg>{{ driver.driverDocIssuance }}</DriverLicenseOrg>
                <DriverLicenseIssuedDate>{{ driver.driverDocDateStarts | date('Y-m-d') }}Z</DriverLicenseIssuedDate>
                <DriverLicenseExpirationDate>{{ driver.driverDocDateEnds | date('Y-m-d') }}Z</DriverLicenseExpirationDate>
            </DriverLicense>
            <OrgName>{{ driver.company.title }}</OrgName>
            <OrgPostAddress>
                <FullAddress>
                    {{ driver.company.zipcode }},Россия,
                    {{ driver.company.region }},  {{ driver.company.city }},
                    {{ driver.company.street }},д.{{ driver.company.home }} {{ driver.company.corp }}, {{ driver.company.room }}</FullAddress>
                <PostCode>{{ driver.company.zipcode }}</PostCode>
                <RegionCode>{{ driver.company.region.id }}</RegionCode>
                <Settlement>{{ driver.company.city }}</Settlement>
                <Street>{{ driver.company.street }}</Street>
                <House>{{ driver.company.home }}</House>
                <Building>{{ driver.company.corp }}</Building>
                <Office>{{ driver.company.room }}</Office>
            </OrgPostAddress>
            <Photo>
                <AttachmentName>{{ files[2].file.fileName }}</AttachmentName>
                <AttachmentType>Photo</AttachmentType>
                <FileFormat>{% if files[2].file.mimeType == 'image/jpeg' %}JPG{% elseif files[2].file.mimeType == 'image/png' %}PNG{% elseif files[2].file.mimeType == 'image/gif' %}GIF{% else %}FILE{% endif %}</FileFormat>
                <Body>{{ files[2].base }}</Body>
            </Photo>
            <Sign>
                <AttachmentName>{{ files[3].file.fileName }}</AttachmentName>
                <AttachmentType>Signature</AttachmentType>
                <FileFormat>{% if files[3].file.mimeType == 'image/jpeg' %}JPG{% elseif files[3].file.mimeType == 'image/png' %}PNG{% elseif files[3].file.mimeType == 'image/gif' %}GIF{% else %}FILE{% endif %}</FileFormat>
                <Body>{{ files[3].base }}</Body>
            </Sign>
        </PersonOrder>
        <Attachment>
            <AttachmentName>{{ files[0].file.fileName }}</AttachmentName>
            <AttachmentType>Other</AttachmentType>
            <FileFormat>{% if files[0].file.mimeType == 'image/jpeg' %}JPG{% elseif files[0].file.mimeType == 'image/png' %}PNG{% elseif files[0].file.mimeType == 'image/gif' %}GIF{% else %}FILE{% endif %}</FileFormat>
            <Body>{{ files[0].base }}</Body>
        </Attachment>
        <Attachment>
            <AttachmentName>{{ files[1].file.fileName }}</AttachmentName>
            <AttachmentType>Other</AttachmentType>
            <FileFormat>{% if files[1].file.mimeType == 'image/jpeg' %}JPG{% elseif files[1].file.mimeType == 'image/png' %}PNG{% elseif files[1].file.mimeType == 'image/gif' %}GIF{% else %}FILE{% endif %}</FileFormat>
            <Body>{{ files[1].base }}</Body>
        </Attachment>
        <Attachment>
            <AttachmentName>{{ files[5].file.fileName }}</AttachmentName>
            <AttachmentType>Other</AttachmentType>
            <FileFormat>{% if files[5].file.mimeType == 'image/jpeg' %}JPG{% elseif files[5].file.mimeType == 'image/png' %}PNG{% elseif files[5].file.mimeType == 'image/gif' %}GIF{% else %}FILE{% endif %}</FileFormat>
            <Body>{{ files[5].base }}</Body>
        </Attachment>
        {% if files[6] is defined %}
        <Attachment>
            <AttachmentName>{{ files[6].file.fileName }}</AttachmentName>
            <AttachmentType>Other</AttachmentType>
            <FileFormat>{% if files[6].file.mimeType == 'image/jpeg' %}JPG{% elseif files[6].file.mimeType == 'image/png' %}PNG{% elseif files[6].file.mimeType == 'image/gif' %}GIF{% else %}FILE{% endif %}</FileFormat>
            <Body>{{ files[6].base }}</Body>
        </Attachment>
        {% endif %}
    </Order>
</ns2:TacPackage>
{% endspaceless %}