<html>
<head>
  {% block javascripts %}
    <script src="{{ asset('bundles/paneloperator/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/paneloperator/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/paneloperator/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/paneloperator/js/bootstrap-modal-popover.js') }}"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/styler/jquery.formstyler.min.js') }}" type="text/javascript"></script>


    <script src="{{ asset('bundles/crmmain/fancybox/source/jquery.fancybox.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/paneloperator/chosen/chosen.jquery.js') }}"></script>

    <script src="{{ asset('bundles/paneloperator/js/hinclude.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script rel="script" src="{{ asset('bundles/crmoperator/js/select2.js') }}"></script>
    {#<script src="{{ asset('bundles/paneloperator/bootstrap-table-master/src/bootstrap-table.js') }}"></script>#}
    <script>
      $(document).ready(function(){

        $('.fancybox-pdf').fancybox({
          openEffect: 'elastic',
          closeEffect: 'elastic',
          width: 900,
          autoSize: true,
          type: 'iframe',
          iframe: {
            preload: false // fixes issue with iframe and IE
          }
        });

        $('input:text, input:file, select:not([id*="manager"]):not(.chosen)').styler();
        $('.styler').styler();
        {% if is_granted('ROLE_OPERATOR') %}
        $('#myquota').click(function () {
          BootstrapDialog.alert(
                  {
                    title : 'Моя квота',
                    message : '{% include 'PanelOperatorBundle::topQuota.html.twig' %}'
                  }

          );
          return false;
        });
        {% endif %}

        $('.managers').keypress(function(e){
          var input = $(this);
          $(input).css('color','rgb(0, 0, 0)');
          if(e.which == 13) {
            $.ajax({
              type: "POST",
              url: Routing.generate('panel_edit_manager'),
              data: 'id='+$(input).attr('id')+'&key='+$(input).val(),
              success: function (msg) {
                if (msg == 'ok'){
                  $(input).css('color','rgb(46, 124, 55)');
                }else{
                  alert('Ошибка сохраненния');
                  $(input).css('color','rgb(124, 46, 55)');
                }
              }
            });
          }
        });

        $(".choosenselect").chosen({no_results_text: "По вашему запросу не найдено", width: 300});

        $('#a-search-btn').click(function(){
          var url = Routing.generate('panel_user_list', { 'status' : 'all', 'company': null, 'operator': null ,'type': null, 'search' : $('#a-search').val() });
          window.location.href = url;
        });
        $('#a-search').keypress(function(e) {
          if (e.which == 13) {
            var url = Routing.generate('panel_user_list', { 'status' : 'all', 'company': null, 'operator': null ,'type': null, 'search' : $('#a-search').val() });
            window.location.href = url;
          }
        });

        {% if app.request.attributes.get('_route_params').status is defined %}
          $('#filter-search').keypress(function(e) {
            if (e.which == 13) {
              var url = Routing.generate('panel_user_list', { 'status' : '{{ app.request.attributes.get('_route_params').status }}', 'company': '{{ companyId }}', 'operator': '{{ operatorId }}' ,'type': $('#filter-type').val(), 'dateStart' : $('#filter-dateStart').val(), 'dateEnd' : $('#filter-dateEnd').val(),'search' : $('#filter-search').val(), 'filterManager' : $('#filter-manager').val().toString() });
              window.location.href = url;
            }
          });
        {% endif %}

          
          $('.openPrivateComment').click(function () {
                $('#privateCommentUserId').val($(this).data('id'));
                $('#privateCommentText').val($(this).data('message'));
                $('#privateComment').modal();
          });
      });
    </script>
  {% endblock %}

  {% block stylesheets %}
    <link href="{{ asset('bundles/paneloperator/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmoperator/stylesheets/select2.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/styler/jquery.formstyler.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/paneloperator/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/crmmain/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/paneloperator/css/common.css') }}" rel="stylesheet">
    {#<link href="{{ asset('bundles/paneloperator/bootstrap-table-master/src/bootstrap-table.css') }}" rel="stylesheet">#}

    {% stylesheets filter='less'  '@PanelOperatorBundle/Resources/public/less/*' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}

    <style>
      .setting{
        text-align: right;
      }
    .navigation{
        background: #FFF;
        position: fixed;
        bottom: 0;
        width: 100%;

    }
    </style>
  {% endblock %}
</head>
<body>
<header style="  display: block;
  position: fixed; z-index: 99999; left: 0; right: 0; top: 0">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Панель заявок <span class="text-warning">[ ОПЕРАТОР ]</span></a>
      </div>
      <div class="navbar-left">
        <div class="collapse navbar-collapse">
          {#{% if is_granted('ROLE_ADMIN') %}#}
          <ul class="nav navbar-nav">
            {#<li><a href="{{ path('order_list') }}" target="_blank">На сайт</a></li>#}
            {#<li><a href="{{ path('_security_logout') }}">Выйти</a></li>#}
            <li>
              <button type="button" class="btn btn-primary" style="margin-top: 10px;" id="myquota">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
            </li>
          </ul>
          {#{% endif %}#}
        </div>
      </div>
      <div style="float: right;  padding-top: 10px;">
        <div class="row">
          <div class="col-sm-8"><input type="text" class="form-control" id="a-search"></div>
          <div class="col-sm-4"><button class="btn btn-primary" id="a-search-btn">Найти</button></div>
        </div>
      </div>

    </div>
  </nav>
</header>
<div class="container" style="margin-top: 70px;">
  {% block alert %}{% endblock %}
  {#<div class="alert alert-success" role="alert"></div>#}
  {#<div class="alert alert-info" role="alert"></div>#}
  {#<div class="alert alert-warning" role="alert"></div>#}
  {#<div class="alert alert-danger" role="alert"></div>#}
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2" style="padding: 0;">
      {% block menu %}
        {% include 'PanelOperatorBundle::menu.html.twig' %}
          {% if not is_granted('ROLE_HIGH') %}
            {% include 'PanelOperatorBundle::quotas.html.twig' %}
            {{ render(path('calc')) }}
        {% endif %}
      {% endblock %}
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10">
        <div class="alert alert-danger">
            <p>Изменение цены на карты ЕСТР!!!  С 01.11.2018 цены на карты ЕСТР повышаются на 600,00руб.</p>
        </div>
      {% block breadcrumb %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% block body %}{% endblock %}

<div class="modal fade" id="privateComment" tabindex="-1" role="dialog" aria-labelledby="privateCommentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Приватный комментарий</h4>
            </div>
            <form method="POST" action="{{ path('panel_operator_private_message') }}">
                <div class="modal-body">
                    <input type="hidden" name="userId" value="" id="privateCommentUserId">
                    <textarea class="form-control" name="privateCommentText" id="privateCommentText"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<div id="myquota-box">

</div>
</html>
