{%
    if  ( app.request.attributes.get('_route') == 'panel_user_choose' or app.request.attributes.get('_route') == 'panel_user_arhive' ) and
        ( app.request.attributes.get('_route_params').company is not defined or app.request.attributes.get('_route_params').company == null) and
        ( app.request.attributes.get('_route_params').operator is not defined or app.request.attributes.get('_route_params').operator == null)
%}
<div class="well">
    <h3 class="modal-title">Квоты</h3>
    <h4>Осталось рублей:</h4>
    <h3>{{ app.user.quota }}</h3>
    <br/>
    <h4>Неподтвержденных заявок:</h4>
    <h3>{{ app.user.NewOrderCount }} шт.</h3>
    <br />
    <h4>Использовано:</h4>
    <div style="display: inline-block; width: 70px;">СКЗИ: </div><h4 style="display: inline;">{{ app.user.completedCount.skzi  }}</h4> шт. ( {{ app.user.completedCount.skzi  * app.user.priceSkzi }} р. ) <br />
    <div style="display: inline-block; width: 70px;">ЕСТР: </div><h4 style="display: inline;">{{ app.user.completedCount.estr  }}</h4> шт. ({{ app.user.completedCount.estr  * app.user.priceEstr }} р. )<br />
    <div style="display: inline-block; width: 70px;">РФ: </div><h4 style="display: inline;">{{ app.user.completedCount.ru  }}</h4> шт. ({{ app.user.completedCount.ru  * app.user.priceRu }} р. )<br />
    <br />
    <h4>Стоимость заявки:</h4>
    <div style="display: inline-block; width: 70px;">СКЗИ: </div><h4 style="display: inline;">{{  app.user.priceSkzi }} р.</h4><br />
    <div style="display: inline-block; width: 70px;">ЕСТР: </div><h4 style="display: inline;">{{ app.user.priceEstr }} р.</h4><br />
    <div style="display: inline-block; width: 70px;">РФ: </div><h4 style="display: inline;">{{ app.user.priceRu }} р.</h4>
</div>
{% endif %}


{% if app.request.attributes.get('_route_params').company is defined and app.request.attributes.get('_route_params').company != 'null' and app.request.attributes.get('_route_params').company != null %}
    {{ render_hinclude(path('panel_company_get_quota', {'companyId' : app.request.attributes.get('_route_params').company})) }}
{% endif %}

{% if app.request.attributes.get('_route_params').operator is defined and app.request.attributes.get('_route_params').operator != 'null' and app.request.attributes.get('_route_params').operator != null %}
    {{ render_hinclude(path('panel_operator_get_quota', {'operatorId' : app.request.attributes.get('_route_params').operator})) }}
{% endif %}