{% if app.request.attributes.get('_route_params').type is defined %}
    {% set f_type = app.request.attributes.get('_route_params').type %}
{% else %}
    {% set f_type = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').status is defined %}
    {% set f_status = app.request.attributes.get('_route_params').status %}
{% else %}
    {% set f_status = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').company is defined %}
    {% set f_company = app.request.attributes.get('_route_params').company %}
{% else %}
    {% set f_company = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').operator is defined %}
    {% set f_operator = app.request.attributes.get('_route_params').operator %}
{% else %}
    {% set f_operator = null %}
{% endif %}

{% if app.request.query.all.dateStart is defined %}
    {% set f_dateStart = app.request.query.all.dateStart %}
{% else %}
    {% set f_dateStart = '' %}
{% endif %}

{% if app.request.query.all.dateEnd is defined %}
    {% set f_dateEnd = app.request.query.all.dateEnd %}
{% else %}
    {% set f_dateEnd = '' %}
{% endif %}

{% if app.request.query.all.search is defined %}
    {% set f_search = app.request.query.all.search %}
{% else %}
    {% set f_search = '' %}
{% endif %}


{% set searchLine = '?dateStart='~f_dateStart~'&dateEnd='~f_dateEnd~'&search='~f_search %}

<div class="well">
    <table>
        <tr>
            <td colspan="4">
                <h4>Страница актов</h4>
            </td>
        </tr>
        <tr>
            <td style="">
                {% if app.request.attributes.get('_route_params').type is defined %}
                    {% set f_type = app.request.attributes.get('_route_params').type %}
                {% else %}
                    {% set f_type = 'null' %}
                {% endif %}
                <select style="width: 250px" name="type" id="filter-type">
                    <option value="null" {{ f_type == 'null' ? 'selected="selected"' : '' }}>Все типы</option>
                    <option value="0" {{ f_type == '0' ? 'selected="selected"' : '' }}>СКЗИ</option>
                    <option value="1" {{ f_type == '1' ? 'selected="selected"' : '' }}>ЕСТР</option>
                    <option value="2" {{ f_type == '2' ? 'selected="selected"' : '' }}>РФ</option>
                </select>
            </td>
            <td>
                <input type="date" class="form-control" style="width: 150px;margin: 0 10px" id="filter-dateStart" placeholder="начало"
                       value="{{ app.request.query.all.dateStart is defined ? app.request.query.all.dateStart : '' }}">
            </td>
            <td>
                <input type="date" class="form-control" style="width: 150px;margin: 0 0px" id="filter-dateEnd" placeholder="Конец"
                       value="{{ app.request.query.all.dateEnd is defined ? app.request.query.all.dateEnd : '' }}">
            </td>
            <td style="">
                <input type="text" placeholder="Текст поиска" class="form-control" style="width: 250px; margin: 0 10px" id="filter-search"
                       value="{{ app.request.query.all.search is defined ? app.request.query.all.search : '' }}">
            </td>
        </tr>
        {#{% if is_granted('ROLE_ADMIN') %}#}
            {#<tr>#}
                {#<td colspan="3">#}
                    {#<br />#}
                    {#<select id="filter-act" class="choosenselect" multiple>#}
                        {#<option value="null" selected>Показать всех</option>#}
                        {#<option value="nul"  {{ filterAct['nul'] is defined ? 'selected="selected"' : '' }}>Без Акта</option>#}
                        {#{% for a in acts %}#}
                            {#<option value="{{ a.id }}" {{ filterAct[a.title] is defined ? 'selected="selected"' : '' }}>{{ a.title }}</option>#}
                        {#{% endfor %}#}
                    {#</select>#}
                {#</td>#}
            {#</tr>#}
        {#{% endif %}#}
        <tr>
            <td style="">
                <button class="form-control btn btn-primary" id="filter-send">Поиск</button>
            </td>
            <td style="padding-top: 8px;">
                <a href="?">
                    <button type="button" class="btn btn-danger" title="Снять фильтр" style="margin-left: 10px; margin-bottom: 10px">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

</div>

<div class="well">
    <ul class="nav nav-tabs">
        <li class="{{ app.request.attributes.get('_route_params').status == 'all' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list_act', { 'status' : 'all', 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">
                ВСЕ
            </a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '0' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list_act', { 'status' : '0', 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">
                Новые
                {{ render(path('panel_user_get_count',{'status' : '0', 'company' : f_company, 'operator' : f_operator  })) }}
            </a>
        </li>
        {#<li class="{{ app.request.attributes.get('_route_params').status == '1' ? 'active' : '' }}">#}
        {#<a href="{{ path('panel_user_list_act', { 'status' : 1, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Подтвержденные {{ render(path('panel_user_get_count',{'status' : 1, 'company' : f_company, 'operator' : f_operator })) }}</a>#}
        {#</li>#}
        <li class="{{ app.request.attributes.get('_route_params').status == '2' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list_act', { 'status' : 2, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Оплаченные {{ render(path('panel_user_get_count',{'status' : 2, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '3' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list_act', { 'status' : 3, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">В&nbsp;производстве {{ render(path('panel_user_get_count',{'status' : 3, 'company' : f_company , 'operator' : f_operator })) }}</a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
            <li class="{{ app.request.attributes.get('_route_params').status == '6' ? 'active' : '' }}">
                <a href="{{ path('panel_user_list_act', { 'status' : 6, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Изготовленые {{ render(path('panel_user_get_count',{'status' : 6, 'company' : f_company, 'operator' : f_operator })) }}</a>
            </li>
            <li class="{{ app.request.attributes.get('_route_params').status == '4' ? 'active' : '' }}">
                <a href="{{ path('panel_user_list_act', { 'status' : 4, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">На почте {{ render(path('panel_user_get_count',{'status' : 4, 'company' : f_company, 'operator' : f_operator })) }}</a>
            </li>
        {% endif %}

        <li class="{{ app.request.attributes.get('_route_params').status == '5' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list_act', { 'status' : 5, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Полученные {{ render(path('panel_user_get_count',{'status' : 5, 'company' : f_company , 'operator' : f_operator})) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '10' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list_act', { 'status' : 10, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Отклоненные {{ render(path('panel_user_get_count',{'status' : 10, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
    </ul>
</div>

{% if is_granted('ROLE_ADMIN') %}
    <div class="well well-small">
        <button id="act" class="btn btn-primary" data-toggle="modal" data-target="#actModal">Добавить Акт</button>
    </div>
{% endif %}

<script>
    $(document).ready(function(){
        $('#comfirmedsaveact').click(function(){
            var url = Routing.generate('panel_user_save_many_act',{'number' : $('#actTitle').val(), 'date' :  $('#actDate').val() });
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_self');
            $('#form-list').submit();
        });

        $('#filter-send').click(function () {
            var url = Routing.generate('panel_user_list_act', { 'status' : '{{ app.request.attributes.get('_route_params').status }}', 'company': '{{ companyId }}', 'operator': '{{ operatorId }}' ,'type': $('#filter-type').val(), 'dateStart' : $('#filter-dateStart').val(), 'dateEnd' : $('#filter-dateEnd').val(),'search' : $('#filter-search').val(), 'filterManager' : $('#filter-act').val().toString() });
            window.location.href = url;
        });

    });
</script>


<div class="modal fade" tabindex="-1" role="dialog" id="actModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Выставление актов</h4>
            </div>
            <div class="modal-body">
                <p>Укажите номер акта</p>
                <input type="text" class="form-control" name="actTitle" id="actTitle">
                <p>Укажите дату акта</p>
                <input type="date" class="form-control" name="actDate" id="actDate">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="comfirmedsaveact">Сохранить</button>
            </div>
        </div>
    </div>
</div>