{% if app.request.attributes.get('_route_params').type is defined %}
    {% set f_type = app.request.attributes.get('_route_params').type %}
{% else %}
    {% set f_type = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').status is defined %}
    {% set f_status = app.request.attributes.get('_route_params').status %}
{% else %}
    {% set f_status = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').company is defined %}
    {% set f_company = app.request.attributes.get('_route_params').company %}
{% else %}
    {% set f_company = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').operator is defined %}
    {% set f_operator = app.request.attributes.get('_route_params').operator %}
{% else %}
    {% set f_operator = null %}
{% endif %}

{% if app.request.query.all.dateStart is defined %}
    {% set f_dateStart = app.request.query.all.dateStart %}
{% else %}
    {% set f_dateStart = '' %}
{% endif %}

{% if app.request.query.all.dateEnd is defined %}
    {% set f_dateEnd = app.request.query.all.dateEnd %}
{% else %}
    {% set f_dateEnd = '' %}
{% endif %}

{% if app.request.query.all.search is defined %}
    {% set f_search = app.request.query.all.search %}
{% else %}
    {% set f_search = '' %}
{% endif %}


{% set searchLine = '?dateStart='~f_dateStart~'&dateEnd='~f_dateEnd~'&search='~f_search %}

<div class="well">
    <table>
        <tr>
            <td colspan="4">
                <h4>ФИЛЬТР</h4>
            </td>
        </tr>
        <tr>
            <td style="">
                {% if app.request.attributes.get('_route_params').type is defined %}
                    {% set f_type = app.request.attributes.get('_route_params').type %}
                {% else %}
                    {% set f_type = 'null' %}
                {% endif %}
                <select style="width: 250px" name="type" id="filter-type">
                    <option value="null" {{ f_type == 'null' ? 'selected="selected"' : '' }}>Все типы</option>
                    <option value="0" {{ f_type == '0' ? 'selected="selected"' : '' }}>СКЗИ</option>
                    <option value="1" {{ f_type == '1' ? 'selected="selected"' : '' }}>ЕСТР</option>
                    <option value="2" {{ f_type == '2' ? 'selected="selected"' : '' }}>РФ</option>
                </select>
            </td>
            <td style="padding-left: 10px">
                {% if app.request.attributes.get('_route_params').view is defined %}
                    {% set f_view = app.request.attributes.get('_route_params').view %}
                {% else %}
                    {% set f_view = 'null' %}
                {% endif %}
                <select style="width: 250px" name="type" id="filter-view">
                    <option value="null" {{ f_view == 'null' ? 'selected="selected"' : '' }}>Все виды</option>
                    <option value="0" {{ f_view == '0' ? 'selected="selected"' : '' }}>КВ</option>
                    <option value="1" {{ f_view == '1' ? 'selected="selected"' : '' }}>КП</option>
                    <option value="2" {{ f_view == '2' ? 'selected="selected"' : '' }}>КМ</option>
                </select>
            </td>
            <td>
                <input type="date" class="form-control" style="width: 150px;margin: 0 10px" id="filter-dateStart" placeholder="начало"
                       value="{{ app.request.query.all.dateStart is defined ? app.request.query.all.dateStart : '' }}">
            </td>
            <td>
                <input type="date" class="form-control" style="width: 150px;margin: 0 0px" id="filter-dateEnd" placeholder="Конец"
                       value="{{ app.request.query.all.dateEnd is defined ? app.request.query.all.dateEnd : '' }}">
            </td>
            <td style="">
                <input type="text" placeholder="Текст поиска" class="form-control" style="width: 250px; margin: 0 10px" id="filter-search"
                       value="{{ app.request.query.all.search is defined ? app.request.query.all.search : '' }}">
            </td>
            <td style="">
                <button class="form-control" id="filter-send">Поиск</button>
            </td>
            <td style="">
                <a href="?">
                    <button type="button" class="btn btn-default btn-sm btn-bg" title="Снять фильтр" style="margin-left: 10px">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
        {% if is_granted('ROLE_ADMIN') %}
        <tr>
            <td colspan="3">
                <select id="filter-manager" class="choosenselect">
                    <option value="null">Фильтр по менеджеру</option>
                    {% for manager in managers %}
                        <option value="{{ manager.managerKey }}" {{ app.request.query.all.filterManager is defined and app.request.query.all.filterManager == manager.managerKey ? 'selected="selected"' : ''}}>{{ manager.managerKey }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endif %}
    </table>

</div>

<div class="well">
    <ul class="nav nav-tabs">
        <li class="{{ app.request.attributes.get('_route_params').status == 'all' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 'all', 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">
                ВСЕ
            </a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '0' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : '0', 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">
                Новые
                {{ render(path('panel_user_get_count',{'status' : '0', 'company' : f_company, 'operator' : f_operator  })) }}
            </a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '1' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 1, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Подтвержденные {{ render(path('panel_user_get_count',{'status' : 1, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '2' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 2, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Оплаченные {{ render(path('panel_user_get_count',{'status' : 2, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '3' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 3, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">В&nbsp;производстве {{ render(path('panel_user_get_count',{'status' : 3, 'company' : f_company , 'operator' : f_operator })) }}</a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li class="{{ app.request.attributes.get('_route_params').status == '6' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 6, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Изготовленые {{ render(path('panel_user_get_count',{'status' : 6, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '4' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 4, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">На почте {{ render(path('panel_user_get_count',{'status' : 4, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
        {% endif %}

        <li class="{{ app.request.attributes.get('_route_params').status == '5' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 5, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Полученные {{ render(path('panel_user_get_count',{'status' : 5, 'company' : f_company , 'operator' : f_operator})) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '10' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 10, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Отклоненные {{ render(path('panel_user_get_count',{'status' : 10, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
    </ul>
</div>

{% if is_granted('ROLE_ADMIN') %}
    <div class="well well-small">
        <button id="xml" class="btn btn-primary">Массовый XML</button>
        <button id="print" class="btn btn-primary">Выгрузка в Excel</button>
        <button id="delivery" class="btn btn-primary">доставка</button>
    </div>
{% endif %}

<script>
    $(document).ready(function(){
        $('#xml').click(function(){
            var url = Routing.generate('panel_xml_generator_many');
            $('#form-list').attr('action', url);
            $('#form-list').submit();
        });
        $('#print').click(function(){
            var url = Routing.generate('panel_user_print_many');
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_blank');
            $('#form-list').submit();
        });
        $('#delivery').click(function(){
            var url = Routing.generate('panel_user_delivery_many');
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_blank');
            $('#form-list').submit();
        });

    });
</script>