{% if app.request.attributes.get('_route_params').type is defined %}
    {% set f_type = app.request.attributes.get('_route_params').type %}
{% else %}
    {% set f_type = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').status is defined %}
    {% set f_status = app.request.attributes.get('_route_params').status %}
{% else %}
    {% set f_status = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').company is defined %}
    {% set f_company = app.request.attributes.get('_route_params').company %}
{% else %}
    {% set f_company = null %}
{% endif %}


{% if app.request.query.all.dateStart is defined %}
    {% set f_dateStart = app.request.query.all.dateStart %}
{% else %}
    {% set f_dateStart = '' %}
{% endif %}

{% if app.request.query.all.dateEnd is defined %}
    {% set f_dateEnd = app.request.query.all.dateEnd %}
{% else %}
    {% set f_dateEnd = '' %}
{% endif %}

{% if app.request.query.all.search is defined %}
    {% set f_search = app.request.query.all.search %}
{% else %}
    {% set f_search = '' %}
{% endif %}


{% set searchLine = '?dateStart='~f_dateStart~'&dateEnd='~f_dateEnd~'&search='~f_search %}
<div class="well">
    <ul class="nav nav-tabs">
        <li class="{{ app.request.attributes.get('_route_params').status == '0' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : '0', 'type' :  f_type , 'company' : f_company }) }}{{ searchLine }}" class="active">
                Новые
                {{ render(path('panel_user_get_count',{'status' : '0', 'company' : f_company  })) }}
            </a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '1' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 1, 'type' :  f_type , 'company' : f_company }) }}{{ searchLine }}" class="active">Подтвержденные {{ render(path('panel_user_get_count',{'status' : 1, 'company' : f_company })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '2' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 2, 'type' :  f_type , 'company' : f_company }) }}{{ searchLine }}" class="active">Оплаченные {{ render(path('panel_user_get_count',{'status' : 2, 'company' : f_company })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '3' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 3, 'type' :  f_type , 'company' : f_company }) }}{{ searchLine }}" class="active">В&nbsp;производстве {{ render(path('panel_user_get_count',{'status' : 3, 'company' : f_company })) }}</a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li class="{{ app.request.attributes.get('_route_params').status == '6' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 6, 'type' :  f_type , 'company' : f_company }) }}{{ searchLine }}" class="active">Изготовленые {{ render(path('panel_user_get_count',{'status' : 6, 'company' : f_company })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '4' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 4, 'type' :  f_type , 'company' : f_company }) }}{{ searchLine }}" class="active">На почте {{ render(path('panel_user_get_count',{'status' : 4, 'company' : f_company })) }}</a>
        </li>
        {% endif %}

        <li class="{{ app.request.attributes.get('_route_params').status == '5' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 5, 'type' :  f_type , 'company' : f_company }) }}{{ searchLine }}" class="active">Полученные {{ render_hinclude(path('panel_user_get_count',{'status' : 5, 'company' : f_company })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '10' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 10, 'type' :  f_type , 'company' : f_company }) }}{{ searchLine }}" class="active">Отклоненные {{ render_hinclude(path('panel_user_get_count',{'status' : 10, 'company' : f_company })) }}</a>
        </li>
    </ul>
</div>