{% if app.request.attributes.get('_route_params').type is defined %}
    {% set f_type = app.request.attributes.get('_route_params').type %}
{% else %}
    {% set f_type = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').status is defined %}
    {% set f_status = app.request.attributes.get('_route_params').status %}
{% else %}
    {% set f_status = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').company is defined %}
    {% set f_company = app.request.attributes.get('_route_params').company %}
{% else %}
    {% set f_company = null %}
{% endif %}

{% if app.request.attributes.get('_route_params').operator is defined %}
    {% set f_operator = app.request.attributes.get('_route_params').operator %}
{% else %}
    {% set f_operator = null %}
{% endif %}

{% if app.request.query.all.dateStart is defined %}
    {% set f_dateStart = app.request.query.all.dateStart %}
{% else %}
    {% set f_dateStart = '' %}
{% endif %}

{% if app.request.query.all.dateEnd is defined %}
    {% set f_dateEnd = app.request.query.all.dateEnd %}
{% else %}
    {% set f_dateEnd = '' %}
{% endif %}

{% if app.request.query.all.search is defined %}
    {% set f_search = app.request.query.all.search %}
{% else %}
    {% set f_search = '' %}
{% endif %}


{% set searchLine = '?dateStart='~f_dateStart~'&dateEnd='~f_dateEnd~'&search='~f_search %}

<div class="well">
    <table>
        <tr>
            <td colspan="4">
                <h4>ФИЛЬТР</h4>
            </td>
        </tr>
        <tr>
            <td style="">
                {% if app.request.attributes.get('_route_params').type is defined %}
                    {% set f_type = app.request.attributes.get('_route_params').type %}
                {% else %}
                    {% set f_type = 'null' %}
                {% endif %}
                <select style="width: 250px" name="type" id="filter-type">
                    <option value="null" {{ f_type == 'null' ? 'selected="selected"' : '' }}>Все типы</option>
                    <option value="0" {{ f_type == '0' ? 'selected="selected"' : '' }}>СКЗИ</option>
                    <option value="1" {{ f_type == '1' ? 'selected="selected"' : '' }}>ЕСТР</option>
                    <option value="2" {{ f_type == '2' ? 'selected="selected"' : '' }}>РФ</option>
                </select>
            </td>
            {#<td style="padding-left: 10px">#}
                {#{% if app.request.attributes.get('_route_params').view is defined %}#}
                    {#{% set f_view = app.request.attributes.get('_route_params').view %}#}
                {#{% else %}#}
                    {#{% set f_view = 'null' %}#}
                {#{% endif %}#}
                {#<select style="width: 250px" name="type" id="filter-view">#}
                    {#<option value="null" {{ f_view == 'null' ? 'selected="selected"' : '' }}>Все виды</option>#}
                    {#<option value="0" {{ f_view == '0' ? 'selected="selected"' : '' }}>КВ</option>#}
                    {#<option value="1" {{ f_view == '1' ? 'selected="selected"' : '' }}>КП</option>#}
                    {#<option value="2" {{ f_view == '2' ? 'selected="selected"' : '' }}>КМ</option>#}
                {#</select>#}
            {#</td>#}
            <td>
                <input type="date" class="form-control" style="width: 150px;margin: 0 10px" id="filter-dateStart" placeholder="начало"
                       value="{{ app.request.query.all.dateStart is defined ? app.request.query.all.dateStart : '' }}">
            </td>
            <td>
                <input type="date" class="form-control" style="width: 150px;margin: 0 0px" id="filter-dateEnd" placeholder="Конец"
                       value="{{ app.request.query.all.dateEnd is defined ? app.request.query.all.dateEnd : '' }}">
            </td>
            <td style="">
                <input type="text" placeholder="Текст поиска" class="form-control" style="width: 250px; margin: 0 10px" id="filter-search"
                       value="{{ app.request.query.all.search is defined ? app.request.query.all.search : '' }}">
            </td>
        </tr>
        {% if is_granted('ROLE_ADMIN') %}
        <tr>
            <td colspan="3">
                <br />
                <select id="filter-manager" class="choosenselect" multiple>
                    <option value="null">Фильтр по менеджеру</option>
                    <option value="nul">Без тега</option>
                    {% for manager in managers %}
                        <option value="{{ manager.managerKey }}" {{ app.request.query.all.filterManager is defined and app.request.query.all.filterManager == manager.managerKey ? 'selected="selected"' : ''}}>{{ manager.managerKey }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td style="">
                <button class="form-control btn btn-primary" id="filter-send">Поиск</button>
            </td>
            <td style="padding-top: 8px;">
                <a href="?">
                    <button type="button" class="btn btn-danger" title="Снять фильтр" style="margin-left: 10px; margin-bottom: 10px">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

</div>

<div class="well">
    <ul class="nav nav-tabs">
        <li class="{{ app.request.attributes.get('_route_params').status == 'all' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 'all', 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">
                ВСЕ
            </a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '0' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : '0', 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">
                Новые
                {{ render(path('panel_user_get_count',{'status' : '0', 'company' : f_company, 'operator' : f_operator  })) }}
            </a>
        </li>
        {#<li class="{{ app.request.attributes.get('_route_params').status == '1' ? 'active' : '' }}">#}
            {#<a href="{{ path('panel_user_list', { 'status' : 1, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Подтвержденные {{ render(path('panel_user_get_count',{'status' : 1, 'company' : f_company, 'operator' : f_operator })) }}</a>#}
        {#</li>#}
        <li class="{{ app.request.attributes.get('_route_params').status == '2' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 2, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Оплаченные {{ render(path('panel_user_get_count',{'status' : 2, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '3' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 3, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">В&nbsp;производстве {{ render(path('panel_user_get_count',{'status' : 3, 'company' : f_company , 'operator' : f_operator })) }}</a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li class="{{ app.request.attributes.get('_route_params').status == '6' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 6, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Изготовленые {{ render(path('panel_user_get_count',{'status' : 6, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '4' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 4, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">На почте {{ render(path('panel_user_get_count',{'status' : 4, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
        {% endif %}

        <li class="{{ app.request.attributes.get('_route_params').status == '5' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 5, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Полученные {{ render(path('panel_user_get_count',{'status' : 5, 'company' : f_company , 'operator' : f_operator})) }}</a>
        </li>
        <li class="{{ app.request.attributes.get('_route_params').status == '10' ? 'active' : '' }}">
            <a href="{{ path('panel_user_list', { 'status' : 10, 'type' :  f_type , 'company' : f_company, 'operator' : f_operator }) }}{{ searchLine }}" class="active">Отклоненные {{ render(path('panel_user_get_count',{'status' : 10, 'company' : f_company, 'operator' : f_operator })) }}</a>
        </li>
    </ul>
</div>

{% if is_granted('ROLE_ADMIN') %}
    <div class="well well-small">
        <button id="xml" class="btn btn-primary">Массовый XML</button>
        <button id="print" class="btn btn-primary">Выгрузка в Excel</button>
        <button id="delivery" class="btn btn-primary">доставка</button>
        <button id="clearManager" class="btn btn-primary">Очистить Тег</button>
        <button id="setNumberPost" class="btn btn-primary" data-toggle="modal" data-target="#modalSetNumberPost">Добавить ШПИ</button>
        <button id="setNumberPost" class="btn btn-primary" data-toggle="modal" data-target="#modalchangeTag">Добавить Тег</button>
        <button id="changeStatus" class="btn btn-primary" data-toggle="modal" data-target="#modalchangeStatus">Сменить статус</button>
    </div>
{% endif %}

<script>
    $(document).ready(function(){
        $('#xml').click(function(){
            var url = Routing.generate('panel_xml_generator_many');
            $('#form-list').attr('action', url);
            $('#form-list').submit();
        });
        $('#print').click(function(){
            var url = Routing.generate('panel_user_print_many');
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_blank');
            $('#form-list').submit();
        });
        $('#delivery').click(function(){
            var url = Routing.generate('panel_user_delivery_many');
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_blank');
            $('#form-list').submit();
        });
        $('#clearManager').click(function(){
            var url = Routing.generate('panel_user_clear_manager');
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_self');
            $('#form-list').submit();
        });

        $('#comfirmedsavepost').click(function(){
            var url = Routing.generate('panel_user_save_number_post',{'number' : $('#inputNumberPost').val()});
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_self');
            $('#form-list').submit();
        });

        $('#comfirmednewstatus').click(function () {
            var url = Routing.generate('panel_user_change_status',{'type' : $('#newstatusselect').val()});
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_self');
            $('#form-list').submit();
        })

        $('#changeteg').click(function () {
            var url = Routing.generate('panel_user_change_tag',{'tag' : $('#inputtag').val()});
            $('#form-list').attr('action', url);
            $('#form-list').attr('target', '_self');
            $('#form-list').submit();
        })


        $('.checkxml').click(function(){
            var count = $('.checkxml:checked').length;
            $.notify("Выбрано "+count, "info");
        });

        $(' .getQuotaCompany').hover(
                function(){
                    var item = $(this);
                    if (item.attr('title') == ''){
                        $.ajax({
                            type: "POST",
                            url: "{{ path('get_quota_title') }}/"+item.attr('data-id'),
                            success: function(msg){
                                item.attr('title',msg);
                            },
                            error: function(msg){
                                div.text(txt);
                                alert('Ошибка получения информации');
                            }

                        });
                    }
                });

        $('.statusBox').hover(
                function(){
                    var $this = $(this);
                    var userId = $(this).parent().parent().attr('id');
                    userId = userId.substr(5);
//                    alert('\''+$(this).children('.statusItems').html()+'\'');
                        if ($(this).children('.statusItems').html()[0] == '\n'){
                            $.ajax({
                                type: "GET",
                                url: "{{ path('panel_user_get_statuslog') }}",
                                data: "userId="+userId,
                                success: function(msg){
                                    console.log(s = msg);
                                    var html = '';
                                    $.each(s,function(h,t){
                                        html += t.title + "&nbsp;-&nbsp;" + t.date+ '<br />';
                                    });
                                    $this.children('.statusItems').html(html);
                                }
                            });
                        }
                });
    });
</script>


<div class="modal fade" tabindex="-1" role="dialog" id="modalSetNumberPost">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Массовое выставление ШПИ</h4>
            </div>
            <div class="modal-body">
                <p>Укажите номер ШПИ</p>
                <input type="text" class="form-control" name="numberPost" id="inputNumberPost">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="comfirmedsavepost">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalchangeTag">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Массовое выставление тега</h4>
            </div>
            <div class="modal-body">
                <p>Укажите тег</p>
                <input type="text" class="form-control" name="inputtag" id="inputtag">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="changeteg">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalchangeStatus">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Массовое изменение статуса</h4>
            </div>
            <div class="modal-body">
                <p>Выберите статус</p>
                <select id="newstatusselect" class="form-control" style="width: 150px !important;">
                    <option value="0">Новый</option>
                    <option value="2">Оплачен</option>
                    <option value="3">В производстве</option>
                    <option value="6">Изготовлен</option>
                    <option value="4">На почте</option>
                    <option value="5">Получен</option>
                    <option value="10">Отклонен</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="comfirmednewstatus">Сохранить</button>
            </div>
        </div>
    </div>
</div>