<tr>
    <td>
        <div class="form-group">
            <label class="control-label col-sm-3" for="region">Регион:</label>
            <div class="col-sm-9">
                <input type="text"  name="region" id="region" class="form-control" value="{{ user.registeredRegion }}">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="form-group">
            <label class="control-label col-sm-3" for="area">Район:</label>
            <div class="col-sm-9">
                <input type="text"  name="area" id="area" class="form-control" value="{{ user.registeredArea }}">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="form-group">
            <label class="control-label col-sm-3" for="city">Город:</label>
            <div class="col-sm-9">
                <input type="text"  name="city" id="city" class="form-control" value="{{ user.registeredCity }}">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="form-group">
            <label class="control-label col-sm-3" for="street">Улица:</label>
            <div class="col-sm-9">
                <input type="text"  name="street" id="street" class="form-control"  value="{{ user.registeredStreet }}">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="form-group">
            <label class="control-label col-sm-3" for="house">Здание:</label>
            <div class="col-sm-2">
                <input type="text"  name="house" id="house" class="form-control" placeholder="Дом"  value="{{ user.registeredHome }}">
            </div>
            <div class="col-sm-2">
                <input type="text"  name="corp" id="corp" class="form-control" placeholder="Корп"  value="{{ user.registeredCorp }}">
            </div>
            <div class="col-sm-2">
                <input type="text"  name="structure" id="structure" class="form-control" placeholder="Стр" value="{{ user.registeredStructure }}">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="form-group">
            <label class="control-label col-sm-3" for="room">Квартира:</label>
            <div class="col-sm-3">
                <input type="text"  name="room" id="room" class="form-control" value="{{ user.registeredRoom }}">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="form-group">
            <label class="control-label col-sm-3" for="zipcode">Индекс:</label>
            <div class="col-sm-3">
                <input type="text"  name="zipcode" id="zipcode" class="form-control" value="{{ user.registeredZipcode }}">
            </div>
        </div>
    </td>
</tr>