{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_operator_list') }}">Операторы</a> &raquo;
    <a href="#">Добавить нового оператора</a>
{% endblock %}

{% block content %}
    <form method="POST">
        <table>
            <tr>
                <td class="label">Логин:</td>
                <td class="value">
                    <input name="username" id="username" type="text" value="{{ operator.username }}" placeholder="Логин оператора" class="form-control">
                </td>
            </tr>
            <tr>
                <td class="label">Пароль<span class="required">*</span>:</td>
                <td class="value">
                    <input name="password" id="password" type="password" value="" placeholder="Пароль" class="form-control">
                </td>
            </tr>
            <tr>
                <td class="label">Повторите пароль<span class="required">*</span>:</td>
                <td class="value">
                    <input name="password2" id="password2" type="password" value="" placeholder="Повторите пароль" class="form-control">
                </td>
            </tr>
            <tr>
                <td class="label">Название компании:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="companyTitle" placeholder="" ></td>
            </tr>
            <tr>
                <td class="label">ИНН:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="inn" placeholder="Индивидуальный номер налогоплатильщика"></td>
            </tr>
            <tr>
                <td class="label">Р. счет:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="rchet" placeholder="расчетный счет"></td>
            </tr>
            <tr>
                <td class="label">Банк:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="bank" placeholder="Полное название банка"></td>
            </tr>
            <tr>
                <td class="label">Кор. счет:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="korchet"></td>
            </tr>
            <tr>
                <td class="label">БИК:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="bik"></td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td class="label">Права:</td>
                <td class="value">
                    <select name="role" id="role" style="width: 270px;" class="role">
                        <option value="ROLE_OPERATOR" {{ operator.roles[0] == 'ROLE_OPERATOR' ? 'selected'  : ''}}>Оператор</option>
                        {% if is_granted('ROLE_ADMIN') %}
                            <option value="ROLE_ADMIN"  {{ operator.roles[0] == 'ROLE_ADMIN' ? 'selected'  : ''}}>Администратор</option>
                            <option value="ROLE_MODERATOR"  {{ operator.roles[0] == 'ROLE_MODERATOR' ? 'selected'  : ''}}>Модератор</option>
                            <option value="ROLE_HIGH"  {{ operator.roles[0] == 'ROLE_HIGH' ? 'selected'  : ''}}>Надзиратель</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="label">Доверенный оператор:</td>
                <td class="value" style="  padding-top: 5px;">
                    <input name="confirmed" id="confirmed" type="checkbox" {{ operator.confirmed == true ? 'checked="checked"' }} />
                </td>
            </tr>
            <tr>
                <td colspan="2"><div class="title"><b>Стоимости карт</b></div></td>
            </tr>
            <tr>
                <td class="label">СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceSkzi" ></td>
            </tr>
            <tr>
                <td class="label">ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceEstr" ></td>
            </tr>
            <tr>
                <td class="label">РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceRu" ></td>
            </tr>
            <tr>
                <td colspan="2"><div class="title"><b>Стоимости карт предприятий</b></div></td>
            </tr>
            <tr>
                <td class="label">СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceCompanySkzi" ></td>
            </tr>
            <tr>
                <td class="label">ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceCompanyEstr" ></td>
            </tr>
            <tr>
                <td class="label">РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceCompanyRu" ></td>
            </tr>

            <tr>
                <td colspan="2"><div class="title"><b>Стоимости карт мастермких</b></div></td>
            </tr>
            <tr>
                <td class="label">СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterSkzi" ></td>
            </tr>
            <tr>
                <td class="label">ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterEstr" ></td>
            </tr>
            <tr>
                <td class="label">РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterRu" ></td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="submit" id="saveHod" value="Сохранить" class="btn saveForm">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #role-styler .jq-selectbox__select{
            width: 212px !important;
        }
        .table-edit{
            margin-left: 20px;
        }
        .table-edit tr td{
            padding: 10px 0;
        }
        .label{
            width: 250px;
        }
        #url{
            width: 358px;
        }
        #companyZipcode{
            width: 358px;
        }
        #companyName{
            width: 358px;
        }
        #companyCity{
            width: 358px;
        }
        #companyStreet{
            width: 215px;
        }
        #companyTypeRoom-styler .jq-selectbox__select{
            width: 122px !important;
        }
        #companyTypeRoom-styler{
            margin-top: -1px;
        }
        #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
            width: 272px !important;
        }
        #companyTypeRoom-styler .jq-selectbox__dropdown{
            width: 180px !important;
        }
        .jq-selectbox{
            padding: 5px 0;
        }
    </style>
{% endblock %}