{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_operator_list') }}">Операторы</a> &raquo;
    <a href="#">{{ operator.username  }}</a>
{% endblock %}

{% block content %}
    <form method="POST">
        <table>
            <tr>
                <td class="label">Логин:</td>
                <td class="value">
                    <input name="username" id="username" type="text" value="{{ operator.username }}" class="form-control" placeholder="Логин оператора">
                </td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td class="label">Права:</td>
                    <td class="value">
                        <select name="role" id="role" style="width: 270px;" class="role">
                            <option value="ROLE_OPERATOR" {{ operator.roles[0] == 'ROLE_OPERATOR' ? 'selected'  : ''}}>Оператор</option>
                            <option value="ROLE_ADMIN"  {{ operator.roles[0] == 'ROLE_ADMIN' ? 'selected'  : ''}}>Администратор</option>
                            <option value="ROLE_MODERATOR"  {{ operator.roles[0] == 'ROLE_MODERATOR' ? 'selected'  : ''}}>Модератор</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">Модератор:</td>
                    <td class="value">
                        <select id="moderator" name="moderator" style="width: 270px;" class="moderator">
                            {% for m in moderators %}
                                <option value="{{ m.id }}"  {{ operator.moderator != null and operator.moderator.id == m.id ? 'selected'  : '' }}>{{ m.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="label">Доверенный оператор:</td>
                <td class="value" style="  padding-top: 5px;">
                    <input name="confirmed" id="confirmed" type="checkbox" {{ operator.confirmed == true ? 'checked="checked"' }} />
                </td>
            </tr>
            <tr>
                <td colspan="2"><div class="title"><b>Стоимости карт</b></div></td>
            </tr>
            <tr>
                <td class="label">СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceSkzi" value="{{ operator.priceSkzi }}"></td>
            </tr>
            <tr>
                <td class="label">ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceEstr" value="{{ operator.priceEstr }}"></td>
            </tr>
            <tr>
                <td class="label">РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceRu" value="{{ operator.priceRu }}"></td>
            </tr>

            <tr>
                <td colspan="2"><div class="title"><b>Сменить пароль</b></div></td>
            </tr>
            <tr>
                <td class="label">Пароль<span class="required">*</span>:</td>
                <td class="value">
                    <input  class="form-control" name="password" id="password" type="password" value="" placeholder="Пароль">
                </td>
            </tr>
            <tr>
                <td class="label">Повторите пароль<span class="required">*</span>:</td>
                <td class="value">
                    <input class="form-control" name="password2" id="password2" type="password" value="" placeholder="Повторите пароль">
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="submit" id="saveHod" value="Сохранить" class="btn saveForm">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .table-edit{
            margin-left: 20px;
        }
        .table-edit tr td{
            padding: 10px 0;
        }
        .label{
            width: 250px;
        }
        #url{
            width: 358px;
        }
        #companyZipcode{
            width: 358px;
        }
        #companyName{
            width: 358px;
        }
        #companyCity{
            width: 358px;
        }
        #companyStreet{
            width: 215px;
        }
        #role-styler .jq-selectbox__select{
            width: 212px !important;
        }
        #companyTypeRoom-styler{
            margin-top: -1px;
        }
        #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
            width: 272px !important;
        }
        #companyTypeRoom-styler .jq-selectbox__dropdown{
            width: 180px !important;
        }
        .jq-selectbox{
            padding: 5px 0;
        }
    </style>
{% endblock %}