{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_operator_list') }}">Операторы</a> &raquo;
    <a href="#">{{ operator.username  }}</a>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td class="label">Логин:</td>
                <td class="value">
                    <input name="username" id="username" type="text" value="{{ operator.username }}" class="form-control" placeholder="Логин оператора">
                </td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td class="label">Права:</td>
                    <td class="value">
                        <select name="role" id="role" style="width: 270px;" class="role">
                            <option value="ROLE_OPERATOR" {{ operator.roles[0] == 'ROLE_OPERATOR' ? 'selected'  : ''}}>Оператор</option>
                            <option value="ROLE_ADMIN"  {{ operator.roles[0] == 'ROLE_ADMIN' ? 'selected'  : ''}}>Администратор</option>
                            <option value="ROLE_MODERATOR"  {{ operator.roles[0] == 'ROLE_MODERATOR' ? 'selected'  : ''}}>Модератор</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">Модератор:</td>
                    <td class="value">
                        <select id="moderator" name="moderator" style="width: 270px;" class="moderator">
                            <option>нету</option>
                            {% for m in moderators %}
                                <option value="{{ m.id }}"  {{ operator.moderator != null and operator.moderator.id == m.id ? 'selected'  : '' }}>{{ m.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td class="label">Название компании:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="companyTitle" placeholder="" value="{{ operator.companyTitle }}"></td>
            </tr>

            <tr>
                <td class="label">Почтовый адрес организации<span class="required">*</span>:</td>
                <td class="value">
                    <select name="region" id="companyRegion" class="chosen">
                        {% for region in regions %}
                            <option value="{{ region.title }}" {{ operator.adrs.region is defined and region.title == operator.adrs.region ? 'selected="selected"' : '' }}>{{ region.title }}</option>
                        {% endfor %}
                    </select><br /><br />
                    <input name="city"    id="companyCity"     type="text" class="form-control" placeholder="Город" value="{{ operator.adrs.city }}">
                    <input name="street"  id=""   type="text" class="form-control" placeholder="Название улицы" value="{{ operator.adrs.street }}">
                    <input name="house"   id="companyHouse"    type="text" class="form-control little" placeholder="Дом"  value="{{ operator.adrs.home }}">
                    <input name="corp"    id="companyCorp"     type="text" class="form-control little" placeholder="Корп"   value="{{ operator.adrs.corp }}">
                    <input name="structure"    id="companyStructure"     type="text" class="form-control" placeholder="Строение"  class="little" value="{{ operator.adrs.structure }}">
                    <input name="room"    id="companyRoom"  type="text" class="form-control" placeholder="Номер"  class="little" value="{{ operator.adrs.room }}">
                    <input name="zipcode" id="companyZipcode"  type="text" class="form-control" placeholder="Индекс" value="{{ operator.adrs.zipcode }}"><br />
                </td>
            </tr>

            <tr>
                <td class="label">ИНН:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="inn" placeholder="Индивидуальный номер налогоплатильщика" value="{{ operator.inn }}"></td>
            </tr>
            <tr>
                <td class="label">КПП:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="kpp" placeholder="КПП" value="{{ operator.kpp }}"></td>
            </tr>
            <tr>
                <td class="label">Р. счет:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="rchet" placeholder="расчетный счет" value="{{ operator.rchet }}"></td>
            </tr>
            <tr>
                <td class="label">Банк:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="bank" placeholder="Полное название банка" value="{{ operator.bank }}"></td>
            </tr>
            <tr>
                <td class="label">Кор. счет:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="korchet" value="{{ operator.korchet }}"></td>
            </tr>
            <tr>
                <td class="label">БИК:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="bik" value="{{ operator.bik }}"></td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td class="label">Соглашение:</td>
                <td class="value" style="  padding-top: 5px;">
                    <input name="eula" id="eula" type="file"  />
                    {% if operator.eula != null %}
                        <a href="/upload/{{ operator.eula }}" target="_blank">Посмотреть</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="label">Система iframe:</td>
                <td class="value" style="  padding-top: 5px;">
                    <input name="iframe" id="iframe" type="checkbox" {{ operator.iframe == true ? 'checked="checked"' }} />
                </td>
            </tr>
                <tr>
                    <td class="label">Доверенный оператор:</td>
                    <td class="value" style="  padding-top: 5px;">
                        <input name="confirmed" id="confirmed" type="checkbox" {{ operator.confirmed == true ? 'checked="checked"' }} />
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2"><div class="title"><b>Стоимости карт водителей</b></div></td>
            </tr>
            <tr>
                <td class="label">СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceSkzi" value="{{ operator.priceSkzi }}"></td>
            </tr>
            <tr>
                <td class="label">ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceEstr" value="{{ operator.priceEstr }}"></td>
            </tr>
            <tr>
                <td class="label">РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceRu" value="{{ operator.priceRu }}"></td>
            </tr>

            <tr>
                <td colspan="2"><div class="title"><b>Стоимости карт предприятий</b></div></td>
            </tr>
            <tr>
                <td class="label">СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceCompanySkzi" value="{{ operator.priceCompanySkzi }}"></td>
            </tr>
            <tr>
                <td class="label">ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceCompanyEstr" value="{{ operator.priceCompanyEstr }}"></td>
            </tr>
            <tr>
                <td class="label">РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceCompanyRu" value="{{ operator.priceCompanyRu }}"></td>
            </tr>

            <tr>
                <td colspan="2"><div class="title"><b>Стоимости карт мастермких</b></div></td>
            </tr>
            <tr>
                <td class="label">СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterSkzi" value="{{ operator.priceMasterSkzi }}"></td>
            </tr>
            <tr>
                <td class="label">ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterEstr" value="{{ operator.priceMasterEstr }}"></td>
            </tr>
            <tr>
                <td class="label">РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterRu" value="{{ operator.priceMasterRu }}"></td>
            </tr>


            <tr>
                <td colspan="2"><div class="title"><b>Сменить пароль</b></div></td>
            </tr>
            <tr>
                <td class="label">Пароль<span class="required">*</span>:</td>
                <td class="value">
                    <input  class="form-control" name="password" id="password" type="password" value="" placeholder="Пароль">
                </td>
            </tr>
            <tr>
                <td class="label">Повторите пароль<span class="required">*</span>:</td>
                <td class="value">
                    <input class="form-control" name="password2" id="password2" type="password" value="" placeholder="Повторите пароль">
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>

            <tr>
                <td class="label">Надзиратель: </td>
                <td class="value">
                    <select name="highOperator" class="form-control">
                        {% for ho in moderators %}
                            <option value="{{ ho.id }}">{{ ho.username }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="submit" id="saveHod" value="Сохранить" class="btn saveForm">
                </td>
            </tr>
        </table>
    </form>
    <script>
        $(document).ready(function () {
            $(".chosen").chosen({no_results_text: "Компаний по вашему запросу не найдено", width: 300});
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .table-edit{
            margin-left: 20px;
        }
        .table-edit tr td{
            padding: 10px 0;
        }
        .label{
            width: 250px;
        }
        #url{
            width: 358px;
        }
        #companyZipcode{
            width: 358px;
        }
        #companyName{
            width: 358px;
        }
        #companyCity{
            width: 358px;
        }
        #companyStreet{
            width: 215px;
        }
        #role-styler .jq-selectbox__select{
            width: 212px !important;
        }
        #companyTypeRoom-styler{
            margin-top: -1px;
        }
        #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
            width: 272px !important;
        }
        #companyTypeRoom-styler .jq-selectbox__dropdown{
            width: 180px !important;
        }
        .jq-selectbox{
            padding: 5px 0;
        }
    </style>
{% endblock %}