{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Квоты оператора <a href="{{ path('panel_user_list', {'status' : 'all', 'type' : 'null', 'company' : 'null', 'operator' : operator.id }) }}">{{ operator.username }}</a> </li>
        <li><span class="btn btn-primary" id="quotaAdd">Добавить квоту</span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table" data-toggle="table"
               data-sort-name="login"
               data-sort-order="asc">
            <thead>
            <tr>
                <th >Дата</th>
                <th >Квота</th>
                <th >Распределение</th>
                <th >Примечание</th>
                <th class="setting">Инструменты</th>
            </tr>
            </thead>
            {% for q in quotes | reverse %}
                {% if q.enabled == true %}
                    <tr>
                        <td>{{ q.created | date('d.m.Y H:i') }}</td>
                        <td>{{ q.quota }} р.</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-4" title="Водитель СКЗИ">{{ q.driverSkzi }}</div>
                                <div class="col-xs-4" title="Водитель ЕСТР">{{ q.driverEstr }}</div>
                                <div class="col-xs-4" title="Водитель РФ"  >{{ q.driverRu }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4" title="предприятие СКЗИ">{{ q.companySkzi }}</div>
                                <div class="col-xs-4" title="предприятие ЕСТР">{{ q.companyEstr }}</div>
                                <div class="col-xs-4" title="предприятие РФ"  >{{ q.companyRu }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4" title="мастерская СКЗИ">{{ q.masterSkzi }}</div>
                                <div class="col-xs-4" title="мастерская ЕСТР">{{ q.masterEstr }}</div>
                                <div class="col-xs-4" title="мастерская РФ"  >{{ q.masterRu }}</div>
                            </div>
                        </td>
                        <td>{{ q.comment }}</td>
                        <td class="setting">
                            {% spaceless %}
                                <button type="button" class="btn btn-warning quotaEdit" title="Изменить" data-id="{{ q.id }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                &nbsp;
                                &nbsp;
                                <a href="{{ path('panel_operator_quota_remove',{ 'operatorId' : q.operator.id, 'id' : q.id} ) }}">
                                    <button type="button" class="btn btn-default btn-danger" title="Удалить">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </a>
                            {% endspaceless %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(quotes) }}
        </div>

        <div class="modal fade" id="addQuotaForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Добавить квоту</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                        <form class="form-horizontal" method="POST">
                            <fieldset >
                                <div class="form-group">
                                    <label for="inputQuota" class="control-label col-xs-2">Кол-во рублей</label>
                                    <div class="col-xs-10">
                                        <input type="number" name="quota" class="form-control" id="inputQuota" placeholder="Количество рублей">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputQuota" class="control-label col-xs-2">Дата поступления</label>
                                    <div class="col-xs-10">
                                        <input type="date" name="created" class="form-control" id="created" placeholder="Дата">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="control-label col-xs-2">Комментарий</label>
                                    <div class="col-xs-10">
                                        <input type="text" name="comment" class="form-control" id="inputComment" placeholder="Комментарий">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="control-label">Водитель</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="driverSkzi" class="form-control"  placeholder="СКЗИ" >
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="driverEstr" class="form-control"  placeholder="ЕСТР" >
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="driverRu" class="form-control"  placeholder="РФ" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="control-label">Предприятие</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="companySkzi" class="form-control"  placeholder="СКЗИ" >
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="companyEstr" class="form-control"  placeholder="ЕСТР" >
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="companyRu" class="form-control"  placeholder="РФ" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="control-label">Мастерская</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="masterSkzi" class="form-control"  placeholder="СКЗИ" >
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="masterEstr" class="form-control"  placeholder="ЕСТР" >
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" name="masterRu" class="form-control"  placeholder="РФ" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-2 col-xs-10">
                                        <div class="checkbox">
                                            <label><input type="checkbox" required="required" > Подтвердить ввод данных</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-2 col-xs-10">
                                        <button type="submit" class="btn btn-primary">Добавить</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        </p>
                    </div>
                    {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                    {#</div>#}
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="editQuotaForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Изменение квоты</h4>
                </div>
                <div class="modal-body" id="quotaForm">
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#quotaAdd').click(function(){
                $('#addQuotaForm').modal('show');
            });

            $('#quotaAdd').click(function(){
                $('#addQuotaForm').modal('show');
            });

            $('.quotaEdit').click(function(){
                var qoutaId = $(this).attr('data-id');
                $.ajax({
                    method: "POST",
                    url: Routing.generate('load-operator-quota', {'id': qoutaId }),
                    success: function(msg){
                        $('#quotaForm').html(msg);
                        $('#editQuotaForm').modal('show');
                    }
                })
            });

        })
    </script>
{% endblock %}