{% extends 'PanelOperatorBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( ".draggable" ).draggable({
                containment: "#containment-wrapper",
                stop: function (e) {
                    console.log(t=e);
                    console.log(e.clientX+' '+e.clientY);
                    $(this).parent().find('[data="x"]').val(e.clientX);
                    $(this).parent().find('[data="y"]').val(e.clientY);
                }
            });
        } );
    </script>
    <script>
        $( function() {
            var handle = $( "#custom-handle" );
            $( "#slider" ).slider({
                min:0,
                max:200,
                value: 100,
                create: function() {
                    handle.text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                    handle.text( ui.value );
                    $('#image').css('filter', 'brightness('+ui.value+'%)');
                    $('#brightness').val(ui.value);

                }
            });

            var handle2 = $( "#custom-handle2" );
            $( "#slider2" ).slider({
                min:0,
                max:200,
                value: 100,
                create: function() {
                    handle2.text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                    handle2.text( ui.value );
                    $('#image').css('filter', 'contrast('+ui.value+'%)');
                    $('#contrast').val(ui.value);
                }
            });
        } );
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        #custom-handle {
            width: 3em;
            height: 1.6em;
            top: 50%;
            margin-top: -.8em;
            text-align: center;
            line-height: 1.6em;
        }
        #custom-handle2 {
            width: 3em;
            height: 1.6em;
            top: 50%;
            margin-top: -.8em;
            text-align: center;
            line-height: 1.6em;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="containment-wrapper">
        <img src="/{{ file }}" id="image"/>
    </div>
    <br />
    <br />
    <form method="post">
        <div class="row">
            {% for key in 1..36 %}
            <div class="col-sm-3">
                <img src="{{ asset('bundles/crmmain/stamp_png/'~key~'.png') }}" data-src="bundles/crmmain/stamp_png/{{key}}.png" class="img-thumbnail draggable" style="background: none;">
                <input type="hidden" data="x" name="stamp[{{ key-1 }}][clientX]" id="" value="">
                <input type="hidden" data="y" name="stamp[{{ key-1 }}][clientY]" id="" value="">
                <input type="hidden" name="stamp[{{ key-1 }}][src]" id="" value="{{ asset('bundles/crmmain/stamp_png/'~key~'.png') }}">
            </div>
            {% endfor %}
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div id="slider">
                    <div id="custom-handle" class="ui-slider-handle"></div>
                </div>
            </div>
            <div class="col-sm-5">
                <div id="slider2">
                    <div id="custom-handle2" class="ui-slider-handle"></div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <input type="hidden" name="brightness" id="brightness" value="">
        <input type="hidden" name="contrast" id="contrast" value="0">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}