{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well" xmlns="http://www.w3.org/1999/html">
        <li>Должники</li>
    </ul>
{% endblock %}

{% block content %}
<div class="well">
    <table class="table" data-toggle="table">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Общий итог</th>
                <th>КОл-во заявок</th>
            </tr>
        {% set summ = 0 %}
        {% for d in debtors %}
            {% set summ = summ + d.sumPrice %}
        {% endfor %}
            <tr>
                <td></td>
                <td><b>ИТОГО:</b></td>
                <td><b>{{ sum }}</b></td>
                <td></td>
            </tr>
        {% for d in debtors %}
            <tr>
                <td>{{ d.id }}</td>
                <td><a href="{{ path('panel_user_list',{'type' : 'null', 'company' : d.id }) }}">{{ d.title }}</a></td>
                <td>{{ d.sumPrice }}</td>
                <td>{{ d.amountClient }}</td>
            </tr>
        {% endfor %}
   </table>
</div>
{% endblock %}