{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="#">Главная</a> &raquo;
    <a href="#">Список компаний</a> &raquo;
    <a href="#">{{ company.title }}</a>
{% endblock %}

{% block content %}
    {% form_theme form 'PanelOperatorBundle::bootstrap_3_layout.html.twig' %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data">
        <table class="table-edit">
            {% if companyUrl is not null %}
                <tr>
                    <td class="label">Ссылка для регистрации:</td>

                    <td class="value" style="font-size: 12px">
                        {#<b><a href="https://im-kard.ru{{ path('company',{'url' : company.url }) }}" target="_blank">Одиночные заказы</a></b>#}
                        <b><a href="https://im-kard.ru/auth/register/{{ company.url }}" target="_blank">im-kard.ru/auth/register/{{ company.url }}</a></b>
                    </td>
                </tr>
            {% endif %}
        </table>
            {{ form_widget(form) }}
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .label{
            /*width: 250px;*/
        }
        #companyZipcode{
            width: 358px;
        }
        #companyName{
            width: 358px;
        }
        #companyCity{
            width: 358px;
        }
        #companyStreet{
            width: 257px;
        }
        #companyHouse, #companyCorp, #companyStructure, #companyRoom{
            width: 117px;
        }
        .form-control{
            display: inline-block;
        }

        #companyTypeRoom-styler .jq-selectbox__select{
            width: 122px !important;
        }
        #companyTypeRoom-styler{
            margin-top: -1px;
        }
        #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
            width: 272px !important;
        }
        #companyTypeRoom-styler .jq-selectbox__dropdown{
            width: 180px !important;
        }
        .jq-selectbox{
            padding: 5px 0;
        }
    </style>
{% endblock %}