{% extends "PanelOperatorBundle::layout.html.twig" %}



{% block crosh %}
    <a href="#">Главная</a> &raquo;
    <a href="#">Список компаний</a> &raquo;
    <a href="#">Добавление новой компании</a>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
    {% endfor %}
    <form method="POST">
        <table>
            <tr>
                <td class="label">URL компании:</td>
                <td class="value">
                    <input name="url" id="url" type="text" class="form-control" value="{{ company.url }}" placeholder="company URL">
                </td>
            </tr>
            <tr>
                <td class="label">Название организации<span class="required">*</span>:</td>
                <td class="value">
                    <input name="companyName" id="companyName" type="text" class="form-control" value="{{ company.title }}" placeholder="Ромашка">
                </td>
            </tr>
            <tr>
                <td class="label">Наименование организации:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="forma" placeholder='ООО "Ромашка"' value="{{ company.forma }}"></td>
            </tr>
            {#<tr>#}
                {#<td class="label">Менеджер:</td>#}
                {#<td class="value">#}
                    {#<input name="manager" id="manager" type="text" class="form-control" value="" placeholder="manager">#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td class="label">Ходатайство:</td>#}
                {#<td class="value">#}
                    {#<select name="petition">#}
                        {#<option value="null">Не использовать</option>#}
                        {#{% for p in petitions %}#}
                            {#<option value="{{ p.id }}" >{{ p.title }}</option>#}
                        {#{% else %}#}
                            {#<option value="" selected="selected" disabled>Вам необходимо создать ходатайство</option>#}
                        {#{% endfor %}#}
                    {#</select>#}
                {#</td>#}
            {#</tr>#}

            <tr>
                <td class="label">Почтовый адрес организации<span class="required">*</span>:</td>
                <td class="value">
                    {#<select name="companyRegion" id="companyRegion">#}
                        {#{% for region in regions %}#}
                            {#<option value="{{ region.id }}" {{ region.id == company.region.id ? 'selected="selected"' : '' }}>{{ region.title }}</option>#}
                        {#{% endfor %}#}
                    {#</select><br />#}
                    <input name="companyCity"    id="companyCity"     type="text" class="form-control" placeholder="Город" value=""><br />

                    <select name="companyTypeStreet" id="companyTypeStreet">
                        <option {{ 'ул.' == company.typeStreet ? 'selected="selected"' : '' }} value="ул."    >Улица</option>
                        <option {{ 'д.' == company.typeStreet ? 'selected="selected"' : '' }} value="д."     >Дорога</option>
                        <option {{ 'пр-д.' == company.typeStreet ? 'selected="selected"' : '' }} value="пр-д."   >Проезд</option>
                        <option {{ 'туп.' == company.typeStreet ? 'selected="selected"' : '' }} value="туп."   >Тупик</option>
                        <option {{ 'ш.' == company.typeStreet ? 'selected="selected"' : '' }} value="ш."   >Шоссе</option>
                        <option {{ 'тр.' == company.typeStreet ? 'selected="selected"' : '' }} value="тр."   >Трасса</option>
                        <option {{ 'пер.' == company.typeStreet ? 'selected="selected"' : '' }} value="пер."   >Переулок</option>
                        <option {{ 'пл.' == company.typeStreet ? 'selected="selected"' : '' }} value="пл."   >Площадь</option>
                        <option {{ 'скв.' == company.typeStreet ? 'selected="selected"' : '' }} value="скв."   >Сквер</option>
                        <option {{ 'алл.' == company.typeStreet ? 'selected="selected"' : '' }} value="алл."   >Аллея</option>
                        <option {{ 'б.' == company.typeStreet ? 'selected="selected"' : '' }} value="б."   >Бульвар</option>
                        <option {{ 'пр.' == company.typeStreet ? 'selected="selected"' : '' }} value="пр."   >Просека</option>
                        <option {{ 'пр-т' == company.typeStreet ? 'selected="selected"' : '' }} value="пр-т"   >Проспект</option>
                        <option {{ 'наб.' == company.typeStreet ? 'selected="selected"' : '' }} value="наб."   >Набережная</option>
                        <option {{ '' == company.typeStreet ? 'selected="selected"' : '' }} value=""      >Другое</option>
                    </select>
                    <input name="companyStreet"  id="companyStreet"   type="text" class="form-control" placeholder="Название улицы" value="{{ company.street }}"><br />

                    <input name="companyHouse"   id="companyHouse"    type="text" class="form-control" placeholder="Дом" class="little" value="{{ company.home }}">
                    <input name="companyCorp"    id="companyCorp"     type="text" class="form-control" placeholder="Корп"  class="little" value="{{ company.corp }}">
                    <input name="companyStructure"    id="companyStructure"     type="text" class="form-control" placeholder="Строение"  class="little" value="{{ company.structure }}"><br />

                    <select name="companyTypeRoom" id="companyTypeRoom">
                        <option value="кв." {{ 'кв.' == company.typeRoom ? 'selected' : '' }}>Квартира</option>
                        <option value="оф." {{ 'оф.' == company.typeRoom ? 'selected' : '' }}>Офис</option>
                    </select>
                    <input name="companyRoom"    id="companyRoom"  type="text" class="form-control" placeholder="Номер"  class="little" value="{{ company.room }}">
                    <br />
                    <input name="companyZipcode" id="companyZipcode"  type="text" class="form-control" placeholder="Индекс" value="{{ company.zipcode }}"><br />
                </td>
            </tr>
            {#<tr>#}
                {#<td class="label">Доставка по умолчанию:</td>#}
                {#<td class="value">#}
                    {#<select name="delivery" id="delivery" class="delivery">#}
                        {#<option value="0">Да</option>#}
                        {#<option value="1">Нет</option>#}
                    {#</select>#}
                {#</td>#}
            {#</tr>#}

            {#<tr>#}
                {#<td class="label">Логотип организации:</td>#}
                {#<td class="value">#}
                    {#<input  type="file" name="logo"> <br />#}
                {#</td>#}
            {#</tr>#}

            <tr>
                <td class="label">ИНН:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="inn" placeholder="Индивидуальный номер налогоплатильщика" value="{{ company.inn }}"></td>
            </tr>
            <tr>
                <td class="label">КПП:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="kpp" placeholder="КПП" value="{{ company.kpp }}"></td>
            </tr>
            <tr>
                <td class="label">ОГРН:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="ogrn" value="{{ company.ogrn }}"></td>
            </tr>
            <tr>
                <td class="label">Р. счет:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="rchet" placeholder="расчетный счет" value="{{ company.rchet }}"></td>
            </tr>
            <tr>
                <td class="label">БИК:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="bik" value="{{ company.bik }}"></td>
            </tr>
            <tr>
                <td class="label">Банк:</td>
                <td class="value">
                    <input type="text" style="width: 358px;" class="form-control" name="bank" placeholder="Полное название банка" value="{{ company.bank }}">
                </td>
            </tr>
            <tr>
                <td class="label">Кор. счет:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control" name="korchet" value="{{ company.korchet }}"></td>
            </tr>

            <tr>
                <td class="label">Стоимости карт</td>
            </tr>
            <tr>
                <td class="label">СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceSkzi" value="{{ company.priceSkzi }}"></td>
            </tr>
            <tr>
                <td class="label">ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceEstr" value="{{ company.priceEstr }}"></td>
            </tr>
            <tr>
                <td class="label">РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceRu" value="{{ company.priceRu }}"></td>
            </tr>

            <tr>
                <td class="label">Мастер СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterSkzi" value="{{ company.priceMasterSkzi }}"></td>
            </tr>
            <tr>
                <td class="label">Мастер ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterEstr" value="{{ company.priceMasterEstr }}"></td>
            </tr>
            <tr>
                <td class="label">Мастер РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceMasterRu" value="{{ company.priceMasterRu }}"></td>
            </tr>

            <tr>
                <td class="label">Предприятие СКЗИ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceEnterpriseSkzi" value="{{ company.priceEnterpriseSkzi }}"></td>
            </tr>
            <tr>
                <td class="label">Предприятие ЕСТР:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceEnterpriseEstr" value="{{ company.priceEnterpriseEstr }}"></td>
            </tr>
            <tr>
                <td class="label">Предприятие РФ:</td>
                <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="priceEnterpriseRu" value="{{ company.priceEnterpriseRu }}"></td>
            </tr>

            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td class="label">Цена реф. партнерства:</td>
                    <td class="value"><input style="width: 358px;" type="text" class="form-control"  name="referPrice" value="{{ company.referPrice }}"></td>
                </tr>
            {% endif %}
                <tr>
                    <td class="label">Доверенная компания:</td>
                    <td class="value" style="  padding-top: 5px;">
                        <input name="confirmed" id="confirmed" type="checkbox" {{ company.confirmed == true ? 'checked="checked"' }} />
                    </td>
                </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td class="label">Надзиратель: </td>
                    <td class="value" style="  padding-top: 5px;">
                        <select name="high">
                            <option value="">Не выбрано</option>
                            {% for ho in operators %}
                                <option value="{{ ho.id }}" {{ company.highOperator.id is defined and company.highOperator.id == ho.id ? 'selected' : '' }}>{{ ho.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">По: </td>
                    <td class="value">
                        <input type="date" name="highEnd" value="{{ company.highEnd }}">
                    </td>
                </tr>
            {% endif %}
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="submit" id="saveHod" value="Сохранить" class="btn saveForm">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

        {% block stylesheets %}
            {{ parent() }}
            <style>
                .label{
                    width: 250px;
                }
                #companyZipcode{
                    width: 358px;
                }
                #companyName{
                    width: 358px;
                }
                #companyCity{
                    width: 358px;
                }
                #companyStreet{
                    width: 257px;
                }
                #companyHouse, #companyCorp, #companyStructure, #companyRoom{
                    width: 117px;
                }
                .form-control{
                    display: inline-block;
                }

                #companyTypeRoom-styler .jq-selectbox__select{
                    width: 122px !important;
                }
                #companyTypeRoom-styler{
                    margin-top: -1px;
                }
                #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
                    width: 272px !important;
                }
                #companyTypeRoom-styler .jq-selectbox__dropdown{
                    width: 180px !important;
                }
                .jq-selectbox{
                    padding: 5px 0;
                }
            </style>
        {% endblock %}