<div class="well">
    <h3 class="modal-title">Квоты компании {{ company.title }}</h3>
    <table class="table">
        <tr>
            <td><b>Поступило:</b></td>
            <td>{{ amountPlusQuota }}р.</td>
        </tr>
        <tr>
            <td><b>Использовано:</b></td>
            <td>{{ amountRubSkziCompany+amountRubEstrCompany+amountRubRuCompany+amountRubSkziMaster+amountRubEstrMaster+amountRubRuMaster+amountRubSkzi+amountRubEstr+amountRubRu+(amountMinusQuota*-1) }}р.</td>
        </tr>
        <tr>
            <td><b>КВ СКЗИ:</b></td>
            <td>{{ sumVirtual[0] }}/{{ company.completedCount.skzi  }}шт({{ amountRubSkzi }}р.)</td>
        </tr>
        <tr>
            <td><b>КВ ЕСТР:</b></td>
            <td>{{ sumVirtual[1] }}/{{ company.completedCount.estr  }}шт({{ amountRubEstr }}р.)</td></td>
        </tr>
        <tr>
            <td><b>КВ РФ:</b></td>
            <td>{{ sumVirtual[2] }}/{{ company.completedCount.ru  }}шт({{ amountRubRu }}р.)</td></td>
        </tr>

        <tr>
            <td><b>КМ СКЗИ:</b></td>
            <td>{{ sumVirtual[3] }}/{{ company.completedCountMaster.skzi  }}шт({{ amountRubSkziMaster }}р.)</td>
        </tr>
        <tr>
            <td><b>КМ ЕСТР:</b></td>
            <td>{{ sumVirtual[4] }}/{{ company.completedCountMaster.estr  }}шт({{ amountRubSkziMaster }}р.)</td>
        </tr>
        <tr>
            <td><b>КМ РФ:</b></td>
            <td>{{ sumVirtual[5] }}/{{ company.completedCountMaster.ru  }}шт({{ amountRubSkziMaster }}р.)</td>
        </tr>

        <tr>
            <td><b>КП СКЗИ:</b></td>
            <td>{{ sumVirtual[6] }}/{{ company.completedCountCompany.ru  }}шт({{ amountRubSkziCompany }}р.)</td>
        </tr>
        <tr>
            <td><b>КП ЕСТР:</b></td>
            <td>{{ sumVirtual[7] }}/{{ company.completedCountCompany.ru  }}шт({{ amountRubSkziCompany }}р.)</td>
        </tr>
        <tr>
            <td><b>КП РФ:</b></td>
            <td>{{ sumVirtual[8] }}/{{ company.completedCountCompany.ru  }}шт({{ amountRubSkziCompany }}р.)</td>
        </tr>


        <tr>
            <td><b>Осталось:</b></td>
            <td>{{ amountPlusQuota - (amountRubSkziCompany+amountRubEstrCompany+amountRubRuCompany+amountRubSkziMaster+amountRubEstrMaster+amountRubRuMaster+amountRubSkzi+amountRubEstr+amountRubRu+(amountMinusQuota*-1)) }}р.</td>
        </tr>
        <tr>
            <td><b>Новые заявки:</b></td>
            <td>
                {{ amountRubSkziNewCompany+amountRubEstrNewCompany+amountRubRuNewCompany+amountRubSkziNewMaster+amountRubEstrNewMaster+amountRubRuNewMaster+amountRubSkziNew+amountRubEstrNew+amountRubRuNew  }}р.
            </td>
        </tr>
        <tr>
            <td><b>Общий итог:</b></td>
            <td>
                {{ (amountPlusQuota - (amountRubSkziCompany+amountRubEstrCompany+amountRubRuCompany+amountRubSkziMaster+amountRubEstrMaster+amountRubRuMaster+amountRubSkzi+amountRubEstr+amountRubRu+(amountMinusQuota*-1))) - (amountRubSkziNewCompany+amountRubEstrNewCompany+amountRubRuNewCompany+amountRubSkziNewMaster+amountRubEstrNewMaster+amountRubRuNewMaster+amountRubSkziNew+amountRubEstrNew+amountRubRuNew) }}р.
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 30%">СКЗИ </td>
                        <td>{{  company.priceSkzi }} р<br /></td>
                    </tr>
                    <tr>
                        <td>ЕСТР </td>
                        <td>{{ company.priceEstr }} р.<br /></td>
                    </tr>
                    <tr>
                        <td>РФ </td>
                        <td>{{ company.priceRu }} р.</td>
                    </tr>
                </table>



            </td>
        </tr>
        <tr>
            <td>Неоплаченных счетов</td>
            <td>{{ paymentSum }}</td>
        </tr>
    </table>
</div>


{#<div class="well">#}
    {#<h3 class="modal-title">Квоты компании {{ company.title }}</h3>#}
    {#<h4>Осталось рублей:</h4>#}
    {#<h3>{{ company.quota }} р.</h3>#}
    {#<br/>#}
    {#<h4>Всего необходимо {{ allUsers }} р.</h4>#}
    {#<h4>В т.ч. на новых {{ newUsers }} р.</h4>#}
    {#<br/>#}
    {#&#123;&#35;<h4>Неподтвержденных заявок:</h4>&#35;&#125;#}
    {#&#123;&#35;<h3>{{ app.user.NewOrderCount }} шт.</h3>&#35;&#125;#}
    {#&#123;&#35;<br />&#35;&#125;#}
    {#<h4>Использовано:</h4>#}
    {#<div style="display: inline-block; width: 70px;">СКЗИ: </div><h4 style="display: inline;">{{ company.completedCount.skzi  }}</h4> шт. ( {{ company.completedCount.skzi  * company.priceSkzi }} р. ) <br />#}
    {#<div style="display: inline-block; width: 70px;">ЕСТР: </div><h4 style="display: inline;">{{ company.completedCount.estr  }}</h4> шт. ({{ company.completedCount.estr  * company.priceEstr }} р. )<br />#}
    {#<div style="display: inline-block; width: 70px;">РФ: </div><h4 style="display: inline;">{{ company.completedCount.ru  }}</h4> шт. ({{ company.completedCount.ru  * company.priceRu }} р. )<br />#}
    {#<br />#}
    {#<h4>Стоимость заявки:</h4>#}
    {#<div style="display: inline-block; width: 70px;">СКЗИ: </div><h4 style="display: inline;">{{  company.priceSkzi }} р.</h4><br />#}
    {#<div style="display: inline-block; width: 70px;">ЕСТР: </div><h4 style="display: inline;">{{ company.priceEstr }} р.</h4><br />#}
    {#<div style="display: inline-block; width: 70px;">РФ: </div><h4 style="display: inline;">{{ company.priceRu }} р.</h4>#}
{#</div>#}