<div class="well">
    <h3 class="modal-title">Квоты компании {{ company.title }}</h3>
    <table class="table">
        <tr>
            <td><b>Поступило:</b></td>
            <td>{{ amountPlusQuota }}р.</td>
        </tr>
        <tr>
            <td><b>Использовано:</b></td>
            <td>{{ amountRubSkzi+amountRubEstr+amountRubRu+(amountMinusQuota*-1) }}р.</td>
        </tr>
        <tr>
            <td><b>КВ СКЗИ:</b></td>
            <td>{{ company.completedCount.skzi  }}шт({{ amountRubSkzi }}р.)</td>
        </tr>
        <tr>
            <td><b>КВ ЕСТР:</b></td>
            <td>{{ company.completedCount.estr  }}шт({{ amountRubEstr }}р.)</td></td>
        </tr>
        <tr>
            <td><b>КВ РФ:</b></td>
            <td>{{ company.completedCount.ru  }}шт({{ amountRubRu }}р.)</td></td>
        </tr>
        <tr>
            <td><b>КП СКЗИ:</b></td>
            <td>0шт.(0р.)</td>
        </tr>
        <tr>
            <td><b>КП ЕСТР:</b></td>
            <td>0шт.(0р.)</td>
        </tr>
        <tr>
            <td><b>КП РФ:</b></td>
            <td>0шт.(0р.)</td>
        </tr>
        <tr>
            <td><b>КМ СКЗИ:</b></td>
            <td>0шт.(0р.)</td>
        </tr>
        <tr>
            <td><b>КМ ЕСТР:</b></td>
            <td>0шт.(0р.)</td>
        </tr>
        <tr>
            <td><b>КМ РФ:</b></td>
            <td>0шт.(0р.)</td>
        </tr>
        <tr>
            <td><b>Осталось:</b></td>
            <td>{{ amountPlusQuota - (amountRubSkzi+amountRubEstr+amountRubRu+(amountMinusQuota*-1)) }}р.</td>
        </tr>
        <tr>
            <td><b>Новые заявки:</b></td>
            <td>
                {{ amountRubSkziNew+amountRubEstrNew+amountRubRuNew  }}р.
            </td>
        </tr>
        <tr>
            <td><b>Общий итог:</b></td>
            <td>
                {{ (amountPlusQuota - (amountRubSkzi+amountRubEstr+amountRubRu+(amountMinusQuota*-1))) - (amountRubSkziNew+amountRubEstrNew+amountRubRuNew) }}р.
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="display: inline-block; width: 70px;">СКЗИ: </div><h3 style="display: inline;">{{  company.priceSkzi }} р.</h3><br />
                <div style="display: inline-block; width: 70px;">ЕСТР: </div><h3 style="display: inline;">{{ company.priceEstr }} р.</h3><br />
                <div style="display: inline-block; width: 70px;">РФ: </div><h3 style="display: inline;">{{ company.priceRu }} р.</h3>
            </td>
        </tr>
    </table>
</div>


<div class="well">
    <h3 class="modal-title">Квоты компании {{ company.title }}</h3>
    <h4>Осталось рублей:</h4>
    <h3>{{ company.quota }} р.</h3>
    <br/>
    <h4>Всего необходимо {{ allUsers }} р.</h4>
    <h4>В т.ч. на новых {{ newUsers }} р.</h4>
    <br/>
    {#<h4>Неподтвержденных заявок:</h4>#}
    {#<h3>{{ app.user.NewOrderCount }} шт.</h3>#}
    {#<br />#}
    <h4>Использовано:</h4>
    <div style="display: inline-block; width: 70px;">СКЗИ: </div><h4 style="display: inline;">{{ company.completedCount.skzi  }}</h4> шт. ( {{ company.completedCount.skzi  * company.priceSkzi }} р. ) <br />
    <div style="display: inline-block; width: 70px;">ЕСТР: </div><h4 style="display: inline;">{{ company.completedCount.estr  }}</h4> шт. ({{ company.completedCount.estr  * company.priceEstr }} р. )<br />
    <div style="display: inline-block; width: 70px;">РФ: </div><h4 style="display: inline;">{{ company.completedCount.ru  }}</h4> шт. ({{ company.completedCount.ru  * company.priceRu }} р. )<br />
    <br />
    <h4>Стоимость заявки:</h4>
    <div style="display: inline-block; width: 70px;">СКЗИ: </div><h4 style="display: inline;">{{  company.priceSkzi }} р.</h4><br />
    <div style="display: inline-block; width: 70px;">ЕСТР: </div><h4 style="display: inline;">{{ company.priceEstr }} р.</h4><br />
    <div style="display: inline-block; width: 70px;">РФ: </div><h4 style="display: inline;">{{ company.priceRu }} р.</h4>
</div>