{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список компаний</li>
        <li><a href="{{ path('panel_company_add') }}"><span class="btn btn-primary">Добавить</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table" data-toggle="table"
               data-sort-name="login"
               data-sort-order="asc">
            <thead>
            <tr>
                <th></th>
                <th >
                    <select class="chosen" data-placeholder="Компания">
                        {% for c in companies %}
                            <option value="{{ c.id }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th >Ссылка</th>
                <th ></th>
                <th ></th>
                {#<th >Кол-во заявок</th>#}
                <th >Квота</th>
                <th class="setting">Инструменты</th>
            </tr>
            </thead>
            {% for company in companies2 %}
                <tr style="{{ company.quota < 0 ? 'background: #FFCACA' : 0 }}" >
                    <td>
                        {% if company.confirmed == true %}
                            <img src="{{ asset('bundles/crmmain/images/like.png') }}" style="width: 24px;">
                        {% endif %}
                    </td>
                    <td><a href="{{ path('panel_user_list', {'type' : 'null' , 'company' : company.id }) }}">{{ company.title }}</a></td>
                    <td>
                        {% if company.url != null and company.url != '' %}
                            <a href="http://doroga01.ru{{ path('company',{'url' : company.url }) }}" target="_blank">{{ company.url }}</a>
                        {% endif %}
                    </td>
                    <td>

                    </td>
                    <td> {{ company.userConfirmation | length}} / {{ company.users | length }}</td>
                    <td style="text-align: center"> {{ company.quota }}</td>
                    <td class="setting">
                        {% spaceless %}
                            {#<a href="{{ path('user_edit',{'id' : item.id}) }}">#}
                            {#<a href="{{ path('panel_petition_list',{'companyId' : company.id}) }}">#}
                                {#<button type="button" class="btn btn-info" title="Квота">#}
                                    {#<span class="glyphicon glyphicon-ruble"></span>#}
                                {#</button>#}
                            {#</a>#}

                            <a href="{{ path('panel_company_quota',{'companyId' : company.id}) }}">
                                <button type="button" class="btn btn-default btn-warning" title="Квота">
                                    <span class="glyphicon glyphicon-ruble"></span>
                                </button>
                            </a>
                            &nbsp;&nbsp;
                            <a href="{{ path('panel_company_edit',{'id' : company.id}) }}">
                                <button type="button" class="btn btn-default btn-bg" title="Редактировать">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            {#&nbsp;&nbsp;#}
                            {#<a href="{{ path('panel_company_edit',{'id' : company.id}) }}">#}
                                {#<button type="button" class="btn btn-default btn-warning" title="Остановить">#}
                                    {#<span class="glyphicon glyphicon-pause"></span>#}
                                {#</button>#}
                            {#</a>#}
                            &nbsp;&nbsp;
                            <a href="{{ path('panel_company_remove',{'id' : company.id}) }}">
                                <button type="button" class="btn btn-default btn-danger" title="Удалить">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        {#<div class="navigation">#}
            {#{{ knp_pagination_render(pagination) }}#}
        {#</div>#}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(".chosen").chosen({no_results_text: "Компаний по вашему запросу не найдено", width: 300});

            $('.chosen').change(function(){
                window.location.href = Routing.generate('panel_company_list', {'companyId': $(this).val() })
            });
        });
    </script>
{% endblock %}