{% extends 'CrmAuthBundle::layout.html.twig' %}


{% block content %}

    <h2>Добавление счета</h2>
    <div class="">
        <form method="POST" enctype="multipart/form-data">
            {{ form_widget(form) }}
            <div class="row">
                <div class="col-xs-4">Название услуги</div>
                <div class="col-xs-1">Колво</div>
                <div class="col-xs-2">Цена</div>
                <div class="col-xs-2">Сумма</div>
            </div>
            <div class="orders">
                <div>
                    <div class="row">
                        <div class="col-xs-4">
                            <select class="form-control" name="title[0]">

                                <option value="Карта водителя СКЗИ"     data-price="{{ c.priceSkzi }}"            >Карта водителя СКЗИ</option>
                                <option value="Карта водителя ЕСТР"     data-price="{{ c.priceEstr }}"            >Карта водителя ЕСТР</option>
                                <option value="Карта водителя РФ"       data-price="{{ c.priceRu }}"              >Карта водителя РФ</option>
                                <option value="Карта предприятия СКЗИ"  data-price="{{ c.priceEnterpriseSkzi }}"  >Карта предприятия СКЗИ</option>
                                <option value="Карта предприятия ЕСТР"  data-price="{{ c.priceEnterpriseEstr }}"  >Карта предприятия ЕСТР</option>
                                <option value="Карта предприятия РФ"    data-price="{{ c.priceEnterpriseRu }}"    >Карта предприятия РФ</option>
                                <option value="Карта мастерской СКЗИ"   data-price="{{ c.priceMasterSkzi }}"      >Карта мастерской СКЗИ</option>
                                <option value="Карта мастерской ЕСТР"   data-price="{{ c.priceMasterEstr }}"      >Карта мастерской ЕСТР</option>
                                <option value="Карта мастерской РФ"     data-price="{{ c.priceMasterRU }}"        >Карта мастерской РФ</option>
                            </select>
                        </div>
                        <div class="col-xs-1">
                            <input type="text" class="form-control amount" name="amount[0]" >
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control price"  readonly disabled value="{{ c.priceSkzi }}">
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control summa"  readonly disabled>
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn" id="add"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </div>
            <div>
                <b>ИТОГО: <span class="sumPrice"></span></b>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var num =1;

            $('#add').click(function(){
                var block =
                        '<div>' +
                        '<div class="row">'+
                        '<div class="col-xs-4">'+
                        '<select class="form-control" name="title['+num+']">'+
                        '<option value="Карта водителя СКЗИ"    data-price="{{ c.priceSkzi }}"          >Карта водителя СКЗИ</option>'+
                        '<option value="Карта водителя ЕСТР"    data-price="{{ c.priceEstr }}"          >Карта водителя ЕСТР</option>'+
                        '<option value="Карта водителя РФ"      data-price="{{ c.priceRu }}"            >Карта водителя РФ</option>'+
                        '<option value="Карта предприятия СКЗИ" data-price="{{ c.priceEnterpriseSkzi }}">Карта предприятия СКЗИ</option>'+
                        '<option value="Карта предприятия ЕСТР" data-price="{{ c.priceEnterpriseEstr }}">Карта предприятия ЕСТР</option>'+
                        '<option value="Карта предприятия РФ"   data-price="{{ c.priceEnterpriseRu }}"  >Карта предприятия РФ</option>'+
                        '<option value="Карта мастерской СКЗИ"  data-price="{{ c.priceMasterSkzi }}"    >Карта мастерской СКЗИ</option>'+
                        '<option value="Карта мастерской ЕСТР"  data-price="{{ c.priceMasterEstr }}"    >Карта мастерской ЕСТР</option>'+
                        '<option value="Карта мастерской РФ"    data-price="{{ c.priceMasterRU }}"      >Карта мастерской РФ</option>'+
                        '</select>'+
                        '</div>'+
                        '<div class="col-xs-1">'+
                        '<input type="text" class="form-control amount" name="amount['+num+']">'+
                        '</div>'+
                        '<div class="col-xs-2">'+
                        '<input type="text" class="form-control price"  disabled value="101">'+
                        '</div>'+
                        '<div class="col-xs-2">'+
                        '<input type="text" class="form-control summa"  disabled>'+
                        '</div>'+
                        '<div class="col-xs-1">'+
                        '<button type="button" class="btn btn-danger remove"><span class="glyphicon glyphicon-minus"></span></button>'+
                        '</div>'+
                        '</div>' +
                        '<br />' +
                        '</div>';
                $('.orders').prepend(block);
                num += 1;
            });
            $('body').on("click", '.remove', function(){
                $(this).parent().parent().parent().remove();
                var sumPrice = 0;
                for (i = 0 ; i < $('.summa').length ; i ++){
                    sumPrice += parseFloat($('.summa').eq(i).val());
                }
                $('.sumPrice').html(sumPrice+' руб.');
            });
            $('body').on("change", 'select', function(){
                var price = $(this).find("option:selected").attr("data-price");
                var amount = $(this).parent().parent().children('div').eq(1).children('input').val();
                $(this).parent().parent().children('div').eq(2).children('input').val(price);
                $(this).parent().parent().children('div').eq(3).children('input').val(price*amount);
                var sumPrice = 0;
                for (i = 0 ; i < $('.summa').length ; i ++){
                    sumPrice += parseFloat($('.summa').eq(i).val());
                }
                $('.sumPrice').html(sumPrice+' руб.');
            });
            $('body').on("keyup", '.amount', function(){
                var price = $(this).parent().parent().children('div').eq(0).children('select').find("option:selected").attr("data-price");
//                alert(price);
                var amount = $(this).parent().parent().children('div').eq(1).children('input').val();
                $(this).parent().parent().children('div').eq(2).children('input').val(price);
                $(this).parent().parent().children('div').eq(3).children('input').val(price*amount);

                var sumPrice = 0;
                for (i = 0 ; i < $('.summa').length ; i ++){
                    sumPrice += parseFloat($('.summa').eq(i).val());
                }
                $('.sumPrice').html(sumPrice+' руб.');
            });
        });

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        input{
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
{% endblock %}