{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/paneloperator/js/bootbox.min.js') }}"></script>
    <script>
    </script>
{% endblock %}

{% block body %}
    <div>
        <h2>Счета</h2>
        <div style="float: right; margin-top: -55px">
            <a href="{{ path('auth_payment_add') }}">
                <button class="btn btn-primary" type="button">
                    Добавить новый счет
                </button>
            </a>
        </div>
    </div>
    <form method="GET">
        <div class="row">
            <div class="col-xs-6">
                <input placeholder="Введите слово" class="form-control" style="margin-top: 0;" name="search">
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </div>
    </form>
    <div class="row">
        <table class="table">
            <tr>
                <td>Номер</td>
                <td>Дата создания</td>
                <td>Количество</td>
                <td>Сумма</td>
                <td>Статус</td>
                <td></td>
            </tr>
            {% for p in payments %}
                <tr>
                    <td>{{ p.number ? p.number : p.id }}</td>
                    <td>{{ p.created | date('d.m.Y') }}</td>
                    <td>{{ p.amount }}</td>
                    <td>{{ p.summa }} р.</td>
                    <td>{{ p.statusStr | raw }}</td>
                    <td>
                        <a href="{{ path('auth_payment_print',{'id' : p.id }) }}" target="_blank"><button type="button" class="btn" >Печать</button></a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="7" style="text-align: center" class="text-danger">счета не найдены</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .statusItems{
            display: none;
        }
        .statusBox{
            font-size: 12px;
            cursor: pointer;
            margin-top: 6px;
        }
        .statusBox:hover .statusItems{
            display: block;
            position: absolute;
            background: #FFFFFF;
            border: 1px solid #C2C2C2;
            padding: 5px;
        }
    </style>
{% endblock %}