<html>
<head>
    <style>
        td{
            padding: 5px 10px;
        }
    </style>
</head>

<body style="position:relative;">
{#<div style="text-align: center">#}
    {#Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате#}
    {#обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту#}
    {#прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.#}
{#</div>#}
{#<br />#}
{#<br />#}
<h2 style="text-align: center"> </h2>
{% if operator or (client.company.operator.id is defined and  (client.company.operator.id == 1 or ( client.company.operator.inn == null or client.company.operator.inn == '' ))) %}
    <table style="margin: 0 auto; width: 100%" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="2" colspan="2" width="50%">
                Московский Филиал АО КБ "Модульбанк"
            </td>
            <td>
                БИК
            </td>
            <td rowspan="2">
                044525092<br />
                30101810645250000092
            </td>
        </tr>
        <tr>
            <td>Сч. №</td>
        </tr>
        <tr>
            <td>ИНН 7805543860</td>
            <td>КПП 780501001</td>
            <td rowspan="2">Сч. №</td>
            <td rowspan="2">40702810670110000776</td>
        </tr>
        <tr>
            <td colspan="2">
                ООО "ИнфоМакс"<br />
                <br />
                Получатель
            </td>
        </tr>
    </table>
    <h2>Счет на оплату № {{ payment.number != null and payment.number != '' and payment.number != 0  ? payment.number : payment.id }} от {{ payment.created | date ('d.m.Y')}}</h2>
    <hr />
    <div>
        <table>
            <tr>
                <td>Поставщик:</td>
                <td>
                    ООО "ИнфоМакс", ИНН 7805543860, КПП 780501001, 198096, Санкт-Петербург г, Маринеско , дом № 5, корпус Лит.А, квартира пом.3Н, тел.: +7(812)425-12-44
                </td>
            </tr>
            <tr>
                <td>Покупатель:</td>
                <td>
                    {% if operator %}
                        {% if operator.companyTitle %}
                            {{ operator.companyTitle }},
                        {% endif %}
                        {% if operator.inn %}
                            ИНН: {{ operator.inn }},
                        {% endif %}
                        {% if operator.kpp %}
                            КПП: {{ operator.kpp }},
                        {% endif %}
                        {% if operator.adrs.zipcode is defined %}
                            {{ operator.adrs.zipcode }},
                            {{ operator.adrs.region }},  {{ operator.adrs.city }},
                            {{ operator.adrs.street }},д.{{ operator.adrs.house }} {{ operator.adrs.corp }}, {{ operator.adrs.room }}
                        {% endif %}
                    {% else %}
                        {% if client.companyTitle %}
                            {{ client.companyTitle }},
                        {% endif %}
                        {% if client.inn %}
                            ИНН: {{ client.inn }},
                        {% endif %}
                        {% if client.kpp %}
                            КПП: {{ client.kpp }},
                        {% endif %}
                        {% if client.adrs.zipcode is defined %}
                            {{ client.adrs.zipcode }},
                            {{ client.adrs.region }},  {{ client.adrs.city }},
                            {{ client.adrs.street }},д.{{ client.adrs.house }} {{ client.adrs.corp }}, {{ client.adrs.room }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Основание:</td>
                <td>{{ client.doc }}</td>
        </table>
    </div>
    <br />
    <br />
    <table width="100%" cellspacing="0" cellpadding="0" border="1">
        <tr>
            <th>№</th>
            <th>Товары(работы, услуги)</th>
            <th>Кол-во</th>
            <th>Ед.</th>
            <th>Цена</th>
            <th>Сумма</th>
        </tr>
        {% set s = 0 %}
        {% set amount = 0 %}
        {% for k,o in payment.orders %}
            <tr>
                <td>{{ k+1 }}</td>
                <td>{{ o.title }}</td>
                <td>{{ o.amount }}</td>
                <td>Шт.</td>
                <td>{{ o.price }} р.</td>
                <td>{{ o.price * o.amount}} р.</td>
            </tr>
            {% set s = s + (o.price * o.amount) %}
            {% set amount = amount + 1 %}
        {% endfor %}
    </table>
    <table width="100%">
        <tr>
            <td style="width: 65%"></td>
            <td style="text-align: right;">ИТОГО:</td>
            <td>{{ s }}.00 р.</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">В т.ч. НДС 18%:</td>
            <td>{{ (s*18/118) | round(2)  }} р.</td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right;">Всего к оплате:</td>
            <td>{{ s }} р.</td>
        </tr>
    </table>
    <br />
    <div>
        Всего наименований {{ amount }} на сумму {{ s }}.00 рублей. <br />
        <b>{{ price }}.00</b>
    </div>
    <br />
    <br />
    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/crmauth/images/payment-mp.png') }}" style="width: 1500px">
{% else %}
    <table style="margin: 0 auto; width: 100%" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="2" colspan="2" width="50%">
                {{ client.company.operator.bank }}
            </td>
            <td>
                БИК
            </td>
            <td rowspan="2">
                {{ client.company.operator.bik }}<br />
                {{ client.company.operator.korchet }}
            </td>
        </tr>
        <tr>
            <td>Сч. №</td>
        </tr>
        <tr>
            <td>ИНН {{ client.company.operator.inn }}</td>
            <td>КПП {{ client.company.operator.kpp }}</td>
            <td rowspan="2">Сч. №</td>
            <td rowspan="2">{{ client.company.operator.rchet }}</td>
        </tr>
        <tr>
            <td colspan="2">
                {{ client.company.operator.companyTitle }}<br />
                <br />
                Получатель
            </td>
        </tr>
    </table>
    <h2>Счет на оплату № {{ payment.number != null and payment.number != '' and payment.number != 0  ? payment.number : payment.id }} от {{ payment.created | date ('d.m.Y')}}</h2>
    <hr />
    <div>
        <table>
            <tr>
                <td>Поставщик:</td>
                <td>
                    {{ client.company.operator.companyTitle }}, ИНН {{ client.company.operator.inn }}, КПП {{ client.company.operator.kpp }},
                    {{ client.company.operator.adrs.zipcode }},
                    {{ client.company.operator.adrs.region }},  {{ client.company.operator.adrs.city }},
                    {{ client.company.operator.adrs.street }}, {{ client.company.operator.adrs.home }}
                    {{ client.company.operator.adrs.corp }}, {{ client.company.operator.adrs.room }}
                    {#тел.: +7(812)425-12-44#}
                </td>
            </tr>
            <tr>
                <td>Покупатель:</td>
                <td>
                    {% if client.companyTitle %}
                        {{ client.companyTitle }},
                    {% endif %}
                    {% if client.inn %}
                        ИНН: {{ client.inn }},
                    {% endif %}
                    {% if client.kpp %}
                        КПП: {{ client.kpp }},
                    {% endif %}
                    {% if client.adrs.zipcode is defined %}
                        {{ client.adrs.zipcode }},
                        {{ client.adrs.region }},  {{ client.adrs.city }},
                        {{ client.adrs.street }},д.{{ client.adrs.house }} {{ client.adrs.corp }}, {{ client.adrs.room }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Основание:</td>
                <td>{{ client.doc }}</td>
        </table>
    </div>
    <br />
    <br />
    <table width="100%" cellspacing="0" cellpadding="0" border="1">
        <tr>
            <th>№</th>
            <th>Товары(работы, услуги)</th>
            <th>Кол-во</th>
            <th>Ед.</th>
            <th>Цена</th>
            <th>Сумма</th>
        </tr>
        {% set s = 0 %}
        {% set amount = 0 %}
        {% for k,o in payment.orders %}
            <tr>
                <td>{{ k+1 }}</td>
                <td>{{ o.title }}</td>
                <td>{{ o.amount }}</td>
                <td>Шт.</td>
                <td>{{ o.price }} р.</td>
                <td>{{ o.price * o.amount}} р.</td>
            </tr>
            {% set s = s + (o.price * o.amount) %}
            {% set amount = amount + 1 %}
        {% endfor %}
    </table>
    <table width="100%">
        <tr>
            <td style="width: 65%"></td>
            <td style="text-align: right;">ИТОГО:</td>
            <td>{{ s }} р.</td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right;">Без налога (НДС):</td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right;">Всего к оплате:</td>
            <td>{{ s }} р.</td>
        </tr>
    </table>
    <br />
    <div>
        Всего наименований {{ amount }} на сумму {{ s }}.00 рублей. <br />
        <b>{{ price }}</b>
    </div>
    <br />
    <br />
    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/crmauth/images/payment-mp-2.png') }}" style="width: 1500px">
{% endif %}
</body>
</html>