{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Добавление отзыва</li>
        <li><a href="{{ path('panel_review_list') }}"><span class="btn btn-primary">В список</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
        {% endfor %}
        <form method="POST" enctype="multipart/form-data">
            <table class="table-edit">
                <tr>
                    <td class="label">Город:</td>
                    <td class="value">
                        <input name="city" id="city" type="text" class="form-control"  value="{{ review.city }}" placeholder="Имя">
                    </td>
                </tr>
                <tr>
                    <td class="label">Имя:</td>
                    <td class="value">
                        <input name="name" id="name" type="text" class="form-control"  value="{{ review.name }}" placeholder="Имя">
                    </td>
                </tr>
                <tr>
                    <td class="label">Email:</td>
                    <td class="value">
                        <input name="email" id="email" type="text" class="form-control"  value="{{ review.email }}" placeholder="Email">
                    </td>
                </tr>
                <tr>
                    <td class="label">Количество звезд:</td>
                    <td class="value">
                        <input name="rating" max="5" maxlength="5" id="rating" type="number" class="form-control"  value="{{ review.rating }}">
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td class="value" colspan="2">
                        <textarea id="body" name="body" class="form-control" style="width: 300px; height: 150px">{{ review.body }}</textarea>
                    </td>
                </tr>
                {% if review.file != null %}
                    <tr>
                        <td class="value" colspan="2">
                            <a href="/upload/reviews/{{ review.file }}">Скачать файл</a>
                        </td>
                    </tr>
                {% endif %}
                {% if review.photo != null %}
                    <tr>
                        <td class="value" colspan="2">
                            <a href="/upload/reviews/{{ review.photo }}">Скачать файл</a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td style="text-align: right"><br /><button type="submit" class="btn btn-primary">Сохранить</button></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}