{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block body %}
<h2>Документы</h2>
<br />
<br />
<ul style="list-style: decimal; font-size: 20px">
    <li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/1. Памятка по заказу карт для тахографов.doc') }}">Памятка по заказу карт для тахографов;</a></li>
    <li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/6. Заявление на карту предприятия СКЗИ.pdf') }}">Заявление на карту предприятия СКЗИ;</a></li>
    <li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/8. Заявление на карту мастерской СКЗИ.pdf') }}">Заявление на карту мастерской СКЗИ;</a></li>
    <li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/Заявление о рекламации на карту водителя СКЗИ.docx') }}">Заявление о рекламации на карту водителя СКЗИ;</a></li>
    <li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/Инструкции по заполнению рекламации на карту СКЗИ.docx') }}">Инструкции по заполнению рекламации на карту СКЗИ;</a></li>
    <li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/Заявление на блокировку карт водителя.docx') }}">Заявление на блокировку карт водителя.docx;</a></li>
    <li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/Заявление  о рекламации на КВ ЕСТР.docx') }}"> Заявление о рекламации на КВ ЕСТР.docx;</a></li>

    {#<li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/Шаблон_Договора_на_карты_СКЗИ,_ЕСТ.doc') }}"> Шаблон договора на карты СКЗИ, ЕСТР;</a></li>#}

    {#<ul>#}
        <li style="padding: 10px;"><a target="_blank" href="/bundles/crmmain/docs/Шаблон_Договора_на_карты_СКЗИ,_ЕСТ.doc"> Шаблон договора на карты СКЗИ, ЕСТР;</a></li>
        <li style="padding: 10px;"><a target="_blank" href="/bundles/crmmain/docs/Приложение 1 - Протокол согласования цены.docx">Приложение 1 - Протокол согласования цены;</a></li>
        <li style="padding: 10px;"><a target="_blank" href="/bundles/crmmain/docs/Приложение 2 - Требование к поставке карт тахографа.docx">Приложение 2 - Требование к поставке карт тахографа;</a></li>
        <li style="padding: 10px;"><a target="_blank" href="/bundles/crmmain/docs/10. Заявление_для_водителя_при_утере.pdf">Заявление для водителя при утере карты</a></li>

    {#</ul>#}

    {#<li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/Согласие_на_передачу_персональных_данн.doc') }}"> Согласие на передачу персональных данных;</a></li>#}
    {#<li style="padding: 10px;"><a target="_blank" href="{{ asset('bundles/crmmain/docs/Заявление_для_водителя_при_утере_карты_СКЗ.pdf') }}"> Заявление для водителя при утере карты СКЗ;</a></li>#}
</ul>
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}