{% extends 'CrmMainBundle::layout_mini.html.twig' %}


{% block content %}

    {% if company is defined and company.id != 0 %}
        {#{% if company.description == null %}#}
            {#<h1>{{ company.title }}</h1>#}
        {#{% else %}#}
            {#{{ company.description | raw }}#}
        {#{% endif %}#}
        {#<a href="https://im-kard.ru/bundles/crmmain/docs/license.pdf" target="_blank">Лицензионное соглашение</a>#}
        {% if company is defined and company.id != 1013 %}
        <div style="float: right;">
        <a href="{{ path('auth_login',{'url': company.url}) }}"><span class="btn btn-blue">Вход</span></a>
        <a href="{{ path('auth_register',{'url': company.url}) }}"><span class="btn btn-blue">Регистрация</span></a>
        </div>
        <br />
        <br />
        {% endif %}
        {#<br />#}
        {#<br />#}
        {#<a href="{{ path('company-application-estr-add',{'url': company.url}) }}"><span class="btn">Карта ЕСТР</span></a>#}
        {#<br />#}
        {#<br />#}
        {#<a href="{{ path('company-application-ru-add',{'url': company.url}) }}"><span class="btn">Карта РФ</span></a>#}
        {#<br />#}
        {#<br />#}
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="driver" aria-labelledby="home-tab">
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/crmmain/images/card2-1.png') }}">
                    <div class="caption">
                        <h3>Карта СКЗИ <span style="color: #CC0000;float: right;text-transform: uppercase;margin-right: 10px;">Акция</span></h3>
                        <p>
                            Карты предназначены для тахографов оборудованных блоком СКЗИ.<br />
                            Действуют только на территории РФ.<br />
                            <a href="#" onclick="$('#tahoinfo').modal(); return false;" style="font-size: 17px; font-weight: bold;">Список тахографов с блоком СКЗИ</a>
                        </p>
                        <b>Документы:</b>
                        <ul>
                            <li>копия паспорта (лицевой разворот)</li>
                            <li>копия водительского удостоверения</li>
                            <li>СНИЛС, ИНН</li>
                            <li>фото, подпись</li>
                        </ul>
                        <br />
                        Срок изготовления: <b>15 дней</b><br />
                        Доставка: <b>бесплатно</b>
                        <br />
                        {#<div class="row">#}
                        {#<div class="col-xs-6 price"><span class="sale">{{ company.priceSkzi }} руб</span></div>#}
                        {#</div>#}

                        <div class="row">
                            {% if company.priceSaleSkzi !=0 %}<div class="col-xs-6 price"><span class="sale">{{ company.priceSaleSkzi }},00 руб</span></div>{% endif %}
                            <div class="col-xs-6 price">{{ company.priceSkzi }},00 руб</div>
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-xs-12 text-center"><a href="{{ path('company-application-skzi-add', {'url' : company.url }) }}" class="btn-lg btn-primary" role="button">Оформление заявки</a></div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/crmmain/images/card2-2.png') }}">
                    <div class="caption">
                        <h3>Карта ЕСТР <span style="color: #CC0000;float: right;text-transform: uppercase;margin-right: 10px;">Акция</span></h3>
                        <p>
                            Карты предназначены для европейских тахографов стандарта ЕСТР.<br />
                            Действуют только на территории Европы и  РФ.<br />
                        </p>
                        <b>Документы:</b>
                        <ul>
                            <li>копия паспорта (лицевой разворот, страница регистрации)</li>
                            <li>копия водительского удостоверения (две стороны)</li>
                            <li>фото, подпись</li>
                        </ul>
                        Срок изготовления: <b>15 дней</b><br />
                        Доставка: <b>бесплатно</b>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            {% if company.priceSaleEstr !=0 %}<div class="col-xs-6 price"><span class="sale">{{ company.priceSaleEstr }},00 руб</span></div>{% endif %}
                            <div class="col-xs-6 price">{{ company.priceEstr }},00 руб</div>
                        </div>
                        <br />

                    </div>
                    <div class="row">
                        <br />
                        <div class="col-xs-12 text-center"><a href="{{ path('company-application-estr-add', {'url' : company.url }) }}" class="btn-lg btn-primary" role="button">Оформление заявки</a></div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            {% if company is defined and company.id != 1013 %}
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/crmmain/images/card2-3.png') }}">
                    <div class="caption">
                        <h3>Карта РФ <span style="color: #CC0000;float: right;text-transform: uppercase;margin-right: 10px;">Акция</span></h3>
                        <p>
                            Карты предназначены для тахографов <b>не</b> оборудованных блоками СКЗИ.<br />
                            Дейтсвуют только на территории РФ.<br />
                        </p>
                        <b>Документы:</b>
                        <ul>
                            <li>копия паспорта (лицевой разворот, страница регистрации)</li>
                            <li>копия водительского удостоверения (две стороны)</li>
                            <li>фото, подпись</li>
                        </ul>
                        Срок изготовления: <b>10 дней</b><br />
                        Доставка: <b>бесплатно</b>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            {% if company.priceSaleRu !=0 %}<div class="col-xs-6 price"><span class="sale">{{ company.priceSaleRu }},00 руб</span></div>{% endif %}
                            <div class="col-xs-6 price">{{ company.priceRu }},00 руб</div>
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-xs-12 text-center"><a href="{{ path('company-application-ru-add', {'url' : company.url }) }}" class="btn-lg btn-primary" role="button">Оформление заявки</a></div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <hr />
    </div>
    </div>
    {% else %}
        <a href="{{ path('company-application-skzi-add', {'url' : company.url}) }}"><span class="btn">Карта СКЗИ</span></a>
    {% endif %}

    <br />
    <br />
    <style>
        .sale{
            color: #CC0000;
            text-decoration:  line-through;
        }
        button.btn.btn-primary.callto {
            margin-left: 70px;
            margin-top: -9px;
        }

        ul.counter {
            list-style-type:none;
            /*width:566px;*/
            margin: 0 auto;
            padding: 0;
        }
        .counter li {
            display: inline-block;
            background:url({{ asset('bundles/crmmain/images/filmstrip.png') }}) 0 0 no-repeat;
            width:53px;
            height:103px;
            /*height: 80px;*/
        }
        .btn{
            display: inline-block;
            width: 200px;
            text-align: center;
        }
        .price {
            font-size: 19px;
            font-weight: bold;
        }
    </style>
    <div class="modal in" tabindex="-1" role="dialog2" id="tahoinfo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="font-size: 17px; font-weight: bold">Список тахографов с блоком СКЗИ</h4>
                </div>

                <div class="modal-body">
                    <table class="table" style="margin-bottom: 0 !important;">
                        <tr>
                            <td style="border-top: 0;"><img src="http://im-kard.ru{{ asset('bundles/crmmain/images/tahos/1.png') }}" style="width: 150px"></td>
                            <td style="border-top: 0; vertical-align: middle">
                                "Штрих - Тахо RUS", SM 10042.00.00-13,<br /> SM 10042.00.00-14<br />
                                Производитель - ООО "НТЦ Измеритель"
                            </td>
                        </tr>
                        <tr>
                            <td><img src="http://im-kard.ru{{ asset('bundles/crmmain/images/tahos/2.png') }}" style="width: 150px"></td>
                            <td style=" vertical-align: middle;">
                                "КАСБИ DT - 20 M" <br />
                                ПРоизводитель - АО "КЗТА"
                            </td>
                        </tr>
                        <tr>
                            <td><img src="http://im-kard.ru{{ asset('bundles/crmmain/images/tahos/3.png') }}" style="width: 150px"></td>
                            <td style=" vertical-align: middle;">
                                "Меркурий ТА - 001"<br />
                                Производитель - ООО "АСТОР ТРЕЙД"
                            </td>
                        </tr>
                        <tr>
                            <td><img src="http://im-kard.ru{{ asset('bundles/crmmain/images/tahos/4.png') }}" style="width: 150px"></td>
                            <td style=" vertical-align: middle;">
                                "DTCO 3283"<br />
                                Производитель - ООО "Континентал Аутомотив РУС"
                            </td>
                        </tr>
                        <tr>
                            <td><img src="http://im-kard.ru{{ asset('bundles/crmmain/images/tahos/5.png') }}" style="width: 150px"></td>
                            <td style=" vertical-align: middle;">
                                "ТЦА 02НК"<br />
                                Производитель - ЗАО "Измеритель - авто"
                            </td>
                        </tr>
                        <tr>
                            <td><img src="http://im-kard.ru{{ asset('bundles/crmmain/images/tahos/6.png') }}" style="width: 150px"></td>
                            <td style=" vertical-align: middle;">
                                "drive 5", "Drive Smart"<br />
                                Производитель - ООО "ПОС система" <br />
                                ООО "АТОЛ ДРАЙВ"
                            </td>
                        </tr>
                        <tr>
                            <td><img src="http://im-kard.ru{{ asset('bundles/crmmain/images/tahos/7.png') }}" style="width: 150px"></td>
                            <td style=" vertical-align: middle;">
                                "EFAS V2 RUS"<br />
                                Производитель - ООО "ИНТЕЛЛИК РУС"
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
