{% extends 'CrmMainBundle::layout_mini.html.twig' %}

{% block title %}
    <title>Заказать карту водителя для тахографа с СКЗИ Online</title>
    <meta name="description" content="Заказать карту водителя для тахографа с СКЗИ Online">
    <meta name="keywords" content="Заказать карту водителя для тахографа с СКЗИ Online">
{% endblock %}

{% block content %}
    {#<div class="btn btn2" id="important4" style="width: 362px;  margin: 0 auto; float: left;">Помощь оператора</div>#}

    <div class="btn btn2" id="important3" style="width: 362px;  margin: 0 auto; float: left">Инструкция по заполнению Анкеты</div>
    <br style="clear: both">

    <div class="box">
        {#<h2>Оформление заявки - Шаг 1</h2>#}
    </div>
    <div class="bg-gray"></div>
    <div class="help-pop-up">
        <img src="{{ asset('bundles/crmmain/images/close_ico.png') }}" class="close-pop-up ico" />
        <div class="text"></div>
    </div>

    <div class="img-pop-up ui-widget-content">
        <div class="img-pop-up-title">
            выберите область с документом. При необходимости переверните фото.
        </div>
        <div id="img-pop-up-img"></div>
        <img src="{{ asset('bundles/crmmain/images/close_ico.png') }}" class="close-pop-up ico" />
        <div class="img-pop-up-nav">
            <input type="hidden" name="x1" id="x1" value="0">
            <input type="hidden" name="y1" id="y1" value="0">
            <input type="hidden" name="x2" id="x2" value="0">
            <input type="hidden" name="y2" id="y2" value="0">
            <input type="button" value="Выбрать" id="sendCoords" class="btn">
            <input type="button" value="Повернуть"  class="btn" id="rotate">
            <input type="button" value="Вперед"  id="forward" class="btn" style="display: none;">
        </div>
    </div>
    <div class="inp-pop-up">
    <div class="inp-passport inp-box">
        <table>
            <tr>
                <td colspan="3">
                    <div class="error-msg-p"></div>
                </td>
            </tr>
            <tr><td colspan="2" class="empty-row">Паспортные данные</td></tr>
            <tr>
                <td class="label">Фамилия<span class="required">*</span>:</td>
                <td class="value">
                    <input name="lastName" id="lastName" type="text" >
                </td>
                <td class="lastNameStatus"></td>
            </tr>
            <tr>
                <td class="label">Имя<span class="required">*</span>:</td>
                <td class="value">
                    <input name="firstName" id="firstName" type="text" >
                </td>
                <td class="firstNameStatus"></td>
            </tr>
            <tr>
                <td class="label">Отчество:</td>
                <td class="value">
                    <input name="surName" id="surName" type="text" >
                </td>
                <td class="surNameStatus"></td>
            </tr>
            <tr>
                <td class="label">Дата рождения<span class="required">*</span>:</td>
                <td class="value">
                    <input name="birthdate" id="birthdate" type="text" >
                </td>
                <td class="dateBrithdateStatus"></td>
            </tr>
            <tr>
                <td class="label">Серия паспорта:</td>
                <td class="value">
                    <input name="passportSeries" id="passportSeries" type="text"  data-placeholder="Для паспорта РФ">
                </td>
                <td class="passportSeriesStatus"></td>
            </tr>
            <tr>
                <td class="label">Номер паспорта<span class="required">*</span>:</td>
                <td class="value">
                    <input name="passportNumber" id="passportNumber" type="text"  >
                </td>
                <td class="passportNumberStatus"></td>
            </tr>
            <tr>
                <td class="label">Кем выдан<span class="required">*</span>:</td>
                <td class="value">
                    <input name="passportPlace" id="passportPlace" type="text"  >
                </td>
                <td class="passportPlaceStatus"></td>
            </tr>
            <tr>
                <td class="label">Дата выдачи<span class="required">*</span>:</td>
                <td class="value">
                    <input name="passportDate" id="passportDate" type="text"  >
                </td>
                <td class="passportPlaceStatus"></td>
            </tr>
            <tr>
                <td class="label">Код подразделения:</td>
                <td class="value">
                    <input name="passportCode" id="passportCode" type="text"  >
                </td>
                <td class="passportCodeStatus"></td>
            </tr>
            <tr>
                <td>
                    {#<input type="button" id="" value="Назад" class="btn back">#}
                </td>
                <td style="text-align: right">
                    <input type="button" id="savePassport" value="Подтвердить данные" class="btn saveForm">
                </td>
            </tr>
        </table>
    </div>
    <div class="inp-driver inp-box">
        <table>
            <tr>
                <td colspan="3">
                    <div class="error-msg-d"></div>
                </td>
            </tr>
            <tr><td colspan="2" class="empty-row">Водительское удостоверение</td></tr>
            <tr>
                <td class="label">Кем выдан:</td>
                <td class="value">
                    <input name="driverDocIssuance" id="driverDocIssuance" type="text"  >
                </td>
                <td class="driverDocIssuanceStatus"></td>
            </tr>
            <tr>
                <td class="label">Номер удостоверения водителя:</td>
                <td class="value">
                    <input name="driverNumber" id="driverNumber" type="text"  >
                </td>
                <td class="driverNumberStatus"></td>
            </tr>
            <tr>
                <td class="label">Дата выдачи:</td>
                <td class="value">
                    <input name="driverDateStarts" id="driverDateStarts" type="text"  >
                </td>
                <td class="driverDateStartsStatus"></td>
            </tr>
            <tr>
                <td class="label">Дата окончания:</td>
                <td class="value">
                    <input name="driverDateEnds" id="driverDateEnds" type="text"  >
                </td>
                <td class="driverDateEndsStatus"></td>
            </tr>
            <tr>
                <td>
                    {#<input type="button" id="" value="Назад" class="btn back">#}
                </td>
                <td style="text-align: right">
                    <input type="button" id="saveDriver" value="Подтвердить данные" class="btn saveForm">
                </td>
            </tr>
        </table>
    </div>
    <div class="inp-snils inp-box">
        <table>
            <tr>
                <td colspan="3">
                    <div class="error-msg-s"></div>
                </td>
            </tr>
            <tr><td colspan="2" class="empty-row">Страховой номер индивидуального лицевого счёта (СНИЛС)</td></tr>
            <tr>
                <td class="label">Страховой номер лицевого счета</td>
                <td class="value">
                    <input name="snils" id="snils" type="text"  >
                </td>
                <td class="snilsStatus"></td>
            </tr>
            <tr>
                <td>
                    {#<input type="button" id="" value="Назад" class="btn back">#}
                </td>
                <td style="text-align: right">
                    <input type="button" id="saveSnils" value="Подтвердить данные" class="btn saveForm">
                </td>
            </tr>
        </table>
    </div>
    <div class="inp-hod inp-box">
        <table style="width: 600px;">
            <tr>
                <td colspan="3">
                    <div class="error-msg-h"></div>
                </td>
            </tr>
            <tr><td colspan="2" class="empty-row">Информация о компании</td></tr>
            <tr>
                <td class="label">Название организации<span class="required">*</span>:</td>
                <td class="value">
                    <input id="companyName" name="companyName" type="text" placeholder="">
                </td>
            </tr>
            <tr>
                <td class="label">Адрес организации<span class="required">*</span>:</td>
                <td class="value">
                    <input name="companyZipcode" id="companyZipcode"  type="text" placeholder="Индекс"><br />
                    <select name="companyRegion" id="companyRegion">
                        {% for region in regions %}
                            <option value="{{ region.id }}">{{ region.title }}</option>
                        {% endfor %}
                    </select><br />
                    <input name="companyCity"    id="companyCity"     type="text" placeholder="Город"><br />

                    <select name="companyTypeStreet" id="companyTypeStreet">
                        <option value="ул."     >Улица</option>
                        <option value="д."      >Дорога</option>
                        <option value="пр-д."   >Проезд</option>
                        <option value="туп."    >Тупик</option>
                        <option value="ш."      >Шоссе</option>
                        <option value="тр."     >Трасса</option>
                        <option value="пер."    >Переулок</option>
                        <option value="пл."     >Площадь</option>
                        <option value="скв."    >Сквер</option>
                        <option value="алл."    >Аллея</option>
                        <option value="б."      >Бульвар</option>
                        <option value="пр."     >Просека</option>
                        <option value="пр-т"    >Проспект</option>
                        <option value="наб."    >Набережная</option>
                        <option value=""        >Другое</option>
                    </select>
                    <input name="companyStreet"  id="companyStreet"   type="text" placeholder="Название улицы"><br />

                    <input name="companyHouse"   id="companyHouse"    type="text" placeholder="Дом" class="little">
                    <input name="companyCorp"    id="companyCorp"     type="text" placeholder="Корп"  class="little">
                    <input name="companyStructure"    id="companyStructure"     type="text" placeholder="Строение"  class="little"><br />

                    <select name="companyTypeRoom" id="companyTypeRoom">
                        <option value="кв.">Квартира</option>
                        <option value="оф.">Офис</option>
                    </select>
                    <input name="companyRoom"    id="companyRoom"  type="text" placeholder="Номер"  class="little">
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="button" id="saveHod" value="Подтвердить данные" class="btn saveForm">
                </td>
            </tr>
        </table>
    </div>
    </div>
    <div id="loader"></div>

    <div class="box">
        <table>
            <form method="POST" action="{{ path('order_register') }}" id="main-form">
                <tr>
                    <td colspan="3">
                        <div class="error-msg"></div>
                    </td>
                </tr>
                <tr>
                    <td class="label">E-mail:</td>
                    <td class="value">
                        <input name="email" id="email" type="text" placeholder="Укажите вашу почту" required>
                    </td>
                    <td class="emailStatus" rowspan="2" style="padding-left: 10px; font-size: 12px">
                        <i>Для создания заявки необходимо заполнить хотя бы одно из полей - Email или телефон</i>
                    </td>
                </tr>
                <tr>
                    <td class="label">Телефон:</td>
                    <td class="value">
                        <input name="phone" id="phone" type="text" placeholder="Укажите ваш телефон">
                    </td>
                </tr>
                <tr>
                    <td class="label">Гражданство<span class="required">*</span>:</td>
                    <td class="value">
                        <select name="rezident" id="rezident">
                            <option value="1">Россия</option>
                            <option value="2">Другое</option>
                        </select>
                    </td>
                    <td ></td>
                </tr>
            </form>
            <tr><td colspan="2" class="empty-row">Документы</td></tr>
            <tr>
                <td class="label">
                    <div class="label-text">Паспорт<span class="required">*</span>:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-1">
                        <input name="passport" id="passportFile" type="file" value="Выбирите файл"><br/><br />
                    </form>
                </td>
                <td class="passportStatus"><span id="helpPassport" class="help"><br />Инструкция по заполнению</span></td>
            </tr>
            <tr>
                <td class="label">
                    <div class="label-text">Водительское удостоверение<span class="required">*</span>:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-2">
                        <input name="driver" id="driverFile" type="file" value="Выбирите файл"><br/><br />
                    </form>
                </td>
                <td class="driverStatus"><span id="helpDriver" class="help"><br />Инструкция по заполнению</span></td>
            </tr>
            <tr >
                <td class="label">
                    <div class="label-text">Фотография<span class="required">*</span>:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-5">
                        <input name="photo" id="photoFile" type="file" value="Выбирите файл"><br/><br />
                    </form>
                </td>
                <td class="photoStatus"><span id="helpPhoto" class="help"><br />Инструкция по заполнению</span></td>
            </tr>
            <tr >
                <td class="label">
                    <div class="label-text">Подпись<span class="required">*</span>:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-6">
                        <input name="sign" id="signFile" type="file" value="Выбирите файл"><br/><br />
                    </form>
                </td>
                <td class="signStatus"><span id="helpSign" class="help"><br />Инструкция по заполнению</span></td>
            </tr>

            <tr id="rus">
                <td class="label">
                    <div class="label-text">Страховой номер лицевого счета (СНИЛС)<span class="required">*</span>:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-3">
                        <input name="snils" id="snilsFile" type="file" value="Выбирите файл"><br/><br />
                    </form>
                </td>
                <td class="snilsStatus"><span id="helpSnils" class="help"><br />Инструкция по заполнению</span></td>
            </tr>
            <tr id="notrus" style="display: none;">
                <td class="label">
                    <div class="label-text">Разрешение на работу<span class="required">*</span>:</div>
                </td>
                <td class="value">
                    <form enctype="multipart/form-data" id="form-4">
                        <input name="work" id="workFile" type="file" value="Выбирите файл"><br/><br />
                    </form>
                </td>
                <td class="workStatus"><span id="helpWork" class="help"><br />Инструкция по заполнению</span></td>
            </tr>

            {#<tr>#}
                {#<td class="label">#}
                    {#<div class="label-text">Ходатайство с места работы:</div>#}
                {#</td>#}
                {#<td class="value">#}
                    {#<form enctype="multipart/form-data" id="form-7">#}
                        {#<input name="hod" id="hodFile" type="file" value="Выбирите файл">#}
                    {#</form>#}
                {#</td>#}
                {#<td class="hodStatus"><img src="{{ asset('bundles/crmmain/images/help.png') }}" class="ico help" id="helpHod" title="Инструкция по заполнению"></td>#}
            {#</tr>#}

            <tr><td colspan="2" class="empty-row">Информация о доставке</td></tr>
            <tr>
                <td class="label">Адрес доставки<span class="required">*</span>:</td>
                <td class="value">
                    <input name="deliveryZipcode" id="deliveryZipcode" type="text" placeholder="Индекс"><br />
                    <select name="deliveryRegion" id="deliveryRegion">
                        <option value="" disabled selected>Регион</option>
                        {% for region in regions %}
                            <option value="{{ region.id }}">{{ region.title }}</option>
                        {% endfor %}
                    </select><br />
                    <input name="deliveryCity"    id="deliveryCity"    type="text" placeholder="Город"><br />
                    <input name="deliveryStreet"  id="deliveryStreet"  type="text" placeholder="Улица"><br />
                    <input name="deliveryHouse"   id="deliveryHouse"   type="text" placeholder="Дом" class="little">
                    <input name="deliveryCorp"    id="deliveryCorp"    type="text" placeholder="Корп /Стр"  class="little">
                    <input name="deliveryRoom"    id="deliveryRoom"    type="text" placeholder="Кв / оф"  class="little">
                </td>
                <td class="deliveryAdressStatus"></td>
            </tr>

            <tr><td colspan="2" class="empty-row">Другая информация</td></tr>
            <tr>
                <td class="label">Номер прошлой карты:</td>
                <td class="value">
                    <input name="oldNumber" id="oldNumber" type="text"  >
                </td>
                <td class="oldNumberStatus"></td>
            </tr>

            <tr><td colspan="2"><br /></td></tr>
            <tr>
                <td style="text-align: right" colspan="2">
                    <span id="eulaText">Я принимаю <a href="{{ path('page',{'url' : 'eula'}) }}">условия обслуживания сайта im-kard.ru</a>&nbsp;&nbsp;&nbsp;<input type="checkbox" name="eula" id="eula"></span>
                </td>
            </tr>
            <tr><td colspan="2">
                    <i style="font-size: 14px; color: #CC3333">* Поля отмеченные звездочкой обязательны для заполнения</i>
                    <br />
                </td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="button" value="Оформить заявку" class="btn" id="submit">
                </td>
            </tr>
        </table>
    </div>
    <div class="pop-up" id="pop-up-3" style="width: 640px; height: 360px; top: 160px; margin-left: -320px">
        <img src="{{ asset('bundles/crmmain/images/close_ico.png') }}" class="close-pop-up ico" />
        <div>
            <iframe width="640" height="360" src="//www.youtube.com/embed/2WkicwKfhMc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    {#<script type="text/javascript"src="{{ asset('bundles/crmmain/javascripts/jquery.customfile.js') }}"></script>#}
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/styler/jquery.formstyler.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/odyniec/jquery.imgareaselect.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/spin.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>


    <script>
    $(document).ready(function(){
        $('input:text, input:file, select').styler();
        $.mask.definitions['d'] = "[a-zA-Z0-9а-яА-Я ]";
        $('#oldNumber').mask("RUDddddddddddddd");
        $("#deliveryZipcode").mask("999999");
        $("#phone").mask("+7 (999) 999-9999");
        var files;
        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1.3, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
        var target = document.getElementById('loader');
        var spinner = new Spinner(opts).spin(target);



        $('input[type=file]').on('change', function(event){

            $('.bg-gray').fadeIn();
            $('#loader').fadeIn();

            $('#forward').fadeOut();
            $('#rotate').fadeIn();
            $('#sendCoords').fadeIn();
            $('.inp-box').css('display','none');

            if ($(this).attr('name')=='passport' ){
                $('.inp-passport').css('display','block');
                $('.img-pop-up').attr('type-doc','passport');
            }

            if ($(this).attr('name')=='driver' ){
                $('.inp-driver').css('display','block');
                $('.img-pop-up').attr('type-doc','driver');
            }

            if ($(this).attr('name')=='snils' ){
                $('.inp-snils').css('display','block');
                $('.img-pop-up').attr('type-doc','snils');
            }

            if ($(this).attr('name')=='photo' ){
                $('.img-pop-up').attr('type-doc','photo');
            }

            if ($(this).attr('name')=='sign' ){
                $('.img-pop-up').attr('type-doc','sign');
            }

            if ($(this).attr('name')=='work' ){
                $('.img-pop-up').attr('type-doc','work');
            }

//            if ($(this).attr('name')=='hod' ){
//                $('.img-pop-up').attr('type-doc','hod');
//            }



            files = event.target.files;
            var formData = new FormData();
            $.each(files, function(key, value){
                formData.append(key, value);
            });
            if ($('.img-pop-up').attr('type-doc') != ''){
                type = $('.img-pop-up').attr('type-doc');
                $.ajax({
                    url: Routing.generate('uploadDoc', {'type': type}),
                    type: 'POST',
                    xhr: function() {
                        var myXhr = $.ajaxSettings.xhr();
                        if(myXhr.upload){
                            myXhr.upload.addEventListener('#progress-passport',progressHandlingFunction, false);
                        }
                        return myXhr;
                    },
                    //beforeSend: ,
                    //error: ,
                    success: function(msg){

//                        $('.bg-gray').fadeOut();
//                        $('#loader').fadeOut();

                        if ($('.img-pop-up').attr('type-doc') != 'work' ){
                            $('#img-pop-up-img').html('<div style="display: inline-block"><img  src="'+msg+'" /></div>');
                            showImgPopUp();
                            $('.bg-gray').fadeOut();
                            $('#loader').fadeOut();
                            if ( type == 'photo'){
                                $('#img-pop-up-img div img').imgAreaSelect({
                                    aspectRatio: '1:1.285',
//                                x1: 120, y1: 90, x2: 280, y2: 210,
                                    handles: true,
                                    onSelectEnd: function (img, selection) {
                                        $('input[name="x1"]').val(selection.x1);
                                        $('input[name="y1"]').val(selection.y1);
                                        $('input[name="x2"]').val(selection.x2);
                                        $('input[name="y2"]').val(selection.y2);
                                        $('.imgareaselect-selection').addClass('imgareaselect-selection2');
                                    }
                                });
                                $('.imgareaselect-selection').addClass('imgareaselect-selection2');
                            }else{
                                if (type == 'sign'){
                                    $('#img-pop-up-img div img').imgAreaSelect({
//                                        aspectRatio: '5:1',
//                                x1: 120, y1: 90, x2: 280, y2: 210,
                                        handles: true,
                                        onSelectEnd: function (img, selection) {
                                            $('input[name="x1"]').val(selection.x1);
                                            $('input[name="y1"]').val(selection.y1);
                                            $('input[name="x2"]').val(selection.x2);
                                            $('input[name="y2"]').val(selection.y2);
                                        }
                                    });
                                }else{
                                    $('#img-pop-up-img div img').imgAreaSelect({
                                        x1: 120, y1: 90, x2: 280, y2: 210,
                                        handles: true,
                                        onSelectEnd: function (img, selection) {
                                            $('input[name="x1"]').val(selection.x1);
                                            $('input[name="y1"]').val(selection.y1);
                                            $('input[name="x2"]').val(selection.x2);
                                            $('input[name="y2"]').val(selection.y2);
                                        }
                                    });
                                }
                            }
                        }
                    },
//                        error:function (error) {
//                            alert("error"+error);
//                        },
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
//            if ( $('#signFile-styler').children('.jq-file__name').html() == 'Файл не выбран'){
//                hideloader();
//                hideImgPopUp();
//            }
        });

        $('#rotate').click(function(){
            type = $('.img-pop-up').attr('type-doc');
            $.ajax({
                type: "POST",
                url: Routing.generate('rotate-image', {'type': type}),
                success: function(msg){
                    $(".imgareaselect-selection").parent().remove();
                    $(".imgareaselect-outer").remove();
                    $('#img-pop-up-img').html('<div style="display: inline-block"><img  src="'+msg+'" /></div>');
                    showImgPopUp();
                    if ( type == 'photo'){
                        $('#img-pop-up-img div img').imgAreaSelect({
                            aspectRatio: '1:1.285',
//                                x1: 120, y1: 90, x2: 280, y2: 210,
                            handles: true,
                            onSelectEnd: function (img, selection) {
                                $('input[name="x1"]').val(selection.x1);
                                $('input[name="y1"]').val(selection.y1);
                                $('input[name="x2"]').val(selection.x2);
                                $('input[name="y2"]').val(selection.y2);
                                $('.imgareaselect-selection').addClass('imgareaselect-selection2');
                            }
                        });
                        $('.imgareaselect-selection').addClass('imgareaselect-selection2');
                    }else{
                        if (type == 'sign'){
                            $('#img-pop-up-img div img').imgAreaSelect({
//                                aspectRatio: '5:1',
//                                x1: 120, y1: 90, x2: 280, y2: 210,
                                handles: true,
                                onSelectEnd: function (img, selection) {
                                    $('input[name="x1"]').val(selection.x1);
                                    $('input[name="y1"]').val(selection.y1);
                                    $('input[name="x2"]').val(selection.x2);
                                    $('input[name="y2"]').val(selection.y2);
                                }
                            });
                        }else{
                            $('#img-pop-up-img div img').imgAreaSelect({
                                x1: 120, y1: 90, x2: 280, y2: 210,
                                handles: true,
                                onSelectEnd: function (img, selection) {
                                    $('input[name="x1"]').val(selection.x1);
                                    $('input[name="y1"]').val(selection.y1);
                                    $('input[name="x2"]').val(selection.x2);
                                    $('input[name="y2"]').val(selection.y2);
                                }
                            });
                        }
                    }

                }
            });
        });

        $('#submit').click(function(){
            //Validation
            errorI = 1 ;
            error = '';
            if ( $('#email').val()=='' &&  $('#phone').val()=='' ){
                $('#email').css('borderColor', '#cc3333');
                $('#phone').css('borderColor', '#cc3333');
                error += errorI+'. Одно из полей (телефон или e-mail) обязательно должно быть заполнено<br />';
                errorI++;
            }

            if ( $('#passportFile-styler .jq-file__name').html() == 'Файл не выбран'){
                error += errorI+'. Поле пасспорт обязательно для заполнения<br />';
                $('#passportFile-styler .jq-file__name').css('borderColor', '#cc3333');
                errorI++;
            }

            if ( $('#driverFile-styler .jq-file__name').html() == 'Файл не выбран'){
                error += errorI+'. Поле водительское удостоверение обязательно для заполнения<br />';
                $('#driverFile-styler .jq-file__name').css('borderColor', '#cc3333');
                errorI++;
            }

            if ( $('#photoFile-styler .jq-file__name').html() == 'Файл не выбран'){
                error += errorI+'. Поле фотография обязательно для заполнения<br />';
                $('#photoFile-styler .jq-file__name').css('borderColor', '#cc3333');
                errorI++;
            }

            if ( $('#signFile-styler .jq-file__name').html() == 'Файл не выбран'){
                error += errorI+'. Поле подпись обязательно для заполнения<br />';
                $('#signFile-styler .jq-file__name').css('borderColor', '#cc3333');
                errorI++;
            }

//            if ( $('#hodFile-styler .jq-file__name').html() == 'Файл не выбран'){
//                error += errorI+'. Поле ходатайство обязательно для заполнения<br />';
//                $('#hodFile-styler .jq-file__name').css('borderColor', '#cc3333');
//                errorI++;
//            }

            if ($('#rezident').val() == 1 && $('#snilsFile-styler .jq-file__name').html() == 'Файл не выбран' ){
                error += errorI+'. Поле Страховой номер лицевого счета обязательно для заполнения<br />';
                $('#snilsFile-styler .jq-file__name').css('borderColor', '#cc3333');
                errorI++;
            }

            if ($('#deliveryZipcode').val() == ''){
                error += errorI+'. Поле  индекс обязательно для заполнения <br />';
                $('#deliveryZipcode').css('borderColor','#CC3333');
                errorI++;
            }
            if ($('#deliveryRegion').val() == ''){
                error += errorI+'. Поле  регион обязательно для заполнения <br />';
                $('#deliveryRegion').css('borderColor','#CC3333');
                errorI++;
            }
            if ($('#deliveryCity').val() == ''){
                error += errorI+'. Поле город обязательно для заполнения <br />';
                $('#deliveryCity').css('borderColor','#CC3333');
                errorI++;
            }
            if ($('#deliveryHouse').val() == ''){
                error += errorI+'. Поле дом обязательно для заполнения <br />';
                $('#deliveryHouse').css('borderColor','#CC3333');
                errorI++;
            }

            if (!$('#eula').prop("checked")){
                error += errorI+'. для регистрации нужно принять условия обслуживания сайтом <br />';
                errorI++;
                $('#eulaText').css('color','#CC3333');
                $('#eulaText a').css('color','#CC3333');
            }

            if (error === ''){
                var form = new FormData();
                form.append('passportLastName',$('#lastName').val());
                form.append('passportFirstName',$('#firstName').val());
                form.append('passportSurName',$('#surName').val());
                form.append('passportBirthdate',$('#birthdate').val());
                form.append('passportSeries',$('#passportSeries').val());
                form.append('passportNumber',$('#passportNumber').val());
                form.append('passportPlace',$('#passportPlace').val());
                form.append('passportDate',$('#passportDate').val());
                form.append('passportCode',$('#passportCode').val());

                form.append('driverNumber',$('#driverNumber').val());
                form.append('driverDateStarts',$('#driverDateStarts').val());
                form.append('driverDateEnds',$('#driverDateEnds').val());
                form.append('driverDocIssuance',$('#driverDocIssuance').val());

                form.append('snils',$('#snils').val());

                form.append('email',$('#email').val());
                form.append('phone',$('#phone').val());

                form.append('deliveryZipcode',$('#deliveryZipcode').val());
                form.append('deliveryRegion',$('#deliveryRegion').val());
                form.append('deliveryCity',$('#deliveryCity').val());
                form.append('deliveryStreet',$('#deliveryStreet').val());
                form.append('deliveryHouse',$('#deliveryHouse').val());
                form.append('deliveryCorp',$('#deliveryCorp').val());
                form.append('deliveryRoom',$('#deliveryRoom').val());
                form.append('oldNumber',$('#oldNumber').val());


                var request = new XMLHttpRequest();
                request.open("POST", "{{ path('order_register_mini',{'compnayUrl' : compnayUrl}) }}", false);
                request.send(form);
                if(request.status == 200) {
                    id = $.parseJSON(request.responseText);
                    console.log(request.responseText);
                    id = id.data.id;
                    window.location.href = Routing.generate('order_success_mini',{ 'id' : id});
                }

            }else{
                $('.error-msg').fadeIn();
                $('.error-msg').html(error);
            }
        });

        $('#rezident').change(function(){
            if ( $(this).val() == '1' ){
                $('#rus').css('display','table-row');
                $('#notrus').css('display','none');
            }else{
                $('#rus').css('display','none');
                $('#notrus').css('display','table-row');
            }
        });

        $('.back').click(function(){
            showImgPopUp();
            hideInpPopUp();
        });

        $('#forward').click(function(){
            hideImgPopUp();
            type = $('.img-pop-up').attr('type-doc');
            if (type == 'snils' || type == 'driver' || type == 'passport'){
                showInpPopUp();
            }
        });


        $('#sendCoords').click(function(){
            type = $('.img-pop-up').attr('type-doc');
            x1 = $('input[name="x1"]').val();
            y1 = $('input[name="y1"]').val();
            x2 = $('input[name="x2"]').val()-x1;
            y2 = $('input[name="y2"]').val()-y1;
            $.ajax({
                type: "POST",
                url: Routing.generate('send_coordinates', {'type': type}),
                data: 'x='+x1+'&y='+y1+'&x2='+x2+'&y2='+y2+'&originalWidth='+$('#img-pop-up-img img').css('width'),
                success: function(msg){
                    $('#img-pop-up-img').html('<div style="display: inline-block"><img src="'+msg+'" /></div>');
                    $(".imgareaselect-selection").parent().remove();
                    $(".imgareaselect-outer").remove();
                    if (type == 'snils' || type == 'driver' || type == 'passport'){
                        $('#forward').fadeIn();
//                            hideImgPopUp();
                        if ($( ".img-pop-up").length > 0){
                            $( ".img-pop-up" ).draggable();
                            $('.img-pop-up').css('top','350px');
                            $( ".inp-pop-up" ).draggable();
                        }
                        showloader();
                        getImgData(type);
                    }else{
                        $('#forward').fadeIn();
                        $('#rotate').fadeOut();
                        $('#sendCoords').fadeOut();
//                            hideImgPopUp();
                    }

//                        showInpPopUp();
                }
            });
        });

        $('.saveForm').click(function(){

            errorI = 1 ;
            error = '';
            //Паспорт
            if ( $(this).attr('id')=='savePassport' ){
                if ( $('#lastName').val()==''){
                    $('#lastName').css('borderColor', '#cc3333');
                    error += errorI+'. Поле фамилия обязательно для заполнения<br />';
                    errorI++;
                }
                if ( $('#firstName').val()==''){
                    $('#firstName').css('borderColor', '#cc3333');
                    error += errorI+'. Поле имя обязательно для заполнения<br />';
                    errorI++;
                }
                if ( $('#birthdate').val()==''){
                    $('#birthdate').css('borderColor', '#cc3333');
                    error += errorI+'. Поле дата рождения обязательно для заполнения<br />';
                    errorI++;
                }else{
                    var tmpdate = new Date($('#birthdate').val());
                    var tmpdate2 = new Date();
                    tmpdate = ( tmpdate2 - tmpdate) /(1000*60*60*24*365) ;
                    console.log(tmpdate);
                    if ( tmpdate < 18 ){
                        error += errorI+'. Возраст должен быть более 18 лет<br />';
                        errorI++;
                    }
                }
                if ( $('#passportNumber').val()==''){
                    $('#passportNumber').css('borderColor', '#cc3333');
                    error += errorI+'. Поле серия и номер обязательно для заполнения<br />';
                    errorI++;
                }
                if ( $('#passportPlace').val()==''){
                    $('#passportPlace').css('borderColor', '#cc3333');
                    error += errorI+'. Поле кем выдан обязательно для заполнения<br />';
                    errorI++;
                }
                if ( $('#passportDate').val()==''){
                    $('#passportDate').css('borderColor', '#cc3333');
                    error += errorI+'. Поле дата выдачи обязательно для заполнения<br />';
                    errorI++;
                }



            }


            if ( $(this).attr('id')=='saveDriver' ){
                if ( $('#driverNumber').val()==''){
                    $('#driverNumber').css('borderColor', '#cc3333');
                    error += errorI+'. Поле номер удостоверения водителя обязательно для заполнения<br />';
                    errorI++;
                }
                if ( $('#driverDateStarts').val()==''){
                    $('#driverDateStarts').css('borderColor', '#cc3333');
                    error += errorI+'. Поле дата выдачи обязательно для заполнения<br />';
                    errorI++;
                }
                if ( $('#driverDateEnds').val()==''){
                    $('#driverDateEnds').css('borderColor', '#cc3333');
                    error += errorI+'. Поле дата окончания обязательно для заполнения<br />';
                    errorI++;
                }else{
                    tmpdateArray = $('#driverDateEnds').val().split(".");
                    var tmpdate = new Date(tmpdateArray[2]+'-'+tmpdateArray[1]+'-'+tmpdateArray[0]);
                    var tmpdate2 = new Date();
                    tmpdate = ( tmpdate - tmpdate2) /(1000*60*60*24*30) ;
                    console.log(tmpdate);
                    if ( tmpdate < 1 ){
                        error += errorI+'. Минимальный срок вод. прав должен быть больше 1 месяца<br />';
                        errorI++;
                    }
                }


            }
            if ( $(this).attr('id')=='saveSnils' ){
                if ( $('#snils').val()==''){
                    $('#snils').css('borderColor', '#cc3333');
                    error += errorI+'. Поле СНИЛС обязательно для заполнения<br />';
                    errorI++;
                }
            }
            if (error === ''){
                hideInpPopUp();
                hideImgPopUp();
            }else{
                if ( $(this).attr('id')=='savePassport' ){
                    $('.error-msg-p').fadeIn();
                    $('.error-msg-p').html(error);
                }
                if ( $(this).attr('id')=='saveDriver' ){
                    $('.error-msg-d').fadeIn();
                    $('.error-msg-d').html(error);
                }
                if ( $(this).attr('id')=='saveSnils' ){
                    $('.error-msg-s').fadeIn();
                    $('.error-msg-s').html(error);
                }


            }
        });

        $('.help').click(function(){
            var typeHelp = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: Routing.generate('order_help', {'type': typeHelp }),
                success: function(msg){
                    $('.help-pop-up .text').html(msg);
                    $('.bg-gray').fadeIn();
                    $('.help-pop-up').fadeIn();
                }
            });
        });

        $('.close-pop-up').click(function(){
            $('.bg-gray').fadeOut();
            $('.help-pop-up').fadeOut();
            $(".imgareaselect-selection").parent().remove();
            $(".imgareaselect-outer").remove();
            hideImgPopUp();
        });

        function getImgData(type){
            $.ajax({
                type: "POST",
                url: Routing.generate('get_img_data', {'type': type, 'rezident' : $('#rezident').val()}),
                success: function(msg){
                    if (type == 'snils' || type == 'driver' || type == 'passport' || type == 'hod'){
                        hideloader(1);
                    }else{
//                            hideloader(0);
                    }
//                        obj = jQuery.parseJSON(msg);
                    obj = msg.data;
                    return true;
//                        if (type == 'passport'){
//                            $('#lastName').val(obj.lastName);
//                            $('#firstName').val(obj.firstName);
//                            $('#surName').val(obj.surName);
//                            $('#dateBrithdate').val(obj.passportDate);
//                            $('#passportNumber').val(obj.passportNumber);
//                            $('#passportCode').val(obj.passportCode);
//                            $('#passportPlace').val(obj.passportPlace);
//                        }
//                        if (type == 'snils'){
//                            $('#snils').val(obj.snils);
//                        }
//                        if (type == 'driver'){
//                            $('#driverNumber').val(obj.driverNumber);
//                            $('#driverDateStarts').val(obj.driverDateStarts);
//                            $('#driverDateEnds').val(obj.driverDateEnds);
//                        }
                }
            });
        }

        function progressHandlingFunction(e){
            if(e.lengthComputable){
                $('progress').attr({value:e.loaded,max:e.total});
            }
        }

        function showInpPopUp(){
            $('.bg-gray').fadeIn();
            $('.inp-pop-up').fadeIn();
            $('input, select').styler();
        }

        function hideInpPopUp(){
            $('.bg-gray').fadeOut();
            $('.inp-pop-up').fadeOut();
        }

        function showImgPopUp(){
            $('.bg-gray').fadeIn();
            $('.img-pop-up').css('top','50px');
            $('.img-pop-up').fadeIn();
            $('input, select').styler();
            activeMask();
        }

        function hideImgPopUp(){
            $('.bg-gray').fadeOut();
            $('.img-pop-up').fadeOut();
        }

        function hideloader(x){
            if (x == 1)
                showInpPopUp();
            $('.bg-gray').fadeOut();
            $('#loader').fadeOut();
        }

        function showloader(){
            hideInpPopUp();
            $('.bg-gray').fadeIn();
            $('#loader').fadeIn();
        }

        function activeMask(){
            $("#snils").mask("999-999-999 99");

            $("#passportCode").mask("999-999");

            $.mask.definitions['d'] = "[a-zA-Z0-9а-яА-Я ]";
            $('#driverNumber').mask("dddd999999");

            $("#driverDateStarts").mask("99.99.9999");
            $("#driverDateEnds").mask("99.99.9999");
            $("#birthdate").mask("99.99.9999");
            $("#passportDate").mask("99.99.9999");
        }

        $('#important3').click(function(){
            $('#pop-up-3').css('display', 'block');
            $('.bg-gray').css('display', 'block');
        });

        $('#important4').click(function(){
            $('#pop-up-4').css('display', 'block');
            $('.bg-gray').css('display', 'block');
        });

        $('.close-pop-up').click(function(){
            $('.pop-up').css('display', 'none');
            $('.bg-gray').css('display', 'none');
        });


    });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/styler/jquery.formstyler.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/odyniec/distfiles/css/imgareaselect-default.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" media="all">
    <style>
        span.help{
            cursor: pointer;
            font-size: 12px;
            color: #e8313e;
        }
        progress{
            display: none;
        }
        .img-pop-up{
            position: absolute;
            width: 700px;
            max-height: 700px;
            min-height: 300px;
            background: #ffffff;
            border: 1px solid #ae3538;
            left: 50%;
            top: 50px;
            margin-left: -350px;
            z-index: 905;
            display: none;
            text-align: center;
        }
        .inp-pop-up{
            position: absolute;
            width: 700px;
            max-height: 700px;
            min-height: 300px;
            background: #ffffff;
            border: 1px solid #ae3538;
            left: 50%;
            top: 50px;
            margin-left: -350px;
            z-index: 905;
            display: none;
            text-align: center;
        }
        .help-pop-up{
            position: absolute;
            width: 640px;
            max-height: 700px;
            min-height: 150px;
            background: #ffffff;
            border: 1px solid #ae3538;
            left: 50%;
            top: 215px;
            margin-left: -320px;
            z-index: 905;
            display: none;
            text-align: left;
            padding: 10px;
        }

        #img-pop-up-img div{
            width: 680px;
        }
        #img-pop-up-img div img{
            max-width: 680px;
            max-height: 400px;
        }
        .bg-gray{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #555555;
            opacity: 0.5;
            z-index: 900;
            display: none;
        }
        .img-pop-up-title, .img-pop-up-nav{
            text-align: center;
            padding: 10px;
            max-width: 680px;
        }
        .label-text{
            margin-top: -15px;
        }
        .label{
            width: 315px;
        }
        form{
            margin: 0;
        }
        .empty-row{
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            padding: 30px 10px 10px 10px;
            font-weight: bold;
        }
        .empty-row-border{
            border: 1px solid #CCCCCC;
        }
        .required{
            color: #CC0000;
        }
        .inp-pop-up div table{
            margin: 20px auto;
        }

        .inp-pop-up div table tr .empty-row{
            border-top: none;
        }
        .inp-box{
            display: none;
        }
        #loader{
            display: none;
        }
        .ico{
            width: 24px;
        }
        .close-pop-up{
            position: absolute;
            right: -16px;
            top: -16px;
            width: 32px;
        }

        .imgareaselect-selection2{
            background: url({{ asset('bundles/crmmain/images/nophoto.png') }}) no-repeat;
            -moz-background-size: 100%; /* Firefox 3.6+ */
            -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
            -o-background-size: 100%; /* Opera 9.6+ */
            background-size: 100%;
        }
        #companyTypeRoom-styler .jq-selectbox__select{
            width: 122px !important;
        }
        #companyTypeRoom-styler{
            margin-top: -1px;
        }
        #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
            width: 272px !important;
        }
        #companyTypeRoom-styler .jq-selectbox__dropdown{
            width: 180px !important;
        }
        .jq-selectbox{
            padding: 5px 0;
        }
        .important{
            padding: 10px 20px;
            margin-bottom: 10px;
            border: 1px solid #636363;
            background: #DDD;
            border-radius: 5px;
            width: 300px;
            cursor: pointer;
            text-align: center;
            font-size: 24px;
            color: #333333;

        }

        .btn2{
            padding: 8px 10px;
            display: inline-block;
            border-radius: 5px;
            background: #000;
            color: #FFF;
            margin-bottom: 10px;
            border: 0;
            text-align: center;
        }
        .btn2:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-bottom: 0;
            color: #CC3333;
        }
        .help{
            margin-top: -35px;
            display: inline-block;
        }
    </style>
{% endblock %}