{% extends 'CrmAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="crumbs">
        <a href="#">Заказы</a>
    </div>

    <table class="list">
        <tr>
            <th>Фамилия </th>
            <th>Имя</th>
            <th>Отчество</th>
            <th></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.surName }}</td>
                <td>
                    <a href="{{ path('user_show',{'userId' : user.id}) }}">Просмотр</a>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <a href="{{ path('xml_generator',{ userId : user.id }) }}" target="_blank">скачать XML</a>

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
