{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Статистика</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <div id="stats" style="width: 750px; height: 300px;"></div>
        <br/>
        <br/>
        <table class="table">
            <caption>Cтатистика заявок по месяцам</caption>
            <tr>
                <th>Тип заявки</th>
                <th>ИТОГО</th>
                <th>Янв</th>
                <th>Фев</th>
                <th>Мар</th>
                <th>Апр</th>
                <th>Май</th>
                <th>Июн</th>
            </tr>
            <tr>
                <td>СКЗИ</td>
                <td><b>{{ fullSummaSkzi }}</b></td>
                {% for j in range(1, 6) %}
                    <td>
                        {% if statsByYear['1'][year~'-'~j] is defined %}
                            {{ statsByYear['1'][year~'-'~j] }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>ЕСТР</td>
                <td><b>{{ fullSummaEstr }}</b></td>
                {% for j in range(1, 6) %}
                    <td>
                        {% if statsByYear['2'][year~'-'~j] is defined %}
                            {{ statsByYear['2'][year~'-'~j] }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>РФ</td>
                <td><b>{{ fullSummaRu }}</b></td>
                {% for j in range(1, 6) %}
                    <td>
                        {% if statsByYear['3'][year~'-'~j] is defined %}
                            {{ statsByYear['3'][year~'-'~j] }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td><b>ИТОГО</b></td>
                <td><b>{{ fullSummaSkzi + fullSummaEstr + fullSummaRu }}</b></td>
                {% for j in range(1, 6) %}
                    <td>
                        {%  set x1  = (statsByYear['1'][year~'-'~j] is defined ? statsByYear['1'][year~'-'~j] : 0) %}
                        {%  set x2  = (statsByYear['2'][year~'-'~j] is defined ? statsByYear['2'][year~'-'~j] : 0) %}
                        {%  set x3  = (statsByYear['3'][year~'-'~j] is defined ? statsByYear['3'][year~'-'~j] : 0) %}
                        <b>{{ x1+x2+x3 }}</b>
                    </td>
                {% endfor %}
            </tr>
        </table>
        <button id="statsOfDay">Показать статистику по дням</button>
        <div style="width: 100%; overflow-x: scroll; display: none" id="statsOfDayBox">
            <table class="table">
                <caption>Cтатистика заявок по дням за текущий месяц</caption>
                <tr>
                    <th>Тип карт / дни</th>
                    {% for j in range(1, countDay) %}
                        <th>{{ j }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>СКЗИ</td>
                    {% for j in range(1, countDay) %}
                        <td>
                            {% if statsByMonth['1'][year~'-'~month~'-'~j] is defined %}
                                {{ statsByMonth['1'][year~'-'~month~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>ЕСТР</td>
                    {% for j in range(1, countDay) %}
                        <td>
                            {% if statsByMonth['2'][year~'-'~month~'-'~j] is defined %}
                                {{ statsByMonth['2'][year~'-'~month~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>РФ</td>
                    {% for j in range(1, countDay) %}
                        <td>
                            {% if statsByMonth['3'][year~'-'~month~'-'~j] is defined %}
                                {{ statsByMonth['3'][year~'-'~month~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>ИТОГО</b></td>
                    {% for j in range(1, 31) %}
                        <td>
                            {%  set x1  = (statsByMonth['1'][year~'-'~month~'-'~j] is defined ? statsByMonth['1'][year~'-'~month~'-'~j] : 0) %}
                            {%  set x2  = (statsByMonth['2'][year~'-'~month~'-'~j] is defined ? statsByMonth['2'][year~'-'~month~'-'~j] : 0) %}
                            {%  set x3  = (statsByMonth['3'][year~'-'~month~'-'~j] is defined ? statsByMonth['3'][year~'-'~month~'-'~j] : 0) %}
                            <b>{{ x1+x2+x3 }}</b>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <table class="table">
            <caption>Cтатистика заявок по компаниям по месяцам</caption>
            <tr>
                <th>Название компании</th>
                <th>Янв</th>
                <th>Фев</th>
                <th>Мар</th>
                <th>Апр</th>
                <th>Май</th>
                <th>Июн</th>
            </tr>
            {% for comps in statsOfCompany  %}
                <tr>
                    <td>{{ comps.title }}</td>
                    {% for j in range(1, 6) %}
                        <td>
                            {% if comps.count['1'][year~'-'~j] is defined %}
                                {{ comps.count['1'][year~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                            /
                            {% if comps.count['2'][year~'-'~j] is defined %}
                                {{ comps.count['2'][year~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                            /
                            {% if comps.count['3'][year~'-'~j] is defined %}
                                {{ comps.count['3'][year~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td><b>ИТОГО</b></td>
                {% for j in range(1, 6) %}
                    <td>
                        {% set x1 = 0 %}
                        {% set x2 = 0 %}
                        {% set x3 = 0 %}
                        {% for comps in statsOfCompany  %}
                            {%  set x1  = x1 + (comps.count['1'][year~'-'~j] is defined ? comps.count['1'][year~'-'~j] : 0) %}
                            {%  set x2  = x2 + (comps.count['2'][year~'-'~j] is defined ? comps.count['2'][year~'-'~j] : 0) %}
                            {%  set x3  = x3 + (comps.count['3'][year~'-'~j] is defined ? comps.count['3'][year~'-'~j] : 0) %}
                        {% endfor %}
                        <b>{{ x1+x2+x3 }}</b>
                    </td>
                {% endfor %}
            </tr>
        </table>
        <table class="table">
            <caption>Cтатистика заявок по операторам и модераторамs по месяцам</caption>
            <tr>
                <th>Название опер / модератора</th>
                <th>Янв</th>
                <th>Фев</th>
                <th>Мар</th>
                <th>Апр</th>
                <th>Май</th>
                <th>Июн</th>
            </tr>
            {% for comps in statsOfOperator  %}
                <tr>
                    <td>{{ comps.title }}</td>
                    {% for j in range(1, 6) %}
                        <td>
                            {% if comps.count['1'][year~'-'~j] is defined %}
                                {{ comps.count['1'][year~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                            /
                            {% if comps.count['2'][year~'-'~j] is defined %}
                                {{ comps.count['2'][year~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                            /
                            {% if comps.count['3'][year~'-'~j] is defined %}
                                {{ comps.count['3'][year~'-'~j] }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td><b>ИТОГО</b></td>
                {% for j in range(1, 6) %}
                    <td>
                        {% set x1 = 0 %}
                        {% set x2 = 0 %}
                        {% set x3 = 0 %}
                        {% for comps in statsOfCompany  %}
                            {%  set x1  = x1 + (comps.count['1'][year~'-'~j] is defined ? comps.count['1'][year~'-'~j] : 0) %}
                            {%  set x2  = x2 + (comps.count['2'][year~'-'~j] is defined ? comps.count['2'][year~'-'~j] : 0) %}
                            {%  set x3  = x3 + (comps.count['3'][year~'-'~j] is defined ? comps.count['3'][year~'-'~j] : 0) %}
                        {% endfor %}
                        <b>{{ x1+x2+x3 }}</b>
                    </td>
                {% endfor %}
            </tr>
        </table>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"  src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1.1', {packages: ['line']});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Месяц',  'СКЗИ', 'ЕСТР', 'РФ', 'ИТОГО'],
                {% for j in range(12, 1) %}
                [
                    '{{ j }}.{{ year }}', {{ (statsByYear['1'][year~'-'~j] is defined ? statsByYear['1'][year~'-'~j] : 0) }}, {{ (statsByYear['2'][year~'-'~j] is defined ? statsByYear['2'][year~'-'~j] : 0) }}, {{ (statsByYear['3'][year~'-'~j] is defined ? statsByYear['3'][year~'-'~j] : 0) }}, {{ (statsByYear['1'][year~'-'~j] is defined ? statsByYear['1'][year~'-'~j] : 0) + (statsByYear['2'][year~'-'~j] is defined ? statsByYear['2'][year~'-'~j] : 0) + (statsByYear['3'][year~'-'~j] is defined ? statsByYear['3'][year~'-'~j] : 0) }}
                ],
                {% endfor %}
            ]);

            var options = {
                title: 'Cтатистика заявок за год',
                curveType: 'function',
                legend: { position: 'bottom' },
                pointSize: 20,
                pointShape: 'circle'
            };

            var chart = new google.charts.Line(document.getElementById('stats'));

            chart.draw(data, options);
        }
        $(document).ready(function(){
            $('#statsOfDay').click(function(){
                $('#statsOfDayBox').css('display', 'block');
            });
        });
    </script>
{% endblock %}