{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Статистика</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <div id="stats" style="width: 750px; height: 300px;"></div>
        <br/>
        <br/>
        {#{{ dump(statsByYear) }}#}
        <table class="table">
            <caption>Cтатистика заявок по месяцам</caption>
            <tr>
                <th>Тип заявки</th>
                <th>ИТОГО</th>
                {% for d in dates  %}
                    <th>{{ d |date('m.Y') }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>СКЗИ</td>
                <td><b>{{ fullSummaSkzi }}</b></td>
                {% for d in dates  %}
                    <td>
                        {% if statsByYear['1'][d | date('Y-n')] is defined %}
                            {{ statsByYear['1'][d | date('Y-n')] }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>ЕСТР</td>
                <td><b>{{ fullSummaEstr }}</b></td>
                {% for d in dates  %}
                    <td>
                        {% if statsByYear['2'][d | date('Y-n')] is defined %}
                            {{ statsByYear['2'][d | date('Y-n')] }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>РФ</td>
                <td><b>{{ fullSummaRu }}</b></td>
                {% for d in dates  %}
                    <td>
                        {% if statsByYear['3'][d | date('Y-n')] is defined %}
                            {{ statsByYear['3'][d | date('Y-n')] }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td><b>ИТОГО</b></td>
                <td><b>{{ fullSummaSkzi + fullSummaEstr + fullSummaRu }}</b></td>
                {% for d in dates  %}
                    <td>
                        {%  set x1  = (statsByYear['1'][d | date('Y-n')] is defined ? statsByYear['1'][d | date('Y-n')] : 0) %}
                        {%  set x2  = (statsByYear['2'][d | date('Y-n')] is defined ? statsByYear['2'][d | date('Y-n')] : 0) %}
                        {%  set x3  = (statsByYear['3'][d | date('Y-n')] is defined ? statsByYear['3'][d | date('Y-n')] : 0) %}
                        <b>{{ x1+x2+x3 }}</b>
                    </td>
                {% endfor %}
            </tr>
        </table>


        <table class="table">
            <tr>
                <th>Оператор</th>
                {% for d in dates  %}
                    <th>{{ d |date('m.Y') }}</th>
                {% endfor %}
            </tr>
            {% for company,c in moneyOfCompany %}
                <tr>
                    <td>{{ company }}</td>
                    {% for date in dates  %}
                        <td>
                            {% if c[date |date('Y-m')] is defined %}
                                {{ c[date |date('Y-m')].count }} / {{ c[date |date('Y-m')].sum }}
                            {% else %}
                                0 / 0
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
                <tr>
                    <td>ИТОГО</td>
                    {% for date in dates  %}
                        <td>
                            {% if c[date |date('Y-m')] is defined %}
                                {% set itogo = 0 %}
                                {% for company,c in moneyOfCompany %}
                                    {% set itogo = itogo + {{ c[date |date('Y-m')].sum }} %}
                                {% endfor %}
                                {{ itogo }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
        </table>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"  src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1.1', {packages: ['line']});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Месяц',  'СКЗИ', 'ЕСТР', 'РФ', 'ИТОГО'],
                {% for d in dates  %}
                [
                    '{{ d|date('m.Y') }}',
                    {{ (statsByYear['1'][d | date('Y-n')] is defined ? statsByYear['1'][d | date('Y-n')] : 0) }},
                    {{ (statsByYear['2'][d | date('Y-n')] is defined ? statsByYear['2'][d | date('Y-n')] : 0) }},
                    {{ (statsByYear['3'][d | date('Y-n')] is defined ? statsByYear['3'][d | date('Y-n')] : 0) }},
                    {{ (statsByYear['1'][d | date('Y-n')] is defined ? statsByYear['1'][d | date('Y-n')] : 0) + (statsByYear['2'][d | date('Y-n')] is defined ? statsByYear['2'][d | date('Y-n')] : 0) + (statsByYear['3'][d | date('Y-n')] is defined ? statsByYear['3'][d | date('Y-n')] : 0) }}
                ],
                {% endfor %}
            ]);

            var options = {
                title: 'Cтатистика заявок за год',
                curveType: 'function',
                legend: { position: 'bottom' },
                pointSize: 20,
                pointShape: 'circle'
            };

            var chart = new google.charts.Line(document.getElementById('stats'));

            chart.draw(data, options);
        }
        $(document).ready(function(){
            $('#statsOfDay').click(function(){
                $('#statsOfDayBox').css('display', 'block');
            });
        });
    </script>
{% endblock %}