{#https://developers.google.com/chart/interactive/docs/points#fullhtml#}
{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Статистика</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <div id="stats" style="width: 750px; height: 300px;"></div>
        <br/>
        <br/>
        <table class="table">
            <tr>
                <td></td>

                {% for date, c in allUsers %}
                    <td><b>{{ date }}</b></td>
                {% endfor %}
            </tr>
            <tr>
                <td><b>IMKARD</b></td>
                {% set sum = 0 %}
                {% for date, c in allUsers %}
                    {% set sum = sum + c %}
                    <td style="text-align: center">{{ c }}</td>
                {% endfor %}
                    <td>{{ sum }}</td>
            </tr>
            <tr>
                <td><b>DOROGA</b></td>
                {% set sum1 = 0 %}
                {% for date, c in allUsers %}
                    {% set sum1 = sum1 + (usersOperator[date] is defined ? usersOperator[date] : 0) %}
                    <td style="text-align: center">{{ usersOperator[date] is defined ? usersOperator[date] : 0  }}</td>
                {% endfor %}
                <td>{{ sum1 }}</td>
            </tr>
            <tr>
                <td><b>ИТОГО</b></td>
                {% set sum2 = 0 %}
                {% for date, c in allUsers %}
                    {% set sum2 = sum2 + c + (usersOperator[date] is defined ? usersOperator[date] : 0) %}
                    <td style="text-align: center">{{ c + ( usersOperator[date] is defined ? usersOperator[date] : 0 )  }}</td>
                {% endfor %}
                <td>{{ sum2 }}</td>
            </tr>
        </table>
        <br/>
        <br/>
        <div id="stats2" style="width: 750px; height: 300px;"></div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"  src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1.1', {packages: ['line']});
        google.setOnLoadCallback(drawChart);
        google.setOnLoadCallback(drawChart2);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Месяц',  'imkard', 'doroga'],
                {% for date, c in allUsers %}
                    ['{{ date }}', {{ c }}, {{ usersOperator[date] is defined ? usersOperator[date] : 0  }} ],
                {% endfor %}
            ]);

            var options = {
                title: 'Cnатистика заявок',
                curveType: 'function',
                legend: { position: 'bottom' },
                pointSize: 20,
                pointShape: 'circle'
            };

            var chart = new google.charts.Line(document.getElementById('stats'));

            chart.draw(data, options);
        }

        function drawChart2() {
            var data = google.visualization.arrayToDataTable([
                ['Месяц',  'SKZI', 'ESTR', 'RU'],
                {% for date, c in skzi %}
                ['{{ date }}', {{ c }}, {{ estr[date] is defined ? estr[date] : 0  }}, {{ ru[date] is defined ? ru[date] : 0  }} ],
                {% endfor %}
            ]);

            var options = {
                title: 'Cnатистика заявок по типам',
                curveType: 'function',
                legend: { position: 'bottom' },
                pointSize: 20,
                pointShape: 'circle'
            };

            var chart = new google.charts.Line(document.getElementById('stats2'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}