{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_petition_list',{'compnayId': petition.company.id }) }}">Ходатайства {{ petition.company }}</a> &raquo;
    <a href="#">Ходатайство от {{ petition.created | date("d.m.Y H:i:s") }}</a>
{% endblock %}

{% block content %}
    <form method="POST">
        <table class="table-edit">
            <tr>
                <td class="label">Дата ходатайства:</td>
                <td class="value">
                    {{ petition.created | date("d.m.Y H:i:s") }}
                </td>
            </tr>
            <tr>
                <td class="label">Название организации:</td>
                <td class="value">
                    <a href="{{ path("operator_company_edit",{"companyId" : petition.company.id }) }}">{{ petition.company }}</a>
                </td>
            </tr>
            <tr>
                <td class="label">Клиенты:</td>
                <td class="value">
                    {% for user in petition.users %}
                        <a href="{{ path("operator_user_edit",{"companyId" : petition.company.id , "userId" : user.id }) }}">{{ user }}</a><br />
                    {% endfor %}
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="submit" id="saveHod" value="Отправить в обработку" class="btn saveForm">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .table-edit{
            margin-left: 20px;
        }
        .table-edit tr td{
            padding: 10px 0;
        }
        .label{
            width: 250px;
        }
        #url{
            width: 358px;
        }
        #companyZipcode{
            width: 358px;
        }
        #companyName{
            width: 358px;
        }
        #companyCity{
            width: 358px;
        }
        #companyStreet{
            width: 215px;
        }
        #companyTypeRoom-styler .jq-selectbox__select{
            width: 122px !important;
        }
        #companyTypeRoom-styler{
            margin-top: -1px;
        }
        #companyRegion-styler .jq-selectbox__dropdown, #companyTypeStreet-styler .jq-selectbox__dropdown{
            width: 272px !important;
        }
        #companyTypeRoom-styler .jq-selectbox__dropdown{
            width: 180px !important;
        }
        .jq-selectbox{
            padding: 5px 0;
        }
    </style>
{% endblock %}