{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    <a href="{{ path('operator_company_list') }}">
        Список ходатайств
        {% if company is not null %} {{ company }} {% endif %}
    </a>
{% endblock %}

{% block content%}
    {% if petitions is empty %}
        <h3 class="color-red">Хадатайства не найдены</h3>
    {% else %}
        <table class="lists">
            <tr>
                <th>Дата</th>
                {% if company is null %}
                    <th>Компания</th>
                {% endif %}
                <th>Кол-во клиентов</th>
                <th>Оператор</th>
                <th>Ходатайство</th>
                <th class="empty"></th>
                <th class="options">Действия</th>
            </tr>
            {% for petition in petitions %}
                <tr>
                    <td><a href="{{ path('operator_petition_edit',{'petitionId' : petition.id}) }}">{{ petition.created | date("d.m.Y H:i:s") }}</a></td>
                    {% if company is null %}
                        <td><a href="{{ path('operator_petition_list',{'companyId' : petition.company.id}) }}">{{ petition.company }}</a></td>
                    {% endif %}
                    <td style="text-align: center">{{ petition.users | length }}</td>
                    <td><a href="#">{{ petition.operator.username }}</a></td>
                    <td><a href="{{ path('operator_generate_petition', { 'petitionId' : petition.id }) }}" target="_blank">Скачать</a></td>
                    <td></td>
                    <td class="options">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="no-underline" href="{{ path('operator_petition_arhive',{ 'petitionId' : petition.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image20.png') }}" class="icon" title="Добавить в архив"/></a>
                        {% endif %}
                        {% if petition.status == false %}
                            <a class="no-underline" href="{{ path('operator_petition_remove',{ 'petitionId' : petition.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image11.png') }}" class="icon"/></a>
                        {% endif %}
                        <a class="no-underline" href="{{ path('operator_petition_edit',{ 'petitionId' : petition.id}) }}"><img src="{{ asset('bundles/crmoperator/images/icon/image22.png') }}" class="icon"/></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}