{% extends 'CrmAuthBundle::layout.html.twig' %}

{% block title %}
    <div style="height: 40px">
        <div style="float: left; padding-right: 10px;">Мои ходатайства</div>
            <a href="{{ path('auth_petitions_add') }}">
                <button class="btn btn-primary" type="button">
                    Добавить новое ходатайство
                </button>
            </a>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <table class="table">
            <tr>
                <td>номер</td>
                <td>Дата создания</td>
                <td>Компания</td>
                <td>Кол-во заказов</td>
                <td></td>
            </tr>
            {% for p in petitions %}
                <tr>
                    <td><a href="{{ path('auth_petitions_edit',{'id' : p.id}) }}">{{ p.id }}</a></td>
                    <td>{{ p.created | date('d.m.Y') }}</td>
                    <td>{{ p.title  }}</td>
                    <td>{{ p.users | length  }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" style="text-align: center" class="text-danger">Ходатайств не найдено</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}