{% extends 'PanelOperatorBundle::layout.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <h1>Быстрые заказы</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="{{ statusId is null ? 'active' }}"><a href="{{ path('panel_fastOrder_list' ) }}">Все</a></li>
        <li role="presentation" class="{{ statusId == '0' ? 'active' }}"><a href="{{ path('panel_fastOrder_list', {'statusId' : 0} ) }}">Новые</a></li>
        <li role="presentation" class="{{ statusId == '1' ? 'active' }}"><a href="{{ path('panel_fastOrder_list', {'statusId' : 1} ) }}">Оплаченные</a></li>
        <li role="presentation" class="{{ statusId == '2' ? 'active' }}"><a href="{{ path('panel_fastOrder_list', {'statusId' : 2} ) }}">Выполненные</a></li>
        <li role="presentation" class="{{ statusId == '10' ? 'active' }}"><a href="{{ path('panel_fastOrder_list', {'statusId' : 10} ) }}">Отклоненные</a></li>
    </ul>
    <table class="table">
        <tr>
            <th>№</th>
            <th>Тег</th>
            <th>Дата</th>
            <th>Тип</th>
            <th>Цена</th>
            <th>ФИО</th>
            <th>Статус</th>
            <th class="setting"></th>
        </tr>
        {% for o in orders %}
            <tr>
                <td>{{ o.id }}</td>
                <td>
                    <input type="text" style="width: 50px; text-align: center" value="{{ o.managerKey }}" class="managers3" id="{{ o.id }}">
                </td>
                <td>{{ o.created | date("d.m.Y") }}</td>
                <td>{{ o.cardType }}</td>
                <td>{{ o.price }}</td>
                <td>{{ o.fio }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu{{ o.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ o.statusStrTwig }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ o.id }}">
                            <li><a href="{{ path('panel_fastOrder_change_status', {'id': o.id, 'status' : 0 }) }}">Новая</a></li>
                            <li><a href="{{ path('panel_fastOrder_change_status', {'id': o.id, 'status' : 1 }) }}">Оплаченная</a></li>
                            <li><a href="{{ path('panel_fastOrder_change_status', {'id': o.id, 'status' : 2 }) }}">выполненная</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('panel_fastOrder_change_status', {'id': o.id, 'status' : 10 }) }}">Отклоненная</a></li>
                        </ul>
                    </div>

                </td>
                <td class="setting">
                    {% if o.cardType == 'СКЗИ' %}
                        <a href="{{ path('application-skzi-add',{'fid' : o.id }) }}" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-send"></span></a>
                    {% elseif o.cardType == 'ЕСТР' %}
                        <a href="{{ path('application-estr-add',{'fid' : o.id }) }}" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-send"></span></a>
                    {% elseif o.cardType == 'РФ' %}
                        <a href="{{ path('application-ru-add',{'fid' : o.id }) }}" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-send"></span></a>
                    {% endif %}
                    <a href="{{ path('get_images',{'id' : o.id }) }}" class="btn btn-success"><span class="glyphicon glyphicon-send"></span></a>
                    <a href="{{ path('panel_fastOrder_edit',{'id' : o.id }) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>

                    <button type="button" class="btn btn-default btn-danger remove" data-href="{{ path('panel_fastOrder_remove',{'id': o.id }) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.managers3').keypress(function(e){
                var input = $(this);
                $(input).css('color','rgb(0, 0, 0)');
                if(e.which == 13) {
                    $.ajax({
                        type: "POST",
                        url: Routing.generate('panel_edit_fast_manager'),
                        data: 'id='+$(input).attr('id')+'&key='+$(input).val(),
                        success: function (msg) {
                            if (msg == 'ok'){
                                $(input).css('color','rgb(46, 124, 55)');
                            }else{
                                alert('Ошибка сохраненния');
                                $(input).css('color','rgb(124, 46, 55)');
                            }
                        }
                    });
                }
            });

            $('.remove').click(function () {
                var url = $(this).attr('data-href');
                BootstrapDialog.show({
                    title: 'УДАЛЕНИЕ',
                    size: BootstrapDialog.SIZE_SMALL,
                    type: BootstrapDialog.TYPE_DANGER,
                    message: 'Вы точно хотите безвозратно удалить',
                    buttons: [{
                        label: 'Удалить',
                        cssClass: 'btn-danger',
                        autospin: true,
                        action: function (dialogRef) {
                            window.location.href = url;
                        }
                    }, {
                        label: 'Отмена',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
            });
        })
    </script>
{% endblock %}