{% extends 'PanelOperatorBundle::layout.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <h1>Быстрые заказы</h1>
    <table class="table">
        <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Тип</th>
            <th>Цена</th>
            <th>ФИО</th>
            <th class="setting"></th>
        </tr>
        {% for o in orders %}
            <tr>
                <td>{{ o.id }}</td>
                <td>{{ o.created | date("d.m.Y") }}</td>
                <td>{{ o.cardType }}</td>
                <td>{{ o.price }}</td>
                <td>{{ o.fio }}</td>
                <td class="setting">
                    <a href="{{ path('get_images',{'id' : o.id }) }}" class="btn btn-success"><span class="glyphicon glyphicon-send"></span></a>
                    <a href="{{ path('panel_fastOrder_edit',{'id' : o.id }) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}