{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    {% if company != null %}
        <a href="{{ path('operator_company_list') }}">Список компаний</a> &raquo;
        <a href="#">{{ company.title }}</a> &raquo;
        <a href="{{ path('operator_user_list',{'companyId': company.id }) }}">Список пользователей</a>
        <div class="right">
            <a href="{{ path('operator_user_add',{'companyId': company.id}) }}">Добавить</a>
        </div>
    {% else %}
        <a href="{{ path('operator_user_list') }}">Список пользователей</a>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .filter-btn{
            background: #EEEEEE;
            color: #6c9e9f;
            border: 1px solid #cccccc;
            border-radius: 5px;
            padding: 3px 10px;
            cursor: pointer;
            font-size: 12px;
        }
        .filter-btn-active{
            background: #CCCCCC;
            color: #6c9e9f;
            border: 1px solid #EEEEEE;
            border-radius: 5px;
            padding: 3px 10px;
            cursor: pointer;
            font-size: 12px;
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content%}
    <div class="filter">
        {#<a href="#"><button>С ходатайством</button></a>#}
        {#<a href="#"><button>В производстве</button></a>#}
        {#<a href="#"><button>Архив</button></a>#}
        <span class="filter-btn{{ toDay ? '-active' : '' }}">За сегодня</span>
        <span class="filter-btn{{ toWeek ? '-active' : '' }}">За неделю</span>
        <span class="filter-btn{{ toPetition ? '-active' : '' }}">С ходатайством</span>
        <span class="filter-btn{{ toDeploy ? '-active' : '' }}">В производстве</span>
        <span class="filter-btn{{ toArhive ? '-active' : '' }}">В архиве</span>
        <br />
        <br />
    </div>

    {% if users is empty %}
        <h3 class="color-red">Пользователей не найдено</h3>
    {% else %}
        {% if company != null %}
            <form method="POST" action="{{ path('operator_petition_generate',{'companyId' : company.id}) }}">
        {% endif %}
            <table class="lists">
                <tr>
                    <th style="width: 30px"></th>
                    <th style="padding: 0; text-align: center;"> № </th>
                    <th>Дата</th>
                    {% if company == null %}
                        <th>Компания</th>
                    {% endif %}
                    <th>ФИО</th>
                    <th>Платежка</th>
                    <th class="empty"></th>
                    <th class="options">Действия</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>
                            <input type="checkbox" name="check[{{ user.id }}]">
                        </td>
                        <td style="text-align: center">
                            {{ user.id }}
                        </td>
                        <td>{{ user.created | date("d.m.Y") }}</td>
                        {% if company == null %}
                            <td>
                                <a href="{{ path('operator_user_list' , { 'companyId' : user.company.id}) }}">{{ user.company }}</a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('operator_show_user' , { 'userId' : user.id}) }}">{{ user }}</a>
                        </td>
                        <td>
                            <a href="{{ path('generate_payment_pdf') }}?ord={{ user.id }}" target="_blank" class="no-underline">
                                <img src="{{ asset('bundles/crmoperator/images/icon/image28_2.png') }}" class="icon"/>
                            </a>
                            <a href="{{ path('generate_pdf_doc',{'id' : user.id}) }}" target="_blank" class="no-underline">
                                <img src="{{ asset('bundles/crmoperator/images/icon/image19.png') }}" class="icon"/>
                            </a>

                        </td>
                        <td></td>
                        <td class="options">
                            {% if user.companyPetition != null %}
                                {% if user.companyPetition.status == 0 %}
                                    <a class="no-underline" href="{{ path("operator_petition_edit",{ 'petitionId' : user.companyPetition.id }) }}">
                                        <img src="{{ asset('bundles/crmoperator/images/icon/image26.png') }}" class="icon"/>
                                    </a>
                                {% else %}
                                    <a class="no-underline" href="{{ path("operator_petition_edit",{ 'petitionId' : user.companyPetition.id }) }}">
                                        <img src="{{ asset('bundles/crmoperator/images/icon/image26_green.png') }}" class="icon"/>
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a class="no-underline" href="{{ path('operator_user_edit' , { 'companyId' : user.company.id, 'userId' : user.id}) }}">
                                <img src="{{ asset('bundles/crmoperator/images/icon/image22.png') }}" class="icon"/>
                            </a>

                            <a class="no-underline" href="{{ path('operator_user_remove' , { 'userId' : user.id}) }}">
                                <img src="{{ asset('bundles/crmoperator/images/icon/image11.png') }}" class="icon"/>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% if company != null %}
                    <tr>
                        <td colspan="4">
                            <button type="submit">Сгенерировать ходатайство на выделенных пользователей</button>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    {% endif %}

{% endblock %}