{% extends 'CrmOperatorBundle::layout.html.twig' %}


{% block crosh %}
    <a href="{{ path('operator_main') }}">Главная</a> &raquo;
    {% if company != null %}
        <a href="{{ path('operator_company_list') }}">Список компаний</a> &raquo;
        <a href="#">{{ company.title }}</a> &raquo;
        <a href="{{ path('operator_user_list',{'companyId': company.id }) }}">Список пользователей</a>
        <div class="right">
            <a href="{{ path('operator_user_add',{'companyId': company.id}) }}">Добавить</a>
        </div>
    {% else %}
        <a href="{{ path('operator_user_list') }}">Список пользователей</a>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content%}
    {% if users is empty %}
        <h3 class="color-red">Пользователей не найдено</h3>
    {% else %}
        {% if company != null %}
            <form method="POST" action="{{ path('operator_petition_generate',{'companyId' : company.id}) }}">
        {% endif %}
            <table class="lists">
                <tr>
                    <th style="width: 30px"></th>
                    <th>Дата</th>
                    {% if company == null %}
                        <th>Компания</th>
                    {% endif %}
                    <th>ФИО</th>
                    <th class="empty"></th>
                    <th class="options">Действия</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>
                            <input type="checkbox" name="check[{{ user.id }}]">
                        </td>
                        <td>{{ user.created | date("d.m.Y") }}</td>
                        {% if company == null %}
                            <td>
                                <a href="{{ path('operator_user_list' , { 'companyId' : user.company.id}) }}">{{ user.company }}</a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('operator_user_edit' , { 'companyId' : user.company.id, 'userId' : user.id}) }}">{{ user }}</a>
                        </td>
                        <td></td>
                        <td class="options">
                            {% if user.companyPetition != null %}
                                <a class="no-underline" href="{{ path("operator_petition_edit",{ 'petitionId' : user.companyPetition.id }) }}">
                                    <img src="{{ asset('bundles/crmoperator/images/icon/image26.png') }}" class="icon"/>
                                </a>
                            {% endif %}
                            <a href="{{ path('operator_user_edit' , { 'companyId' : user.company.id, 'userId' : user.id}) }}">
                                <img src="{{ asset('bundles/crmoperator/images/icon/image22.png') }}" class="icon"/>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% if company != null %}
                    <tr>
                        <td colspan="4">
                            <button type="submit">Сгенерировать ходатайство на выделенных пользователей</button>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    {% endif %}

{% endblock %}