<ul class="breadcrumb well">
    {% if operator is defined and operator != null %}
        <li><a href="{{ path('panel_operator_edit',{'operatorId' : operator.id }) }}">{{ operator.username }}</a></li>
    {% endif %}
    {% if company is defined and company != null %}
        <li><a href="{{ path('panel_company_edit',{'id' : company.id }) }}">{{ company.title }}</li>
    {% endif %}

    {% if app.request.attributes.get('_route_params').company is defined %}
        {% set f_company = app.request.attributes.get('_route_params').company %}
    {% else %}
        {% set f_company = null %}
    {% endif %}

    {% if app.request.attributes.get('_route_params').operator is defined %}
        {% set f_operator = app.request.attributes.get('_route_params').operator %}
    {% else %}
        {% set f_operator = null %}
    {% endif %}

    {{ render(path('panel_user_get_count',{'status' : 'all', 'company' : f_company , 'operator' : f_operator })) }}
</ul>