{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block content %}
    <table class="table">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Повторы</th>
        </tr>
        {% for ud in userDouble %}
            <tr>
                <td style="vertical-align: top">{{ ud.user.lastName }}</td>
                <td style="vertical-align: top">{{ ud.user.firstName }}</td>
                <td style="vertical-align: top">{{ ud.user.surName }}</td>
                <td style="vertical-align: top">
                    {% for d in  ud.double %}
                        <a target="_blank" href="{{ path('panel_user_edit', {'userId' : d.id }) }}">{{ d.id }} ({{ d.created | date('d.m.Y') }}) </a>
                        {% if d.estr == 1 and d.ru == 0 %}
                            ЕСТР
                        {% elseif d.estr == 0 and d.ru == 1 %}
                            РФ
                        {% endif %}

                        d.statusString
                        <br />
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}