{% extends 'PanelOperatorBundle::layout.html.twig' %}

{% block content %}
    <form method="get">
        <div class="row">
            <div class="col-xs-3">
                <input type="date" name="params[start]" class="form-control" value="{{ params['start'] }}">
            </div>
            <div class="col-xs-3">
                <input type="date" name="params[end]" class="form-control" value="{{ params['end'] }}">
            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    Найдено: {{ users | length }} шт.<br />
                    Изготовлено: {{ usersToSuccess | length }} шт.<br />

                    {% set priceToSuccess = 0 %}
                    {% for uu in usersToSuccess %}
                        {#{% set priceToSuccess = priceToSuccess + (uu.company.referPrice ? uu.company.referPrice : ) %}#}
                        {% if uu.company.referPrice  %}
                            {% set priceToSuccess = priceToSuccess + uu.company.referPrice %}
                        {% else %}
                            {% if uu.company.operator is defined and uu.company.operator.referPrice  %}
                                {% set priceToSuccess = priceToSuccess + uu.company.operator.referPrice %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    На сумму: {{ priceToSuccess }} руб.<br />
                </th>
                <th></th>
                <th>
                    <select name="params[operator]">
                            <option value="">Все операторы</option>
                        {% for o in operators %}
                            <option value="{{ o.id }}" {{ o.id == params['operator'] ? 'selected' }}>{{ o }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select name="params[company]">
                        <option value="">Все компании</option>
                        {% for c in companies %}
                            <option value="{{ c.id }}" {{ c.id == params['company'] ? 'selected' }}>{{ c }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th></th>
                <th>
                    <select name="params[status]">
                        <option  {{ '' == params['status'] ? 'selected' }} value="100">Все</option>
                        <option  {{ '0' == params['status'] ? 'selected' }} value="0">Новые</option>
                        <option  {{ '2' == params['status'] ? 'selected' }} value="2">Оплаченные</option>
                        <option  {{ '3' == params['status'] ? 'selected' }} value="3">В&nbsp;производстве</option>
                        <option  {{ '6' == params['status'] ? 'selected' }} value="6">Изготовлено</option>
                        <option  {{ '4' == params['status'] ? 'selected' }} value="4">На почте</option>
                        <option  {{ '5' == params['status'] ? 'selected' }} value="5">Получены</option>
                    </select>
                </th>
                <th>
                    <button type="submit" class="btn btn-primary">Фильтр</button>
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Дата заявки</th>
                <th>Оператор</th>
                <th>Компания</th>
                <th>ФИО</th>
                <th>Статус</th>
                <th>Цена</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.created | date('d.m.Y') }}</td>
                    <td>{{ user.company.operator }}</td>
                    <td>{{ user.company }}</td>
                    <td>{{ user }}</td>
                    <td>{{ user.statusStringTwig |raw }}</td>
                    <td>
                        {% if user.company.referPrice != 0 and  user.company.referPrice != null %}
                            {{ user.company.referPrice }}
                        {% else %}
                            {% if user.company.operator is defined and user.company.operator.referPrice != null  %}
                                {{ user.company.operator.referPrice }}
                            {% else %}
                                0
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}