{% extends 'PanelOperatorBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .table-custom tr:hover td{
            background: #EEE;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'PanelOperatorBundle::top-act.html.twig' %}
    <form id="form-list" method="post" action="">
    <table class="table table-custom">
        <tr>
            <th></th>
            <th>№</th>
            <th>Статус</th>
            <th>Акт сверки</th>
            <th>Стоимость</th>
            <th>Дата создания</th>
            <th >
                <select class="chosen" data-placeholder="Компания">
                    {% for c in companies %}
                        <option value="{{ c.id }}">{{ c }}</option>
                    {% endfor %}
                </select>
            </th>
            <th>ФИО / email</th>
        </tr>
        {% for user in pagination %}
                <tr>
                    <td>
                        <input type="checkbox" name="user[{{ user.id }}]" value="{{ user.id }}">
                    </td>
                    <td>{{ user.id }}</td>
                    <td>
                        <div class="statusBox">
                            {{ user.statusStringTwig | raw }}
                            <div class="statusItems">
                                {% for status in user.statusArray %}
                                    {{ status.title | raw }}&nbsp;-&nbsp;{{ status.date | date('d.m.Y') }}<br />
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td style="font-size: 13px">{% if user.act != null %}{{ user.act }} от {{ user.act.date | date('d.m.Y') }}{% else %}<span class="text-danger">-</span>{% endif %}</td>
                    <td>{{ user.price }}</td>
                    <td>{{ user.created | date('d.m.Y') }}</td>
                    <td>
                        <a href="{{ path('panel_user_list',{'type' : 'null', 'company' : (user.company.id is defined ? user.company.id : '') }) }}" {{ debtors[(user.company.title is defined ? user.company.title : '')] is defined ? "style='color: #CC0000'" : '' }}
                           title="" class="getQuotaCompany"
                           data-id="{{ user.company.id is defined ? user.company.id : '' }}"
                        >{{ user.company }}</a>
                        {% if user.company.operator is defined and user.company.operator != null and user.company.operator.id != 1 %}
                            <br /><span style="font-size: 12px">{{ user.company.operator }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('panel_user_edit',{'userId' : user.id }) }}">{{ user }}</a>
                        <br />
                        <a href="?search={{ user.email }}"><span class="subtitles">{{ user.email }}</span></a>
                    </td>
                </tr>
        {% endfor %}
    </table>
    </form>
{% endblock %}
