{% extends 'PanelOperatorBundle::layout.html.twig' %}

{% block breadcrumb %}
    {% include 'PanelOperatorBundle:User:breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'PanelOperatorBundle::top.html.twig' %}
    <div class="well">
        <h4>ТАБЛИЦА ЗАЯВОК ( {{ count }} )</h4>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
        {% endfor %}
        <table class="table" data-toggle="table"
               data-sort-name="login"
               data-sort-order="asc">
            <thead>
            <tr>
                <th><input type="checkbox" id="allcheck"></th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>M</th>
                {% endif %}
                <th>№</th>
                <th>Тип</th>
                {#<th>Вид</th>#}
                <th>Дата</th>
                {% if not is_granted('ROLE_ADMIN') %}
                    <th>Квота</th>
                {% endif %}

                {% if company is not defined or company == null %}
                    <th >
                        <select class="chosen" data-placeholder="Компания">
                            {% for c in companies %}
                                <option value="{{ c.id }}">{{ c }}</option>
                            {% endfor %}
                        </select>
                    </th>
                {% endif %}
                <th >ФИО / Email</th>
                <th>Комментарий</th>
                <th class="setting">Инструменты</th>
            </tr>
            </thead>
            <form id="form-list" method="POST">
            {% for user in pagination %}
                <tr style="{{ user.comment != null and user.comment != '' ? 'background: #FFCFCF;' : '' }}" id="userr{{ user.id }}">
                    <td><input type="checkbox" name="user[{{ user.id }}]" value="{{ user.id }}"></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <input type="text" style="width: 50px" value="{{ user.managerKey }}" class="managers" id="{{ user.id }}">
                        </td>
                    {% endif %}
                    <td {{ user.price == 0 ? 'style="color: #CC0000"' : '' }}>
                        {{ user.id }}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if  user.payment == true %}
                                <span class="glyphicon glyphicon-ok" style="color: #00cc00"></span>
                            {% else %}
                                {% if user.company.operator != null and user.company.operator.id != 1 %}
                                    <span class="glyphicon glyphicon-ok"  style="color: #cc0000"></span>
                                {% endif %}
                            {% endif %}
                            &nbsp;
                            {% if  user.comfirmed == true %}
                                <span class="glyphicon glyphicon-saved" style="color: #00cc00"></span>
                            {% else %}
                                {% if user.company.operator != null and user.company.operator.id != 1 %}
                                    <span class="glyphicon glyphicon-saved" style="color: #cc0000"></span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.ru == false and user.estr == false %}
                            СКЗИ
                        {% elseif user.ru == false and user.estr == true %}
                            ЕСТР
                        {% elseif user.ru == true and user.estr == false %}
                            РФ
                        {% else %}
                            ДРУГОЕ
                        {% endif %}
                    </td>
                    {#<td>#}
                        {#{% if user.enterprise == false and user.workshop == false %}#}
                            {#КВ#}
                        {#{% elseif user.enterprise == true and user.workshop == false %}#}
                            {#КП#}
                        {#{% elseif user.enterprise == false and user.workshop == true %}#}
                            {#КМ#}
                        {#{% else %}#}
                            {#ДРУГОЕ#}
                        {#{% endif %}#}
                    {#</td>#}
                    <td class="subtitles">{{ user.created | date('d.m.Y') }}</td>
                    {% if not is_granted('ROLE_ADMIN') %}
                    <td>
                        {% if user.company.operator is defined %}
                            {% if user.ru == false and user.estr == false %}
                                {{ user.company.operator.priceSkzi }}
                            {% elseif user.ru == false and user.estr == true %}
                                {{ user.company.operator.priceEstr }}
                            {% elseif user.ru == true and user.estr == false %}
                                {{ user.company.operator.priceRu }}
                            {% else %}
                                0
                            {% endif %}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    {% endif %}
                    {#<td>#}
                        {#{% if user.company.operator != null and user.company.operator.id != 1 %}#}
                            {#<span style="font-size: 12px">{{ user.company.operator }}</span>#}
                        {#{% endif %}#}
                    {#</td>#}
                    {% if company is not defined or company == null %}
                        <td>
                            <a href="{{ path('panel_user_list',{'type' : 'null', 'company' : user.company.id }) }}" {{ debtors[user.company.title] is defined ? "style='color: #CC0000'" : '' }}
                               title="" class="getQuotaCompany"
                               data-id="{{ user.company.id }}"
                                    >{{ user.company }}</a>
                            {% if user.company.operator != null and user.company.operator.id != 1 %}
                                <br /><span style="font-size: 12px">{{ user.company.operator }}</span>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('panel_user_edit',{'userId' : user.id }) }}">{{ user }}
                            {% if user.typeCard != 0 %}
                                <span class="glyphicon glyphicon-exclamation-sign" style="color: #cc0000"></span>
                            {% endif %}
                            {% if user.citizenship.id != 3159 %}
                                <span class="glyphicon glyphicon-exclamation-sign" style="color: #ff9409"></span>
                            {% endif %}
                        </a>
                        <br />
                        <a href="?search={{ user.email }}"><span class="subtitles">{{ user.email }}</span></a>
                    </td>
                    <td><div class="comment-box disabled-click" data-id="{{ user.id }}">{{ user.comment }}</div></td>
                    <td class="setting">
                        {% spaceless %}
                            <a href="{{ path('panel_user_set_payment',{'userId' : user.id }) }}">
                                <button type="button" class="btn btn-default btn-success">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </a>
                            {#&nbsp;&nbsp;#}
                            {#<a href="{{ path('panel_user_set_choose',{'userId' : user.id, 'type': 'false' }) }}" class="remove" title="Убрать из подтвержденных">#}
                                {#<button type="button" class="btn btn-default btn-danger">#}
                                    {#<span class="glyphicon glyphicon-ban-circle"></span>#}
                                {#</button>#}
                            {#</a>#}
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
            </form>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #filter-type{
            width: 100px;
        }
        .comment-box{
            width: 200px;
            min-height: 50px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){

            $(".chosen").chosen({no_results_text: "Компаний по вашему запросу не найдено", width: 200});

            $('.chosen').change(function(){
                window.location.href = Routing.generate('panel_user_list', {'type': 'null', 'company': $(this).val() })
            });

            $('#filter-send').click(function () {
                var url = Routing.generate('panel_user_list', { 'status' : {{ app.request.attributes.get('_route_params').status }}, 'company': '{{ companyId }}', 'operator': '{{ operatorId }}' ,'type': $('#filter-type').val(), 'dateStart' : $('#filter-dateStart').val(), 'dateEnd' : $('#filter-dateEnd').val(),'search' : $('#filter-search').val(), 'filterManager' : $('#filter-manager').val().toString() });
                window.location.href = url;
            });

            $('.remove').click(function () {
                BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_DEFAULT] = 'Information';
                BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_INFO] = 'Information';
                BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_PRIMARY] = 'Information';
                BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_SUCCESS] = 'Success';
                BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_WARNING] = 'Warning';
                BootstrapDialog.DEFAULT_TEXTS[BootstrapDialog.TYPE_DANGER] = 'Danger';
                BootstrapDialog.DEFAULT_TEXTS['OK'] = 'Да';
                BootstrapDialog.DEFAULT_TEXTS['CANCEL'] = 'Отмена';
                BootstrapDialog.DEFAULT_TEXTS['CONFIRM'] = 'Согласен';

                var url = $(this).attr('href');
                BootstrapDialog.confirm({
                            title: 'БЕЗВОЗРАТНОЕ УДАЛЕНИЕ?',
                            message: 'Вы точно хотите удалить выбраную заявку?',
                            type: BootstrapDialog.TYPE_DANGER

                        },
                        function (result) {
                            if (result) {
                                window.location.href = url;
                            } else {
                                return false;
                            }
                        });
                return false;
            });

            $('#allcheck').click(function () {
                if($("#allcheck").prop('checked') == true){
                    $("input[type=checkbox]" ).prop( "checked", true );
                }else{
                    $( "input[type=checkbox]" ).prop( "checked", false );
                }
            });

            $('body').on('click', '.disabled-click' , function(){
                var form =  $('<form method="post">' +
                '<textarea class="form-control" style="margin-bottom: 5px">'+$(this).text()+'</textarea>' +
                '<input type="hidden" class="old" value="'+$(this).text()+'" />' +
                '<button type="button" class="btn btn-default btn-success ok-textarea"> <span class="glyphicon glyphicon-ok"></span></button>' +
                '&nbsp;&nbsp;'+
                '<button type="button" class="btn btn-default btn-danger cancel-textarea"> <span class="glyphicon glyphicon-remove"></span></button>' +
                '</form>');
                $(this).html(form);
                $(this).removeClass('disabled-click');
            });

            $('.comment-box').on('click', '.cancel-textarea', function(){
                var txt = $(this).parent().children('.old').val();
                var div = $(this).parent().parent();
                div.text(txt);
                div.addClass('disabled-click');
                return false;
            });

            $('.comment-box').on('click', '.ok-textarea', function(){
                var txt = $(this).parent().children('.old').val();
                var txt2 = $(this).parent().children('textarea').val();
                var id = $(this).parent().parent().attr('data-id');
                var div = $(this).parent().parent();
                $.ajax({
                    type: "POST",
                    url: "{{ path('panel_user_set_comment') }}",
                    data: "id="+id+'&comment='+txt2,
                    success: function(msg){
                        if (msg == 'ok'){
                            div.text(txt2);
                        }else{
                            div.text(txt);
                            alert('Ошибка сохранения:'+msg);
                        }
                    },
                    error: function(msg){
                        div.text(txt);
                        alert('Ошибка сохранения:'+msg);
                    }

                });
                if (txt2 == ''){
                    $(this).parent().parent().parent().parent().css('background', '#FFFFFF');
                }else{
                    $(this).parent().parent().parent().parent().css('background', '#FFCFCF');
                }
                div.addClass('disabled-click');
                return false;
            });
        });
    </script>
{% endblock %}