<html>
    <head>
        <style>
            div,span,p{
                font-size: 17px;
            }
            .comment{
                font-size: 10pt;
                text-align: center;
                color: #555555;
            }
        </style>
    </head>
    <body>
    <div style="width: 300px; float: right">
        В ООО ИНФОМАКС<br/>
        <div class="comment">наименование организации-изготовителя карт</div><br/>
        от водителя<br/>
        {{ user.lastName }}
        {{ user.firstname }}
        {{ user.surName is not null ? user.surName : '' }}
        <br/>
        <div class="comment">Ф.И.О.</div><br/>
        В {{ user.company.title }}<br/>
        <span class="comment">наименование транспортного предприятия</span><br/>
        <br/>
    </div>
    <br style="clear: both"/>
    <div style="text-align: center">
        <h1>Заявление</h1>
        <h2>на выдачу (обновление) карты водителя</h2>
    </div>
    <br/>
    <div style="text-align: justify">
        <p>
            Прошу
            {% if user.lastNumberCard %}
                выдать/<u>обновить</u>
            {% else %}
                <u>выдать</u>/обновить
            {% endif %}
            в связи с истечением срока действия <i>(нужное подчеркнуть)</i> мне карту водителя для использования при осуществлении автомобильных перевозок.
        </p>
        <p>
            Для выдачи (обновления) карты предоставляю следующую информацию:
        </p>
        {% if user.lastNumberCard %}
        <p>
            - Номер ранее выданной карты: RUD <B>{{ user.lastNumberCard }}</B>
        </p>
        {% endif %}
        <p>
            - Ф.И.О.: <b>{{ user.lastName }} {{ user.firstName }} {{ user.surName is not null ? user.surName : '' }}</b>
        </p>
        <p>
            - Почтовый адрес транспортного предприятия: <b>{{ user.company.zipcode }}, Россия, {{ user.company.region is not null ? user.company.region.title  : ''}},  {{ user.company.city }},
            {{ user.company.street }}, д.{{ user.company.home }}
            {{ user.company.corp }}, {{ user.company.room }}</b>
            <br />
            <span class="comment">(индекс, страна, край/область, населенный пункт (город, село и т.п.), улица, дом, офис)</span>
        </p>

        <p>
            - Страховой номер индивидуального лицевого счета: <b>{{ user.snils }}</b>
        </p>
        <p>
            - Дата рождения: <b>{{ user.birthDate | date ('d.m.Y')}}</b>
        </p>
        <p>
            - Серия,
            номер паспорта ,
            кем и когда выдан,
            код подразделения: <br/>
            выдан: <b>{{ user.passportIssuance }}</b> <br/>
            серия и номер: <b>{{ user.passportNumber }}</b> дата выдачи: <b>{{ user.passportIssuanceDate | date ('d.m.Y')}}</b> <br/>
            код подразделения  <b>{{ user.passportCode }}</b> <br/>
        </p>
        <p>
            - Наименование организации, выдавшей водительское удостоверение, номер водительского удостоверения, кем и когда выдано:<br/>

            Серия: <b>{{ user.driverDocNumber |slice(0, 4) }}</b> номер: <b>{{ user.driverDocNumber |slice(4, 10)}}</b> выдано: <b>{{ user.driverDocIssuance }}</b>
        </p>
        <p>
            - наименование страны, выдавшей водительское удостоверение: <b> Россия </b>
        </p>
        <p>
            - контактная информация:
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;тел. <b>{{ user.phone }}</b>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail: <b>{{ user.email }}</b>
        </p>

        <br />
        <p>
            Данным заявлением подтверждаю свое согласие на:<br/>
            обработку моих персональных данных, указанных в заявлении на выдачу (обновление) карты водителя;<br/>
            выполнение установленных требований по использованию карты водителя, являющейся средством криптографической защиты, с момента ее получения до окончания срока действия.<br/>
            Обязуюсь:<br/>
            не передавать карту третьим лицам, не уполномоченным на ее использование;<br/>
            возвратить карту в организацию по выдаче карт в случае возникновения обстоятельств, делающих невозможным применение карты в соответствии с ее назначением.<br/>
            Копия платежного документа об оплате стоимости изготовления карты прилагается.<br/>
            Оплату услуг по доставке и выдаче карты гарантирую.<br/>
            Указанные в заявлении сведения подтверждаю следующими документами, прилагаемыми к заявлению:<br/>
        </p>



        <p>
            1. Копия паспорта.
            2. Копия водительского удостоверения.
            3. Справка с места работы (ходатайство о выдаче карты водителя).
            4. Фотография водителя.
        </p>
        <table>
            <tr>
                <td style="width: 400px; vertical-align: top;">
                    http://im-kard.ru/{{ user.photo is not null ? user.photo['path'] : ''}}
                    <img src="http://im-kard.ru/{{ user.photo is not null ? user.photo['path'] : ''}}" style="width: 200px"><br/>
                    <div >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">Место для фотографии</span>
                    </div>
                </td>
                <td style="width: 400px; vertical-align: top;">
                    <div style="text-align: center;">
                        http://im-kard.ru/{{ user.copySignature is not null ? user.copySignature['path'] : ''}}
                        {% if mail is not null %}
                            <img src="{{ asset('bundles/crmmain/images/nosign.png') }}" style="width: 200px;padding-left: 50px"><br/>
                        {% else %}
                            <img src="http://im-kard.ru/{{ user.copySignature is not null ? user.copySignature['path'] : ''}}" style="width: 200px;padding-left: 100px"><br/>
                        {% endif %}
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span  class="comment">Место для подписи</span>
                    <br/>
                    <span><b>Примечание: подпись должна иметь четкие, хорошо различимые линии, ставиться черными чернилами, занимать 80% выделенной области и не выходить за пределы рамки.</b></span>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <div>
            Дата заявления: <b>{{ "now" | date('d.m.Y') }}</b>
        </div>
    </div>
    </body>
</html>