<html>
    <head>
        <style>
            div,span,p{
                font-size: 18px;
            }
            .comment{
                font-size: 10pt;
                text-align: center;
                color: #555555;
            }
        </style>
    </head>
    <body>
    <div style="width: 300px; float: right">
        В ООО Ромашка<br/>
        <div class="comment">наименование организации-изготовителя карт</div><br/>
        от водителя<br/>
        {{ user.lastName }}
        {{ user.firstname }}
        {{ user.surName }}
        <br/>
        <div class="comment">Ф.И.О.</div><br/>
        В {{ user.driver.companyName }}<br/>
        <span class="comment">наименование транспортного предприятия</span><br/>
        <br/>
    </div>
    <br style="clear: both"/>
    <div style="text-align: center">
        <h1>Заявление</h1>
        <h2>на выдачу (обновление) карты водителя</h2>
    </div>
    <br/>
    <div style="text-align: justify">
        <p>
            Прошу выдать/обновить в связи с истечением срока действия <i>(нужное подчеркнуть)</i> мне карту водителя для использования при осуществлении автомобильных перевозок.
        </p>
        <p>
            Для выдачи (обновления) карты предоставляю следующую информацию:
        </p>
        {% if user.driver.lastNumberCard %}
        <p>
            - Номер ранее выданной карты: RUD <B>{{ user.driver.lastNumberCard }}</B>
        </p>
        {% endif %}
        <p>
            - Ф.И.О.: <b>{{ user.lastName }} {{ user.firstName }} {{ user.surName }}</b>
        </p>
        <p>
            - Почтовый адрес транспортного предприятия: <b>{{ user.driver.zipcode }}, Россия, {{ user.driver.region.title }}, {{ user.driver.cityType }} {{ user.driver.city }},
            {{ user.driver.streetType }}{{ user.driver.street }}, д.{{ user.driver.home }}
            {{ user.driver.corpType }}{{ user.driver.corp }}, {{ user.driver.roomType }}{{ user.driver.room }}</b>
            <br />
            <span class="comment">(индекс, страна, край/область, населенный пункт (город, село и т.п.), улица, дом, офис)</span>
        </p>

        <p>
            - Страховой номер индивидуального лицевого счета: <b>{{ user.snils }}</b>
        </p>
        <p>
            - Дата рождения: <b>{{ user.birthDate | date ('d.m.Y')}}</b>
        </p>
        <p>
            - Серия,
            номер паспорта ,
            кем и когда выдан,
            код подразделения: <br/>
            выдан: <b>{{ user.driver.passportIssuance }}</b> <br/>
            серия: <b>{{ user.driver.passportSerial }}</b> номер: <b>{{ user.driver.passportNumber }}</b> дата выдачи: <b>{{ user.driver.passportIssuanceDate | date ('d.m.Y')}}</b> <br/>
            код подразделения  <b>{{ user.driver.passportCode }}</b> <br/>
        </p>
        <p>
            - Наименование организации, выдавшей водительское удостоверение, номер водительского удостоверения, кем и когда выдано:<br/>

            Серия: <b>{{ user.driver.driverDocNumber |slice(0, 4) }}</b> номер: <b>{{ user.driver.driverDocNumber |slice(4, 10)}}</b> выдано: <b>{{ user.driver.driverDocIssuance }}</b>
        </p>
        <p>
            - наименование страны, выдавшей водительское удостоверение: <b>{{ user.driver.driverDocCountry.title }}</b>
        </p>
        <p>
            - контактная информация:
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;тел. <b>{{ user.username }}</b>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail: <b>{{ user.email }}</b>
        </p>

        <br />
        <br />
        <p>
            Данным заявлением подтверждаю свое согласие на:<br/>
            обработку моих персональных данных, указанных в заявлении на выдачу (обновление) карты водителя;<br/>
            выполнение установленных требований по использованию карты водителя, являющейся средством криптографической защиты, с момента ее получения до окончания срока действия.<br/>
            Обязуюсь:<br/>
            не передавать карту третьим лицам, не уполномоченным на ее использование;<br/>
            возвратить карту в организацию по выдаче карт в случае возникновения обстоятельств, делающих невозможным применение карты в соответствии с ее назначением.<br/>
            Копия платежного документа об оплате стоимости изготовления карты прилагается.<br/>
            Оплату услуг по доставке и выдаче карты гарантирую.<br/>
            Указанные в заявлении сведения подтверждаю следующими документами, прилагаемыми к заявлению:<br/>
        </p>



        <p>
            1. Копия паспорта.
            2. Копия водительского удостоверения.
            3. Справка с места работы (ходатайство о выдаче карты водителя).
            4. Фотография водителя.
        </p>
        <table>
            <tr>
                <td style="width: 400px">
                    <img src="http://crm.loc/web{{ user.driver.photo['path'] }}" style="width: 150px"><br/>
                    <span>Место для фотографии</span>
                </td>
                <td style="width: 400px; ">
                    <img src="http://crm.loc/web{{ user.driver.copySignature['path'] }}" style="width: 150px"><br/>
                    <span>Место для подписи</span><br/>
                    <span><b>Примечание: подпись должна иметь четкие, хорошо различимые линии, ставиться черными чернилами, занимать 80% выделенной области и не выходить за пределы рамки.</b></span>
                </td>
            </tr>
        </table>
    </div>
    </body>
</html>