<html>
    <body>
        <table style="width: 100%">
            <tr>
                <td style="width: 50%"></td>
                <td style="width: 50%; text-align: right">
                    В <strong>ООО "ЦМТ"</strong>
                    <div style="text-align: center; font-size: 12px; color: #777"> наименование организации по выдаче карт</div>
                    <br />
                    От <strong>{{ order.lastName }} {{ order.firstName }} {{ order.surName }}</strong>
                    <div style="text-align: center; font-size: 12px; color: #777"> наименование организации по выдаче карт</div>
                </td>
            </tr>
        </table>
        <br />
        <div style="text-align: center">
            <h2>ЗАЯВЛЕНИЕ</h2>
            <p><strong>
                об учете сведений в перечне о каждом экземпляре переданной,
                активизированной, утилизированной организациями-изготовителями карты
                тахографа
                </strong>
            </p>
            <br />
            <p style="text-align: left; font-size: 16px; line-height: 24px">
                Я, {{ order.lastName }} {{ order.firstName }} {{ order.surName }},

                прошу учесть соответствующие сведения в перечне о каждом экземпляре
                переданной, активизированной, утилизированной организациями-изготовителями
                карты тахографа, соответствующей требованиям приказа Минтранса России от 13
                февраля 2013 г. № 36 «Об утверждении требований к тахографам, устанавливаемым
                на транспортные средства, категорий и видов транспортных средств, оснащаемых
                тахографами, правил использования, обслуживания и контроля работы тахографов,
                установленных на транспортные средства» о карте водителя
                {{ order.lastNumberCard ? order.lastNumberCard : 'RUD0000000000000' }}, оформленной на мое имя
                <br />
                {% if order.typeCard == 1 %}
                    в связи с истечением срока действия карты
                {% elseif order.typeCard == 2 %}
                    в связи с дефектом, утерей или утратой карты
                {% elseif order.typeCard == 3 %}
                    в связи с заменой карты вследствие изменения персональных данных
                {% endif %}
                <br />
                <br />
                Предъявлен <b>паспорт гражданина РФ</b>
                <br />
                серия <b>{{ order.passportSeries }}</b> номер <b>{{ order.passportNumber }}</b> выдан <b>{{ order.passportIssuanceDate | date("«d» m Y") }} г.</b><br />
                кем выдан <b>{{ order.passportIssuance }}</b><br />
                дата рождения <b>{{ order.birthDate | date("«d» m Y") }}г.</b><br />
                Страховой номер индивидуального лицевого счета (СНИЛС): <b>{{ order.snils }}</b>
            </p>
            <table style="width: 100%; font-size: 16px">
                <tr>
                    <td style="width: 40%">{{ "now" | date("«d» m Y") }}г.</td>
                    <td style="width: 30%"><img src="{{ order.copySignature.path }}" style="width: 120px"></td>
                    <td style="width: 30%">{{ order.lastName }}</td>
                </tr>
            </table>
            <br />
            <table style="width: 100%">
                <tr>
                    <td>
                        Заявление принято и проверено:<br />
                        <strong>Лукаш Юрий Алексеевич</strong>
                    </td>
                    <td style="text-align: right">
                        {{ "now" | date ("d.m.Y") }}г.
                    </td>
                </tr>
            </table>
            <br />
            <img src="{{ asset('bundles/crmmain/images/stamp-loss.png') }}" style="width: 80%">
        </div>
    </body>
</html>