<html>
    <head>
        <style>
            p{
                text-align: justify;
            }
            body{
                position: relative;
                margin-top: 20px;
            }
            .body{
                position: relative;
            }
            .orderCard{
                position: fixed;
                top: 370px;
                left: 120px;
                width: 150px;
            }
            .orderCount{
                position: fixed;
                top: 370px;
                left: 380px;
            }
            .orderId{
                position: fixed;
                top: 220px;
                left: 160px;
            }
            .orderCreated{
                position: fixed;
                top: 220px;
                left: 260px;
            }
            .orderPrice{
                position: fixed;
                top: 370px;
                left: 480px;
            }
            .orderPrice2{
                position: fixed;
                top: 370px;
                left: 570px;
            }
            .orderPrice3{
                position: fixed;
                top: 400px;
                left: 570px;
            }
            .orderCount2{
                position: fixed;
                top: 430px;
                left: 150px;
            }

        </style>
    </head>
    <br />
    <br />
    <body>
        <div class="orderCard">
            {% if user.estr == 0 and user.ru == 0 %}
                СКЗИ
            {% elseif user.estr == 1 and user.ru == 0 %}
                ЕСТР
            {% elseif user.estr == 0 and user.ru == 1 %}
                РФ
            {% endif %}
        </div>
        <div class="orderCount">1</div>
        <div class="orderCount2">1 шт.</div>
        <div class="orderId">{{ user.id }}</div>
        <div class="orderCreated">{{ user.created | date('d.m.Y') }}</div>
        <div class="orderPrice">{{ user.price }}р.</div>
        <div class="orderPrice2">{{ user.price }}р.</div>
        <div class="orderPrice3">{{ user.price }}р.</div>
        <div class="body">
            <img src="{{ asset('bundles/crmmain/docs/offer.png') }}" style="width: 100%">
        </div>
        <pagebreak  />
        <div class="text">
            <div style="text-align: center">Настоящий Счет – Заказ является</div>
            <h2 style="text-align: center">ПУБЛИЧНОЙ ОФЕРТОЙ  ООО «ИнфоМакс»</h2>
            <div style="text-align: center">(предложение  ООО «ИнфоМакс» о заключении Договора розничной купли-продажи дистанционным способом)</div>
            <br />
            <br />
            <div style="text-align: center">1. Термины и определения</div>
            <p>
            В настоящей оферте, нижеприведенные термины имеют следующие значения и являются ее составной неотъемлемой частью:<br />
            <b>Оператор</b> - ООО «ИнфоМакс»<br />
            <b>Покупатель</b> — любое физическое лицо, акцептировавшее публичную оферту на условиях настоящей оферты.<br />
            <b>Товар</b> — объект соглашения сторон, (карточка водителя) для тахографов.
            </p>
            <div style="text-align: center">2. Предмет договора</div>
            <p>2.1.Оператор обязуется предоставить необходимые для заполнения формуляры и  продать Товар, а Покупатель обязуется заполнить необходимые формуляры на сайте Оператора, предоставить необходимые  документы,  принять и оплатить Товар по ценам, указанным в описании Товара на соответствующей странице Сайта Оператора, на условиях настоящей Оферты, действующая редакция которой размещена на Сайте Продавца.</p>
            <div style="text-align: center">3. Акцепт (принятие) оферты</div>
            <p>3.1.Лицо, согласное с изложенными ниже условиями настоящей Оферты и всех её приложений, имеет возможность заключить с Оператором договор розничной купли-продажи Товара, описание которого представлено на Сайте Оператора. При этом, в соответствии с п. 3 ст. 438, ст. 493 ГК РФ, и п. 20 Правил дистанционной продажи, а также с учетом того, что достоверно установить лицо, являющееся Покупателем, возможно только после совершения указанным лицом действий, направленных на оплату Товара, момент заключения указанным лицом договора розничной купли-продажи с Оператором на условиях, изложенных в настоящей Оферте, зависит от тех условий, на которых Покупатель согласен приобрести Товар:</p>
            <p>3.1.1. Приобретения Товара на условиях предварительной оплаты - с момента получения Оператором соответствующего сообщения о намерении Покупателя приобрести Товар, сопровождающегося действиями, направленными на оплату Товара.</p>
            <div style="text-align: center">4. Обязанности сторон:</div>
            <p>4.1. Обязанности Оператора:</p>
            <p>4.1.1.  Предоставить покупателю необходимые бланки   для заполнения на сайте, к которому предоставляется доступ, следую инструкциям, имеющимся на сайте</p>
            <p>4.1.2. Поставить Товар в количестве, качестве и сроки, установленные договором.</p>
            <p>4.1.3. Вести необходимый учет выдаваемого Товара.</p>
            <p>4.2. Обязанности Покупателя:</p>
            <p>4.2.1. Заполнить необходимые бланки, следуя инструкциям, прописанным на сайте.</p>
            <p>4.2.2. Надлежащим образом оплатить Товар.</p>
            <p>4.2.3. Нести ответственность за достоверность данных, предоставляемых Продавцу для выполнения последним своих обязанностей по договору.</p>
            <div style="text-align: center">5. Правила возврата</div>
            <p>5.1.Почтой России. Возврат осуществляется по адресу: ООО «ИнфоМакс». Покупатель отправляет возврат письмом 1класса с объявленной ценностью.  В письмо  необходимо вложить заполненное заявление на возврат. Возврат денег осуществляется банковским переводом. Для этого нужно заполнить заявление на возврат, заполнить необходимые реквизиты и отправить заполненное заявление на эл.адрес:  infomax@ro.ru</p>
            <div style="text-align: center">6.Персональные данные</div>

            <p>6.1. Акцептируя настоящую оферту, Покупатель выражает согласие и разрешает ООО « «ИнфоМакс», юридический адрес: 198096, Санкт-Петербург, ул.Маринеско дом 5 , пом.3-Н (далее – Оператор) обрабатывать свои персональные данные, в том числе фамилию, имя, отчество, дата рождения, пол, место работы и должность, почтовый адрес; домашний, рабочий, мобильный телефоны, адрес электронной почты, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу на территории Российской Федерации и трансграничную передачу), обезличивание, блокирование, уничтожение персональных данных, а также передачу их контрагентам Оператора с целью дальнейшей обработки (включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу на территории Российской Федерации и трансграничную передачу), обезличивание, блокирование, уничтожение персональных данных) для проведения исследований, направленных на улучшение качества услуг, для проведения маркетинговых программ, статистических исследований, а также для продвижения услуг на рынке путем осуществления прямых контактов с Покупателем с помощью различных средств связи, включая, но, не ограничиваясь: почтовая рассылка, электронная почта, телефон, факсимильная связь, сеть Интернет. Покупатель выражает согласие и разрешает Оператору и контрагентам Оператора обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Оператора. Работа с такими системами осуществляется по предписанному оператором алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение). Используемые способы обработки (включая, но, не ограничиваясь): автоматическая сверка почтовых кодов с базой кодов, автоматическая проверка написания названий улиц населенных пунктов, автоматическая проверка действительности VIN и государственных регистрационных знаков, уточнение данных с Покупателем путем телефонной, почтовой связи с Покупателем или с помощью контакта через сеть Интернет, сегментация базы по заданным критериям. Покупатель соглашается с тем, что, если это необходимо для реализации целей, указанных в настоящей оферте, его персональные данные, полученные Оператором, могут быть переданы третьим лицам, которым Оператор может поручить обработку персональных данных Покупателя на основании договора, заключенного с такими лицами, при условии соблюдения требований законодательства Российской Федерации об обеспечении такими третьими лицами конфиденциальности персональных данных и безопасности персональных данных при их обработке. При передаче указанных данных Покупателя Оператор предупреждает лиц, получающих персональные данные Покупателя, о том, что эти данные являются конфиденциальными и могут быть использованы лишь в целях, для которых они сообщены, и требуют от этих лиц соблюдения этого правила. Покупатель вправе запросить у Оператора полную информацию о своих персональных данных, их обработке и использовании, а также потребовать исключения или исправления/дополнения неверных или неполных персональных данных, отправив соответствующий письменный запрос на имя Оператора на почтовый адрес. Данное Покупателем согласие на обработку его персональных данных является бессрочным и может быть отозвано посредством направления Покупателем письменного заявления в адрес Оператора на почтовый адрес.</p>
            <div style="text-align: center">7. Доставка товара</div>
            <p>7.1. Условия осуществления Доставки Товара, а именно срок осуществления Доставки и ее стоимость, устанавливаются Оператором и доводятся до сведения Покупателя с использованием Сайта (www.im-kard.ru). Доставка Товара может быть осуществлена Оператором через Почту России.  Доставка производится за счет Покупателя.</p>
            <div style="text-align: center">8.Порядок оплаты товара:</div>
            <p>8.1.Исполнение Покупателем обязанности  на условиях 100% предоплаты Товаров, а также Доставки, в случае заказа Покупателем соответствующей услуги, возможно следующими способами:</p>
            <p>8.1.1. путем совершения операции по оплате Товара с использованием Карты в порядке, установленном действующим законодательством Российской Федерации и договором между кредитной организацией, эмитировавшей Карту, и Покупателем;</p>
            <p>8.1.2. путем совершения операции по оплате Товара путем перечисления денежных средств,   на расчетный счет продавца,  согласно выставленного счета на расчетный счет покупателя.</p>

            <div style="text-align: center">9.Порядок рассмотрения споров:</div>
            <p>9.1. Претензии по качеству и количеству поставляемого Товара принимаются Оператором посредством почтового отправления на адрес, указанный в реквизитах.</p>
            <p>9.2. В случае доказанности обоснованности претензии, Оператор в течение 90 рабочих дней с момента её получения обязуется устранить допущенные нарушения.</p>
            <div style="text-align: center">10.Особые условия:</div>
            <p>10.1    Оператор освобождается от ответственности за нарушение условий договора Оферты, если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), включая: действия органов государственной власти, пожар, наводнение, землетрясение, другие стихийные действия, отсутствие электроэнергии, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, не ограничиваясь перечисленным, которые могут повлиять на выполнение Оператором  договора Оферты.</p>
        </div>
    </body>
</html>