<html>
    <head>
        <style>
            *{
                font-size: 12px;
            }
            body{
                position: relative;
                font-size: 12px;
            }

            .fio1{
                position: absolute;
                left: 350px;
                top: 225px;
            }
            .adr1{
                position: absolute;
                left: 340px;
                top: 243px;
            }
            .price11{
                position: absolute;
                left: 318px;
                top: 260px;
                font-size: 10px;
            }
            .price12{
                position: absolute;
                left: 275px;
                top: 280px;
                font-size: 10px;
            }
            .price21{
                position: absolute;
                left: 318px;
                top: 524px;
                font-size: 10px;
            }
            .price22{
                position: absolute;
                left: 275px;
                top: 544px;
                font-size: 10px;
            }
            .date1{
                position: absolute;
                top: 275px;
                left: 490px;
            }

            .fio2{
                position: absolute;
                left: 350px;
                top: 490px;
            }
            .adr2{
                position: absolute;
                left: 340px;
                top: 510px;
            }
            .date2{
                position: absolute;
                top: 538px;
                left: 490px;
            }
            .title{
                position: absolute;
                top: 190px;
                left: 240px;
                font-size: 12px;
            }
            .title2{
                position: absolute;
                top: 455px;
                left: 240px;
                font-size: 12px;
            }

            .companyTitle {
                position: absolute;
                font-size: 12px;
                top: 70px;
                left: 240px;
            }
            .inn{
                position: absolute;
                font-size: 12px;
                top: 110px;
                left: 240px;
            }
            .kpp{
                position: absolute;
                font-size: 12px;
                top: 110px;
                left: 400px;
            }
            .rchet{
                position: absolute;
                font-size: 12px;
                top: 110px;
                left: 520px;
            }
            .bank{
                position: absolute;
                font-size: 12px;
                top: 140px;
                left: 240px;
            }
            .bik{
                position: absolute;
                font-size: 12px;
                top: 140px;
                left: 520px;
            }
            .korchet{
                position: absolute;
                font-size: 12px;
                top: 170px;
                left: 520px;
            }

            .companyTitle2 {
                position: absolute;
                font-size: 12px;
                top: 335px;
                left: 240px;
            }
            .inn2{
                position: absolute;
                font-size: 12px;
                top: 375px;
                left: 240px;
            }
            .kpp2{
                position: absolute;
                font-size: 12px;
                top: 375px;
                left: 400px;
            }
            .rchet2{
                position: absolute;
                font-size: 12px;
                top: 375px;
                left: 520px;
            }
            .bank2{
                position: absolute;
                font-size: 12px;
                top: 405px;
                left: 240px;
            }
            .bik2{
                position: absolute;
                font-size: 12px;
                top: 405px;
                left: 520px;
            }
            .korchet2{
                position: absolute;
                font-size: 12px;
                top: 435px;
                left: 520px;
            }
        </style>
    </head>
    <body>


            {% if user.estr == 0 and user.ru == 0 %}
                <img src="{{ asset('bundles/crmmain/images/doc-template4.png') }}" width="700px">
                {% set type = '( СКЗИ )' %}
            {% else %}
                <img src="{{ asset('bundles/crmmain/images/doc-template4.png') }}" width="700px">
                {% if user.estr == 1 %}
                    {% set type = '( ЕСТР )' %}
                {% elseif user.ru == 1 %}
                    {% set type = '( РФ )' %}
                {% else %}
                    {% set type = '' %}
                {% endif %}
            {% endif %}

            {% if user.compnay.operator is defined and user.compnay.operator != null and user.compnay.operator.inn != null %}
                {% set op = user.compnay.operator %}
            {% else %}
                {% set op = null %}
            {% endif %}
            <div class="companyTitle">{{ op == null? 'Общество с ограниченной ответственностью "ИнфоМакс"' : op.companyTitle }}</div>
            <div class="inn">{{ op == null? '7805543860' : op.inn }}</div>
            <div class="kpp">{{ op == null? '775043001' : op.kpp }}</div>
            <div class="rchet">{{ op == null? '40702810670110000776' : op.rchet }}</div>
            <div class="bank">{{ op == null? 'МОСКОВСКИЙ ФИЛИАЛ ОАО КБ «Региональный кредит»"' : op.bank }}</div>
            <div class="bik">{{ op == null? '044583340' : op.bik }}</div>
            <div class="korchet">{{ op == null? '30101810000000000340' : op.korchet }}</div>

            <div class="fio1">{{ user.lastName }} {{ user.firstName }} {{ user.surName is not null ? user.surName : ''}}</div>
            <div class="adr1" >
                {{ user.dileveryZipcode }},
                {{ user.dileveryCity }},
                {{ user.dileveryStreet }}, д.{{ user.dileveryHome }}
                {{ user.dileveryCorp }} {{ user.dileveryRoom }}
            </div>
            <div class="date1">
                &nbsp;{{ "now" | date ('d ') }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "now" | date ('m ') }}<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "now" | date ('y') }}</span>
            </div>
            <div class="title">
                Оплата за карту тахографа {{ type }} , Заказ № {{ user.id }} Без НДС.
            </div>
            <div class="price11">{{ user.price }}</div>
            <div class="price12">{{ user.price }}</div>

            <div class="fio2" >{{ user.lastName }} {{ user.firstName }} {{ user.surName is not null ? user.surName : ''}}</div>
            <div class="adr2" >
                {{ user.dileveryZipcode }},
                {{ user.dileveryCity }},
                {{ user.dileveryStreet }}, д.{{ user.dileveryHome }}
                {{ user.dileveryCorp }} {{ user.dileveryRoom }}
            </div>
            <div class="date2">
                &nbsp;{{ "now" | date ('d ') }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "now" | date ('m ') }}<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "now" | date ('y') }}</span>
            </div>
            <div class="title2">
                Оплата за карту тахографа {{ type }} , Заказ № {{ user.id }} Без НДС.
            </div>
            <div class="price21">{{ user.price }}</div>
            <div class="price22">{{ user.price }}</div>


            <div class="companyTitle2">{{ op == null? 'Общество с ограниченной ответственностью "ИнфоМакс"' : op.companyTitle }}</div>
            <div class="inn2">{{ op == null? '7805543860' : op.inn }}</div>
            <div class="kpp2">{{ op == null? '775043001' : op.kpp }}</div>
            <div class="rchet2">{{ op == null? '40702810670110000776' : op.rchet }}</div>
            <div class="bank2">{{ op == null? 'МОСКОВСКИЙ ФИЛИАЛ ОАО КБ «Региональный кредит»' : op.bank }}</div>
            <div class="bik2">{{ op == null? '044583340' : op.bik }}</div>
            <div class="korchet2">{{ op == null? '30101810000000000340' : op.korchet }}</div>
    </body>
</html>