<html>
<head>
    <style>
        *{
            font-size: 12px;
        }
        body{
            position: relative;
            font-size: 12px;
        }

        .fio1{
            position: absolute;
            left: 350px;
            top: 225px;
        }
        .adr1{
            position: absolute;
            left: 340px;
            top: 243px;
        }
        .price11{
            position: absolute;
            left: 318px;
            top: 260px;
            font-size: 10px;
        }
        .price12{
            position: absolute;
            left: 275px;
            top: 280px;
            font-size: 10px;
        }
        .price21{
            position: absolute;
            left: 318px;
            top: 524px;
            font-size: 10px;
        }
        .price22{
            position: absolute;
            left: 275px;
            top: 544px;
            font-size: 10px;
        }
        .date1{
            position: absolute;
            top: 275px;
            left: 490px;
        }

        .fio2{
            position: absolute;
            left: 350px;
            top: 490px;
        }
        .adr2{
            position: absolute;
            left: 340px;
            top: 510px;
        }
        .date2{
            position: absolute;
            top: 538px;
            left: 490px;
        }
        .title{
            position: absolute;
            top: 190px;
            left: 240px;
            font-size: 12px;
        }
        .title2{
            position: absolute;
            top: 455px;
            left: 240px;
            font-size: 12px;
        }
    </style>
</head>
<body>


    <img src="{{ asset('bundles/crmmain/images/doc-template3.png') }}" width="700px">

<div class="fio1">{{ user.companyTitle }}</div>
<div class="adr1" >
    {{ user.mailingAdrs.zipcode }},
    {{ user.mailingAdrs.region }},
    {{ user.mailingAdrs.area }},
    {{ user.mailingAdrs.city }},
    {{ user.mailingAdrs.street }}, д.{{ user.mailingAdrs.home }}
    {{ user.mailingAdrs.corp }} {{ user.mailingAdrs.room }}
</div>
<div class="date1">
    &nbsp;{{ "now" | date ('d ') }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "now" | date ('m ') }}<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "now" | date ('y') }}</span>
</div>
<div class="title">
    Оплата за карту тахографа {{ user.cardTypeStr }} , Заказ № {{ user.id }} с учетом НДС.
</div>
<div class="price11">{{ user.price }}</div>
<div class="price12">{{ user.price }}</div>

<div class="fio2" >{{ user.companyTitle }}</div>
<div class="adr2" >
    {{ user.mailingAdrs.zipcode }},
    {{ user.mailingAdrs.region }},
    {{ user.mailingAdrs.area }},
    {{ user.mailingAdrs.city }},
    {{ user.mailingAdrs.street }}, д.{{ user.mailingAdrs.home }}
    {{ user.mailingAdrs.corp }} {{ user.mailingAdrs.room }}
</div>
<div class="date2">
    &nbsp;{{ "now" | date ('d ') }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "now" | date ('m ') }}<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "now" | date ('y') }}</span>
</div>
<div class="title2">
    Оплата за карту тахографа {{ cardTypeStr }} , Заказ № {{ user.id }} с учетом НДС.
</div>
<div class="price21">{{ user.price }}</div>
<div class="price22">{{ user.price }}</div>
</body>
</html>