{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Оформление заявки</h2>
    </div>
    <div class="form">
        <form id="register_form" action="{{ path('auth_party_2') }}" method="post" enctype="multipart/form-data">
            {#{% form_theme form 'VidalMainBundle:Form:profile_form.html.twig' %}#}
            {{ form_widget(formUser) }}
            <br />

            <div class="userTypeDiv">
                <span style="display: inline-block; width: 246px;">
                    Выберите владельца карты:
                </span><select class="userType" data-placeholder=" владелец... ">
                    <option></option>
                    <option value="driver" {{ formFriver is defined ? 'selected' : '' }}>Водитель</option>
                    <option value="company">Предприятие</option>
                </select>
            </div>
            <br />
            <div class="multi-form">
                {% if formDriver is defined %}
                    {{ include('CrmMainBundle:Form:register_driver_form.html.twig') }}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    {#<script type="text/javascript"src="{{ asset('bundles/crmmain/javascripts/jquery.customfile.js') }}"></script>#}
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#user_firstName').change(function(){
                var str = $('#user_firstName').val().charAt(0).toUpperCase() + $('#user_firstName').val().substr(1)
                $('#user_firstName').val(str);
            });
            $('#user_lastName').change(function(){
                var str = $('#user_lastName').val().charAt(0).toUpperCase() + $('#user_lastName').val().substr(1)
                $('#user_lastName').val(str);
            });
            $('#user_surName').change(function(){
                var str = $('#user_surName').val().charAt(0).toUpperCase() + $('#user_surName').val().substr(1)
                $('#user_surName').val(str);
            });
            function fullAddress(){
                var str = $('#driver_street').val().charAt(0).toUpperCase() + $('#driver_street').val().substr(1)
                $('#driver_street').val(str);
                var str = $('#driver_city').val().charAt(0).toUpperCase() + $('#driver_city').val().substr(1)
                $('#driver_city').val(str);

                var adr = $('#driver_zipcode').val() + ', '+
                        $('#driver_region_chosen .chosen-single span').html() + ', '+
                        $('#driver_cityType').val() + ' '+
                        $('#driver_city').val() + ', '+
                        $('#driver_streetType').val() + ' '+
                        $('#driver_street').val() + ', '+
                        'д.'+$('#driver_home').val();
                    if ($('#driver_corpType').val()!='' && $('#driver_corp').val()!=''){
                        adr +=', '+ $('#driver_corpType').val()+' '+
                                    $('#driver_corp').val();
                    }
                    if ($('#driver_roomType').val()!='' && $('#driver_room').val()!=''){
                        adr +=', '+ $('#driver_roomType').val()+' '+
                                $('#driver_room').val();
                    }
                $('#fullAddress').html(adr)
            }

            $('#driver_zipcode').change( fullAddress);
            $('#driver_region').change( fullAddress);
            $('#driver_cityType').change( fullAddress);
            $('#driver_city').change( fullAddress);
            $('#driver_streetType').change( fullAddress);
            $('#driver_street').change( fullAddress);
            $('#driver_home').change( fullAddress);
            $('#driver_corpType').change( fullAddress);
            $('#driver_corp').change( fullAddress);
            $('#driver_roomType').change( fullAddress);
            $('#driver_room').change( fullAddress);


//            $('.form_table input[type=file]').customFile();
            $(".place-select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего"
            });
            $(".delivery-select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });
            $(".date-select select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });
            $(".userType").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });

            $("#user_snils").mask("999-999-999 99");
            $("#driver_zipcode").mask("999999");
            $("#driver_passportCode").mask("999-999");
            $.mask.definitions['h'] = "[DMP ]";
            $.mask.definitions['d'] = "[a-zA-Z0-9 ]";
            $('#driver_lastNumberCard').mask("RUDddddddddddddd");
            $('#driver_driverDocNumber').mask("99dd999999");

            $('#driver_cityType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#driver_streetType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#driver_roomType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#driver_corpType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });

            $('.userType').change(function(){
                $('.multi-form').html('<img src="{{ asset('bundles/crmmain/images/loader.gif') }}" class="loader"/>');
                if( $(this).val()=='driver' ){
//                    $('.multi-form').html('');
                    $.ajax({
                        type: "GET",
                        url: "{{ path('get_register_form_driver') }}",
                        success: function(msg){
                            $('.multi-form').html(msg);
                            $(".place-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего"
                            });
                            $(".delivery-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".date-select select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".userType").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });

                            $('#driver_cityType').chosen({
                                disable_search_threshold: 10,
                                disable_search: true,
                                width: 100
                            });
                            $('#driver_streetType').chosen({
                                disable_search_threshold: 10,
                                disable_search: true,
                                width: 100
                            });
                            $('#driver_roomType').chosen({
                                disable_search_threshold: 10,
                                disable_search: true,
                                width: 100
                            });
                            $('#driver_corpType').chosen({
                                disable_search_threshold: 10,
                                disable_search: true,
                                width: 100
                            });

                            $("#driver_passportCode").mask("999-999");
                            $("#user_snils").mask("999-999-999 99");
                            $("#driver_zipcode").mask("999999");
                            $('#driver_lastNumberCard').mask("RUDddddddddddddd");
                            $('#driver_driverDocNumber').mask("99dd999999");

                            $('#driver_zipcode').on('change', fullAddress);
                            $('#driver_region').on('change', fullAddress);
                            $('#driver_cityType').on('change', fullAddress);
                            $('#driver_city').on('change', fullAddress);
                            $('#driver_streetType').on('change', fullAddress);
                            $('#driver_street').on('change', fullAddress);
                            $('#driver_home').on('change', fullAddress);
                            $('#driver_corpType').on('change', fullAddress);
                            $('#driver_corp').on('change', fullAddress);
                            $('#driver_roomType').on('change', fullAddress);
                            $('#driver_room').on('change', fullAddress);

                            $('.form_widget').on('change','#driver_region', function(){
                                $.ajax({
                                    type: "GET",
                                    url: Routing.generate('select_city', { regionId: $('#driver_region').val() }),
                                    success: function (msg) {
                                        $('#driver_city').html(msg);
                                        $('#driver_city').trigger("chosen:updated");
                                    }
                                })
                            });
                        }
                    });
//                    $('.form_driver').fadeIn(300,function(){ $('.form_company').fadeOut(300)});
//                    $('select').trigger("liszt:updated");
                }else{
//                    $('.multi-form').html('');
                    $.ajax({
                        type: "GET",
                        url: "{{ path('get_register_form_company') }}",
                        success: function(msg){
                            $('.multi-form').html(msg);
                            $(".place-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего"
                            });
                            $(".delivery-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".date-select select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".userType").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $("#company_zipcode").mask("999999");
                            $('.form_widget').on('change','#company_region', function(){
                                $.ajax({
                                    type: "GET",
                                    url: Routing.generate('select_city', { regionId: $('#company_region').val() }),
                                    success: function (msg) {
                                        $('#company_city').html(msg);
                                        $('#company_city').trigger("chosen:updated");
                                    }
                                })
                            });
                        }
                    });
//                    $('.form_company').fadeIn(300,function(){ $('.form_driver').fadeOut(300)});
//                    $('select').trigger("liszt:updated");
                }
            });

            $('.form_widget').on('change','#driver_region', function(){
                $.ajax({
                    type: "GET",
                    url: Routing.generate('select_city', { regionId: $('#driver_region').val() }),
                    success: function (msg) {
                        $('#driver_city').html(msg);
                        $('#driver_city').trigger("chosen:updated");
                    }
                })
            });
            $('.form_widget').on('change','#company_region', function(){
                $.ajax({
                    type: "GET",
                    url: Routing.generate('select_city', { regionId: $('#company_region').val() }),
                    success: function (msg) {
                        $('#company_city').html(msg);
                        $('#company_city').trigger("chosen:updated");
                    }
                })
            });
        });

    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <style>
        .form_company{
            display: none;
        }
        .form{
            margin: 0 auto;
            width: 500px;
            text-align: center;
        }
        .userTypeDiv{
            text-align: left;
        }
        /*.userType{*/
            /*width: 215px;*/
        /*}*/
        .label{
            width: 250px;
        }
        #register_delivery{
            width: 218px;
        }
        /*.input-upload{*/
            /*background: #dadada;height: 29px;*/
            /*padding: 0 20px;*/
            /*border: none;*/
            /*cursor: pointer;*/
            /*font-size: 14px;*/
        /*}*/
        .loader{
            width: 64px;
        }
        .row_comment{
            font-size: 12px;
            color: #555555;
        }
        .date_year{
            width: 50px;
        }
        .date_month{
            width: 110px;
            margin-right: 5px;
        }
        .date_day{
            width: 50px;

        }
        #driver_city , #driver_street, #driver_corp, #driver_room{
            width: 145px;
        }
        .table-title{
            border-bottom: 1px solid #CCC;
            padding: 10px 10px 10px 40px;
            font-weight: bold;
            color: #333333;
        }
        label{
            color: #333333;
            font-size: 14px;
        }
        .form_errors ul li{
            color: #CC3333;
            list-style: none;
            padding-bottom: 5px;
        }
        #fullAddress{
            color: #303B91;
            /* font-size: 0.8em; */
            font-style: italic;
            padding: 5px;
            border: 1px solid #CCC;
        }

    </style>
{% endblock %}