{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Оформление заявки</h2>
    </div>
    <div class="form">
        <form id="register_form" action="{{ path('auth_party_2') }}" method="post" enctype="multipart/form-data">
            {#{% form_theme form 'VidalMainBundle:Form:profile_form.html.twig' %}#}
            {{ form_widget(formUser) }}
            <br />

            <div class="userTypeDiv">
                <span style="display: inline-block; width: 258px">
                    Выберите владельца карты:
                </span><select class="userType" data-placeholder=" владелец... ">
                    <option></option>
                    <option value="driver">Водитель</option>
                    <option value="company">Предприятие</option>
                </select>
            </div>
            <br />
            <div class="multi-form">
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    {#<script type="text/javascript"src="{{ asset('bundles/crmmain/javascripts/jquery.customfile.js') }}"></script>#}
    <script>
        $(document).ready(function(){
//            $('.form_table input[type=file]').customFile();

            $(".place-select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                width: '215px'
            });
            $(".delivery-select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true,
                width: '215px'
            });
            $(".date-select select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });
            $(".userType").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });


            $('.userType').change(function(){
                $('.multi-form').html('<img src="{{ asset('bundles/crmmain/images/loader.gif') }}" class="loader"/>');
                if( $(this).val()=='driver' ){
//                    $('.multi-form').html('');
                    $.ajax({
                        type: "GET",
                        url: "{{ path('get_register_form_driver') }}",
                        success: function(msg){
                            $('.multi-form').html(msg);
                            $(".place-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                width: '215px'
                            });
                            $(".delivery-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true,
                                width: '215px'
                            });
                            $(".date-select select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".userType").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });

                            $('.form_widget').on('change','#driver_region', function(){
                                $.ajax({
                                    type: "GET",
                                    url: Routing.generate('select_city', { regionId: $('#driver_region').val() }),
                                    success: function (msg) {
                                        $('#driver_city').html(msg);
                                        $('#driver_city').trigger("chosen:updated");
                                    }
                                })
                            });
                        }
                    });
//                    $('.form_driver').fadeIn(300,function(){ $('.form_company').fadeOut(300)});
//                    $('select').trigger("liszt:updated");
                }else{
//                    $('.multi-form').html('');
                    $.ajax({
                        type: "GET",
                        url: "{{ path('get_register_form_company') }}",
                        success: function(msg){
                            $('.multi-form').html(msg);
                            $(".place-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                width: '215px'
                            });
                            $(".delivery-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true,
                                width: '215px'
                            });
                            $(".date-select select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".userType").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });

                            $('.form_widget').on('change','#company_region', function(){
                                $.ajax({
                                    type: "GET",
                                    url: Routing.generate('select_city', { regionId: $('#company_region').val() }),
                                    success: function (msg) {
                                        $('#company_city').html(msg);
                                        $('#company_city').trigger("chosen:updated");
                                    }
                                })
                            });
                        }
                    });
//                    $('.form_company').fadeIn(300,function(){ $('.form_driver').fadeOut(300)});
//                    $('select').trigger("liszt:updated");
                }
            });

            $('.form_widget').on('change','#driver_region', function(){
                $.ajax({
                    type: "GET",
                    url: Routing.generate('select_city', { regionId: $('#driver_region').val() }),
                    success: function (msg) {
                        $('#driver_city').html(msg);
                        $('#driver_city').trigger("chosen:updated");
                    }
                })
            });
            $('.form_widget').on('change','#company_region', function(){
                $.ajax({
                    type: "GET",
                    url: Routing.generate('select_city', { regionId: $('#company_region').val() }),
                    success: function (msg) {
                        $('#company_city').html(msg);
                        $('#company_city').trigger("chosen:updated");
                    }
                })
            });
        });

    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <style>
        .form_company{
            display: none;
        }
        .form{
            margin: 0 auto;
            width: 500px;
            text-align: center;
        }
        .userTypeDiv{
            text-align: left;
        }
        .userType{
            width: 215px;

        }
        .label{
            width: 250px;
        }
        #register_delivery{
            width: 218px;
        }
        /*.input-upload{*/
            /*background: #dadada;height: 29px;*/
            /*padding: 0 20px;*/
            /*border: none;*/
            /*cursor: pointer;*/
            /*font-size: 14px;*/
        /*}*/
        .loader{
            width: 64px;
        }
    </style>
{% endblock %}