{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список заявок на пинкоды</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table" style="font-size: 12px">
            <thead>
            <tr>
                <th colspan="8">
                    <form method="GET" class="form-inline">
                        <input type="date" name="start" value="{{ params.start }}"  class="form-control" >
                        <input type="date" name="end" value="{{ params.end }}"  class="form-control">
                        <select class="chosen" name="client" data-placeholder="Клиент">
                            <option value="">Все</option>
                            {% for c in clients %}
                                <option value="{{ c.id }}" {{ params.client == c.id ? 'selected' : '' }}>{{ c }}</option>
                            {% endfor %}
                        </select>
                        <select class="" name="status">
                            <option value="">Все статусы</option>
                            <option value="0"  {{ params.status == 0 ? 'selected' : '' }}>Новая</option>
                            <option value="1"  {{ params.status == 1 ? 'selected' : '' }}>Оплаченная</option>
                            <option value="2"  {{ params.status == 2 ? 'selected' : '' }}>Ожидает получения кода</option>
                            <option value="3"  {{ params.status == 3 ? 'selected' : '' }}>Выполнена</option>
                            <option value="-1" {{ params.status == -1 ? 'selected' : '' }}>Ошибка транзакции</option>
                        </select>

                        <button class="btn btn-primary">Фильтр</button>
                        <a href="{{ path('panel_pincode_list') }}"><button class="btn btn-danger">Очистить</button></a>
                    </form>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>Номер</th>
                <th>Дата создания</th>
                <th>ФИО пользователя</th>
                <th>Клиент</th>
                <th>Номер карты</th>
                <th>PIN</th>
                <th>Статус</th>
                <th>Тип</th>
                <th class="setting">Инструменты</th>
            </tr>
            </thead>
            {% set sum = 0 %}
            <form id="print" method="POST" action="{{ path('panel_pincode_print') }}">
            {% for p in pagination %}
                <tr>
                    <td>
                        <input type="checkbox" name="pin[{{ p.id }}]" value="1" />
                    </td>
                    <td>{{ p.id }}</td>
                    <td>
                        {{ p.created | date('d.m.Y') }}
                    </td>
                    <td>{{ p.fio }}</td>
                    <td>{{ p.client }}</td>
                    <td>{{ p.manufacturer }}<br /> {{ p.code }}</td>
                    <td>({{ p.cardType }}) {{ p.pin }}</td>
                    <td>{{ p.statusStringTwig | raw }}</td>
                    <td>{{ p.paymentType }}</td>
                    {% set sum = sum + p.price %}


                    <td class="setting">



                        {% spaceless %}

                            {% if p.pin != null %}
                                <a href="{{ path('panel_pincode_send_pin',{ 'id' : p.id }) }}">
                                    <button type="button" class="btn btn-success btn-bg" title="Отправить пин-кода">
                                        <span class="glyphicon glyphicon glyphicon-send"></span>
                                    </button>
                                </a>
                            {% endif %}
                            &nbsp;&nbsp;
                            <a href="{{ path('panel_pincode_add_pin',{ 'id' : p.id }) }}" target="_blank">
                                <button type="button" class="btn btn-primary btn-bg" title="Добавить ПИН КОД">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </button>
                            </a>

                            &nbsp;&nbsp;


                            <div class="btn-group">
                               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Запрос пин-кода">
                                   <span class="glyphicon glyphicon glyphicon glyphicon-envelope"></span>
                                   <span class="caret"></span>
                               </button>
                               <ul class="dropdown-menu">
                                   <li><a href="{{ path('panel_pincode_get_pin',{ 'id' : p.id, 'type' : 1 }) }}">Атлас</a></li>
                                   <li><a href="{{ path('panel_pincode_get_pin',{ 'id' : p.id, 'type' : 2 }) }}">Микрон</a></li>
                              </ul>
                            </div>


                            <button type="button" class="btn btn-default btn-danger remove" data-href="{{ path('panel_pincode_delete',{'id': p.id }) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
            </form>
            <tr>
                <td colspan="4"></td>
                <td><b>ИТОГО:</b></td>
                <td>{{ count }} шт. на {{ sum }} руб.</td>
            </tr>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(".chosen").chosen({no_results_text: "По вашему запросу не найдено", width: 150});

            $('#companies').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'companyId': $(this).val() })
            });

            $('#operator').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'operatorId': $(this).val() })
            });

            $('#clients').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'clientId': $(this).val() })
            });
            $('#status').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'statusId': $(this).val() })
            });


            $('.remove').click(function () {
                var url = $(this).attr('data-href');
                BootstrapDialog.show({
                    title: 'УДАЛЕНИЕ',
                    size: BootstrapDialog.SIZE_SMALL,
                    type: BootstrapDialog.TYPE_DANGER,
                    message: 'Вы точно хотите безвозратно удалить',
                    buttons: [{
                        label: 'Удалить',
                        cssClass: 'btn-danger',
                        autospin: true,
                        action: function (dialogRef) {
                            window.location.href = url;
                        }
                    }, {
                        label: 'Отмена',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
            });
        });


    </script>
{% endblock %}