{% extends 'PanelOperatorBundle::layout.html.twig' %}


{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Список заявок на пинкоды</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Дата создания</th>
                <th>ФИО пользователя</th>
                <th>Клиент</th>
                <th>Статус</th>

                <th class="setting">Инструменты</th>
            </tr>
            </thead>
            {% for p in pagination %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>
                        {{ p.created | date('d.m.Y') }}
                    </td>
                    <td>{{ p.fio }}</td>
                    <td>{{ p.client }}</td>
                    <td>{{ p.statusStringTwig }}</td>


                    <td class="setting">
                        {% spaceless %}
                            <a href="#" target="_blank">
                                <button type="button" class="btn btn-primary btn-bg" title="Запрос пин-кода">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </a>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default btn-danger remove" data-href="{{ path('panel_pincode_delete',{'id': p.id }) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
            <tr>
                <td colspan="4"></td>
                <td><b>ИТОГО:</b></td>
                <td>{{ sum }} руб.</td>
            </tr>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(".chosen").chosen({no_results_text: "По вашему запросу не найдено", width: 150});

            $('#companies').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'companyId': $(this).val() })
            });

            $('#operator').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'operatorId': $(this).val() })
            });

            $('#clients').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'clientId': $(this).val() })
            });
            $('#status').change(function(){
                window.location.href = Routing.generate('panel_payment_list', {'statusId': $(this).val() })
            });


            $('.remove').click(function () {
                var url = $(this).attr('data-href');
                BootstrapDialog.show({
                    title: 'УДАЛЕНИЕ',
                    size: BootstrapDialog.SIZE_SMALL,
                    type: BootstrapDialog.TYPE_DANGER,
                    message: 'Вы точно хотите безвозратно удалить',
                    buttons: [{
                        label: 'Удалить',
                        cssClass: 'btn-danger',
                        autospin: true,
                        action: function (dialogRef) {
                            window.location.href = url;
                        }
                    }, {
                        label: 'Отмена',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }]
                });
            });
        });


    </script>
{% endblock %}