<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block title %}
            {% if page is defined and page.title is defined  %}
                <title>{{ page.title }}</title>
            {% else %}
                <title>Система подачи заявок</title>
            {% endif%}


            {% if page is defined and page.metaDescription is defined  %}
                <meta name="description" content="{{ page.metaDescription }}">
            {% else %}
                <meta name="description" content="Система подачи заявок">
            {% endif%}


            {% if page is defined and page.metaKeyword is defined  %}
                <meta name="keywords" content="{{ page.metaKeyword }}">
            {% else %}
                <meta name="keywords" content="Система подачи заявок">
            {% endif%}
        {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('bundles/crmmain/stylesheets/common.css') }}" rel="stylesheet" media="all">
            <style>
                .logo{
                    position: absolute;
                    top: 10px;
                    left: 50px;
                }
                .phone{
                    position: absolute;
                    top: 28px;
                    right: 50px;
                    font-size: 23px;
                    text-align: right;
                    color: #2222CE;
                }
            </style>
        {% endblock %}
        {% block javascripts %}
            <script rel="script" src="{{ asset('bundles/crmmain/javascripts/jQuery.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script>
                $(document).ready(function(){
                    $('#popup-close').click(function(){
                        $('.popup').fadeOut();
                    });
                })
            </script>
        {% endblock %}
    </head>
    <body>
        <div class="body">
            <header>
                <a href="{{ path('main') }}">
                    <img src="{{ asset('bundles/crmmain/images/head.png') }}">
                </a>
                    <img src="{{ asset('bundles/crmmain/images/Logotip.png') }}" class="logo">
                {#<div class="phone">#}
                    {#8&nbsp;(812)&nbsp;425 - 12 - 44<br />#}
                    {#пн.-пт. с 10-00 до 20-00#}
                {#</div>#}
            </header>
            <div class="content">
                {% include ("CrmMainBundle::menu.html.twig")  %}
                {% block content %}{% endblock %}
            </div>
            {# @todo Перевести в плагин #}
        </div>
        <footer>
            <div style="color: #333333; font-size: 10pt; padding-top: 25px; text-align: center">
                ООО "Технолог", 195196, Санкт-Петербург, ул.Громова, д.14/6, лит.А, пом.3-Н
            </div>
        </footer>
        <div class="popup">
            <div class="inpopup">
                <title></title>
                <p></p>
                <img class="btn-close" id="popup-close" src="{{ asset('bundles/crmmain/images/close.png') }}" />
            </div>
        </div>
    </body>
</html>