{% spaceless %}
    <ns2:TacPackage xmlns:ns2="http://www.example.org/">
        <MessageInfo>
            <MessageId>FLGMN20150519140256479e2b39c</MessageId>
            <MessageDate>{{ 'now' | date('Y-m-d') }}</MessageDate>
            <MessageOwn>FLGMN</MessageOwn>
            <MessageRecipient>ATLAS</MessageRecipient>
        </MessageInfo>
        <PackageInfo>
            <PackageNumber>FLGMN-{{ order.xmlId }}</PackageNumber>
            <PackageDate>{{ 'now' | date('Y-m-d') }}</PackageDate>
            <OvkId>FLGMN</OvkId>
            <CardManufacturerId>ATLAS</CardManufacturerId>
        </PackageInfo>
        <Order_v2>
            <OrderNumber>FLGMN-00072372</OrderNumber>
            <OrderDate>{{ order.created | date('Y-m-d') }}</OrderDate>
            <OrderCardType>{{ order.companyType == 1 ? 'P' : 'M' }}</OrderCardType> {# M - Мастер #}
            <OrderCardCount>{{ order.cardAmount }}</OrderCardCount>
            <OrderReason>create</OrderReason>
            <CompanyOrder>
                <OrgInfo>
                    <OrgName>{{ order.companyFullTitle}}</OrgName>
                    <OrgShortName>{{ order.companyTitle }}</OrgShortName>
                    <OrgFace>{{ order.companyExecutive}}</OrgFace>
                    <INN>{{ order.companyInn }}</INN>
                    <KPP>{{ order.companyKpp }}</KPP>
                    <AddressPost>
                        <FullAddress>
                            {#{{ order.fullMailingAdrs }}#}
                            г.П-Камчатский, ул. Космонавтов, д. 1, 683905
                        </FullAddress>
                        <PostCode>{{ order.MailingAdrs.zipcode }}</PostCode>
                        <RegionCode>94</RegionCode>
                        <District>{{ order.MailingAdrs.area }}</District>
                        <Settlement>г.П-Камчатский</Settlement>
                        {#<Settlement>{{ order.MailingAdrs.city }}</Settlement>#}
                        <Street>{{ order.MailingAdrs.street }}</Street>
                        <House>{{ order.MailingAdrs.house }}{{ order.MailingAdrs.corp ? ' к. '~order.MailingAdrs.corp }}</House>
                        <Building>{{ order.MailingAdrs.structure ? 'стр. '~order.MailingAdrs.structure }}</Building>
                        <Office>{{ order.MailingAdrs.room }}</Office>
                    </AddressPost>
                    <AddressLegal>
                        <FullAddress>
                            {#{{ order.fullLegalAdrs }}#}
                            г.П-Камчатский, ул. Космонавтов, д. 1, 683905
                        </FullAddress>
                        <PostCode>{{ order.legalAdrs.zipcode }}</PostCode>
                        <RegionCode>94</RegionCode>
                        <District>{{ order.legalAdrs.area }}</District>
                        <Settlement>г.П-Камчатский</Settlement>
                        {#<Settlement>{{ order.legalAdrs.city }}</Settlement>#}
                        <Street>{{ order.legalAdrs.street }}</Street>
                        <House>{{ order.legalAdrs.house }}{{ order.legalAdrs.corp ? ' к. '~order.legalAdrs.corp }}</House>
                        <Building>{{ order.legalAdrs.structure ? 'стр. '~order.legalAdrs.structure }}</Building>
                        <Office>{{ order.legalAdrs.room }}</Office>
                    </AddressLegal>
                </OrgInfo>
                <Resident>true</Resident>
                <OGRN>{{ order.companyOgrn }}</OGRN>
                {#<MarkNumber>{{ order.stampNumber }}</MarkNumber>#}
                {#<MarkNumber />#}
                {#<FssLicense>#}
                {#<LicenseNumber>{{ order.licenseNumber }}</LicenseNumber>#}
                {#<LicenseDateIssued>{{ order.licenseDateStart }}</LicenseDateIssued>#}
                {#<LicenseIssuedBy>{{ order.licenseIssued }}</LicenseIssuedBy>#}
                {#<DecisionNumber>{{ order.licenseDecreeNumber }}</DecisionNumber>#}
                {#<DecisionDate>{{ order.licenseDecreeDate }}</DecisionDate>#}
                {#</FssLicense>#}
                <ResponsiblePerson>
                    <ResponsiblePersonNameFirst>{{ order.firstName }}</ResponsiblePersonNameFirst>
                    <ResponsiblePersonNameMiddle>{{ order.surName }}</ResponsiblePersonNameMiddle>
                    <ResponsiblePersonNameLast>{{ order.lastName }}</ResponsiblePersonNameLast>
                    <ResponsiblePersonPosition>{{ order.post }}</ResponsiblePersonPosition>
                    <ResponsiblePersonReason/>
                </ResponsiblePerson>
                <Sign>
                    <AttachmentType>Signature</AttachmentType>
                    <FileFormat>OTHER</FileFormat>
                    <Body>{{ files.signature.base }}</Body>
                </Sign>
            </CompanyOrder>
            {% if files.fileOrder is defined %}
                <Attachment>
                    <AttachmentType>Other</AttachmentType>
                    <FileFormat>PNG</FileFormat>
                    <Body>{{ files.fileOrder }}</Body>
                </Attachment>
            {% endif %}
            {% if files.fileOrderTwo is defined %}
                <Attachment>
                    <AttachmentType>Other</AttachmentType>
                    <FileFormat>PNG</FileFormat>
                    <Body>{{ files.fileOrderTwo }}</Body>
                </Attachment>
            {% endif %}
            {% if files.fileInn is defined %}
                <Attachment>
                    <AttachmentType>Other</AttachmentType>
                    <FileFormat>PNG</FileFormat>
                    <Body>{{ files.fileInn }}</Body>
                </Attachment>
            {% endif %}
            {% if files.fileOgrn is defined %}
                <Attachment>
                    <AttachmentType>Other</AttachmentType>
                    <FileFormat>PNG</FileFormat>
                    <Body>{{ files.fileOgrn }}</Body>
                </Attachment>
            {% endif %}
            {% if files.fileDecree is defined %}
                <Attachment>
                    <AttachmentType>Other</AttachmentType>
                    <FileFormat>PNG</FileFormat>
                    <Body>{{ files.fileDecree }}</Body>
                </Attachment>
            {% endif %}
            {% if files.fileLicense is defined %}
                <Attachment>
                    <AttachmentType>Other</AttachmentType>
                    <FileFormat>PNG</FileFormat>
                    <Body>{{ files.fileLicense }}</Body>
                </Attachment>
            {% endif %}


        </Order_v2>
    </ns2:TacPackage>
{% endspaceless %}