<ul class="nav nav-pills nav-stacked">
    {#<li class="sidebar-brand">#}
        {#<a href="{{ path('main') }}">#}
            {#На главную#}
        {#</a>#}
    {#</li>#}
    <li>
        <a href="{{ path('auth_order') }}">Карты водителей</a>
    </li>
    {% if app.user.company != null and app.user.company.id != 551 %}
    <li>
        <a href="{{ path('auth_order_company') }}">Карты предпр.и мастерских</a>
    </li>
    <li>
        <a href="{{ path('auth_payment_list') }}">Счета</a>
    </li>
    <li>
        <a href="{{ path('auth_docs') }}" style="">Документы</a>
    </li>
    {% endif %}
    <li>
        <a href="{{ path('auth_message') }}" style="{{ render(controller("CrmAuthBundle:Message:newMessageClient"))}}">Мои сообщения</a>
    </li>
    <li>
        <hr />
    </li>
    <li>
        <a href="{{ path('auth_profile') }}">Профиль</a>
    </li>
    {#{% if app.user.company.operator.iframe is not defined or not app.user.company.operator.iframe != true %}#}
        <li>
            <a href="{{ path('auth_security_logout') }}">Выйти</a>
        </li>
    {#{% endif %}#}
</ul>
<br />
<br />
{% if app.user.company != null and app.user.company.id != 551 %}
    {{ render(path('auth_company_get_quota', {'companyId' : app.user.company.id })) }}
{% endif %}