{% extends 'CrmMainBundle::layout.html.twig' %}

{% block title %}
    <title>Заказать карту водителя для тахографа с СКЗИ Online</title>
    <meta name="description" content="Заказать карту водителя для тахографа с СКЗИ Online">
    <meta name="keywords" content="Заказать карту водителя для тахографа с СКЗИ Online">
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <br style="clear: both"/>
            <table style="margin: 0 auto">
                <tr>
                    <td style="color: #003A68; font-weight: bold">ОФОРМЛЕНИЕ ЗАЯВКИ - ШАГ</td>
                    <td><span class="step">1</span></td>
                    <td><span class="step">2</span></td>
                    <td><span class="step-active">3 - Удостоверение водителя</span></td>
                    <td><span class="step">4</span></td>
                    <td><span class="step">5</span></td>
                    <td><span class="step">6</span></td>
                </tr>
            </table>
        <br style="clear: both"/>
    </div>
    <div class="box">
        <table>
            <form method="POST" action="{{ path('application-skzi-step3') }}" id="main-form" enctype="multipart/form-data">
                <tr>
                    <td colspan="3">
                        <div class="error-msg"></div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Кем выдано<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="driverPlace" id="driverPlace" type="text" placeholder="Кем выдано" required  value="{{ order.driverPlace is defined ? order.driverPlace : '' }}">
                    </td>
                    <td rowspan="7" style="width: 400px; vertical-align: top; padding-left: 10px">
                        {# Тут сама фото #}
                        <div class="file-container">
                            <input type="file" name="driverFile" id="driverFile" class="fileAjax">
                            <progress class="progress" value="0" max="100" style="width: 270px"></progress>
                            <br />
                            <br />
                            <div class="fileDoc">
                                {% if order.driverFilePath is defined %}
                                    <img src="{{ path('get_image', {'type' : 'driver'}) }}" brightness="0">
                                {% else %}
                                    <img src="">
                                {% endif %}
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/contrast-1.png') }}" data-contrast="minus" class="contrast" title="Контрастность -">
                                <img src="{{ asset('bundles/crmmain/icons/contrast-2.png') }}" data-contrast="plus" class="contrast"  title="Контрастность +">
                                <img src="{{ asset('bundles/crmmain/icons/brightness-1.png') }}" data-brightness="minus" class="brightness" title="Яркость -">
                                <img src="{{ asset('bundles/crmmain/icons/brightness-2.png') }}" data-brightness="plus" class="brightness" title="Яркость +">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" class="rotateLeft" title="Повернуть налево">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" class="rotateRight" title="Повернуть вправо">
                                <img src="{{ asset('bundles/crmmain/icons/crop.png') }}" class="cropImage" title="Обрезать изображение">
                            </div>
                            <input type="hidden"  name="x1">
                            <input type="hidden"  name="y1">
                            <input type="hidden"  name="x2">
                            <input type="hidden"  name="y2">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Номер удостоверения<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="driverNumber" id="driverNumber" type="text" placeholder="Номер удостоверения" value="{{ order.driverNumber is defined ? order.driverNumber : '' }}">
                    </td>
                </tr>
                <tr>
                    <td class="label">Дата выдачи<span class="required">*</span>:</td>
                    <td class="value">
                        <input name="driverStarts" id="driverStarts" type="text" placeholder="Дата выдачи" class="date" value="{{ order.driverStarts is defined ? order.driverStarts : '' }}">
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </form>
            <tr><td colspan="2">
                    <br />
                    <i style="font-size: 14px; color: #CC3333">* Поля отмеченные звездочкой обязательны для заполнения</i>
                    <br />
                </td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="button" value="Далее" class="btn" id="submit">
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/odyniec/jquery.imgareaselect.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/file.js') }}" type="text/javascript"></script>


    <script>



        $(document).ready(function(){

            $('input:text, select').styler();
            $(".date").mask("99.99.9999");
            $(".code").mask("999-999");

            $('#submit').click(function(){
                errorI = 1 ;
                error = '';


                if ( $('#driverPlace').val() == ''){
                    error += errorI+'. Поле Кем выдано обязательно для заполнения<br />';
                    $('#driverPlace').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverNumber').val() == ''){
                    error += errorI+'. Поле номер удостоверения обязательно для заполнения<br />';
                    $('#driverNumber').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverStarts').val() == ''){
                    error += errorI+'. Поле дата выдачи обязательно для заполнения<br />';
                    $('#driverStarts').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverEnds').val() == ''){
                    error += errorI+'. Поле Дата окончиания обязательно для заполнения<br />';
                    $('#driverEnds').css('borderColor', '#cc3333');
                    errorI++;
                }

                if (error === ''){
                    $('#main-form').submit();
                }else{
                    $('.error-msg').fadeIn();
                    $('.error-msg').html(error);
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/odyniec/distfiles/css/imgareaselect-default.css') }}" rel="stylesheet" media="all">
    <style>

        .label-text{
            margin-top: -15px;
        }
        .label{
            width: 165px;
            color: #003A68
        }
        form{
            margin: 0;
        }


        /* *************** */

        #passportSerial{
            width: 75px;
        }
        #passportNumber{
            width: 190px;
        }
        #file img{
            width: 415px;
            max-height: 500px;
        }


        .right{
            text-align: right;
        }
        .step, .step-active{
            padding: 10px 14px;
            background: rgba(72, 126, 187, 0.5);
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
        }
        .step-active{
            background: rgb(72, 126, 187);
            color: #ffffff;
        }
    </style>
{% endblock %}
