{% extends 'CrmMainBundle::layout.html.twig' %}

{% block title %}
    <title>Заказать карту водителя для тахографа с СКЗИ Online</title>
    <meta name="description" content="Заказать карту водителя для тахографа с СКЗИ Online">
    <meta name="keywords" content="Заказать карту водителя для тахографа с СКЗИ Online">
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <br style="clear: both"/>
            <table style="margin: 0 auto">
                <tr>
                    <td style="color: #003A68; font-weight: bold">ОФОРМЛЕНИЕ ЗАЯВКИ - ШАГ</td>
                    <td><span class="step">1</span></td>
                    <td><span class="step">2</span></td>
                    <td><span class="step">3</span></td>
                    <td><span class="step-active">4 - Дополнительные файлы</span></td>
                    <td><span class="step">5</span></td>
                </tr>
            </table>
        <br style="clear: both"/>
    </div>
    <div class="box">
        <table>
            <form method="POST" action="{{ path('application-skzi-step3') }}" id="main-form" enctype="multipart/form-data">
                <input type="hidden" id="x1" name="x1">
                <input type="hidden" id="y1" name="y1">
                <input type="hidden" id="x2" name="x2">
                <input type="hidden" id="y2" name="y2">
                <tr>
                    <td colspan="3">
                        <div class="error-msg"></div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Фотография<span class="required">*</span>:</td>
                    <td style="width: 400px;  padding-left: 10px">
                        <input type="file" name="photo" id="photo" class="fileAjax">
                    </td>
                    <td>
                        <div class="file-container">
                            <progress id="progress" value="0" max="100" style="width: 270px"></progress>
                            <div id="file">
                                <img src="">
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" id="rotateLeft">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" id="rotateRight">
                                <img src="{{ asset('bundles/crmmain/icons/crop.png') }}" id="cropImage">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Подпись<span class="required">*</span>:</td>
                    <td style="width: 400px; padding-left: 10px">
                        <input type="file" name="sign" id="sign" class="fileAjax">
                    </td>
                    <td>
                        <div class="file-container">
                            <progress id="progress" value="0" max="100" style="width: 270px"></progress>
                            <div id="file">
                                <img src="">
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" id="rotateLeft">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" id="rotateRight">
                                <img src="{{ asset('bundles/crmmain/icons/crop.png') }}" id="cropImage">
                            </div>
                        </div>
                    </td>
                </tr>

                {% if citizenship == 1 %}
                <tr>
                    <td class="label">Страховой номер лицевого счета (СНИЛС)<span class="required">*</span>:</td>
                    <td style="width: 400px; padding-left: 10px">
                        <input type="file" name="snils" id="snils" class="fileAjax">
                    </td>
                    <td>
                        <div class="file-container">
                            <progress id="progress" value="0" max="100" style="width: 270px"></progress>
                            <div id="file">
                                <img src="">
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" id="rotateLeft">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" id="rotateRight">
                                <img src="{{ asset('bundles/crmmain/icons/crop.png') }}" id="cropImage">
                            </div>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td class="label">Разрешение на работу<span class="required">*</span>:</td>
                    <td style="width: 400px; padding-left: 10px">
                        <input type="file" name="snils" id="snils" class="fileAjax">
                    </td>
                    <td>
                        <div class="file-container">
                            <progress id="progress" value="0" max="100" style="width: 270px"></progress>
                            <div id="file">
                                <img src="">
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" id="rotateLeft">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" id="rotateRight">
                                <img src="{{ asset('bundles/crmmain/icons/crop.png') }}" id="cropImage">
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}


                <tr>
                    <td class="label">Ходатайство с места работы<span class="required">*</span>:</td>
                    <td style="width: 400px; vertical-align: top; padding-left: 10px">
                        <input type="file" name="petition" id="petition" class="fileAjax">
                    </td>
                    <td>
                        <div class="file-container">
                            <progress id="progress" value="0" max="100" style="width: 270px"></progress>
                            <br />
                            <br />
                            <div id="file">
                                <img src="">
                            </div>
                            <div class="navigateFile">
                                <img src="{{ asset('bundles/crmmain/icons/rotateLeft.png') }}" id="rotateLeft">
                                <img src="{{ asset('bundles/crmmain/icons/rotateRight.png') }}" id="rotateRight">
                                <img src="{{ asset('bundles/crmmain/icons/crop.png') }}" id="cropImage">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </form>
            <tr><td colspan="2">
                    <br />
                    <i style="font-size: 14px; color: #CC3333">* Поля отмеченные звездочкой обязательны для заполнения</i>
                    <br />
                </td></tr>
            <tr>
                <td></td>
                <td style="text-align: right">
                    <input type="button" value="Далее" class="btn" id="submit">
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/odyniec/jquery.imgareaselect.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/javascripts/file.js') }}" type="text/javascript"></script>


    <script>



        $(document).ready(function(){

            $('input:text, select').styler();
            $(".date").mask("99.99.9999");
            $(".code").mask("999-999");

            $('#submit').click(function(){
                errorI = 1 ;
                error = '';


                if ( $('#driverPlace').val() == ''){
                    error += errorI+'. Поле Кем выдано обязательно для заполнения<br />';
                    $('#driverPlace').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverNumber').val() == ''){
                    error += errorI+'. Поле номер удостоверения обязательно для заполнения<br />';
                    $('#driverNumber').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverStarts').val() == ''){
                    error += errorI+'. Поле дата выдачи обязательно для заполнения<br />';
                    $('#driverStarts').css('borderColor', '#cc3333');
                    errorI++;
                }
                if ( $('#driverEnds').val() == ''){
                    error += errorI+'. Поле Дата окончиания обязательно для заполнения<br />';
                    $('#driverEnds').css('borderColor', '#cc3333');
                    errorI++;
                }

                if (error === ''){
                    $('#main-form').submit();
                }else{
                    $('.error-msg').fadeIn();
                    $('.error-msg').html(error);
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('bundles/crmmain/lib/odyniec/distfiles/css/imgareaselect-default.css') }}" rel="stylesheet" media="all">
    <style>

        .label-text{
            margin-top: -15px;
        }
        .label{
            width: 165px;
            color: #003A68
        }
        form{
            margin: 0;
        }


        /* *************** */

        #passportSerial{
            width: 75px;
        }
        #passportNumber{
            width: 190px;
        }
        #file img{
            width: 415px;
            max-height: 500px;
        }


        .right{
            text-align: right;
        }
        .step, .step-active{
            padding: 10px 14px;
            background: rgba(72, 126, 187, 0.5);
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
        }
        .step-active{
            background: rgb(72, 126, 187);
            color: #ffffff;
        }

        .file-container{
            font-size: 0;
        }
    </style>
{% endblock %}
